/**
 * SonataAdminBundle Theme based on SB Admin v2.0
 * http://startbootstrap.com/templates/sb-admin-v2/
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #333;
}

footer p {
    margin: 0;
}

footer a {
    color: #f6f6f6;
}

body > .header .logo {
    font-family: 'Source Sans Pro', sans-serif;
}

.logo img {
    display: inline;
    padding-bottom: 4px;
    max-height: 100%;
    max-width: 60px;
}

.logo span {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    width: 200px;
}
.logo img + span { width: 140px; }

.open > .dropdown-menu {
    animation-duration: .3s;
    -webkit-animation-duration: .3s;
    -moz-animation-duration: .3s;
}

/* Buttons */

.btn.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn.btn-primary.btn-outline:hover,
.btn.btn-success.btn-outline:hover,
.btn.btn-info.btn-outline:hover,
.btn.btn-warning.btn-outline:hover,
.btn.btn-danger.btn-outline:hover {
    color: #fff;
}



/* navigation */

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}

.navbar-brand {
    padding-right: 20px;
}

.navbar-brand img {
    height: 28px;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
}

.navbar-text .navbar-link {
    padding: 0 10px;
}

.right-side > .content-header {
    padding-bottom: 0;
}

.content-header .navbar {
    margin-bottom: 0;
}

.content-header .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

/* breadcrumb */

.sonata-bc .breadcrumb {
    padding: 0;
    margin: 0;
    background: inherit;
    float:left;
}

.sonata-bc .breadcrumb li a {
    display: inline-block;
}

/* MEGA MENU STYLE
********************************/
.dropdown-menu.multi-column .dropdown-menu {
    display: block !important;
    position: static !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
    min-width:100px;
}

.dropdown-add .dropdown-menu > li > a {
    white-space: normal;
    overflow: hidden;
}

/* top right */

.navbar-static-top {
    margin-bottom: 0;
}

.navbar-top-links > p,
.navbar-top-links > ul {
    float: right;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li a,
.navbar-top-links li span {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links li a:hover {
    text-decoration: none;
}

.skin-black .navbar .breadcrumb > li  > a:hover {
    color: #444;
    background: #f5f5f5;
}

.skin-black .navbar .dropdown-menu > li > a:hover {
    background-color: #f5f5f5;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Content navbar */

body.fixed .content-header .navbar {
    position: relative;
}

/* sidebar menu styles */

.sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}


/* Admin table */

table.sonata-ba-list {
    font-size: 14px;
}

td.sonata-ba-list-label {
    color: #565656;
    font-weight: bold;
    text-align: right;
    vertical-align: middle !important;
}

/* side filter */

.box .box-header h4.box-title.filter_legend {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
}

h4.filter_legend:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 4px solid black;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    top: 50%;
    left: 2px;
    margin-top: -2px;
    margin-left: 5px;
}

h4.filter_legend.active,
tr.filter.active * {
    font-weight: bold;
    color: #000;
}

form.sonata-filter-form.form-stacked {
    padding-left: 0;
}

.filter_container .form-group {
    margin: 5px 0 5px 0;
}

.filter_container .control-label {
    padding-top: 3px;
}

.filter_container .form-control {
    max-height: 25px;
}

.filter_container .select2-container .select2-choice {
    height: 23px;
}

body.fixed .sonata-list-table {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

/* Overrides */

/* x-editable */
td.sonata-ba-list-field .editable {
    cursor: pointer;
}
td.sonata-ba-list-field .btn.editable {
    border-bottom: solid 1px #BBB;
}
td.sonata-ba-list-field .editable-empty:not(.editable-open) {
    display: none;
}
.sonata-ba-list tr:hover .editable-empty {
    display: inline-block;
}
.editable-pre-wrapped {
    white-space: normal;
}

/* select2 */
div.select2-container {
    margin-left: 0 !important;
}

div.select2-drop ul {
    margin: 0 !important;
}

/* Used for the mosaic view */
td > div.row {
    padding: 0;
    margin: 0;
}

div.mosaic-box {
    padding: 2px;
    border-radius: 3px;
}


div.mosaic-inner-box {
    position: relative;
}

div.mosaic-inner-box-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 4px 4px 0 0;
    background-color: rgba(255, 255, 255, .8);
    transition: .25s opacity;
    padding: 5px 10px;
}

div.mosaic-inner-box:hover > div.mosaic-inner-box-hover {
    opacity: 1;
}

div.mosaic-inner-box > div.mosaic-inner-box-hover {
    opacity: 0;
}

div.mosaic-inner-box img {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

div.mosaic-box-outter {
    background-size: 100% auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

div.mosaic-inner-box {
    height: 100px;
    border-bottom: none;
    overflow: hidden;
}

div.mosaic-inner-text {
    background: white;
    border-top: none;
    padding: 3px;
    border-radius: 0 0 5px 5px;
    z-index: 2;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mosaic-inner-link {
    vertical-align: middle;
}

.mosaic-box-label {
    position: absolute;
    top: 10px;
    right: 10px;
}

div.mosaic-box.sonata-ba-list-row-selected > div.mosaic-inner-box {
    border: 1px solid #333;
    border-bottom: none;
}

div.mosaic-box.sonata-ba-list-row-selected > div.mosaic-inner-text {
    border: 1px solid #333;
    border-top: none;
}

div.form-group div.select2-container {
    width: 80% !important;
}

div.sonata-filters-box div.form-group div.form-group {
    margin: 0;    
}

div.sonata-filters-box div.form-group span.input-group-addon {
    padding: 3px 10px;
    font-size: 13px;
}
