{% if  app.user %}
 <!--Debut containt-->
<div class="container containt-dash">
           <!--Debut left-block-->
           <div class="col-md-2 no-padding-right"> 
               <div class="block profil-block">
                   <div class="profil-dash"> 
                         <div class="col-md-12 no-padding">
						    <div class="grid">
					         <figure class="effect-winston">
						      {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
						      <figcaption>  
							   <p> 
								<a href="{{ path('user_file_new') }}"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
							   </p>
						      </figcaption>			
					         </figure>
				            </div>       
                         </div>                     
                         <div class="col-md-12 no-padding">  
                             <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                                          

                    <p class="titre-user">               
						<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
							<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
						</a>
					</p>  
                             <!--p class="pro">Profil</p-->
                         </div>
                                                  
                   </div>
                   <ul class="list-unstyled">
                       <li>
                           <a href="{{ path('home') }}" class="active">
                              <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}" alt="reseau des sports">{{ 'fil.act'|trans }}
                           </a>
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_notification') }}">
                            {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                           </a>
                       </li>
                       
                       <li>
                           <a href="{{ path('grintaaa__list_friend') }}">
                             {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                           </a>
                       </li>
                       <li>
                            {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_multimedia_image') }}">
                              {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                           </a>
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_multimedia_video') }}">
                               {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                           </a>
                       </li>
                   </ul>
               </div>
 
               {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
               {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

            <br><br>  
           </div>
           <!--Fin left-block-->
           <!--Debut center-block-->
           <div class="col-md-10"> 
    <div class="head-compte">
        <div class="">
            <div class="col-md-2 col-sm-3">
                <a href="{{ path('fos_user_profile_edit_authentication') }}" class="btn btn-compte">
			 	 <i class="fa fa-user"></i>  <br>
                    {{ 'my.compte'|trans }}
				</a>
            </div>
            <div class="col-md-2 col-sm-3 no-padding">
                <a href="{{ path('fos_user_change_password') }}" class="btn btn-compte">
			 	 <i class="fa fa-pencil-square-o"></i>  <br>
                    {{ 'change.password'|trans }}
				</a>
            </div>
            <div class="col-md-2 col-sm-3">
                <a href="{{ path('grintaaa_interest') }}" class="btn btn-compte">
			 	 <i class="fa fa-star"></i>  
				 <br>{{ 'center.interest'|trans }}
				</a>        
            </div>
            {% if(app.user.coach==1)%}
            <div class="col-md-1 col-sm-3 no-padding">
                <a href="{{ path('grintaaa_coaching') }}" class="btn btn-compte active">
                    <i class="fa fa-futbol-o"></i>
                    <br>{{ 'center.coaching'|trans }}
                </a>
            </div>
            {%endif%}
            <div class="col-md-2 col-sm-3">
                <a href="{{ path('user_file_new') }}" class="btn btn-compte">
			 	 <i class="fa fa-picture-o"></i>  
				 <br>{{ 'my.avatar'|trans }}
				</a>
            </div>

            <div class="col-md-3 col-sm-3 no-padding">
                <a href="{{ path('grintaaa_configuration_email') }}" class="btn btn-compte">
			 	 <i class="fa fa-envelope-o"></i>
				 <br>{{ 'notif.email'|trans }}
		        </a>
            </div>

        </div> 
    </div>
 
	<div class=" inscrit">
  	  <div class="cadre-blanc">   
        <form class="form-inscription" action="{{ path('grintaaa_coaching_show') }}" method="post">
    
                <div class="row">
                    <div class="col-md-12 interet222"><br>
                     <div class="col-md-12 titre-gris" align="center">
                         {{ 'msg.precise.coach'|trans }}
				     </div>
					 <br><br>
                        {% set x=0 %}
						{% for entity in disciplines %}
						{% set x = x + 1 %}
						 
						  <div class="col-md-3">
                            <h3 class="titre-centreint">{{ entity.title }}</h3>
						  </div>
						  <div class="col-md-9">
                            <ul> 
                                {% for children in entity.children %}
                                    <li class="col-md-4"><input type="checkbox" name="discipline[]" value="{{ children.id }}" {% if children.id in coachingUser %}checked {% endif %}> {{ children.title }} </li>
                                {% endfor %}

                            </ul>  
						  </div> 
		                  <div class="col-md-12" align="center">  
						    <hr class="style-one" >
						  </div> 
                        {% endfor %}
                    </div> 
                </div>     
            <div class="row" align="center">
		      <div class="col-md-12" align="center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-grinta" value=" {{ 'button.enregistrer'|trans }}">
                </div>   
              </div>				
            </div>


        </form>
      </div>
    </div>
  </div>
</div>
               <!--Fin containt-->
  {% endif %}
	<div class="block-footer"></div>





