{% if  app.user %}
                <!--Debut containt-->
               <div class="containt">
                  <div class="container">

                     <div class="row col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login-error">
                         <div class="login-error-form">

                             <form class="form-login-error" method="post" action="{{ path('grintaaa_interest_show') }}" method="post" }}>

                            <div class="form-group">


                            <select class="form-control interet" name="interet[]" multiple="multiple">
                                        {% for item in entities %}
    <option value="{{ item.id }}" {% if item.id in interestUser %}selected {% endif %}>{{ item.title }}</option>
{% endfor %}
                                    </select>
                                 </div>
                           <input type="submit" class="btn btn-grinta" value="Enregistrer">

                             </form>

                         </div>
                     </div>
                  </div>
               </div>
               <!--Fin containt-->
           </div>
        </div>

  {% endif %}





