<form  action="{{ path('event_statut_create') }}"  method="post" {{ form_enctype(form) }}>
    <div class="row">
        <div class="col-md-12">
            {{ form_errors(form.file) }}
            {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>

    <div class="send">
        <button type="submit" class="btn btn-grinta">{{ 'msg.publier'|trans }} </button>
    </div>
    {{ form_rest(form) }}
</form>

