/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp.textile .markItUpButton1 a {
	background-image:url(images/h1.png);
}
.markItUp.textile .markItUpButton2 a {
	background-image:url(images/h2.png);
}
.markItUp.textile .markItUpButton3 a {
	background-image:url(images/h3.png);
}
.markItUp.textile .markItUpButton4 a {
	background-image:url(images/h4.png);
}
.markItUp.textile .markItUpButton5 a {
	background-image:url(images/h5.png);
}
.markItUp.textile .markItUpButton6 a {
	background-image:url(images/h6.png);
}
.markItUp.textile .markItUpButton7 a {
	background-image:url(images/paragraph.png);
}

.markItUp.textile .markItUpButton8 a {
	background-image:url(images/bold.png);
}
.markItUp.textile .markItUpButton9 a {
	background-image:url(images/italic.png);
}
.markItUp.textile .markItUpButton10 a {
	background-image:url(images/stroke.png);
}

.markItUp.textile .markItUpButton11 a {
	background-image:url(images/list-bullet.png);
}
.markItUp.textile .markItUpButton12 a {
	background-image:url(images/list-numeric.png);
}

.markItUp.textile .markItUpButton13 a {
	background-image:url(images/picture.png);
}
.markItUp.textile .markItUpButton14 a {
	background-image:url(images/link.png);
}

.markItUp.textile .markItUpButton15 a	{
	background-image:url(images/quotes.png);
}
.markItUp.textile .markItUpButton16 a	{
	background-image:url(images/code.png);
}

.markItUp.textile .preview a {
	background-image:url(images/preview.png);
}