<div class="container containt-dash">
    <!--Debut left-block-->
    <div class="col-md-2 no-padding-right">
        <div class="block profil-block">
            <div class="profil-dash">
                <div class="col-md-12 no-padding">
                    <div class="grid">
                        <figure class="effect-winston">
                            {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                            <figcaption>
                                <p>
                                    <a href="{{ path('user_file_new') }}" title="réseau sportif en france"><i
                                                class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>    
                </div>     
                <div class="col-md-12 no-padding">
                    <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>

                    <p class="titre-user">      
						<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
							<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
						</a>
					</p>  
                    <!--p class="pro">Profil</p-->
                </div>

            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('home') }}" title="réseau sportif en france">
                        <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}"
                             alt="réseau sportif en france">{{ 'fil.act'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_notification') }}" class="active" title="réseau sportif en france">
                        {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                    </a>
                </li>

                <li>
                    <a href="{{ path('grintaaa__list_friend') }}" title="réseau sportif en france">
                        {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                    </a>
                </li>
                <li>
                    {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_image') }}" title="réseau sportif en france">
                        {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_video') }}" title="réseau sportif en france">
                        {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                    </a>
                </li>
            </ul>
        </div>

        {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
        {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

        <br><br>
    </div>

    <div class="col-md-10">
        <div class="formulaire-search col-md-10">
            <div class="img-search">
                <img src="{{ asset('bundles/comparatorbase/images/notifications.png') }}"
                     alt="réseau sportif en france">
            </div>
            <div class="title-search">
                <h4 class="green">{{ 'mot.notifs'|trans }}</h4>
            </div>
        </div>
        <div class="list-games list-notif">

            {% set x=0 %}
            {% for key, notif in entities %}  
                {% set x=x+1 %}
                <div class="block notif">
                    <div class="col-sm-2 info-date no-padding-left">
                        <ul class="list-unstyled">
                            <li class="size-date"><!--img src="{{ asset('bundles/comparatorbase/images/date.png') }}"-->
                                <i class="fa fa-calendar cal-event"></i>
                                {{ notif.createdAt|date('d-m-Y') }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-8 notif-avatar">

                        {% if((imagesUsers[key]|length)>0) %}
                            <img src="{{ asset('uploads/users/') }}{{ imagesUsers[key][0].logo }}"
                                 alt="réseau sportif en france"/>
                        {% else %}
                            <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}"
                                 alt="réseau sportif en france"/>
                        {% endif %}
                        {% if(notif.title=="Participe") %}
                            {% if(notif.event.user.id == notif.user.id) %}
                                {% if(notif.enabled) %}
                                    <p class="vue">  {{ 'notif.participe.event.vous'|trans }} {{ notif.event.title }}</p>
                                {% else %}
                                    <p class="non-vue">  {{ 'notif.participe.event.vous'|trans }} {{ notif.event.title }}</p>
                                {% endif %}

                            {% else %}

                                {% if(notif.enabled) %}
                                    <p>{{ notif.user.firstname }} {{ notif.user.lastname }} {{ 'notif.participe.event'|trans }} {{ notif.event.title }}</a></p>
                                {% else %}
                                    <p class="non-vue">{{ notif.user.firstname }} {{ notif.user.lastname }} {{ 'notif.participe.event'|trans }} {{ notif.event.title }}</a></p>
                                {% endif %}


                            {% endif %}

                        {% endif %}
                        {% if(notif.title=="Commente") %}
                            {% if(notif.event.user.id == notif.user.id) %}

                                {% if(notif.enabled) %}
                                    <p> {{ 'notif.comment.event.vous'|trans }} {{ notif.event.title }}</p>
                                {% else %}
                                    <p class="non-vue"> {{ 'notif.comment.event.vous'|trans }} {{ notif.event.title }}</p>
                                {% endif %}

                            {% else %}




                            {% endif %}
                        {% endif %}


                        {% if(notif.title=="Suppression Participe") %}
                            {% if(notif.event.user.id == notif.user.id) %}

                                {% if(notif.enabled) %}
                                    <p>  {{ 'notif.supprime.event.vous'|trans }} {{ notif.event.title }}</p>
                                {% else %}
                                    <p class="non-vue">  {{ 'notif.supprime.event.vous'|trans }} {{ notif.event.title }}</p>
                                {% endif %}


                            {% else %}

                                {% if(notif.enabled) %}
                                    <p>{{ notif.user.firstname }} {{ notif.user.lastname }} {{ 'notif.supprime.event'|trans }} {{ notif.event.title }} {{ 'notif.supprime.cuse'|trans }}
                                        "{{ notif.description }}"</p>
                                {% else %}
                                    <p class="non-vue">{{ notif.user.firstname }} {{ notif.user.lastname }} {{ 'notif.supprime.event'|trans }} {{ notif.event.title }} {{ 'notif.supprime.cuse'|trans }}
                                        "{{ notif.description }}"</p>
                                {% endif %}


                            {% endif %}
                        {% endif %}
                        {% if(notif.title=="Confirme") %}

                            {% if(notif.event.user.id == notif.user.id) %}

                                {% if(notif.enabled) %}
                                    <p>  {{ 'notif.confirme.event.vous'|trans }} {{ notif.event.title }}</p>
                                {% else %}
                                    <p class="non-vue">  {{ 'notif.confirme.event.vous'|trans }} {{ notif.event.title }}</p>
                                {% endif %}



                            {% else %}

                                {% if(notif.enabled) %}
                                    <p>{{ notif.user.firstname }} {{ notif.user.lastname }} {{ 'notif.confirme.event'|trans }} {{ notif.event.title }} </p>
                                {% else %}
                                    <p class="non-vue">{{ notif.user.firstname }} {{ notif.user.lastname }} {{ 'notif.confirme.event'|trans }} {{ notif.event.title }} </p>
                                {% endif %}

                            {% endif %}
                        {% endif %}


                        {% if(notif.title=="Confirme Attend") %}

                            {% if(notif.enabled) %}
                                <p> {{ 'notif.confirmed.msg1'|trans }} {{ notif.event.title }} {{ 'notif.confirmed.events'|trans }}  </p>
                            {% else %}
                                <p class="non-vue"> {{ 'notif.confirmed.msg1'|trans }} {{ notif.event.title }} {{ 'notif.confirmed.events'|trans }}  </p>
                            {% endif %}


                        {% endif %}


                        {% if(notif.title=="Fin Evenement") %}
                            {% if(notif.event.user.id == notif.user.id) %}

                                {% if(notif.enabled) %}
                                    <p> {{ 'notif.fin.event.vous'|trans }} {{ notif.event.title }}</p>
                                {% else %}
                                    <p class="non-vue"> {{ 'notif.fin.event.vous'|trans }} {{ notif.event.title }}</p>
                                {% endif %}


                            {% else %}

                                {% if(notif.enabled) %}
                                    <p>{{ notif.user.firstname }} {{ notif.user.lastname }} {{ 'notif.fin.event'|trans }} {{ notif.event.title }}
                                        "</p>
                                {% else %}
                                    <p class="non-vue">{{ notif.user.firstname }} {{ notif.user.lastname }} {{ 'notif.fin.event'|trans }} {{ notif.event.title }}
                                        "</p>
                                {% endif %}


                            {% endif %}
                        {% endif %}

                        {% if(notif.title=="Register") %}

                            {% if(notif.enabled) %}
                                <p>{{ notif.user.firstname }} {{ notif.user.lastname }} {{ 'notif.register.profile'|trans }} </p>
                            {% else %}
                                <p class="non-vue">{{ notif.user.firstname }} {{ notif.user.lastname }} {{ 'notif.register.profile'|trans }} </p>
                            {% endif %}




                        {% endif %}
                        {% if(notif.title=="Commente Profil") %}

                            {% if(notif.enabled) %}
                                <p>{{ notif.user.firstname }} {{ notif.user.lastname }} {{ 'notif.comment.my.profile'|trans }} </p>
                            {% else %}
                                <p class="non-vue">{{ notif.user.firstname }} {{ notif.user.lastname }} {{ 'notif.comment.my.profile'|trans }} </p>
                            {% endif %}


                        {% endif %}
                    </div>
                    {% if(notif.title=="Register") %}
                        <div class="col-sm-2 info-date no-padding-right" align="right">
                            <a href="{{ path('fos_user_profile_show') }}"
                               title="réseau sportif en france">{{ 'mot.voir'|trans }}</a>
                        </div>
                    {% elseif(notif.title=="Commente Profil") %}
                        <div class="col-sm-2 info-date no-padding-right" align="right">
                            <a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"
                               title="réseau sportif en france">{{ 'mot.voir'|trans }}</a>
                        </div>
                    {% else %}
                        <div class="col-sm-2 info-date no-padding-right" align="right">
                            <a href="{{ path('event_show', {'slug': notif.event.slug }) }}"
                               title="réseau sportif en france">{{ 'mot.voir'|trans }}</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="pagination pagination-centered">
                <ul>
                    {{ knp_pagination_render(entities) }}
                </ul>
            </div>
        </div>
        <br><br><br>
    </div>
</div>