<!--Debut containt-->
<div class="container containt-dash">
    <div class="block block-list-friends">
        <div class="formulaire-search col-md-10">
            <div class="img-search">
                <img src="{{ asset('bundles/comparatorbase/images/green-message.png') }}"alt="réseau sportif en france">
            </div>
            <div class="title-search title-message">
                <h4 class="green">Liste des messages</h4>
            </div>
        </div>
        <div class="result-search">

            {% for key,entity in messages %}
               {% if(app.user.id==entity.user1.id) %}
            <div class="one-message">
                <a href="{{ path('friend_message', { 'userid': entity.user2.id }) }}">
                    <div class="col-xs-2 col-md-1 img-message">
                        {% if((imagesFriend[key]|length)>0) %}
                            <img  src="{{ asset('uploads/users/') }}{{ imagesFriend[key][0].logo }}" alt="réseau sportif en france">
                        {% else %}
                            <img  src="{{ asset('bundles/comparatorbase/images/avatar2.png') }}" alt="réseau sportif en france">
                        {% endif %}
                        <p>{{ entity.user2.lastname }} {{ entity.user2.firstname }}</p>
                    </div>
                    <div class="col-xs-10 col-md-11 desc-message">
                        <p>{{ entity.description }}</p>
                    </div>
                </a>
            </div>
            {% else %}
                <div class="one-message">
                    <a href="{{ path('friend_message', { 'userid': entity.user1.id }) }}">
                        <div class="col-xs-2 col-md-1 img-message">
                            {% if((imagesFriend[key]|length)>0) %}
                                <img  src="{{ asset('uploads/users/') }}{{ imagesFriend[key][0].logo }}" alt="réseau sportif en france">
                            {% else %}
                                <img  src="{{ asset('bundles/comparatorbase/images/avatar2.png') }}" alt="réseau sportif en france">
                            {% endif %}
                        </div>
                        <div class="col-xs-10 col-md-11 desc-message">
                            <p>{{ entity.description }}</p>
                        </div>
                    </a>
                </div>
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
<!--Debut containt-->