<!--Debut containt-->
<div class="container containt-dash">
    <div class="block block-list-friends">
        <div class="formulaire-search col-md-10">
            <div class="img-search">
                <img src="{{ asset('bundles/comparatorbase/images/green-message.png') }}" alt="reseau des sports">
            </div>
            <div class="title-search title-message">
                <h4 class="green">Messages</h4>
            </div>
        </div>
        <div class="result-search">
            {% for  message in messages %}
                {% if(app.user.id==message.user1.id) %}
            <div class="one-message">
                <a href="#" title="reseau des sports">
                    <div class="col-xs-2 col-md-1 img-message">
                        {% if((imagesUser|length)>0) %}
                            <img  src="{{ asset('uploads/users/') }}{{ imagesUser[0].logo }}" alt="reseau des sports">
                        {% else %}
                            <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="reseau des sports">
                        {% endif %}
                    </div>
                </a>
                <div class="col-xs-10 col-md-11 desc-message message-recu">
                    <p>{{ message.description }}</p>
                    <p>{{ message.createdAt|date('Y-m-d H:i') }}</p>
                </div>
            </div>
                {% else %}
            <div class="one-message">
                <div class="col-xs-10 col-md-11 desc-message">
                    <p>{{ message.description }}</p>
                    <p>{{ message.createdAt|date('Y-m-d H:i') }}</p>
                </div>
                <a href="#" title="reseau des sports">
                    <div class="col-xs-2 col-md-1 img-message">
                        {% if((imagesFriend|length)>0) %}
                            <img  src="{{ asset('uploads/users/') }}{{ imagesFriend[0].logo }}" alt="reseau des sports">
                        {% else %}
                            <img  src="{{ asset('bundles/comparatorbase/images/avatar1.png') }}" alt="reseau des sports">
                        {% endif %}
                    </div>
                </a>
            </div>
                {% endif %}
            {% endfor %}



            <!--Formulaire d'ajout message-->
            <div class="clerfix"></div>
            <div class="col-md-8 col-md-offset-2">
                <hr class="suparator">
            </div>
            <div class="clerfix"></div>
            <form action="{{ path('send_message', { 'userid': friend.id }) }}" method="post">
                <div class="one-message">
                    <div class="col-xs-2 col-md-1 img-message">
                        <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="reseau des sports">
                    </div>
                    <div class="col-xs-10 col-md-11 desc-message">
                        <textarea name="textarea" placeholder="Ecrire votre message"></textarea>
                    </div>
                    <div class="col-md-2 col-sm-3 pull-right send">
                        <input type="submit" class="btn btn-grinta" value="Envoyer">
                    </div>
                </div>
            </form>
            <!--End Formulaire d'ajout message-->
        </div>
    </div>
</div>
<!--Debut containt-->