<div class="containt">
    <div class="row comment">
        <div class="commentaires col-sm-12">
            {% for  message in messages %}
                <div class="col-sm-12 title-gamers">


                    <p>{{ message.description }}</p>

                </div>
                <div class="col-md-6 col-md-offset-3">
                    <hr class="hr-jeu">
                </div>
            {% endfor %}

        </div>


    </div>

    <div class="container container-profil">
    <div class="row comment">
        <div class="commentaires col-sm-12">

            <div class="col-md-6 col-md-offset-3">
                <hr class="hr-jeu">
            </div>
            <div class="col-sm-12 avatar">

            </div>
            <div class="col-md-7 col-md-offset-1">
                <h3>Ecrire un message</h3>
                <form class="form-comment" action="{{ path('send_message', { 'userid': friend.id }) }}" method="post">
                    <div class="col-sm-12">
                        <textarea class="form-control" name="textarea"></textarea>
                    </div>
                    <div class="col-sm-5 pull-right send-btn">
                        <input type="submit" class="btn btn-grinta" value="Commenter">
                    </div>
                </form>
            </div>
        </div>


    </div>
    </div>

</div>