<img src="http://grintaaa.com/bundles/comparatorbase/images/header-mail.png" />
<div style="width:641px; text-align:center; margin-bottom:50px;">
 <h1>{{ 'msg.email.bjr'|trans }}, </H1>
 <div> <b>{{ user.firstname }} {{ user.lastname }}</b> {{ 'msg.email.rej.eve'|trans }} <a href="{{ lien }}" target="_blank"> {{ entity.title }}</a> </div>
</div>
<img src="http://grintaaa.com/bundles/comparatorbase/images/footer-mail.png" alt="demande de partenariat sportif" /> 