/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp.bbcode .markItUpButton1 a	{
	background-image:url(images/bold.png);
}
.markItUp.bbcode .markItUpButton2 a	{
	background-image:url(images/italic.png);
}
.markItUp.bbcode .markItUpButton3 a	{
	background-image:url(images/underline.png);
}

.markItUp.bbcode .markItUpButton4 a	{
	background-image:url(images/picture.png);
}
.markItUp.bbcode .markItUpButton5 a	{
	background-image:url(images/link.png);
}

.markItUp.bbcode .markItUpButton6 a	{
	background-image:url(images/fonts.png);
}
.markItUp.bbcode .markItUpButton7 a	{
	background-image:url(images/list-bullet.png);
}
.markItUp.bbcode .markItUpButton8 a	{
	background-image:url(images/list-numeric.png);
}
.markItUp.bbcode .markItUpButton9 a	{
	background-image:url(images/list-item.png);
}

.markItUp.bbcode .markItUpButton10 a	{
	background-image:url(images/quotes.png);
}
.markItUp.bbcode .markItUpButton11 a	{
	background-image:url(images/code.png);
}

.markItUp.bbcode .clean a {
	background-image:url(images/clean.png);
}
.markItUp.bbcode .preview a {
	background-image:url(images/preview.png);
}