<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Header-->
{% if not app.user %}
    {% if app.request.get('_route') == 'home' %}

        <body id="page">

        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>

        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-2 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}" alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">

                        <ul class="nav navbar-nav navbar-right navbar-login">

                            <div class="slogoan col-md-3">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                            {{ render(controller('ApplicationSonataUserBundle:Security:login')) }}
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>  
        <!--Fin Header-->
    {% elseif app.request.get('_route') == 'personne' %}

        <body id="page">

        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>

        </ul>
    <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-2 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}" alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">

                        <ul class="nav navbar-nav navbar-right navbar-login">

                            <div class="slogoan col-md-3">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                            {{ render(controller('ApplicationSonataUserBundle:Security:login')) }}
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Fin Header-->

    {% elseif app.request.get('_route') == 'hwi_oauth_connect' %}
        <body id="page">

        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>

        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-2 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}" alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">

                        <ul class="nav navbar-nav navbar-right navbar-login">

                            <div class="slogoan col-md-3">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                            {{ render(controller('ApplicationSonataUserBundle:Security:login')) }}
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

    {% elseif app.request.get('_route') == 'hwi_oauth_connect_registration' %}
        <body id="page">

        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>

        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-2 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}" alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">

                        <ul class="nav navbar-nav navbar-right navbar-login">

                            <div class="slogoan col-md-3">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                            {{ render(controller('ApplicationSonataUserBundle:Security:login')) }}
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    {% elseif app.request.get('_route') == 'fos_user_registration_register' %}
        <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>
        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-8 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}"
                                 alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">

                        <ul class="nav navbar-nav navbar-right navbar-login">

                            <div class="slogoan col-md-3">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                            {{ render(controller('ApplicationSonataUserBundle:Security:login')) }}
                        </ul>
                    </div>

                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Fin Header-->
    {% elseif app.request.get('_route') == 'fos_user_registration_register1' %}
        <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>
        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-8 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}"
                                 alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">

                        <ul class="nav navbar-nav navbar-right navbar-login">

                            <div class="slogoan col-md-3">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                            {{ render(controller('ApplicationSonataUserBundle:Security:login')) }}
                        </ul>
                    </div>

                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Fin Header-->
    {% elseif app.request.get('_route') == 'fos_user_registration_register2' %}
        <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>
        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-8 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}"
                                 alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">

                        <ul class="nav navbar-nav navbar-right navbar-login">

                            <div class="slogoan col-md-3">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                            {{ render(controller('ApplicationSonataUserBundle:Security:login')) }}
                        </ul>
                    </div>

                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Fin Header-->
    {% elseif (app.request.get('_route') == 'fos_user_security_login') %}
        <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>

        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-8 block-c">
                    <div class="navbar-header">
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}"
                                 alt="grintaaa"/>
                        </a>
                    </div>
                    <ul class="nav navbar-nav navbar-right navbar-login">
                        <div class="slogoan2 col-md-10">
                            <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                        </div>
                        <div class="col-md-2 align-right">
                            <a href="{{ path('fos_user_registration_register') }}" class="bt-inscrit btn-grinta">{{ 'submit.inscription'|trans }}</a>
                        </div>
                    </ul>
                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Fin Header-->
        <!--Fin Header-->
    {% elseif (app.request.get('_route') == 'fos_user_resetting_request') %}
        <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>
        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-8 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}"
                                 alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">

                        <ul class="nav navbar-nav navbar-right navbar-login">

                            <div class="slogoan col-md-3">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                            {{ render(controller('ApplicationSonataUserBundle:Security:login')) }}
                        </ul>
                    </div>

                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Fin Header-->
    {% elseif (app.request.get('_route') == 'fos_user_resetting_send_email') %}
        <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>
        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-8 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}"
                                 alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">

                        <ul class="nav navbar-nav navbar-right navbar-login">

                            <div class="slogoan col-md-3">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                            {{ render(controller('ApplicationSonataUserBundle:Security:login')) }}
                        </ul>
                    </div>

                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Fin Header-->
    {% elseif app.request.get('_route') == 'fos_user_resetting_check_email' %}
        <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>
        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-8 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}"
                                 alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">

                        <ul class="nav navbar-nav navbar-right navbar-login">

                            <div class="slogoan col-md-3">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                            {{ render(controller('ApplicationSonataUserBundle:Security:login')) }}
                        </ul>
                    </div>

                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Fin Header-->

    {% elseif app.request.get('_route') == 'fos_user_resetting_reset' %}
        <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>
        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-8 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}"
                                 alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">

                        <ul class="nav navbar-nav navbar-right navbar-login">

                            <div class="slogoan col-md-3">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                            {{ render(controller('ApplicationSonataUserBundle:Security:login')) }}
                        </ul>
                    </div>

                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Fin Header-->
        <!--Fin Header-->

    {% elseif app.request.get('_route') == 'fos_user_registration_check_email' %}
        <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>
        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-8 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}"
                                 alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">

                        <ul class="nav navbar-nav navbar-right navbar-login">

                            <div class="slogoan col-md-3">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                           
                        </ul>
                    </div>

                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Fin Header-->
    {% endif %}
{% else %}

    {% if (app.request.get('_route') == 'event_new') or (app.request.get('_route') == 'hwi_oauth_connect_registration') or (app.request.get('_route') == 'fos_user_registration_confirmed') or (app.request.get('_route') == 'event_confirmed') %}
        <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</li>
            <li><span>Image 02</li>
            <li><span>Image 03</li>
            <li><span>Image 04</li>
            <li><span>Image 05</li>
            <li><span>Image 06</li>

        </ul>
        <div class="row">
        <div class="container-fluid">
        <!--Debut Header-->
        <header class="header-login">
            <nav class="navbar navbar-default">
                <div class="col-md-2 block-m medaille-tel" align="center">
                    <div class="medaille">
                        <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                    </div>
                </div>
                <div class="col-md-8 block-c">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar-login" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo-login" href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}" alt="grintaaa"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-login">





                        <ul class="nav navbar-nav navbar-right navbar-steps">
                            <div class="slogoan3 col-md-5">
                                <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                            </div>
                            <div class="col-md-7 align-right">
                                <ul class="list-inline">
                                    <li {% if (app.request.get('_route') == 'event_search')  %}class="links chercher active" {%else%}class="links chercher"{% endif %} >
                                        <a href="{{ path('event') }}">{{ 'trouve.sport'|trans }}</a>
                                    </li>
                                    <li class="links organiser" {% if (app.request.get('_route') == 'event_new')  %}class="links organiser active" {%else%}class="links organiser"{% endif %}>
                                        <a href="{{ path('event_new') }}">{{ 'organise.sport'|trans }}</a>
                                    </li>

                                    <li class="dropdown notification messages">
                                        <a href="{{ path('grintaaa_friend') }}" class="dropdown-toggle notif">
                                            <img src="{{ asset('bundles/comparatorbase/images/invit.png') }}"
                                                 alt="notification">
                                            {{ render(controller('ComparatorEventBundle:Friends:countIndex')) }}
                                        </a>
                                    </li>
                                    <li class="dropdown notification">
                                        <a href="{{ path('grintaaa_notification') }}" class="dropdown-toggle notif">
                                            <img src="{{ asset('bundles/comparatorbase/images/notif.png') }}"
                                                 alt="notification">
                                            {{ render(controller('ComparatorEventBundle:Notification:counNotifications')) }}
                                        </a>
                                    </li>
                                    <li class="dropdown cpt">
                                        <a href="#" class="dropdown-toggle compte" data-toggle="dropdown" role="button"
                                           aria-haspopup="true" aria-expanded="false">
                                            {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                                            <p><div style="display:none;">{{ app.user.firstname }}</div></p>
                                        </a>
                                        <ul class="dropdown-menu dropdown-compte">
                                            <li><a href="{{ path('event_user', {'username': app.user.username }) }}">{{ 'mes.jeux'|trans }}</a></li>
                                            <li><a href="{{ path('grintaaa__list_friend') }}">{{ 'mes.friends'|trans }}</a></li>
                                            <li>{{ render(controller('ComparatorEventBundle:Notification:counNotificationss')) }}</li>
                                            <li role="separator" class="divider"></li>
                                            <li><a href="{{ path('fos_user_profile_show') }}">{{ 'param.compte'|trans }}</a></li>
                                            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'user.logout'|trans }}</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 block-m langue-tel" align="center">

                    <ul class="list-inline language">
                        <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                        alt="français"></a></li>
                        <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                        src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--Fin Header-->
    {% else %}
        <body>
        <div class="row gris header">
        <!--Debut Header-->
        <div class="container-fluid">
            <div class="header-login">
                <nav class="navbar navbar-default">
                    <div class="col-md-2 block-m medaille-tel" align="center">
                        <div class="medaille">
                            <img src="{{ asset('bundles/comparatorbase/images/medaille.png') }}" alt="médaille">
                        </div>
                    </div>
                    <div class="col-md-8 block-c">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#navbar-login" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="logo-login" href="{{ path('home') }}">
                                <img src="{{ asset('bundles/comparatorbase/images/logo-login.png') }}" alt="grintaaa"/>
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-login">

                            <ul class="nav navbar-nav navbar-right navbar-steps">
                                <div class="slogoan3 col-md-5">
                                    <img src="{{ asset('bundles/comparatorbase/images/slogan.png') }}" />
                                </div>
                                <div class="col-md-7 align-right">
                                    <ul class="list-inline">
                                        <li class="links chercher">
                                            <a href="{{ path('event') }}">{{ 'trouve.sport'|trans }}</a>
                                        </li>
                                        <li class="links organiser">
                                            <a href="{{ path('event_new') }}">{{ 'organise.sport'|trans }}</a>
                                        </li>

                                        <li class="dropdown notification messages">
                                            <a href="{{ path('grintaaa_friend') }}" class="dropdown-toggle notif">
                                                <img src="{{ asset('bundles/comparatorbase/images/invit.png') }}"
                                                     alt="notification">
                                                {{ render(controller('ComparatorEventBundle:Friends:countIndex')) }}
                                            </a>
                                        </li>
                                        <li class="dropdown notification">
                                            <a href="{{ path('grintaaa_notification') }}" class="dropdown-toggle notif">
                                                <img src="{{ asset('bundles/comparatorbase/images/notif.png') }}"
                                                     alt="notification">
                                                {{ render(controller('ComparatorEventBundle:Notification:counNotifications')) }}
                                            </a>
                                        </li>
                                        <li class="dropdown cpt">
                                            <a href="#" class="dropdown-toggle compte" data-toggle="dropdown"
                                               role="button" aria-haspopup="true" aria-expanded="false">
                                                {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                                                <p><div style="display:none;">{{ app.user.firstname }}</div></p>
                                            </a>
                                            <ul class="dropdown-menu dropdown-compte">
                                                <li><a href="{{ path('event_user', {'username': app.user.username }) }}">{{ 'mes.jeux'|trans }}</a></li>
                                                <li><a href="{{ path('grintaaa__list_friend') }}">{{ 'mes.friends'|trans }}</a></li>
                                                <li>{{ render(controller('ComparatorEventBundle:Notification:counNotificationss')) }}</li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="{{ path('fos_user_profile_show') }}">{{ 'param.compte'|trans }}</a></li>
                                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'user.logout'|trans }}</a>
                                                </li>
                                            </ul>
                                        </li>   
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 block-m langue-tel" align="center">

                        <ul class="list-inline language">
                            <li class="lang"><a href="{{ path('home', {'_locale': 'fr'}) }}"><img
                                            src="{{ asset('bundles/comparatorbase/images/fr.png') }}"
                                            alt="français"></a></li>
                            <li class="lang last"><a href="{{ path('home', {'_locale': 'en'}) }}"><img
                                            src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="anglais"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--Fin Header-->
    {% endif %}
{% endif %}