{% if  app.user %}
{% if ( app.request.get('_route') != 'event_new' and  app.request.get('_route') != 'event_confirmed' and  app.request.get('_route') != 'hwi_oauth_connect_registration'  and  app.request.get('_route') != 'fos_user_registration_confirmed' and  app.request.get('_route') != 'grintaaa_friend' )  %}

    <!--Debut Footer-->
    <div class="footer">
        <div class="bg-footer">
            <div class="container">
                <div class="top-footer">
                    <!--div class="col-md-3 col-sm-6 links">
                        <ul>
                            <li><a href="{{ path('event_new') }}"><img src="{{ asset('bundles/comparatorbase/images/circle.png') }}">Créer un sport</a></li>
                            <li><a href="{{ path('home') }}"><img src="{{ asset('bundles/comparatorbase/images/circle.png') }}">Partagez vos photos et vidéos</a></li>
                        </ul>
                    </div--> 
                    <div class="col-md-5 col-sm-6 links hidd-tel hidd-tablette"> 
                        <ul> 
                            <li><a href="{{ path('grintaaa__list_friend_search') }}"><img src="{{ asset('bundles/comparatorbase/images/circle.png') }}">Rencontrer de nouveaux joueurs de votre région</a></li>
                            <li><a href="{{ path('event') }}"><img src="{{ asset('bundles/comparatorbase/images/circle.png') }}">Trouver des sports près de chez vous</a></li>
                        </ul>
                    </div>
                    <div class="col-md-7 col-sm-12 bottons text-center">
                        <ul class="list-inline">
                            <li class="col-xs-4">
                                <a href="https://www.facebook.com/Grintaaa-944054715632395/?fref=ts" target="_new">
								  <div class="col-xs-1" align="right">
                                    <img src="{{ asset('bundles/comparatorbase/images/fb.png') }}">
								  </div>   
								  <div class="col-xs-7 hidd-tel">
                                    Suivez-nous <br><span>sur facebook</span>
								  </div>
                                </a>  
                            </li>  
                            <li class="col-xs-4">
                                <a href="mailto:grintaaa1@gmail.com">
								  <div class="col-xs-1" align="right">
                                    <img src="{{ asset('bundles/comparatorbase/images/mail.png') }}">
								  </div>
								  <div class="col-xs-7 hidd-tel">
                                    Nous contacter <br><span>grintaaa1@gmail.com</span>
								  </div>
                                </a>
                            </li>  
                            <li class="col-xs-4">
                                <a href="#">
								  <div class="col-xs-1" align="right">
                                    <img src="{{ asset('bundles/comparatorbase/images/map.png') }}">
								  </div>
								  <div class="col-xs-9 hidd-tel">
                                    Adresse<br><span>Paris, 1028 France</span>
								  </div>
                                </a>  
                            </li> 
                        </ul> 
                    </div> 
                </div>

            </div>
        </div>
    </div> 
    <!--Fin Footer-->
   </div>

{% endif %}


{% endif %}