<!--Header-->
{% if not app.user %}
    {% if app.request.get('_route') == 'home' %}
        <div class="header">
            <div class="col-sm-2 col-sm-offset-2 col-lg-offset-1">
                <div class="logo">
                    <img src="{{ asset('bundles/comparatorbase/images/logo.jpg') }}" alt="grinta">
                </div>
            </div>
            <div class="col-sm-6 col-lg-offset-2 col-md-offset-1 form-login">
                {{ render(controller('ApplicationSonataUserBundle:Security:login')) }}
                <a href="{{ path('fos_user_registration_register') }}" class="to-signin">{{ 'new.inscription'|trans }}</a>
            </div>
            <div class="language col-sm-1 col-lg-pull-1">
                <ul class="list-inline">
                    <li><a href="{{ path('home', {'_locale': 'en'}) }}" data-toggle="tooltip" data-placement="top" title="Anglais"><img src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="english"></a></li>
                    <li><a href="{{ path('home', {'_locale': 'fr'}) }}" data-toggle="tooltip" data-placement="top" title="Français"><img src="{{ asset('bundles/comparatorbase/images/fr.png') }}" alt="french"></a></li>
                </ul>
            </div>
        </div>

        <!--End Header-->
    {% elseif app.request.get('_route') == 'fos_user_registration_register' %}
        <div class="header">
            <div class="col-sm-2 col-sm-offset-2 col-lg-offset-1">
                <div class="logo">
                    <img src="{{ asset('bundles/comparatorbase/images/logo.jpg') }}" alt="grinta">
                </div>
            </div>
            <div class="col-sm-6 col-lg-offset-2 col-md-offset-1 form-login">
            </div>
            <div class="language col-sm-1 col-lg-pull-1">
                <ul class="list-inline">
                    <li><a href="{{ path('home', {'_locale': 'en'}) }}" data-toggle="tooltip" data-placement="top" title="Anglais"><img src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="english"></a></li>
                    <li><a href="{{ path('home', {'_locale': 'fr'}) }}" data-toggle="tooltip" data-placement="top" title="Français"><img src="{{ asset('bundles/comparatorbase/images/fr.png') }}" alt="french"></a></li>
                </ul>
            </div>
        </div>
    {% elseif app.request.get('_route') == 'fos_user_security_login' %}
        <div class="header">
            <div class="col-sm-2 col-sm-offset-2 col-lg-offset-1">
                <div class="logo">
                    <img src="{{ asset('bundles/comparatorbase/images/logo.jpg') }}" alt="grinta">
                </div>
            </div>
            <div class="col-sm-6 col-lg-offset-2 col-md-offset-1 form-login">
            </div>
            <div class="language col-sm-1 col-lg-pull-1">
                <ul class="list-inline">
                    <li><a href="{{ path('home', {'_locale': 'en'}) }}" data-toggle="tooltip" data-placement="top" title="Anglais"><img src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="english"></a></li>
                    <li><a href="{{ path('home', {'_locale': 'fr'}) }}" data-toggle="tooltip" data-placement="top" title="Français"><img src="{{ asset('bundles/comparatorbase/images/fr.png') }}" alt="french"></a></li>
                </ul>
            </div>
        </div>

    {% else %}
        <div class="header">
            <div class="col-sm-2 col-sm-offset-2 col-lg-offset-1">
                <div class="logo">
                    <img src="{{ asset('bundles/comparatorbase/images/logo.jpg') }}" alt="grinta">
                </div>
            </div>
            <div class="col-sm-6 col-lg-offset-2 col-md-offset-1 form-login">
            </div>
            <div class="language col-sm-1 col-lg-pull-1">
                <ul class="list-inline">
                    <li><a href="{{ path('home', {'_locale': 'en'}) }}" data-toggle="tooltip" data-placement="top" title="Anglais"><img src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="english"></a></li>
                    <li><a href="{{ path('home', {'_locale': 'fr'}) }}" data-toggle="tooltip" data-placement="top" title="Français"><img src="{{ asset('bundles/comparatorbase/images/fr.png') }}" alt="french"></a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="header">
        <nav class="navbar">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#grinta-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="col-sm-2 ">
                        <div class="logo logo-steps">
                            <a href="{{ path('home') }}">
                                <img src="{{ asset('bundles/comparatorbase/images/logo.jpg') }}" alt="grinta">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="grinta-collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li {% if (app.request.get('_route') == 'event' or app.request.get('_route') == 'event_search')  %}class="search active" {%else%}class="search"{% endif %} ><a href="{{ path('event') }}"><img src="{{ asset('bundles/comparatorbase/images/search.png') }}">{{ 'search.game'|trans }}</a></li>

                        <li   {% if app.request.get('_route') == 'event_new' %}class="organisation active" {%else%}class="organisation"{% endif %} ><a href="{{ path('event_new') }}" ><img src="{{ asset('bundles/comparatorbase/images/calander1.png') }}">{{ 'organize.game'|trans }}</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle notif" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <p>{{ 'notif.user'|trans }}</p>
                                <img src="{{ asset('bundles/comparatorbase/images/notif.png') }}" alt="notification">
                                <span class="nbr-notif">3</span>
                            </a>


                            <ul class="dropdown-menu">
                                <li><a href="#">{{ 'action.user'|trans }}</a></li>
                                <li><a href="#">{{ 'another.action'|trans }}</a></li>
                            </ul>
                        </li>

                        <li class="dropdown ">

                            {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                            <ul class="dropdown-menu">
                                <li><a href="#">{{ 'my.games'|trans }}</a></li>
                                <li><a href="#">{{ 'my.freinds'|trans }}</a></li>
                                <li><a href="#">{{ 'my.notif'|trans }} <span class="red">3</span></a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">{{ 'config.user'|trans }}</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'logout.user'|trans }}</a></li>
                            </ul>
                        </li>

                        <li>
                            <ul class="list-inline lang">
                                <li><a href="{{ path('home', {'_locale': 'en'}) }}" data-toggle="tooltip" data-placement="top" title="Anglais"><img src="{{ asset('bundles/comparatorbase/images/en.png') }}" alt="english"></a></li>
                                <li><a href="{{ path('home', {'_locale': 'fr'}) }}" data-toggle="tooltip" data-placement="top" title="Français"><img src="{{ asset('bundles/comparatorbase/images/fr.png') }}" alt="french"></a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
{% endif %} 