


<!--Debut containt-->
<div class="containt">
    <div class="container">

        <div class="row col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login-error">
            <div class="login-error-form">

                {% block fos_user_content %}
                    <p>{{ 'regeister.user.confirmed'|trans }}</p>
                {% endblock fos_user_content %}

            </div>
        </div>
    </div>
</div>
<!--Fin containt-->
</div>
</div>
