{% block fos_user_content %}

                <div class="containt">

                  <div class="container">
        <div id="fb-root"></div>

                     <div class="row col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login-error">
                         <div class="login-error-form">
							<p class="text-center">{{ 'registration.confirmed'|trans({'%username%': user.username}, 'FOSUserBundle') }}</p>

							<a  class="btn btn-grinta btn-welcome" href="{{ path('user_file_new') }}">{{ 'msg.welcome'|trans }}</a><br>
							<div align="center" class="fb-share-button" data-href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}{{ currentPath }}" data-layout="button_count" data-size="small" data-mobile-iframe="false">
								<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u='{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}';src=sdkpreparse">Partager</a>
							</div>
                         </div>
                     </div>
                  </div>
               </div>
               <!--Fin containt-->
           </div>
        </div>



    {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}
    <div class="content-login">
        <div class="container">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 verif-login">
                <div class="top-verif">
		<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans({}, 'FOSUserBundle') }}</a></p>
                </div>

            </div>
        </div>
    </div>
		{% endif %}
    {% endif %}
{% endblock fos_user_content %}
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>