<!--containt-->
<div class="containt">
    <div class="banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{ asset('bundles/comparatorbase/images/banner.jpg') }}" alt="grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/banner.jpg') }}" alt="grintaaa">
                </div>
            </div>
        </div>
    </div>
    <div class="inscription">
        <div class="container">
            <div class="row">
                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="post">
                    <div class="col-md-4 col-sm-6">
                        {{ form_widget(form.civility) }}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {{ form_widget(form.username, { 'attr': {'class': 'contact_form','placeholder': 'user.username'|trans} }) }}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {{ form_widget(form.firstname, { 'attr': {'placeholder': 'user.firstname'|trans} }) }}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {{ form_widget(form.lastname, { 'attr': {'placeholder': 'user.lastname'|trans} }) }}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {{ form_widget(form.date_of_birth, { 'attr': {'placeholder': 'user.datebirth'|trans} }) }}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {{ form_widget(form.locale, { 'attr': {'placeholder': 'user.locale'|trans} }) }}
                    </div>
                    <div class="col-md-4 col-sm-6">
                        {{ form_widget(form.city, { 'attr': {'placeholder': 'user.city'|trans} }) }}
                    </div>

                    <div class="col-md-4 col-sm-6">
                        {{ form_widget(form.email, { 'attr': {'placeholder': 'user.email'|trans} }) }}
                    </div>

                    <div class="col-md-4 col-sm-6">
                        {{ form_widget(form.interest) }}

                    </div>
                    <div class="col-md-4 col-sm-6">
                        {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'user.password'|trans} }) }}
                    </div>

                    <div class="col-md-4 col-sm-6">
                        {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'user.verif.password'|trans} }) }}
                    </div>




                    <div class="col-md-4 col-sm-6">
                        <input type="hidden" value="">
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <input type="hidden" value="">
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <button type="submit" id="comparator_bundle_eventbundle_event_submit"
                                name="comparator_bundle_eventbundle_event[submit]" class="btn btn-submit">
                            {{ 'create.user'|trans }}</button>
                    </div>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>

</div>
<!--end containt-->

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#example-dropUp').multiselect({
            enableFiltering: false,
            includeSelectAllOption: true,
            maxHeight: 400,
            dropUp: true
        });
    });
</script>
{% endblock %}

