
                <!--Debut containt-->
                <div class="containt-inscrit">
                    <div class="container"> 
                        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 inscrit">
						  <div class="col-md-10 col-md-offset-1 cadre-blanc">
                            <form class="form-inscription"  id="inscriptionForm" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="post">
                                <div class="">
                                    <div class="row">
                                     <div class="col-md-12">
									  <h2 class="titre_connect">{{ 'reg.inscription'|trans }}</h2>
									  <!--h4 class="titre_connect">Organiser vos sports entre amis</h4-->
									 </div>
									</div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_widget(form.civility, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
										
                                        <div class="col-md-6">
                                            {{ form_widget(form.username, { 'attr': {'class': 'form-control','placeholder': 'user.pseudo'|trans } }) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_widget(form.firstname, { 'attr': {'class': 'form-control','placeholder': 'user.name'|trans } }) }}
                                        </div>
										
                                        <div class="col-md-6">
                                            {{ form_widget(form.lastname, { 'attr': {'class': 'form-control','placeholder': 'user.lastname'|trans } }) }}

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_widget(form.city, { 'attr': {'class': 'form-control','placeholder': 'user.adress'|trans } }) }}

                                        </div>
										
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control','placeholder':  'user.phone'|trans } }) }}

                                        </div>
										
                                        <div class="col-md-6">
                                            {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder': 'user.adress.email'|trans } }) }}

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control','placeholder': 'pass.word'|trans } }) }}

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control','placeholder': 'verif.pass.word'|trans } }) }}

                                        </div>
                                    </div>
                                    <div class="row">	
                                        <div class="col-md-12"> 
										 <h4 class="titre-inscrit2"><label>{{ 'user.date.birth'|trans }}</label></h4>
                                        </div>	
										<div id="date_birth">
                                           {{ form_widget(form.date_of_birth, { 'attr': {'class': 'form-control','placeholder': 'user.date.birth'|trans } }) }}
                                        </div>	
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="titre-inscrit">{{ form_label(form.handi) }}</h4>
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_widget(form.handi) }}
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;">
                                        <div class="col-md-6">
										  <h4 class="titre-inscrit">{{ form_label(form.coach) }}</h4>
										</div>
                                        <div class="col-md-6" >
                                            {{ form_widget(form.coach) }}
										</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-3">
                                            <input type="submit" class="btn btn-grinta" value="{{ 'submit.inscription'|trans }}" />
                                        </div>
                                    </div>
                                </div> 
                                {{ form_end(form) }}
                            </form>
						  </div>
                        </div>
                    </div>
                </div>
                <!--Fin containt-->
                </div>
                </div> 
<script type="text/javascript">
$("select#fos_user_registration_form_country").val("France");
$('#fos_user_registration_form_coach_0').prop('checked', true);
$('#fos_user_registration_form_handi_1').prop('checked', true);
$("#date_birth .col-lg-9").addClass("col-md-4");
$("#date_birth .col-md-4").removeClass("col-lg-9");
</script>