<div class="container containt-dash">
    <!--Debut left-block-->
    <div class="col-md-2 no-padding-right">
        <div class="block profil-block">
            <div class="profil-dash">
                <div class="col-md-12 no-padding">
                    <div class="grid">
                        <figure class="effect-winston">
                            {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                            <figcaption>
                                <p>
                                    <a href="{{ path('user_file_new') }}"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-12 no-padding">
                    <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                    <p class="titre-user">      
								<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
									<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
								</a>
							</p> 
                    <!--p class="pro">Profil</p-->
                </div>

            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}" alt="reseau social sport">{{ 'fil.act'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_notification') }}">
                        {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                    </a>
                </li>

                <li>
                    <a href="{{ path('grintaaa__list_friend') }}">
                        {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                    </a>
                </li>
                <li>
                    {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_image') }}">
                        {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_video') }}" class="active">
                        {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                    </a>
                </li>
            </ul>
        </div>

        {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
        {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

    <br><br>
    </div> 

    <div class="col-md-10">
        <div class="head-compte">
            <div class="">
                <div class="col-md-2 col-sm-3">
                    <a href="{{ path('fos_user_profile_edit_authentication') }}" class="btn btn-compte">
                        <i class="fa fa-user"></i>  <br>
                        {{ 'my.compte'|trans }}
                    </a>
                </div>
                <div class="col-md-2 col-sm-3 no-padding">
                    <a href="{{ path('fos_user_change_password') }}" class="btn btn-compte">
                        <i class="fa fa-pencil-square-o"></i>  <br>
                        {{ 'change.password'|trans }}
                    </a>
                </div>
                <div class="col-md-2 col-sm-3">
                    <a href="{{ path('grintaaa_interest') }}" class="btn btn-compte">
                        <i class="fa fa-star"></i>
                        <br>{{ 'center.interest'|trans }}
                    </a>
                </div>
                {% if(app.user.coach==1)%}
                    <div class="col-md-1 col-sm-3 no-padding">
                        <a href="{{ path('grintaaa_coaching') }}" class="btn btn-compte">
                            <i class="fa fa-futbol-o"></i>
                            <br>{{ 'center.coaching'|trans }}
                        </a>
                    </div>
                {%endif%}
                <div class="col-md-2 col-sm-3">
                    <a href="{{ path('user_file_new') }}" class="btn btn-compte active">
                        <i class="fa fa-picture-o"></i>
                        <br>{{ 'my.avatar'|trans }}
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 no-padding">
                    <a href="#" class="btn btn-compte">
                        <i class="fa fa-envelope-o"></i>
                        <br>{{ 'notif.email'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="formulaire-search col-md-12 no-padding-left">
        <div class="img-search">
            <i class="fa fa-video-camera icon-puce green"></i>
        </div>   
        <div class="title-search">   
            <h4 class="green friends">{{ 'mes.video'|trans }}</h4>
        </div>   
    </div>
        <br><br>
        <br><br>
        <div class="block exprimer">
            <div class="add-act">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#statut" aria-controls="statut" role="tab" data-toggle="tab"><img src="{{ asset('bundles/comparatorbase/images/camera-video.png') }}" alt="reseau social sport"> {{ 'exprime.vous.video'|trans }}</a></li>
                </ul>


                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="statut">
                        <form method="post" action="{{ path('mur_video_create') }}">
                            <textarea placeholder="{{ 'msg.video.youtube'|trans }}" name="video"></textarea>
                            <div class="send">
                                <button type="submit" class="btn btn-grinta">{{ 'msg.publier'|trans }}</button>
                            </div>
                        </form>
                    </div>

                    
                </div>

            </div>

        </div>
        <br><br>

{% for key, entity in videos %}



    {% if entity.type=="videomur" %}

                <div class="col-sm-6 no-padding-left">	
                  <div class="block item-act"> 
                    <iframe width="100%" height="225" frameborder="0" src="http://www.youtube.com/embed/{{ entity.statut.url }}"></iframe>
                    <div class="item-friend"></div>
                    <div class="date-mur size-date">
                        {% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}
                    </div>
                      <div class="titre-album-image">

                          <a href="{{ path('mures_statut_delete', { 'id': entity.id }) }}">
                              {{ 'deletes.tof'|trans }}
                          </a>
                      </div>
                  </div>
                </div>   
				
    {% elseif entity.type=="videoevent" %}

                <div class="col-sm-6 no-padding-left">	
                  <div class="block item-act"> 
                    <iframe width="100%" height="225" frameborder="0" src="http://www.youtube.com/embed/{{ entity.file.url }}"></iframe>
                    <div class="item-friend"></div>
                    <div class="date-mur size-date">
                       {% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}
                    </div>
                      <div class="titre-album-image">

                          <a href="{{ path('mures_statut_delete', { 'id': entity.id }) }}">
                              {{ 'deletes.tof'|trans }}
                          </a>
                      </div>
                  </div>
                </div> 
				
    {% endif %}
{% endfor %}
    </div>
</div>