<div class="container containt-dash">
    <!--Debut left-block-->
    <div class="col-md-2 no-padding-right">
        <div class="block profil-block">
            <div class="profil-dash">
                <div class="col-md-12 no-padding">
                    <div class="grid">
                        <figure class="effect-winston">
                            {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                            <figcaption>
                                <p>
                                    <a href="{{ path('user_file_new') }}"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
                                </p>   
                            </figcaption>
                        </figure>
                    </div>
                </div>   
                <div class="col-md-12 no-padding">
                    <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                    <p class="titre-user">      
								<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
									<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
								</a>
							</p> 
                    <!--p class="pro">Profil</p-->
                </div>

            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}" alt="reseau social sport">{{ 'fil.act'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_notification') }}">
                        {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                    </a>
                </li>

                <li>
                    <a href="{{ path('grintaaa__list_friend') }}">
                        {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                    </a>
                </li>
                <li>
                    {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_image') }}" class="active">
                        {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_video') }}">
                        {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                    </a>
                </li>
            </ul>
        </div>

        {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
        {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

<br><br>
    </div>

    <div class="col-md-10">
	<div class="formulaire-search col-md-12 no-padding-left">
        <div class="img-search">
            <i class="fa fa-camera icon-puce green"></i>
        </div>   
        <div class="title-search">   
            <h4 class="green friends">{{ 'mes.tof'|trans }}</h4>
        </div>    
    </div><br><br>
	<div class="formulaire-search col-md-12 no-padding">
	 
	
					    <div class="docs-galley">
                         <ul class="docs-pictures clearfix">
	    <div class="blog_list uk-grid-width-medium-1-3 uk-grid-width-large-1-4" data-uk-grid="{gutter: 24}">
		 {% for key, entity in images %}
		  {% if entity.type=="imagemur" %}
            <div class="margin-image-album">
                <div class="md-card block item-act2">
                    <div class="md-card-content">
                          <li>
					       <img data-original="{{ asset('uploads/murs/') }}{{ entity.statut.logo }}" src="{{ asset('uploads/murs/') }}{{ entity.statut.logo }}" alt="reseau social sport" class="blog_list_teaser_image">
                          </li>
						<div class="blog_list_teaser">
                            <span class="uk-text-muted uk-text-small size-date">{% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}</span>
                        </div>
                    </div>
                </div>   
            </div>
		  {% elseif entity.type=="imageevent" %}
            <div class="margin-image-album">
                <div class="md-card block item-act2">
                    <div class="md-card-content">
                          <li>
					       <img data-original="{{ asset('uploads/events/') }}{{ entity.file.logo }}" src="{{ asset('uploads/events/') }}{{ entity.file.logo }}" alt="reseau social sport" class="blog_list_teaser_image">
                          </li>
                        <div class="blog_list_teaser">
                            <span class="uk-text-muted uk-text-small size-date">{% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}</span>
                        </div>
                    </div>
                </div>
            </div>
		  {% endif %}
		 {% endfor %}
	    </div>
					     </ul>
						</div>
         </div>
        </div>
    </div>
	
    <link rel="stylesheet" href="{{ asset('bundles/comparatorbase/css/viewer.css') }}" media="all">
    <link rel="stylesheet" href="{{ asset('bundles/comparatorbase/css/main.css') }}" media="all">
	<script src="{{ asset('bundles/comparatorbase/js/viewer.js') }}"></script>
	<script src="{{ asset('bundles/comparatorbase/js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/comparatorbase/css/uikit.almost-flat.css') }}" media="all">
	<script src="{{ asset('bundles/comparatorbase/js/common.js') }}"></script>
	<script src="{{ asset('bundles/comparatorbase/js/uikit_custom.js') }}"></script>
	<script>
    easing_swiftOut = [ 0.4,0,0.2,1 ];
    bez_easing_swiftOut = $.bez(easing_swiftOut);

    var $body = $('body'),
        $html = $('html'),
        $window = $(window);

   
    // uikit custom
    altair_uikit = {
        reinitialize_grid_margin: function() {
            $("[data-uk-grid-margin]").each(function() {
                var element = $(this);
                if (!element.data("gridMargin")) {
                    $.UIkit.gridMargin(element, $.UIkit.Utils.options(element.attr("data-uk-grid-margin")));
                }
            });
            $window.resize();
        }
    };

	</script>