{{ dump(entities|length) }}
{% for key, entity in entities %}
<div id="test">
<ul>

    {% if entity.type=="newevent" %}
              {{ entity.id }}
        <li id="nbr">
        <div class="block item-act" id="{{ entity.id }}">

            <div class="row">
                <div class="col-sm-1">
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                        <div class="img-avatar">
                            {% if((images[key]|length)>0) %}

                                <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="">
                            {% else %}
                                <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="">
                            {% endif %}
                        </div>
                    </a>
                </div>
                <div class="col-sm-11">
                        <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                            <div class="name-avatar-mur">
                                <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }}</h5>
                            </div>
                        </a>
                        <div class="date-mur size-date">
						   {% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}  
                        </div>
                </div>  
                <div class="col-sm-12"> 
                    <div class="notif-mur">
                        <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }} {{ 'mur.create.event'|trans }}:</h5>
                    </div>      
                </div> 
				
                <div class="col-sm-12 no-padding notif-mur">                      
                  <div class="col-sm-4">
				    <h5><strong class="green">{{ entity.event.title }}</strong></h5>
				    <img src="{{ asset('bundles/comparatorbase/images/lieu.png') }}"> {% if entity.event.locality!='false' %}{{ entity.event.locality }} ({{ entity.event.country }}) {% else %}  {{ entity.event.country }} {% endif %}
                  </div>                 
                  <div class="col-sm-4">  
                    <div class="nb-participant">
                        {% if entity.event.nbPlayer is null %}
                            <p>{{ nbparticipe[key] }} participant</p>
                        {% else %}    
                            <p>{{ nbparticipe[key] }}/{{ entity.event.nbPlayer }}</p>
                            {% if (entity.event.nbPlayer == nbparticipe[key]) %}
                                <p class="etat complete">{{ 'profil.complet'|trans }}</p>
                            {% else %}
                                <p class="etat">{{ entity.event.nbPlayer-nbparticipe[key] }} {{ 'event.dispo'|trans }}</p>
                            {% endif %}
                        {% endif %}
                    </div>  
				  </div>      
                  <div class="col-sm-4" align="center">
                    <div class="time-participant size-date">
                        <img src="{{ asset('bundles/comparatorbase/images/heure.png') }}"> {{ entity.event.starttime|date('H:i') }} {{ 'lettre.a'|trans }} {{ entity.event.endtime|date('H:i') }} / {{ entity.event.startdate|date('d-m-Y') }}
                    </div>
                    <div>
                        <a href="{{ path('event_show', {'slug': entity.event.slug }) }}" class="btn btn-grinta">{{ 'fiche.match'|trans }}</a>
                    </div> 
                    
                    
                  </div>  
				</div>
            </div>
            <div class="desc-info"> 
				
				<div class="nbre-peronne-aime">
					<a id="newevent{{ entity.id }}" class="aime"><img src="{{ asset('bundles/comparatorbase/images/aimepas.png') }}" /> J'aime</a> 
					<a id="disnewevent{{ entity.id }}" class="aimepas"><img src="{{ asset('bundles/comparatorbase/images/aime.png') }}" /> J'aime</a>
					 - <span id="newevent1{{ entity.id }}"> </span> personne(s) aime ça
				</div>
                
            </div>  
  

        </div>
        </li>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "{{ path('test_likem', { 'id': entity.id }) }}",
                data: "",
                success: function(data){
                     if(data<1)
                     {
                         jQuery('#disnewevent{{ entity.id }}').css('display','none');

                     }

                    document.getElementById("newevent1{{ entity.id }}").innerHTML = data;





                }
            });

            $("#disnewevent{{ entity.id }}").click(function () {

                            $.ajax({
                                type: "POST",
                                url: "{{ path('del_likem', { 'id': entity.id }) }}",
                                data: "",
                                success: function(data){
                                    $.ajax({
                                        type: "POST",
                                        url: "{{ path('likem', { 'id': entity.id }) }}",
                                        data: "",
                                        success: function(data){


                                            document.getElementById("newevent1{{ entity.id }}").innerHTML = data;

                                            jQuery('#disnewevent{{ entity.id }}').css('display','none');



                                        }
                                    });


                                }
                            });



            });



            $("#newevent{{ entity.id }}").click(function () {

                $.ajax({
                    type: "POST",
                    url: "{{ path('test_likem', { 'id': entity.id }) }}",
                    data: "",
                    success: function(data){

                        if(data<1)
                        {
                            $.ajax({
                                type: "POST",
                                url: "{{ path('add_likem', { 'id': entity.id }) }}",
                                data: "",
                                success: function(data){
                                    $.ajax({
                                        type: "POST",
                                        url: "{{ path('likem', { 'id': entity.id }) }}",
                                        data: "",
                                        success: function(data){


                                            document.getElementById("newevent1{{ entity.id }}").innerHTML = data;

                                            jQuery('#disnewevent{{ entity.id }}').css('display','initial');



                                        }
                                    });

                                }
                            });


                        }

                    }
                });


            });


        });
        </script>
    {% elseif entity.type=="statutmur" %}
    <li id="nbr">
        <div class="block item-act" id="{{ entity.id }}">
            {{ entity.id }}
            <div class="row">
                <div class="col-sm-1">
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                        <div class="img-avatar">
                            {% if((images[key]|length)>0) %}
                                <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="">
                            {% else %}
                                <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="">
                            {% endif %}
                        </div> 
                    </a>
                </div>
                <div class="col-sm-11">
                        <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                            <div class="name-avatar-mur">
                                <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }}</h5>
                            </div>
                        </a>  
						<div class="date-mur size-date">
						 {% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}
						</div>
                </div> 
                <div class="col-sm-12">
                    <div class="desc-mur notif-mur">
                       {{ entity.statut.descreption }}
                    </div>
                </div>
            </div>
            <div class="desc-info">
				
				<div class="nbre-peronne-aime">
					<a id="statutmur{{ entity.id }}" class="aime"><img src="{{ asset('bundles/comparatorbase/images/aimepas.png') }}" /> J'aime</a> 
					<a id="disstatutmur{{ entity.id }}"><img src="{{ asset('bundles/comparatorbase/images/aime.png') }}" /> J'aime</a>
					 - <span id="statutmur1{{ entity.id }}"> </span> personne(s) aime ça
				</div>
				

            </div>
        </div>
        </li>
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path('test_likem', { 'id': entity.id }) }}",
                    data: "",
                    success: function(data){
                        if(data<1)
                        {
                            jQuery('#disstatutmur{{ entity.id }}').css('display','none');

                        }

                        document.getElementById("statutmur1{{ entity.id }}").innerHTML = data;





                    }
                });

                $("#disstatutmur{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('del_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){
                            $.ajax({
                                type: "POST",
                                url: "{{ path('likem', { 'id': entity.id }) }}",
                                data: "",
                                success: function(data){


                                    document.getElementById("statutmur1{{ entity.id }}").innerHTML = data;

                                    jQuery('#disstatutmur{{ entity.id }}').css('display','none');



                                }
                            });


                        }
                    });



                });



                $("#statutmur{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('test_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){

                            if(data<1)
                            {
                                $.ajax({
                                    type: "POST",
                                    url: "{{ path('add_likem', { 'id': entity.id }) }}",
                                    data: "",
                                    success: function(data){
                                        $.ajax({
                                            type: "POST",
                                            url: "{{ path('likem', { 'id': entity.id }) }}",
                                            data: "",
                                            success: function(data){


                                                document.getElementById("statutmur1{{ entity.id }}").innerHTML = data;

                                                jQuery('#disstatutmur{{ entity.id }}').css('display','initial');



                                            }
                                        });

                                    }
                                });


                            }

                        }
                    });


                });


            });
        </script>
    {% elseif entity.type=="imagemur" %}
    <li id="nbr">
        <div class="block item-act" id="{{ entity.id }}">
            {{ entity.id }}
            <div class="row">
                <div class="col-sm-1">
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                        <div class="img-avatar">
                            {% if((images[key]|length)>0) %}

                                <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="">
                            {% else %}
                                <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="">
                            {% endif %}  
                        </div>
                    </a>
                </div>  
                <div class="col-sm-11"> 
				    <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                      <div class="name-avatar-mur">
                        <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }}</h5>
                      </div> 
					</a>
                    <div class="date-mur size-date">
					 {% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}
					</div>
                </div>
                <div class="col-sm-12"> 
                   <div class="img-mur">
                    <img  src="{{ asset('uploads/murs/') }}{{ entity.statut.logo }}" alt="">
                   </div>
                </div>


            </div>
            <div class="desc-info">
				
				<div class="nbre-peronne-aime">
					<a id="imagemur{{ entity.id }}" class="aime"><img src="{{ asset('bundles/comparatorbase/images/aimepas.png') }}" /> J'aime</a> 
					<a id="disimagemur{{ entity.id }}"><img src="{{ asset('bundles/comparatorbase/images/aime.png') }}" /> J'aime</a>
					 - <span id="imagemur1{{ entity.id }}"> </span> personne(s) aime ça
				</div>
				

            </div>
            
        </div>
        </li>
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path('test_likem', { 'id': entity.id }) }}",
                    data: "",
                    success: function(data){
                        if(data<1)
                        {
                            jQuery('#disimagemur{{ entity.id }}').css('display','none');

                        }

                        document.getElementById("imagemur1{{ entity.id }}").innerHTML = data;





                    }
                });

                $("#disimagemur{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('del_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){
                            $.ajax({
                                type: "POST",
                                url: "{{ path('likem', { 'id': entity.id }) }}",
                                data: "",
                                success: function(data){


                                    document.getElementById("imagemur1{{ entity.id }}").innerHTML = data;

                                    jQuery('#disimagemur{{ entity.id }}').css('display','none');



                                }
                            });


                        }
                    });



                });



                $("#imagemur{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('test_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){

                            if(data<1)
                            {
                                $.ajax({
                                    type: "POST",
                                    url: "{{ path('add_likem', { 'id': entity.id }) }}",
                                    data: "",
                                    success: function(data){
                                        $.ajax({
                                            type: "POST",
                                            url: "{{ path('likem', { 'id': entity.id }) }}",
                                            data: "",
                                            success: function(data){


                                                document.getElementById("imagemur1{{ entity.id }}").innerHTML = data;

                                                jQuery('#disimagemur{{ entity.id }}').css('display','initial');



                                            }
                                        });

                                    }
                                });


                            }

                        }
                    });


                });


            });
        </script>
    {% elseif entity.type=="videomur" %}
    <li id="nbr">
        <div class="block item-act" id="{{ entity.id }}">
            {{ entity.id }}
            <div class="row">
                <div class="col-sm-1">
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                        <div class="img-avatar">
                            {% if((images[key]|length)>0) %}

                                <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="">
                            {% else %}
                                <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="">
                            {% endif %}
                        </div>
                    </a>
                </div>
                <div class="col-sm-11">
                        <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                          <div class="name-avatar-mur">
                           <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }}</h5>
                          </div> 
                        </a>
						<div class="date-mur size-date">
						  {% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}
						</div>
                </div>
                <div class="col-sm-12">
                    <div class="img-mur">
                        <iframe width="470" height="265"
                                src="http://www.youtube.com/embed/{{ entity.statut.url }}">
                        </iframe>
                    </div>
                </div>

            </div>
            <div class="desc-info">
				
				<div class="nbre-peronne-aime">
					<a id="videomur{{ entity.id }}" class="aime"><img src="{{ asset('bundles/comparatorbase/images/aimepas.png') }}" /> J'aime</a> 
					<a id="disvideomur{{ entity.id }}"><img src="{{ asset('bundles/comparatorbase/images/aime.png') }}" /> J'aime</a>
					 - <span id="videomur1{{ entity.id }}"> </span> personne(s) aime ça
				</div>

            </div>
            
        </div>
        </li>
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path('test_likem', { 'id': entity.id }) }}",
                    data: "",
                    success: function(data){
                        if(data<1)
                        {
                            jQuery('#disvideomur{{ entity.id }}').css('display','none');

                        }

                        document.getElementById("videomur1{{ entity.id }}").innerHTML = data;





                    }
                });

                $("#disvideomur{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('del_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){
                            $.ajax({
                                type: "POST",
                                url: "{{ path('likem', { 'id': entity.id }) }}",
                                data: "",
                                success: function(data){


                                    document.getElementById("videomur1{{ entity.id }}").innerHTML = data;

                                    jQuery('#disvideomur{{ entity.id }}').css('display','none');



                                }
                            });


                        }
                    });



                });



                $("#videomur{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('test_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){

                            if(data<1)
                            {
                                $.ajax({
                                    type: "POST",
                                    url: "{{ path('add_likem', { 'id': entity.id }) }}",
                                    data: "",
                                    success: function(data){
                                        $.ajax({
                                            type: "POST",
                                            url: "{{ path('likem', { 'id': entity.id }) }}",
                                            data: "",
                                            success: function(data){


                                                document.getElementById("videomur1{{ entity.id }}").innerHTML = data;

                                                jQuery('#disvideomur{{ entity.id }}').css('display','initial');



                                            }
                                        });

                                    }
                                });


                            }

                        }
                    });


                });


            });
        </script>
    {% elseif entity.type=="statutevent" %}
    <li id="nbr">
        <div class="block item-act" id="{{ entity.id }}">

            {{ entity.id }}
            <div class="row">
                <div class="col-sm-1">
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                        <div class="img-avatar">
                            {% if((images[key]|length)>0) %}

                                <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="">
                            {% else %}
                                <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="">
                            {% endif %}
                        </div>
                    </a> 
                </div>
                <div class="col-sm-11"> 
                    <div class="name-avatar-mur">
                        <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }}</h5>
                    </div> 
                    <div class="date-mur size-date">
					 {% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}
					</div> 
                </div> 
                <div class="col-sm-12">
                    <div class="notif-mur">
                        <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }} {{ 'pub.stat.event'|trans }} <strong class="green"><a href="{{ path('event_show', {'slug': entity.event.slug }) }}" >{{ entity.event.title }}</a></strong></h5>
                    </div>
					<div class="desc-mur">
					 <h5> {{ entity.file.descreption }}</h5>
                    </div>
                </div>

            </div>
            <div class="desc-info">
				
				<div class="nbre-peronne-aime">
					<a id="statutevent{{ entity.id }}" class="aime"><img src="{{ asset('bundles/comparatorbase/images/aimepas.png') }}" /> J'aime</a> 
					<a id="disstatutevent{{ entity.id }}"><img src="{{ asset('bundles/comparatorbase/images/aime.png') }}" /> J'aime</a>
					 - <span id="statutevent1{{ entity.id }}"> </span> personne(s) aime ça
				</div>

            </div>
        </div>
        </li>
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path('test_likem', { 'id': entity.id }) }}",
                    data: "",
                    success: function(data){
                        if(data<1)
                        {
                            jQuery('#disstatutevent{{ entity.id }}').css('display','none');

                        }

                        document.getElementById("statutevent1{{ entity.id }}").innerHTML = data;





                    }
                });

                $("#disstatutevent{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('del_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){
                            $.ajax({
                                type: "POST",
                                url: "{{ path('likem', { 'id': entity.id }) }}",
                                data: "",
                                success: function(data){


                                    document.getElementById("statutevent1{{ entity.id }}").innerHTML = data;

                                    jQuery('#disstatutevent{{ entity.id }}').css('display','none');



                                }
                            });


                        }
                    });



                });



                $("#statutevent{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('test_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){

                            if(data<1)
                            {
                                $.ajax({
                                    type: "POST",
                                    url: "{{ path('add_likem', { 'id': entity.id }) }}",
                                    data: "",
                                    success: function(data){
                                        $.ajax({
                                            type: "POST",
                                            url: "{{ path('likem', { 'id': entity.id }) }}",
                                            data: "",
                                            success: function(data){


                                                document.getElementById("statutevent1{{ entity.id }}").innerHTML = data;

                                                jQuery('#disstatutevent{{ entity.id }}').css('display','initial');



                                            }
                                        });

                                    }
                                });


                            }

                        }
                    });


                });


            });
        </script>
    {% elseif entity.type=="imageevent" %}
    <li id="nbr">
        <div class="block item-act" id="{{ entity.id }}">
            {{ entity.id }}
            <div class="row">
                <div class="col-sm-1">
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                        <div class="img-avatar">
                            {% if((images[key]|length)>0) %}

                                <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="">
                            {% else %}
                                <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="">
                            {% endif %}
                        </div>
                    </a>
                </div>
                <div class="col-sm-11">
                        <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                            <div class="name-avatar-mur">
                                <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }}</h5>
                            </div>

                        </a>
                        <div class="date-mur size-date"> 
						  {% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}
                        </div>
                </div>
                <div class="col-sm-12"> 
                    <div class="notif-mur">
                        <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }} {{ 'pub.img.event'|trans }} <strong class="green"><a href="{{ path('event_show', {'slug': entity.event.slug }) }}" >{{ entity.event.title }}</a></strong></h5>
                    </div>
                    <div class="imgevent-mur">
                      <img  src="{{ asset('uploads/events/') }}{{ entity.file.logo }}" alt="">
					</div>

                </div>

            </div>
            <div class="desc-info">
				
				<div class="nbre-peronne-aime">
					<a id="imageevent{{ entity.id }}" class="aime"><img src="{{ asset('bundles/comparatorbase/images/aimepas.png') }}" /> J'aime</a> 
					<a id="disimageevent{{ entity.id }}"><img src="{{ asset('bundles/comparatorbase/images/aime.png') }}" /> J'aime</a>
					 - <span id="imageevent1{{ entity.id }}"> </span> personne(s) aime ça
				</div>

            </div>
            
        </div>
        </li>
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path('test_likem', { 'id': entity.id }) }}",
                    data: "",
                    success: function(data){
                        if(data<1)
                        {
                            jQuery('#disimageevent{{ entity.id }}').css('display','none');

                        }

                        document.getElementById("imageevent1{{ entity.id }}").innerHTML = data;





                    }
                });

                $("#disimageevent{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('del_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){
                            $.ajax({
                                type: "POST",
                                url: "{{ path('likem', { 'id': entity.id }) }}",
                                data: "",
                                success: function(data){


                                    document.getElementById("imageevent1{{ entity.id }}").innerHTML = data;

                                    jQuery('#disimageevent{{ entity.id }}').css('display','none');



                                }
                            });


                        }
                    });



                });



                $("#imageevent{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('test_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){

                            if(data<1)
                            {
                                $.ajax({
                                    type: "POST",
                                    url: "{{ path('add_likem', { 'id': entity.id }) }}",
                                    data: "",
                                    success: function(data){
                                        $.ajax({
                                            type: "POST",
                                            url: "{{ path('likem', { 'id': entity.id }) }}",
                                            data: "",
                                            success: function(data){


                                                document.getElementById("imageevent1{{ entity.id }}").innerHTML = data;

                                                jQuery('#disimageevent{{ entity.id }}').css('display','initial');



                                            }
                                        });

                                    }
                                });


                            }

                        }
                    });


                });


            });
        </script>
    {% elseif entity.type=="videoevent" %}
    <li id="nbr">
        <div class="block item-act" id="{{ entity.id }}">
            {{ entity.id }}
            <div class="row">
                <div class="col-sm-1">
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                        <div class="img-avatar">
                            {% if((images[key]|length)>0) %}
                                <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="">
                            {% else %}
                                <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="">
                            {% endif %}
                        </div>
                    </a>
                </div> 
                <div class="col-sm-11">
                        <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                            <div class="name-avatar-mur">
                                <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }}</h5>
                            </div>
                        </a>
                        <div class="date-mur size-date">
						  {% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}
                        </div>
                </div>
                <div class="col-sm-12"> 
                    <div class="notif-mur">
                        <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }} {{ 'pub.video.event'|trans }} <strong class="green"><a href="{{ path('event_show', {'slug': entity.event.slug }) }}" >{{ entity.event.title }}</a></strong></h5>
                    </div>
                    <div class="video-mur">
                        <iframe width="470" height="265"
                            src="http://www.youtube.com/embed/{{ entity.file.url }}">
                        </iframe>
					</div>
                </div>

            </div>
            <div class="desc-info">
				
				<div class="nbre-peronne-aime">
					<a id="videoevent{{ entity.id }}" class="aime"><img src="{{ asset('bundles/comparatorbase/images/aimepas.png') }}" /> J'aime</a> 
					<a id="disvideoevent{{ entity.id }}"><img src="{{ asset('bundles/comparatorbase/images/aime.png') }}" /> J'aime</a>
					 - <span id="videoevent1{{ entity.id }}"> </span> personne(s) aime ça
				</div>

            </div>

        </div>
        </li>
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path('test_likem', { 'id': entity.id }) }}",
                    data: "",
                    success: function(data){
                        if(data<1)
                        {
                            jQuery('#disvideoevent{{ entity.id }}').css('display','none');

                        }

                        document.getElementById("videoevent1{{ entity.id }}").innerHTML = data;





                    }
                });

                $("#disvideoevent{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('del_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){
                            $.ajax({
                                type: "POST",
                                url: "{{ path('likem', { 'id': entity.id }) }}",
                                data: "",
                                success: function(data){


                                    document.getElementById("videoevent1{{ entity.id }}").innerHTML = data;

                                    jQuery('#disvideoevent{{ entity.id }}').css('display','none');



                                }
                            });


                        }
                    });



                });



                $("#videoevent{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('test_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){

                            if(data<1)
                            {
                                $.ajax({
                                    type: "POST",
                                    url: "{{ path('add_likem', { 'id': entity.id }) }}",
                                    data: "",
                                    success: function(data){
                                        $.ajax({
                                            type: "POST",
                                            url: "{{ path('likem', { 'id': entity.id }) }}",
                                            data: "",
                                            success: function(data){


                                                document.getElementById("videoevent1{{ entity.id }}").innerHTML = data;

                                                jQuery('#disvideoevent{{ entity.id }}').css('display','initial');



                                            }
                                        });

                                    }
                                });


                            }

                        }
                    });


                });


            });
        </script>
    {% elseif entity.type=="commentevent" %}
    <li id="nbr">
        <div class="block item-act" id="{{ entity.id }}">
            {{ entity.id }}
            <div class="row">
                <div class="col-sm-1">
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                        <div class="img-avatar">
                            {% if((images[key]|length)>0) %}

                                <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="">
                            {% else %}
                                <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="">
                            {% endif %}
                        </div>
                    </a>
                </div>
                <div class="col-sm-11">
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                        <div class="name-avatar-mur">
                            <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }}</h5>
                        </div>
                    </a>   
					<div class="date-mur size-date">
					 {% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}
					</div> 
                </div>
                <div class="col-sm-12">   
                    <div class="notif-mur">  
                        <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }} {{ 'comment.comments.event'|trans }} <strong class="green"><a href="{{ path('event_show', {'slug': entity.event.slug }) }}" >{{ entity.event.title }}</a></strong></h5>
                    </div>
                    <div class="desc-mur">                      
					   <h5>{{ entity.comment.description }}</h5>
                    </div>  
                </div>

            </div>
            <div class="desc-info">
				
				<div class="nbre-peronne-aime">
					<a id="commentevent{{ entity.id }}" class="aime"><img src="{{ asset('bundles/comparatorbase/images/aimepas.png') }}" /> J'aime</a> 
					<a id="discommentevent{{ entity.id }}"><img src="{{ asset('bundles/comparatorbase/images/aime.png') }}" /> J'aime</a>
					 - <span id="commentevent1{{ entity.id }}"> </span> personne(s) aime ça
				</div>

            </div>

        </div>
        </li>
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path('test_likem', { 'id': entity.id }) }}",
                    data: "",
                    success: function(data){
                        if(data<1)
                        {
                            jQuery('#discommentevent{{ entity.id }}').css('display','none');

                        }

                        document.getElementById("commentevent1{{ entity.id }}").innerHTML = data;





                    }
                });

                $("#discommentevent{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('del_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){
                            $.ajax({
                                type: "POST",
                                url: "{{ path('likem', { 'id': entity.id }) }}",
                                data: "",
                                success: function(data){


                                    document.getElementById("commentevent1{{ entity.id }}").innerHTML = data;

                                    jQuery('#discommentevent{{ entity.id }}').css('display','none');



                                }
                            });


                        }
                    });



                });



                $("#commentevent{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('test_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){

                            if(data<1)
                            {
                                $.ajax({
                                    type: "POST",
                                    url: "{{ path('add_likem', { 'id': entity.id }) }}",
                                    data: "",
                                    success: function(data){
                                        $.ajax({
                                            type: "POST",
                                            url: "{{ path('likem', { 'id': entity.id }) }}",
                                            data: "",
                                            success: function(data){


                                                document.getElementById("commentevent1{{ entity.id }}").innerHTML = data;

                                                jQuery('#discommentevent{{ entity.id }}').css('display','initial');



                                            }
                                        });

                                    }
                                });


                            }

                        }
                    });


                });


            });
        </script>
    {% elseif entity.type=="participeevent" %}
    <li id="nbr">
        <div class="block item-act" id="{{ entity.id }}">

            {{ entity.id }}
            <div class="row">
                <div class="col-sm-1">
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                        <div class="img-avatar">
                            {% if((images[key]|length)>0) %}

                                <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="">
                            {% else %}
                                <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="">
                            {% endif %}
                        </div>
                    </a>
                </div>
                <div class="col-sm-11">
                        <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}">
                            <div class="name-avatar-mur">
                                <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }}</h5>
                            </div>
                        </a> 
                        <div class="date-mur size-date">
						 {% if entity.createdAt %}{{ entity.createdAt|date('d-m-Y H:i:s') }}{% endif %}
                        </div>
                </div>
                <div class="col-sm-12">  
                    <div class="notif-mur">
                        <h5>{{ entity.user1.lastname }} {{ entity.user1.firstname }} {{ 'participe.participe.event'|trans }} <strong class="green"><a href="{{ path('event_show', {'slug': entity.event.slug }) }}" >{{ entity.event.title }}</a></strong></h5>
                    </div>
                </div>

            </div>
            <div class="desc-info">
				
				<div class="nbre-peronne-aime">
					<a id="participeevent{{ entity.id }}" class="aime"><img src="{{ asset('bundles/comparatorbase/images/aimepas.png') }}" /> J'aime</a> 
					<a id="disparticipeevent{{ entity.id }}"><img src="{{ asset('bundles/comparatorbase/images/aime.png') }}" /> J'aime</a>
					 - <span id="participeevent1{{ entity.id }}"> </span> personne(s) aime ça
				</div>

            </div>

        </div>
        </li>
        <script>
            $(document).ready(function () {
                $.ajax({
                    type: "POST",
                    url: "{{ path('test_likem', { 'id': entity.id }) }}",
                    data: "",
                    success: function(data){
                        if(data<1)
                        {
                            jQuery('#disparticipeevent{{ entity.id }}').css('display','none');

                        }

                        document.getElementById("participeevent1{{ entity.id }}").innerHTML = data;





                    }
                });

                $("#disparticipeevent{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('del_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){
                            $.ajax({
                                type: "POST",
                                url: "{{ path('likem', { 'id': entity.id }) }}",
                                data: "",
                                success: function(data){


                                    document.getElementById("participeevent1{{ entity.id }}").innerHTML = data;

                                    jQuery('#disparticipeevent{{ entity.id }}').css('display','none');



                                }
                            });


                        }
                    });



                });



                $("#participeevent{{ entity.id }}").click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{{ path('test_likem', { 'id': entity.id }) }}",
                        data: "",
                        success: function(data){

                            if(data<1)
                            {
                                $.ajax({
                                    type: "POST",
                                    url: "{{ path('add_likem', { 'id': entity.id }) }}",
                                    data: "",
                                    success: function(data){
                                        $.ajax({
                                            type: "POST",
                                            url: "{{ path('likem', { 'id': entity.id }) }}",
                                            data: "",
                                            success: function(data){


                                                document.getElementById("participeevent1{{ entity.id }}").innerHTML = data;

                                                jQuery('#disparticipeevent{{ entity.id }}').css('display','initial');



                                            }
                                        });

                                    }
                                });


                            }

                        }
                    });


                });


            });
        </script>
    {% endif %}
</ul>
</div>

{% endfor %}

<script type="text/javascript">







    (function() {
        var results = $('[id^=nbr]').filter(function () {
            return this.id.match(/nbr/) //regex for the pattern "Q followed by a number"
        }).length;




    $(window).scroll(function () {


        if (($(window).scrollTop() == $(document).height() - $(window).height())) {



            //var ol =$("[id^='nbr']").eq(x);
            // alert(ol);

            //  var starts =ol.children().length;
            var result = $('[id^=nbr]').filter(function () {
                return this.id.match(/nbr/) //regex for the pattern "Q followed by a number"
            }).length;

            // console.log(starts);
            // $.get('Bundle:Controller:Action ',{'start': starts})
            // alert(starts);

            var occ = {{ offset }}+1;

            if (result <= {{ derocc }})
            {
                $.ajax({
                    type: "POST",
                    url: "{{ path('mures', {page: offset+1}) }}",
                    data: "offset=" + occ,
                    success: function (data) {

                        var x = document.getElementById("{{ length }}").id;
                        var ol = $('#' + x);

                        //$("[id^='nbr']").eq(x).append(data);


                            ol.append(data);



                    }
                });
        }

            // alert(console.log(start));
            //https://www.youtube.com/watch?v=HBBQs0O0sAY
        }

        //fin
    })

    })();
</script>
