
{% if app.user %}
       <!--Debut containt-->
       <div class="container containt-dash"> 
           <!--Debut left-block-->
           <div class="col-md-2 no-padding-right"> 
               <div class="block profil-block">
                   <div class="profil-dash"> 
                         <div class="col-md-12 no-padding">
						    <div class="grid">
					         <figure class="effect-winston">
						      {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
						      <figcaption>  
							   <p> 
								<a href="{{ path('user_file_new') }}"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
							   </p>
						      </figcaption>			
					         </figure>
				            </div>            
                         </div>
                         <div class="col-md-12 no-padding">  
                             <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>

							<p class="titre-user">      
								<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
									<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
								</a>
							</p>  
                             <!--p class="pro">Profil</p-->
                         </div>
                         
                   </div>              
                   <ul class="list-unstyled">
                       <li>
                           <a href="{{ path('home') }}" class="active">
                              <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}">{{ 'fil.act'|trans }}
                           </a>
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_notification') }}">
                            {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                           </a>
                       </li>
                       
                       <li>
                           <a href="{{ path('grintaaa__list_friend') }}">
                             {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                           </a>
                       </li>
                       <li>
                            {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_multimedia_image') }}">
                              {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                           </a>
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_multimedia_video') }}">
                               {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                           </a>
                       </li>
                   </ul>
               </div>
 
               {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
               {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}


           </div>
           <!--Fin left-block-->
           <!--Debut center-block-->
           <div class="col-md-10"> 
               {{ render(controller('ApplicationSonataUserBundle:User:complete')) }}
              <div class="block exprimer">
                   <div class="titre green">
                     <img src="{{ asset('bundles/comparatorbase/images/pencil.png') }}">
                     <h4>{{ 'exprime.vous'|trans }}</h4>
                   </div>
                   <div class="add-act">
				   
                      <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#statut" aria-controls="statut" role="tab" data-toggle="tab"><img src="{{ asset('bundles/comparatorbase/images/statut.png') }}"> {{ 'exprime.vous.staut'|trans }}</a></li>
                        <li role="presentation"><a href="#photo" aria-controls="photo" role="tab" data-toggle="tab"><img src="{{ asset('bundles/comparatorbase/images/camera-photo.png') }}"> {{ 'exprime.vous.photo'|trans }}</a></li>
                        <li role="presentation"><a href="#video" aria-controls="video" role="tab" data-toggle="tab" class="video"><img src="{{ asset('bundles/comparatorbase/images/camera-video.png') }}"> {{ 'exprime.vous.video'|trans }}</a></li>
                      </ul>

					  
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="statut">
                        <form method="post" action="{{ path('mur_statut_create') }}">
                                <textarea placeholder="{{ 'exprime.vous'|trans }}" name="textarea"></textarea>
                                <div class="send">
                                   <button type="submit" class="btn btn-grinta">{{ 'msg.publier'|trans }}</button>
                                </div>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="photo">
                             {{ render(controller('ComparatorStatutBundle:Statut:new')) }}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="video">
                            <form method="post" action="{{ path('mur_video_create') }}">
                                <textarea placeholder="{{ 'msg.video.youtube'|trans }}" name="video"></textarea>
                                <div class="send">
                                   <button type="submit" class="btn btn-grinta">{{ 'msg.publier'|trans }}</button>
                                </div>
                            </form>
                        </div>
                      </div>

                    </div>
               </div>
           
 
               {{ render(controller('ComparatorEventBundle:Mur:murEventFriends')) }}



           </div>
           <!--Fin center-block-->
           <!--Debut right-block-->
           <!--div class="col-sm-2">
               <div class="block photo">
                  <div class="title-block">
                    <h4 class="green">Album Photo</h4>
                  </div>
                  <div class="body-photo">
                      <div class="album">
                         <div class="col-xs-6 image-wrapper">
                            <img src="{{ asset('bundles/comparatorbase/images/photo/photo1.jpg') }}" class="img-responsive" alt="" />
                            <p>Fifa Sport</p>
                         </div>
                         <div class="col-xs-6 image-wrapper">
                            <img src="{{ asset('bundles/comparatorbase/images/photo/photo2.jpg') }}" class="img-responsive" alt="" />
                            <p>Atlantic days</p>
                         </div>
                         <div class="col-xs-6 image-wrapper">
                            <img src="{{ asset('bundles/comparatorbase/images/photo/photo3.jpg') }}" class="img-responsive" alt="" />
                            <p>Gyms</p>
                         </div>
                         <div class="col-xs-6 image-wrapper">
                            <img src="{{ asset('bundles/comparatorbase/images/photo/photo4.jpg') }}" class="img-responsive" alt="" />
                            <p>Yoga coaching</p>
                         </div>
                         <div class="col-xs-6 image-wrapper">
                            <img src="{{ asset('bundles/comparatorbase/images/photo/photo5.jpg') }}" class="img-responsive" alt="" />
                            <p>Our athletes</p>
                         </div>
                         <div class="col-xs-6 image-wrapper">
                            <img src="{{ asset('bundles/comparatorbase/images/photo/photo6.jpg') }}" class="img-responsive" alt="" />
                            <p>champions</p>
                         </div>
                      </div>
                  </div>
               </div>
               <div class="block video">
                  <div class="title-block">
                    <h4 class="green">Vidéo</h4>
                  </div>
                  <div class="body-video">
                      <div class="video">
                         <video width="100%" height="auto" controls>
                          <source src="video/Messi.mp4" type="video/mp4">
                         </video>
                         <a href="#"><p>La reussite a un titre</p></a>
                      </div>
                      <div class="video">
                         <video width="100%" height="auto" controls>
                          <source src="{{ asset('bundles/comparatorbase/video/PoloClub.mp4') }}" type="video/mp4">
                         </video>
                         <a href="#"><p>Polo Club</p></a>
                      </div>
                      <div class="video">
                         <video width="100%" height="auto" controls>
                          <source src="{{ asset('bundles/comparatorbase/video/nadal.mp4') }}" type="video/mp4">
                         </video>
                         <a href="#"><p>New Delhi</p></a>
                      </div>
                  </div>
               </div>
           </div>
           <!--Fin right-block-->  
       </div>
       <!--Debut containt-->
	   <br><br><br>
   </div>
    {% else %}  

    {{ render(controller('ApplicationHWIOAuthBundle:Connect:connect')) }}
               <!--Debut containt-->
{% endif %}
<style>
 .footer{padding:0px;}
</style>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- auto -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3318666783044944"
     data-ad-slot="6484240518"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
