
{% if app.user %}
    <!--containt-->
    <div class="containt">
        <!--debut Couverture-->
        <div class="couverture">
            <div id="carousel-profil" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="{{ asset('bundles/comparatorbase/images/couverture-profil.jpg') }}" alt="Grintaaa">
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/comparatorbase/images/couverture-profil2.jpg') }}" alt="Grintaaa">
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/comparatorbase/images/couverture-profil3.jpg') }}" alt="Grintaaa">
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/comparatorbase/images/couverture-profil4.jpg') }}" alt="Grintaaa">
                    </div>
                    <div class="item">
                        <img src="{{ asset('bundles/comparatorbase/images/couverture-profil5.jpg') }}" alt="Grintaaa">
                    </div>
                </div>
            </div>
        </div>
        <!--fin Couverture-->

        <!--debut container-profil-->
        <div class="container container-profil">
            <div class="head-profil">
                <div class="col-md-6 col-md-offset-3">
                    <div class="title-page">
                        <img src="{{ asset('bundles/comparatorbase/images/title.png') }}" alt="type">
                        <h2>Les prochains évenements sportifs</h2>
                    </div>
                    <a href="#" class="btn btn-grinta">Tout les jeux</a>
                </div>
            </div>
            <div class="contenu">
       <div class="col-sm-3 left-profil">
                <!--debut left block-->
                {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}
                    <div class="block col-sm-12">
        <div class="title-block">
            <h3>Prochains événements</h3>
        </div>
        <div class="body-block">
            <div class="event">
                <a href="#">
                    <img src="{{ asset('bundles/comparatorbase/images/event1.jpg') }}" alt="evant">
                    <h3>Marathon zones cotières</h3>
                    <p>22. Mars.2016</p>
                </a>
            </div>
            <div class="event">
                <a href="#">
                    <img src="{{ asset('bundles/comparatorbase/images/event2.jpg') }}" alt="evant">
                    <h3>Saut de longueur</h3>
                    <p>26.Avr.2016</p>
                </a>
            </div>
            <div class="event">
                <a href="#">
                    <img src="{{ asset('bundles/comparatorbase/images/event3.jpg') }}" alt="evant">
                    <h3>Tournoi de pétanque</h3>
                    <p>02.Mai.2016</p>
                </a>
            </div>
        </div>
    </div>
</div>

                <!--end left block-->
                <!--debut center block-->

                {{ render(controller('ComparatorEventBundle:Event:listEventFriends')) }}
                <!--end center block-->
                <!--debut right block-->
                <div class="col-sm-3 right-profil">
                    <div class="block col-sm-12">
                        <div class="title-block">
                            <h3>Album video</h3>
                        </div>
                        <div class="body-block">
                            <div class="video">
                                <video width="100%" height="auto" controls>
                                    <source src="{{ asset('bundles/comparatorbase/video/Messi.mp4') }}" type="video/mp4">
                                </video>
                                <a href="#"><p>La reussite a un titre</p></a>
                            </div>
                            <div class="video">
                                <video width="100%" height="auto" controls>
                                    <source src="{{ asset('bundles/comparatorbase/video/PoloClub.mp4') }}" type="video/mp4">
                                </video>
                                <a href="#"><p>Polo Club</p></a>
                            </div>
                        </div>
                    </div>

                    <div class="block col-sm-12">
                        <div class="title-block">
                            <h3>Album Photo</h3>
                        </div>
                        <div class="body-block">
                            <div class="album">
                                <div class="col-xs-6 image-wrapper">
                                    <img src="{{ asset('bundles/comparatorbase/images/photo1.jpg') }}" class="img-responsive" alt="" />
                                    <p>Fifa Sport</p>
                                </div>
                                <div class="col-xs-6 image-wrapper">
                                    <img src="{{ asset('bundles/comparatorbase/images/photo2.jpg') }}" class="img-responsive" alt="" />
                                    <p>Atlantic days</p>
                                </div>
                                <div class="col-xs-6 image-wrapper">
                                    <img src="{{ asset('bundles/comparatorbase/images/photo3.jpg') }}" class="img-responsive" alt="" />
                                    <p>Gyms</p>
                                </div>
                                <div class="col-xs-6 image-wrapper">
                                    <img src="{{ asset('bundles/comparatorbase/images/photo4.jpg') }}" class="img-responsive" alt="" />
                                    <p>Yoga coaching</p>
                                </div>
                                <div class="col-xs-6 image-wrapper">
                                    <img src="{{ asset('bundles/comparatorbase/images/photo5.jpg') }}" class="img-responsive" alt="" />
                                    <p>Our athletes</p>
                                </div>
                                <div class="col-xs-6 image-wrapper">
                                    <img src="{{ asset('bundles/comparatorbase/images/photo6.jpg') }}" class="img-responsive" alt="" />
                                    <p>champions</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end right block-->
            </div>
        </div>
        <!--fin container-profil-->
    </div>
    <!--end containt-->
    {% else %}
               <!--Debut containt-->
               <div class="containt">
                  <div class="container">
                     <div class="row big-title">
                        <div class="col-sm-12 text-center">
                           <h1>Organiser vos matchs entre amis</h1>
                        </div>
                     </div>
                     <div class="row second-big-title text-center">
                        <div class="col-sm-7 col-sm-offset-3">
                           <h2>Disposer d’un moyen simple de découvrir les sports pratiqués par votre entourage et d’y cultiver un nouveau réseau.</h2>
                        </div>
                     </div>
                     <div class="row col-lg-3 col-lg-offset-5 col-md-4 col-md-offset-5 col-sm-6 col-sm-offset-3 sign-in">
                         <div class="compte">
                            <!-- <a href="{{ path('fos_user_registration_register') }}" class="to-signin">{{ 'new.inscription'|trans }}</a>-->
                            <a href="#" class="btn btn-grinta"><img src="images/compte.png">Créer votre <span>compte</span></a>
                         </div>
                         <div class="facebook">
                            <a href="#" class="btn btn-facebook"><i class="fa fa-facebook"></i> connexion via <span>facebook</span></a>
                         </div>
                     </div>
                  </div>
               </div>
               <!--Fin containt-->
           </div>
        </div>
{% endif %}
