
<!--Debut containt-->
<div class="containt-inscrit top-connect">
    <div class="container">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 inscrit">
            <div class="col-md-10 col-md-offset-1 cadre-blanc">
                <h2 class="titre_connect">Choisissez votre espace</h2>
				<select id="personne" name="personne" onChange="getPersonne(this)" class="form-control form-control">
                    <option value='default' name="1">-------------Choisir-------------</option>
                    <option value="{{ path('fos_user_registration_register') }}">Sportif</option>
                    <option value="{{ path('fos_user_registration_register1') }}">Coach</option>
                    <option value="{{ path('fos_user_registration_register2') }}">Organisateur</option>
                </select>

            </div>
        </div>
    </div>
</div>
<!--Fin containt-->
</div>
</div>
<script type="text/javascript">
    function getPersonne(theForm) {
        var url = $('#personne').val();
        var hn = window.location.hostname;

        window.location.href = url;
    }
</script>