<div class="page-presentation">
 <img src="{{ asset('bundles/comparatorbase/images/presentation.png') }}" />
 <div class="footer-pres">
	<div class="col-md-3 col-md-offset-1"><img src="{{ asset('bundles/comparatorbase/images/cont-pres.png') }}" /></div>
	<div class="col-md-4"><img src="{{ asset('bundles/comparatorbase/images/venir-pres.png') }}" /></div>
	<div class="col-md-3">
		<img src="{{ asset('bundles/comparatorbase/images/ref-pres.png') }}" /><br>
		<a href="https://www.facebook.com/Grintaaa-944054715632395/?fref=ts" target="_blanc"><img src="{{ asset('bundles/comparatorbase/images/fb-pres.png') }}" /></a><br>
		<a href="https://twitter.com/@Grintaaa_" target="_blanc"><img src="{{ asset('bundles/comparatorbase/images/tw-pres.png') }}" /></a>
	</div>
 </div>
</div>
