<!--Debut containt-->
<div class="container containt-dash">
    <div class="formulaire-search col-md-10">
        <div class="img-search">
            <img src="{{ asset('bundles/comparatorbase/images/parametres.png') }}">
        </div>
        <div class="title-search">
            <h4 class="green">{{ 'param.compte'|trans }}</h4>

        </div>
    </div>
	<div>
	
	 {% if percentages < 100 %}
      <div class="col-md-12 pourcentage"> 
	   {{ percentages }} %
          {{ 'etat.compte'|trans }} <span class="green">{{ 'user.profil'|trans }}</span>
	  </div>

	 {% else %}
      <div class="col-md-12 pourcentage">
          {{ percentages }} %
          {{ 'felic.compte'|trans }} <span class="green">{{ 'user.profil'|trans }}</span> {{ 'profil.complet'|trans }}
	  </div>
	 {% endif %}
	</div>
    <div class="list-games list-notif">
        <div class="block-param">
            <div class="col-sm-2 col-sm-offset-1" align="center">
                <a href="{{ path('sonata_user_profile_edit_authentication') }}">
				  <i class="fa fa-user size-ico-compte"></i>    
				  <br>
                    {{ 'my.compte'|trans }}
				  <p> {{ 'update.cor'|trans }} </p>
                </a>
                {% if(compte==false) %}
					<p><a href="#" class="tooltip3">!<span>{{ 'msg.infobull.compte'|trans }}</span></a></p>
                {% endif %}

            </div>
            <div class="col-sm-2" align="center">
                <a href="{{ path('grintaaa_interest') }}">
				  <i class="fa fa-star size-ico-compte"></i>    
				  <br>
                    {{ 'center.interest'|trans }}
				  <p>{{ 'update.center.interest'|trans }}</p>
                    {% if(logo|length==0) %}
						<p><a href="#" class="tooltip3">!<span>{{ 'msg.infobull.interest'|trans }}</span></a></p>
                    {% endif %}

                </a>
            </div>
            {% if(app.user.coach==1)%}
            <div class="col-sm-2" align="center">
                <a href="{{ path('grintaaa_coaching') }}">
                    <i class="fa fa-futbol-o size-ico-compte"></i>
                    <br>
                    {{ 'center.coaching'|trans }}
                    <p>{{ 'update.center.coaching'|trans }}</p>


                </a>
            </div>
            {%endif%}
            <div class="col-sm-2" align="center">
                <a href="{{ path('user_file_new') }}">
				  <i class="fa fa-picture-o size-ico-compte"></i>    
				  <br>
                    {{ 'my.avatar'|trans }}
				  <p>{{ 'update.my.avatar'|trans }}</p>

                    {% if(logo|length==0) %}
						<p><a href="#" class="tooltip3">!<span>{{ 'msg.infobull.avatar'|trans }}</span></a></p>
                    {% endif %}
                </a>
            </div>

            <div class="col-sm-2" align="center">
                <a href="{{ path('grintaaa_configuration_email') }}">
				  <i class="fa fa-envelope-o size-ico-compte"></i>    
				  <br>
                    {{ 'notif.email'|trans }}
				  <p>{{ 'msg.notif.email'|trans }}</p>
                </a>
            </div>		
			
        </div>

    </div>
</div>
<!--Debut containt-->