<div class="container containt-dash">
           <!--Debut left-block-->
           <div class="col-md-2 no-padding-right"> 
               <div class="block profil-block">
                   <div class="profil-dash"> 
                         <div class="col-md-12 no-padding">
						    <div class="grid">
					         <figure class="effect-winston">
						      {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
						      <figcaption>  
							   <p> 
								<a href="{{ path('user_file_new') }}"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
							   </p>
						      </figcaption>			
					         </figure>
				            </div>       
                         </div>
                         <div class="col-md-12 no-padding">  
                             <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>

                    <p class="titre-user">      
						<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
							<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
						</a>
					</p>    
                             <!--p class="pro">Profil</p-->
                         </div>
                      
                   </div>
                   <ul class="list-unstyled">
                       <li>
                           <a href="{{ path('home') }}" class="active">
                              <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}">{{ 'fil.act'|trans }}
                           </a>
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_notification') }}">
                            {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                           </a>
                       </li>
                       
                       <li>
                           <a href="{{ path('grintaaa__list_friend') }}">
                             {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                           </a>
                       </li>
                       <li>
                            {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_multimedia_image') }}">
                              {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                           </a>
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_multimedia_video') }}">
                               {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                           </a>
                       </li>
                   </ul>
               </div>
 
               {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
               {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

            <br><br>  
           </div>
           <!--Fin left-block-->
           <!--Debut center-block-->
           <div class="col-md-10"> 
    <div class="head-compte">
        <div class="">
            <div class="col-md-2 col-sm-3">
                <a href="{{ path('sonata_user_profile_edit_authentication') }}" class="btn btn-compte active">
			 	 <i class="fa fa-user"></i>  <br>
                    {{ 'my.compte'|trans }}
				</a>
            </div>
            <div class="col-md-2 col-sm-3 no-padding">
                <a href="{{ path('fos_user_change_password') }}" class="btn btn-compte">
			 	 <i class="fa fa-pencil-square-o"></i>  <br>
                    {{ 'change.password'|trans }}
				</a>
            </div>   
            <div class="col-md-2 col-sm-3">
                <a href="{{ path('grintaaa_interest') }}" class="btn btn-compte">
			 	 <i class="fa fa-star"></i>  
				 <br>{{ 'center.interest'|trans }}
				</a>
            </div>

            {% if(app.user.coach==1)%}
                <div class="col-md-1 col-sm-3 no-padding">
                    <a href="{{ path('grintaaa_coaching') }}" class="btn btn-compte">
                        <i class="fa fa-futbol-o"></i>
                        <br>{{ 'center.coaching'|trans }}
                    </a>
                </div>
            {%endif%}

            <div class="col-md-2 col-sm-3">
                <a href="{{ path('user_file_new') }}" class="btn btn-compte">
			 	 <i class="fa fa-picture-o"></i>  
				 <br>{{ 'my.avatar'|trans }}
				</a>
            </div>

            <div class="col-md-3 col-sm-3 no-padding">
                <a href="{{ path('grintaaa_configuration_email') }}" class="btn btn-compte">
			 	 <i class="fa fa-envelope-o"></i>  
				 <br>{{ 'notif.email'|trans }}
		        </a>
            </div>


        </div>  
    </div> 
    <div class=""> 
	<br><br>
		    <div class="col-md-12 titre-gris" align="center">
                {{ 'update.your.email'|trans }}
			</div>    
			
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 inscrit">
						  <div class="col-md-10 col-md-offset-1 cadre-blanc">
        <form  action="{{ path('fos_user_profile_edit_authentication') }}" class="form-inscription" method="post">
            <!--div class="row">
                <div class="col-md-11 col-md-offset-1">
                    <h4>Votre email : {{ app.user.email }}</h4>
                </div> 
            </div-->
            <div class="row" {% if(app.user.civility) %} style="display: none"{% endif %}>
                <div class="col-md-6">    
                    {{ form_widget(form.civility, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.username, { 'attr': {'class': 'form-control','placeholder': 'user.username'|trans } }) }}
                </div>
            </div>    
       
            <div class="row">
                <div class="col-md-6">
					<h4 class="titre-inscrit2"><label class="label-edit">Nom</label></h4>
                    {{ form_widget(form.firstname, { 'attr': {'class': 'form-control','placeholder': 'user.name'|trans} }) }}
                </div>
                <div class="col-md-6">
					<h4 class="titre-inscrit2"><label class="label-edit">Prénom</label> </h4> 
                    {{ form_widget(form.lastname, { 'attr': {'class': 'form-control','placeholder': 'user.lastname'|trans } }) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
					<h4 class="titre-inscrit2"><label class="label-edit">Pays</label></h4> 
                    {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-6">
					<h4 class="titre-inscrit2"><label class="label-edit">Ville</label></h4> 
                    {{ form_widget(form.city, { 'attr': {'class': 'form-control','placeholder': 'user.adress'|trans } }) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
					<h4 class="titre-inscrit2"><label class="label-edit">Téléphone</label> </h4>
					{{ form_widget(form.phone, { 'attr': {'class': 'form-control','placeholder':  'user.phone'|trans } }) }}
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
					<h4 class="titre-inscrit2"><label class="label-edit">Taille (cm)</label> </h4>
                    {{ form_widget(form.size, { 'attr': {'class': 'form-control','placeholder':  'user.size'|trans } }) }}
                </div>
                <div class="col-md-6">
					<h4 class="titre-inscrit2"><label class="label-edit">Poids (kg)</label> </h4>
                    {{ form_widget(form.weight, { 'attr': {'class': 'form-control','placeholder': 'user.weight'|trans} }) }}
                </div>
            </div>
            <div class="row">
			    <div class="col-md-12"> 
				  <h4 class="titre-inscrit2"><label>{{ 'user.date.birth'|trans }}</label></h4>
				</div>	
                <div id="date_birth">
                    {{ form_widget(form.date_of_birth, { 'attr': {'class': 'form-control datepicker','placeholder': 'user.date.birth'|trans} }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4 class="titre-inscrit">{{ form_label(form.handi) }}</h4>
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.handi) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
				    <h4 class="titre-inscrit">{{ form_label(form.coach) }}</h4>
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.coach) }}
                </div>
            </div> 

            <div class="row">
                <div class="col-md-6">
                    <h4 class="titre-inscrit">
						<label class=" control-label col-lg-3 control-label required">
						{% if(app.user.civility=="Homme") %} 
						   {{ 'fil.msg.homme'|trans }}  
							{% elseif(app.user.civility=="Femme") %}
							{{ 'fil.msg.femme'|trans }}
							{% else %}
							{{ 'fil.msg.mix'|trans }}
							{% endif %}
							 <span class="asterisk">*</span>
						</label>
					</h4>
                </div>
                <div class="col-md-6">
                    {{ form_widget(form.param) }}
                </div>
            </div>
            <div class="row">
            </div>
                   
            {{ form_widget(form) }}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" name="submit" class="btn btn-grinta">{{ 'user.submit.jour'|trans }}</button>
                </div>
            </div>
        </form>
		</div>
		</div>
    </div>
 </div>
</div>
<script type="text/javascript">

   // $("#fos_user_profile_form_param_1").attr('checked', 'checked');
   //alert($("#fos_user_profile_form_param_1").val());
   if( $("#fos_user_profile_form_param_0").is(':checked')|| $("#fos_user_profile_form_param_1").is(':checked')){
       i=0;
   } else {
       $("#fos_user_profile_form_param_1").attr('checked', 'checked');
   }
    $("#date_birth .col-lg-9").addClass("col-md-4");
$("#date_birth .col-md-4").removeClass("col-lg-9");
</script>