<!--Debut containt-->
<div class="container containt-dash">
    <div class="formulaire-search col-md-10">
        <div class="img-search">
            <img src="{{ asset('bundles/comparatorbase/images/parametres.png') }}">
        </div>
        <div class="title-search">
            <h4 class="green">{{ 'param.compte'|trans }}</h4>
        </div>
    </div>
    <div class="list-games list-notif">
        <div class="block block-param">
            <div class="col-sm-3">
                <a href="{{ path('sonata_user_profile_edit_authentication') }}">
                    <img src="{{ asset('bundles/comparatorbase/images/ma-compte.png') }}"> {{ 'my.compte'|trans }}
                </a>

                <p>{{ 'update.cor'|trans }}</p>
            </div>

            <div class="col-sm-3">
                <a href="{{ path('grintaaa_interest') }}">
                    <img src="{{ asset('bundles/comparatorbase/images/star.png') }}"> {{ 'center.interest'|trans }}
                </a>

                <p>{{ 'update.center.interest'|trans }}</p>
            </div>
            <div class="col-sm-3">
                <a href="{{ path('user_file_new') }}">
                    <img src="{{ asset('bundles/comparatorbase/images/ma-avatar.png') }}"> {{ 'my.avatar'|trans }}
                </a>

                <p>{{ 'update.my.avatar'|trans }}</p>
            </div>
            <div class="col-sm-3">
                <a href="#">
                    <img src="{{ asset('bundles/comparatorbase/images/ma-notif.png') }}"> {{ 'notif.email'|trans }}
                </a>

                <p>{{ 'msg.notif.email'|trans }}</p>
            </div>
        </div>

    </div>
</div>
<!--Debut containt-->