
code {
  background-color: ghostWhite;
  border: 1px solid #DEDEDE;
  color: #444;
  padding: 0 3px;
}


.gist {
  margin-top: 10px;
  font-size: 12px;
}

.ui-autocomplete-input, .input input {
  border: none; 
  font-size: 13px;
  width: 300px;
  height: 24px;
  /*margin-bottom: 5px;
  padding-top: 2px;  */ 
}

.ui-autocomplete-input {
  border: 1px solid #DDD !important;
  /*padding-top: 0px !important;*/
}

#map {
  border: 1px solid #DDD; 
  width:300px;
  height: 300px;
  float:left;  
  margin: 0px 0 0 10px;
  -webkit-box-shadow: #AAA 0px 0px 15px; 
  margin-top: 50px;
}

#legend {
  float: left;
  font-size: 12px;
  font-style: italic;
  margin: 10px 0px 0px 520px; /* 430px */
}

.ui-menu .ui-menu-item a {
  font-size: 12px;
  padding:5px;
}
.ui-menu .ui-menu-item a:hover {
  background:#82d31a;
  color:#fff;
}
