﻿/* CSS RESET

/* --------------------------------------------------------------------------------------------------------------- */

*, html, div, ul, li, h1, h2, h3, h4, h5, h6, form, label, fieldset, input, th, td, hr, p, ol, dl, dt, dd {margin:0; padding:0;}

fieldset, img, hr { border:0;}

ol, ul, li { list-style:none;}

a img { border:0;}

/* Défaut

/* --------------------------------------------------------------------------------------------------------------- */

*:focus 							{outline: none;}

/* marges

/* --------------------------------------------------------------------------------------------------------------- */

.mt15							{ margin-top:15px;}

.mt30							{ margin-top:30px;}

.mb15							{ margin-bottom:15px;}

.mb30							{ margin-bottom:30px;}



/* General

/* --------------------------------------------------------------------------------------------------------------- */

body{

	font-family: 'Lato';

	overflow-x: hidden;

	background: #e7e8e8; 

}

.color-gris{

	color: #a9a9a9;

}

.color-gris2{

	color: #6d6e70;

}

.green2{

	color: #5a9e03;

}
.green{

	color: #82d31a;

}
.green:hover{

	text-decoration:none;

}

.gris{

	background: #e7e8e8;

}

.error,

.red {

	color: #ff0024;

}

label.error{

	text-align: center;

    width: 100%;

}
.btn-welcome{
    color: #fff;
    width: 200px;
    height: 30px;
    margin: 0 auto;
    display: block;
    line-height: 30px;
    margin-top: 20px;
}
.btn-welcome:hover{
    color:#fff;
}


/*Page Login

/* --------------------------------------------------------------------------------------------------------------- */

.btn-grinta{

	background: #82d31a;

	border-radius: 0;

	border:0;

	border-bottom: 2px solid #62a40d;

	padding: 0;

	-webkit-transition: all 0.3s ease-in-out; 

          transition: all 0.3s ease-in-out; 

}

.btn-grinta:hover{

	background: #62a40d;



}

.header-login{

	margin-top: 76px;

}

.header-login .navbar{

	height: 76px;

	background: rgba(255,255,255,0.7);

	border-radius: 0;

    border: 0;

}

.header-login .navbar-toggle{

	border:0;

	background: #82d31a;

	margin-top: 20px;

}

.header-login .navbar-toggle .icon-bar{

	background: #fff;

}

.header-login .navbar-toggle:hover,

.header-login .navbar-toggle:focus{

	background: #82d31a;

}

.header-login .logo-login{

	position: absolute;

	margin-top: -18px;

}



.form-login{

    line-height: 25px;
	width: 63%;

}

.form-login input[type='text'],

.form-login input[type='password']{

	width: 100%;

	height: 30px;

	background: #fff;

	border:0;

	border-radius: 0;

	font-size: 12px;

}

.form-login input[type='text']::placeholder,

.form-login input[type='password']::placeholder{

	color: #6d6f71;

}

.form-login .btn-grinta{

	width: 100%;

	height: 30px;
    margin-top:1px ;

}

.header-login .language{

    width: 100%;
	line-height:68px;

}

.header-login .navbar-nav .lang{

	margin-top: 27px;

}

.header-login .navbar-nav .lang>a{

	padding: 0;

}

.header-login .navbar-nav .lang.last>a{

	padding-right: 0;

}

.containt{

	padding-top: 170px;

}

.big-title{

	margin-bottom: 65px;

}

.big-title h1{

	font-family: 'Good Times Rg';

	text-transform: uppercase;

	font-size: 40px;

	color: #fff;

}

.second-big-title h2{

  color: #fff;

  font-size: 22px;

  margin-left: -60px;

  line-height: 30px;

}

.sign-in{

  margin-top: 28px;

  font-family: 'Lucida Grande';

}
.compte, .facebook{text-align:center}
.sign-in .btn-grinta{

	width: 80%;

	height: 51px;

	line-height: 50px;

	font-size: 14px;

	color: #58595b;

	text-decoration: none;

	text-align: left;

}

.sign-in .btn-grinta span{

	font-size: 18px

}

.sign-in .btn-grinta img{

	float: left;

	padding: 10px;

}

.facebook{

	margin-top: 10px;

}

.sign-in .btn-facebook{

	width: 80%;

	height: 51px;

	line-height: 50px;

	font-size: 14px;

	color: #fff;

	text-decoration: none;

	text-align: left;

	background: #3b5998;

	border:0;

	border-bottom: 2px solid #0d2e72;

	border-radius: 0;

	padding: 0;

	-webkit-transition: all 0.3s ease-in-out; 

          transition: all 0.3s ease-in-out; 



}

.sign-in .btn-facebook:hover{

	background: #0d2e72;

}



.sign-in .btn-facebook span{

	font-size: 18px

}

.sign-in .btn-facebook i{

	float: left;

	margin: 10px;

	width: 30px;

	height: 30px;

	background: #fff;

	color: #3b5998;

	font-size: 26px;

	position: relative;

}

.sign-in .btn-facebook i:before{

	position: absolute;

    bottom: -3px;

    right: 4px;

}

.sign-in .btn-facebook:hover i{

	color: #0d2e72;

}

/*Footer*/

.footer{

    width: 100%;

    min-height: 75px;

    background-color: #fff;

    position: fixed;
	
	bottom:0;

    display: block;
	    padding-right: 15px;
    padding-left: 15px;

}

.footer .bg-footer {

    width: 100%;

    height: 100%;

    bottom: 0;

    position: absolute;

    background: url('../images/left-bg-footer.png') no-repeat 0% 100%,

                url('../images/right-bg-footer.png') no-repeat 100% 100%;

}

.footer .top-footer{

   padding-top: 10px;

   padding-bottom: 25px; 

}

.top-footer .links ul>li>a {

	text-decoration: none;

	color: #6d6f71;

	font-size: 11px;

	line-height: 15px;

}

.top-footer .links ul>li>a img{

	margin-right: 5px;

	margin-top: -2px;

	border-radius: 50%;

}

.top-footer .links ul>li>a:hover {

	color: #82d31a;

}

.top-footer .bottons{

   padding: 0;

}



.top-footer .bottons ul>li>a{

	font-size: 11px;

	color: #6d6f71;

	text-decoration: none;

	text-align: center;

}

.top-footer .bottons ul>li>a:hover{

	color: #82d31a;

}

.top-footer .bottons ul>li>a img{

	margin-top: 0px;

    float: left;

    margin-right: 5px;

}

.top-footer .bottons ul>li>a span{

	font-size: 12px;

}

.footer .bottom-footer{

	height: auto;

	text-align: center;

	margin-top: 2px;

}

.footer .bottom-footer p{

	border-top: 1px solid #82d31a;

	padding-top: 2px;

	color: #6d6f71;

	font-size: 12px;

}

.footer .bottom-footer p>a{

	color: #6d6f71;

	text-decoration: none;

}

.footer .bottom-footer p>a:hover{

	color: #82d31a;

}



/*Page Login error

/* --------------------------------------------------------------------------------------------------------------- */

.login-error{


  
}

.login-error .login-error-form{

	width: 100%;

	height: auto;

	background: rgba(255,255,255,0.7);

	padding: 60px;
	text-align:center;

}

.login-error .login-error-form .red{

	text-align: center;

	width: 100%;
	color:#555;

	margin: 0 auto;

	font-size: 14px;

	margin-bottom: 40px;

}
.btn-nnfaceoui{
    background: #ffffff;
    border-radius: 0;
    border: 0;
    color: #423e34;
    padding: 4px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	border: 1px solid #777777;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 100%;
}
.btn-nnface{
    background: #82d31a;
    border-radius: 0;
    border: 0;
    color: #fff;
    border-bottom: 2px solid #62a40d;
    padding: 4px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.form-login-error {

   

}

.form-login-error input[type='text'],

.form-login-error input[type='password']{

	width: 100%;

	height: 35px;

	background: #fff;

	border:1px solid #a7a7a7;

	padding: 6px 12px;

	font-size: 12px;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

}

.form-login-error input[type='text']::placeholder,

.form-login-error input[type='password']::placeholder{

	color: #6d6f71;

}

.form-login-error .btn-grinta{

	width: 100%;

	height: 30px;

}

.login-error .not-accont{

	margin-top: 35px;

}

.login-error .not-accont p{

	font-size: 14px;

	color: #161616;

	margin-bottom: 20px;

}

.login-error .not-accont .green{

   font-size: 13px;

}

.login-error .not-accont .green:hover{

   color: #62a40d;

}

/*Page Inscription

/* --------------------------------------------------------------------------------------------------------------- */

.containt-inscrit{

	margin-top: 80px;

}

.form-inscrit{

    padding-top: 15px

}

.form-inscrit h3{

	font-size: 16px;

	color: #a3a3a3;

	float: left;

	text-transform: uppercase;

    line-height: 30px;

    margin-right: 195px;

}

.form-inscrit .btn-grinta{

	margin-right: 40px;

}

.form-inscrit .btn-grinta-inscrit{

    margin-top: -30px;

}

.form-inscrit .btn-grinta img{

	margin-top: 2px;

}

.inscrit{

	padding: 0;

}

.inscrit .col-lg-9{

    padding: 0;

    width: 100%;

}

.form-inscrit {



}

.inscrit label{

    font-size: 14px;

    color: #333;

    margin-bottom: 7px;

    width: 100%;

}

.form-inscription input[type="text"],

.form-inscription input[type="email"],

.form-inscription input[type="date"],

.form-inscription input[type="password"],

.form-inscription .datepicker,

.form-inscription select{

    width: 100%;

	height: 35px;

	background: #fff;

	border:1px solid #a7a7a7;

	border-radius: 0;

	font-size: 13px;

	margin-bottom: 15px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.form-inscription .btn-grinta{

    width: 100%;

	height: 35px;

	font-size: 14px;

	font-weight: bold;

	color: #fff;

	letter-spacing: 2px;

}

/*Page Organisation jeu

/* --------------------------------------------------------------------------------------------------------------- */

.navbar-steps{



}

.navbar-steps .nav-steps{

  margin-top: 12px;

 /* line-height: 30px;*/

}

.navbar-steps .links{

	width: 25%;

	height: 30px;

	background: #8fbd17;

	cursor: pointer;

	margin-right: 10px;
	text-align:left;

	-webkit-transition: all 0.3s ease-in-out; 

          transition: all 0.3s ease-in-out;      

}

.navbar-steps .links a{

	text-decoration: none;

	color: #6d6f71;

	line-height: 30px;

	font-size: 12px;

}

.navbar-steps .links.active, .navbar-steps .links:hover{

	background: #8fbd17;

}

.navbar-steps .links:hover a, .navbar-steps .links.active a{

	color: #fff;

}

.navbar-steps .links.chercher{

    background: url('../images/search.png') no-repeat 95% #fff;

}

.navbar-steps .links.chercher:hover, .navbar-steps .links.chercher.active{

    background: url('../images/search-active.png') no-repeat 95% #8fbd17;

}

.navbar-steps .links.organiser{

    background: url('../images/calander.png') no-repeat 95% #fff;

}

.navbar-steps .links.organiser:hover, .navbar-steps .links.organiser.active{

    background: url('../images/calander-active.png') no-repeat 95% #8fbd17;

}

.navbar-steps .notification{

    margin-right: 10px;

}

.navbar-steps .messages{

    margin-right: 10px;

}

.navbar-steps .notification span{

	background: #ff0000;

    color: #fff;

    width: 16px;

    height: 16px;

    border-radius: 50%;

    position: absolute;

    text-align: center;

    line-height: 16px;

    font-size: 12px;

    top: -8px;

    right: 0;

}

.navbar-steps .notification a:focus{

	background: transparent !important;

}

.navbar-steps .compte{

   text-decoration: none;

   font-size: 12px;

   font-weight: bold;

   position: relative;

    display: block;
	margin-top: 12px;

}

.navbar-steps .compte:focus{

	outline: none;

}

.navbar-steps .compte p{

	color: #6d6f71;

   white-space: nowrap;

   overflow: hidden;

   text-overflow: ellipsis;

   max-width: 100px;

   padding-top: 16px;

}

.navbar-steps .compte:focus{

	background: transparent !important;

}

.navbar-steps .compte img{

   width: 50px;

   height: 50px;

   float: left;

   margin-right: 5px;

}

.dropdown-compte{

	background: rgba(255,255,255,0.7);


	margin-top: 14px;

}



/*.dropdown-compte:after {

	bottom: 100%;

    left: 50%;

    border: solid transparent;

    content: " ";

    height: 0;

    width: 0;

    position: absolute;

    pointer-events: none;

    border-color: transparent;

    border-bottom-color: rgba(255, 255, 255, 0.7);

    border-width: 10px;

    margin-left: -10px;

}*/

.dropdown-compte .divider{

	width: 80%;

	height: 2px;

	background: #82d31a;

	margin: 5px auto;

}

.containt-steps{

    margin-top: 40px;

}

.containt-steps h2{

	color: #fff;

	font-size: 65px;

	margin-bottom: 25px;

}

.wizard{

	width: 100%;

	height: auto;

	background: #fff;

	padding: 35px;

	position: relative;

    margin-bottom: 40px;

	-moz-box-shadow: 3px 0px 13px 0px rgba(106,106,107,0.75);

	-webkit-box-shadow: 3px 0px 13px 0px rgba(106,106,107,0.75);

	-o-box-shadow: 3px 0px 13px 0px rgba(106,106,107,0.75);

	box-shadow: 3px 0px 13px 0px rgba(106,106,107,0.75);

}

.wizard .nav-tabs{

	border-bottom: 0;

	margin-bottom: 30px;

}

.wizard .nav-tabs>li{

	text-align: center;

	width: 20%;

	padding: 0;

}

.wizard .nav-tabs>li:first-child{

   background: url('../images/circle.png') no-repeat 0% 84%;

}

.wizard .nav-tabs>li:last-child{

   background: url('../images/circle-not.png') no-repeat 100% 84%;

}

.wizard .nav-tabs>li.active:last-child{

   background: url('../images/circle.png') no-repeat 100% 84%;

}

.wizard .nav-tabs>li.active.arrow{



}

.wizard .nav-tabs>li>p{

	color: #82d31a;

	font-size: 16px;

	margin-bottom: 10px;

}

.wizard .nav-tabs>li.active>p{

	color: #82d31a;

}

.wizard .nav-tabs>li.disabled>p{

	color: #939598;

}

.wizard .nav-tabs>li>a{

	width: 25px;

    height: 25px;

    text-align: center;

    padding: 6px 0;

    font-size: 12px;

    line-height: 1.428571429;

    border-radius: 15px;

    background: #fff;

    border: 5px solid #82d31a;

    margin: 0 auto;

    z-index: 999

}



.wizard .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{

	background: #fff;

    border: 5px solid #82d31a;

}

.wizard .nav-tabs>li.disabled>a, .nav-tabs>li.disabled>a:focus, .nav-tabs>li.disabled>a:hover{

	background: #fff;

    border: 5px solid #939598;

}

.wizard .nav-tabs>li>.left-line{

	width: 49%;

    height: 2px;

    background: #82d31a;

    position: absolute;

    margin-top: 12px;

}

.wizard .nav-tabs>li>.right-line{

	width: 49%;

    height: 2px;

    background: #82d31a;

    position: absolute;

    margin-top: -13px;

    right: 0;

}

.wizard .nav-tabs>li.active>.left-line{

    background: #82d31a;;

}

.wizard .nav-tabs>li.disabled>.left-line{

    background: #939598;

}

.wizard .nav-tabs>li.disabled>.right-line{

    background: #939598;

}

.wizard .title-step{

  width: 100%;

  margin-bottom: 15px;

  text-align: center;

}

.wizard .title-step h4{

	color: #64ab09;

	font-size: 20px;

}

.wizard .tab-pane{

	

}

.wizard .container-step{

	width: 100%;

}

.wizard .container-step .singl-step{

    }

.wizard .control-label,

.wizard #comparator_bundle_eventbundle_event_locality_address,

.wizard #comparator_bundle_eventbundle_event_country_address,

.wizard #comparator_bundle_eventbundle_event_lat_address,

.wizard #comparator_bundle_eventbundle_event_lng_address

{

    display: none;

}

#comparator_bundle_eventbundle_event_address_input .form-group{

    margin: 0 !important;

}

#comparator_bundle_eventbundle_event_address_input .col-lg-9{

    padding: 0;

}

.wizard #map{

    margin: 0 !important;

    width: 100% !important;

    height: 350px !important;

}

.wizard .container-step .detail{

    padding: 0;

}

.wizard .container-step h3{

	float: left;

	margin-right: 20px;

	font-size: 17px;

	color: #5e5f60;

	line-height: 25px;

}

.wizard .container-step h3.desc{

	margin-right: 5px;

}

.wizard .container-step .title-date{

	width: 153px;

	height: 20px;

	background-color: #82d31a;

	color: #fff;

	text-align: center;

	font-size: 14px;

	border-radius: 5px;

	margin: 0 auto;

	margin-bottom: 15px;

	margin-top: -50px;

}

.wizard .container-step input[type="text"],

.wizard .container-step input[type="number"],

.wizard .container-step select,

.wizard .container-step .form-control.datepicker{

	width: 100%;

    height: 30px;

    border:1px solid #dcddde;

    color: #808285;

    padding-left: 10px;

	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

}

.wizard .container-step textarea{

	width: 100% !important;

    height: 138px !important;

    border:1px solid #dcddde;

    color: #808285;

    border-radius: 0;

    padding-left: 10px;

    padding-top: 10px;

    background: #fff;

    float: right;

 }

.wizard .container-step .detail input[type="text"],

.wizard .container-step .detail input[type="number"]{	

   float: right;

 }

.wizard .container-step .detail input[type="number"],

.wizard .container-step .detail .nbr-gamers

{	

   margin-top: 13px

}

.wizard .container-step .datepicker{

	width: 153px;

	margin: 0 auto;

}

.wizard .container-step .datepicker--content {

    padding: 0px 4px 4px 4px;

}

.wizard .container-step .datepicker--day-name {

    color: #e45049;

 }

.wizard .container-step .datepicker--cell{

	height: 19px;

}

.wizard .container-step .datepicker--nav{

	padding: 0;

	border-bottom: 0;

}

.wizard .container-step .datepicker--nav-title{

	color: #82d31a;

	font-size: 14px;

	font-weight: bold;

}

.wizard .container-step .datepicker--nav-title i{

	font-weight: 100;

	font-size: 10px;

}

.wizard .container-step .datepicker--nav-action path{

    fill: #82d31a;

    stroke: #82d31a;

    stroke-width: 0px;

}

.wizard .container-step .step-date{

	margin-top: 45px;
	padding-left:0px;

}

.wizard .container-step .time-step{

   padding: 0;

}

.wizard .container-step .time-step .col-lg-9{

    width: 50%;

    padding: 0;

}

.wizard .container-step .time-step select{

	width: 50px;

	padding: 0;

    overflow: hidden;

    -webkit-appearance: none;

    appearance: none;

    background: url('../images/dropdown.png') no-repeat right #fff;

}

.wizard .container-step .time-step select::-ms-expand {

    display: none;

}

.wizard .container-step .time-step span{

	position: absolute;

    bottom: 5px;

    right: 90px;

}

.wizard .container-step .time-step h3 {

	margin-top: 45px;

}

.wizard .container-step .time-step label{

	margin-top: 15px;

	margin-bottom: 10px;

	font-size: 14px;

	color: #808285;

	margin-left: 15px;

}

.wizard .container-step .time-step input{

	width: 100%;

	height: 30px;

	border-radius: 0;

	border: 1px solid #dcddde;

	background: #fff;

}

.wizard .footer-content-step{

      width: 100%;

    position: relative;

    display: inline-block;

    margin-top: 20px;

}

.wizard .footer-content-step .prev-step{

    width: 134px;

    height: 30px;

    border:1px solid #dcddde;

    color: #939598;

    font-size: 14px;

    float: left;

    border-radius: 0;

    background: #fff;

}

.wizard .footer-content-step .prev-step:hover{

    background: #f5f5f5;

	color: #939598;

}

.wizard .footer-content-step .next-step{

   width: 134px;

   height: 30px;

   color: #fff;

   font-size: 14px;

    float: right;

}

.wizard .footer-content-step .next-step.register{

	background:#82d31a;

}

.wizard .footer-content-step .next-step:hover{



}

.wizard .footer-content-step .next-step.register:hover{

	background:#a9ea55;

}

/* Page Dashbord

/* --------------------------------------------------------------------------------------------------------------- */

.header{

	background: url('../images/font.png') no-repeat top;

	background-size: 100%;

	min-height: 150px;

}

.containt-dash{

	margin: 30px auto;
	background:#fff;
	padding:15px 0;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
-moz-box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);
box-shadow: 0px 0px 20px 0px rgba(255,255,255,1);

}

.block{

	background: #fff;

	border:1px solid #dcddde;

	margin-bottom: 8px;

	padding: 0 5px;

}

.block2{

	background: #fff;

	margin-bottom: 15px;

}
.block2 .titre{ 
margin-bottom:10px;
color:#82d31a !important;
}
.block2 .titre h4{ 
font-size:18px;
}

.profil-block{

    padding-top: 5px;

    padding-bottom: 10px;

}

.profil-dash{

   

}

.profil-dash a{

   text-decoration: none;

}

.profil-dash .profil-img {

	float: left;

	margin-right: 10px;

}

.profil-dash .profil-img img{

	width: 51px;

	height: 51px;

}

.profil-dash .profil-info {

	padding-top: 10px;

}

.profil-dash .profil-info p{

	font-size: 16px;

	font-weight: bold;

	color: #6d6f71;

	white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

    max-width: 100px;

}

.profil-dash .profil-info p.pro{

	font-weight: normal;

}

.profil-block ul>li{

    margin-top: 15px;

}

.profil-block ul>li a{

	font-size: 16px;

	color: #6d6f71;

	text-decoration: none;

}
.nb-participant{
padding-top:10px;
padding-bottom:7px;
}
.time-participant{
padding-bottom:7px;
}
.profil-block ul>li a:hover, .profil-block ul>li a.active{

	color: #82d31a;

}

.profil-block ul>li a img{

	margin-right: 5px;

}

.profil-block ul>li a span{

	float: right;

	width: 20px;

	height: 20px;

	background: #e7e8e8;

	line-height: 20px;

	text-align: center;

}

.block.event{

    padding-top: 10px;

    padding-bottom: 10px;

}

.block .title-block{

    text-align: center;

}

.block .title-block h4{

    font-size: 15px;
    font-weight: bold;
	color:#82d31a;

}

.item-event{

    margin-top: 10px;

}

.item-event a{

	text-decoration: none;

}

.item-event .img-event{

	float: left;

	margin-right: 5px;

}

.item-event .img-event img{

	width: 51px;

	height: 51px;

}

.item-event .info-event{

   padding-top: 5px;

   padding-bottom: 15px;

   

}

.item-event .info-event h4{

	font-size: 18px;

	white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

    max-width: 100px;

}

.item-event .info-event p{

	font-size: 12px;

   color: #333;

}

.block.friends{

    padding-top: 10px;

    padding-bottom: 10px;

}

.item-friend{

    margin-top: 10px;
	clear:both;

}
.block-footer{
    height:70px;
	clear:both;
}
.item-friend a{

	text-decoration: none;

}

.item-friend .img-friend{

	float: left;

	margin-right: 5px;

}

.item-friend .img-friend img{

	width: 51px;

	height: 51px;

}

.item-friend .info-friend{

   padding-top: 3px;
 
   min-height: 51px;

}

.item-friend .info-friend h4{

	font-size: 16px;

	color: #333;

	float:left;

    max-width: 100px;

}

.body-photo{

	padding-top: 15px;

	padding-bottom: 15px;

}

.body-photo .album{

    position: relative;

    display: inline-block;

}

.body-photo .album .image-wrapper{

	padding: 0;

    overflow: hidden;

    font-size: 0;

    cursor: pointer;

    border-left: 2px solid #F6F6F6;

    border-bottom: 2px solid #F6F6F6;

}



.body-photo .album .image-wrapper img {

  width: 100%;

  transition: transform 0.2s linear;

}

.body-photo .album .image-wrapper:hover img {

  transform: scale(1.2);

}

.body-photo .album .image-wrapper p{

	position: absolute;

    bottom: 0;

    font-size: 12px;

    color: #fff;

    left: 3px;

}

.body-video{

	padding-top: 10px;

}

.body-video .video{

	margin-bottom: 5px;

}

.body-video .video video{

	margin-bottom: 5px;

}

.body-video .video a{

   text-decoration: none;

}

.body-video .video p{

	font-size: 10px;

	color: #82d316;

}



.exprimer{

	padding: 0 15px;

	padding-top: 35px;

	padding-bottom: 25px;	

}

.exprimer .add-act{



}

.exprimer .add-act ul{

	width: 100%;

	height: auto;

	border: 1px solid #dcddde;

}

.exprimer .add-act ul>li{

	text-align: center;

}

.exprimer .add-act ul>li a{

	text-decoration: none;

	color: #939598;

	width: 100%;

	height: 100%;
	border:0px;

	background: url('../images/border.png') no-repeat 100% 5px transparent;

	padding: 10px 15px;

}

.exprimer .add-act ul>li .video{

	background: transparent;

}

.exprimer .add-act ul>li a:hover, .exprimer .add-act ul>.active a{

	text-decoration: none;

	color: #82d31a;

	width: 100%;

	height: 100%;

	border: 0;

	background: url('../images/border.png') no-repeat 100% 5px transparent;

	padding: 10px 15px;

}

.exprimer .add-act ul>li .video:hover, .exprimer .add-act ul>.active .video{

	background: transparent;

}

.exprimer .add-act ul>li a img{

	margin-right: 10px;
	margin-top: -5px;

}

.exprimer .add-act .tab-content{

	width: 100%;

	height: auto;

	border: 1px solid #dcddde;

	padding: 10px;

}

.exprimer .add-act .tab-content form{

	width: 100%;

	height: auto;

}

.exprimer .add-act .tab-content form textarea{

	width: 100%;

	height: auto;

	background: transparent;

	border: 0;

}

.exprimer .add-act .tab-content form .send{

	position: relative;

    display: inline-block;

    width: 100%;

    margin-top: 10px;

}

.exprimer .add-act .tab-content form .btn-grinta{

	width: 150px;

	height: 30px;

	color: #fff;

	line-height: 30px;

	float: right;

}
.handicap-detail .col-lg-9{
width:30% !important;
float: left;
}
.handicap-detail .col-lg-9 input{
margin-top:20px;
float: left;
}
.block .titre img{

	float: left;

	margin-right: 10px;

	margin-top: -6px;

}

.block .titre h4{

	font-size: 14px;

}

.recherche form{

	width: 100%;

	height: 35px;

	position: relative;

}

.recherche input[type="text"]{

	width: 100%;

	height: 35px;

	border:1px solid #dcddde;

	padding-left: 20px;

}

.recherche .btn-search{

    height: 35px;

    background: url('../images/loop.png') no-repeat right #82d31a;
	padding-right:45px;
	padding-left:10px;
	color:#fff;

    position: absolute;

    top: 0;

    right: 0;

}

.recherche .btn-search:focus{

	outline: none;

}

.exprimer .titre img{

	margin-top: -13px;

}

.item-act{

	padding: 10px;

}
.item-act2{

	padding: 10px;

}

.item-act a{

	text-decoration: none;
	cursor: pointer;

}

.item-act .img-avatar {

	float: left;

	/*margin-right: 10px;*/

}

.item-act .img-avatar img{

	width: 63px;

	height: 63px;

}

.item-act .name-avatar h5{

   font-size: 17px;

   color: #333;

   line-height: 34px;

}
.name-avatar-mur h5{

   font-size: 17px;

   color: #6eb414; 

   line-height: 34px;

}
.date-mur{
   font-size: 14px;

   color: #b9b9b9;

   line-height: 12px;

}
.img-mur{
padding:15px 0px 0;
}
.img-mur img{
max-width:100%; 
}
.imgevent-mur img{
margin:5px 0px 0;
max-width:100%; 
}
.notif-mur{
padding:15px 0px 5px !important;
}
.desc-mur h5{
color:#2e2e2e;
font-size:15px;
}
.video-mur{padding-top:5px;}
.item-act .name-match{

   font-size: 18px;

   font-weight: bold;

   margin-bottom: 22px;

   margin-top: 18px;

}

.item-act p{

	font-size: 14px;

	color: #939598;

}

.item-act .etat{

	color: #82d31a;

}

.item-act .etat.complete{

	color: #ff0600;

}

.item-act ul{

	margin-top: 15px;

	margin-bottom: 20px;

}

.item-act ul>li {

   font-size: 14px;
   color: #333;
   margin-bottom: 10px;

}
.option-ul li{
   display: inline-block;
   border-bottom:2px solid #82d31a;
   margin-right: 20px;
}
.item-act ul>li img{

	margin-right: 10px;

}

.item-act ul>li.lieu img{

	margin-left: 3px;

}

.btn-grinta{

	width: 100%;

	height: 30px;

	color: #fff;

	text-decoration: none;

	font-size: 14px;

	line-height: 30px;

}
.btn-grinta:hover{


	color: #fff;

}

.desc-act {

	margin-top: 25px;

}

.desc-act img{

	margin-top: 15px;

	margin-bottom: 15px;

}

.desc-act p{

	font-size: 14px;

	color: #8a8c8e;

}

/* Page Recherche match

/* --------------------------------------------------------------------------------------------------------------- */

.formulaire-search{



}

.img-search {

   float: left;	
   margin-right: 15px;

}

.img-search2 {
   width:30%;
   float: left;	
}
.img-search2  img{
 width:90%;
}
.info-date2{
    width:50%;
    padding: 0 15px;
    vertical-align: middle;
    display: inline-block;
    line-height: 25px;
}
.info-date2 h2{font-size:18px;}
.info-date2 li {font-size:13px;}
.info-date2 li img{
width:19px;
padding-right:5px;
}
.info-date3{
    width:19%;
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
}

.title-search{}

.title-search h4{

	font-size: 18px;

	font-family: 'LatoB';
	padding-top:5px;

}

.formulair{

	margin-top: 20px;

}

.form-search{

	margin-bottom: 30px;

}

.form-search .form-control{

	margin-bottom: 10px;

	border-radius: 0;

	color: #6d6f71;

}

.form-search .btn-grinta{

   color: #fff;

   font-size: 14px;

   text-decoration: none;

}

.form-search .rayon{

	display: block;

    width: 100%;

    height: 34px;

    padding: 6px 12px;

    font-size: 14px;

    line-height: 0.42857143;

    color: #555;

    background-color: #fff;

    background-image: none;

    border: 1px solid #ccc;

    margin-bottom: 10px;

    border-radius: 0;

}

.form-search .rayon label{

   font-size: 14px;

   color: #6d6f71;

   font-weight: 100;

   margin-right: 60px;

   line-height: 20px;

}

.form-search .rayon input{

	border: 1px solid #dcddde;

    border-radius: 0;

    width: 50%;

    height: 19px;

    background: url('../images/km.png') no-repeat 80% #fff;

    line-height: 20px;

    padding-left: 10px;

    position: absolute;

    right: 30px;

}

.result-search{

}

.result-search .result{

	font-size: 13px;

	color: #939598;

	margin-bottom: 10px;

}

/* Page Revue

/* --------------------------------------------------------------------------------------------------------------- */

.wizard .container-step.revue input[type="text"], 

.wizard .container-step.revue input[type="number"], 

.wizard .container-step.revue select, 

.wizard .container-step.revue .form-control.datepicker{

  float: right;

}

.wizard .container-step.revue textarea{

	width: 292px;

}

.wizard .container-step.revue .item-revue{

	margin-bottom: 30px;

}

.wizard .container-step.revue .item-revue .rev-titre{

	width: 170px;

}

.wizard .container-step.revue .item-revue p{

	font-size: 14px;

	color: #939598;

}



/* Page Détail match

/* --------------------------------------------------------------------------------------------------------------- */

.block.participant{

    padding-top: 10px;

    padding-bottom: 10px;

}

.item-participant{

    margin-top: 10px;

}

.item-participant a{

    text-decoration: none;

}

.item-participant .img-participant{

    float: left;

    margin-right: 5px;

}

.item-participant .img-participant img{

    width: 51px;

    height: 51px;

}

.item-participant .info-participant{

    padding-top: 0px;

    padding-bottom: 15px;

}

.item-participant .info-participant h4{

    font-size: 16px;

    color: #333;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

    max-width: 100px;

}

.star-rating .clear-rating,

.star-rating .caption{

    display: none;

}

.rating-container .rating-stars{

    color: #82d31a;

}

.rating-disabled{

    cursor: default;

}

.rating-gly-star{

    font-size: 10px;

    cursor: default;

}

.title-regoindre{

    width: 100%;

    height: 35px;

    background: #82d31a;

    text-align: center;

    margin-bottom: 7px;

}

.title-regoindre h4{

    line-height: 35px;

    color: #fff;

    font-size: 18px;

}

.regoindre{

    padding: 10px 15px;

    text-align: center;

}

.regoindre p{

    font-size: 12px;

    color: #939598;

    margin-bottom: 20px

}

.regoindre .btn-grinta{

    width: 100%;

    height: 35px;

    line-height: 35px;

    color: #fff;

    font-size: 18px;

    margin-bottom: 20px;

}

.regoindre .btn-grinta:focus{

    outline: none;

}

.regoindre .btn-red{

    width: 100%;

    height: 35px;

    line-height: 22px;

    font-size: 18px;

    background: #f11a4c;

    text-decoration: none;

    color: #fff;

    border-bottom: 2px solid #ad0c32;

    border-radius: 0;

    -webkit-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;

}

.regoindre .btn-red:hover{

    background: #ad0c32;

}

.regoindre .btn-red:focus{

    outline: none;

}

.btn-delete{

    width: 100%;

    height: 35px;

    line-height: 22px;

    font-size: 18px;

    background: #F00F00;

    text-decoration: none;

    color: #fff;

    border-bottom: 2px solid #AD0C02;

    border-radius: 0;

    -webkit-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;

}

.btn-delete:hover{

    background: #AD0C02;

}

.btn-delete:focus{

    outline: none;

}



.item-act .star-rating {

    margin-top: -20px;

    text-align: right;

    margin-right: 50px;

    float: left;

}

.item-act .share{



}

.item-act .share h4{

    font-size: 14px;

    color: #939598;

}

.item-act .share img{

    float: left;

    margin-right: 5px;
	width: 26px;

}

.item-act .share ul>li{

    display: initial;

}

.item-act .share ul>li a{

    text-decoration: none;

    color: #939598;

}

.item-act .share ul>li a:hover{

    color: #939598;

}

.block .suparator{

    width: 100%;

    height: 1px;

    background: #939598;

    margin-top: 35px;

    margin-bottom: 20px;

}

.info-act .desc-info{

    margin-top: 10px;

    margin-bottom: 10px;

}

.info-act .desc-info p{

    font-size: 14px;

    color: #939598;

}

.block.description .titre img{

    margin-top: -6px;

}

.block .content-description{



}

.block .content-description p{

    font-size: 13px;

    color: #939598;

    line-height: 22px;

}

.invit{

    display: inline-block;

    position: relative;

    width: 100%;

    height: auto;

    padding: 30px 15px;
	margin-bottom:4px;

}

.invit .botton-invit{

    display: block;

    position: relative;

}

.invit .botton-invit .btn-grinta{

    width: 100%;

    height: 30px;

    color: #fff;

    text-decoration: none;

    font-size: 14px;

    line-height: 30px;

}

.invit .botton-invit p{

    font-size: 12px;

    color: #939598;

    margin-top: 10px;

    margin-bottom: 5px;

    text-align: center;

}

.description{

    display: inline-block;

    position: relative;

    width: 100%;

	margin-bottom:8px;
    height: auto;

}
.clerfix{
clear:both;
}
.block .list-gamers{
display:block;
clear:both;
}
.block .top-gamers{

margin-bottom:10px;

}

.block .top-gamers p{

    font-size: 16px;

    color: #939598;

}

.block .top-gamers .nombre{

    padding: 0;

}

.block .top-gamers .nbr-match{

    font-size: 18px;

    color: #82d31a;

    margin-bottom: 20px;

    margin-top: -45px;

}

.block .bottom-gamers p{

    font-size: 14px;

    color: #939598;

}

.block .bottom-gamers p.green{

    font-weight: bold;

    color: #82d31a;

}

.comment .top-comment p{

    font-size: 12px;

    color: #939598;

    margin-left: 17px;

}

.comment .img-avatar {

    float: left;

    margin-right: 10px;

}

.comment .img-avatar img,
.description .img-avatar img{

    width: 63px;

    height: 63px;

}

.comment .name-avatar h5{

    font-size: 17px;

    color: #939598;

    line-height: 62px;

}

.comment .formulaire-comment{

    margin-top: 0px;

}

.comment .formulaire-comment h4{

    font-size: 14px;

    color: #939598;

    margin-bottom: 35px;

}

.comment .formulaire-comment textarea{

    width: 100%;

    min-height: 100px;

    border-radius: 0;

    border: 1px solid #dcddde;

}

.comment .formulaire-comment .btn-grinta{

    width: 134px;

    height: 30px;

    line-height: 30px;

    color: #fff;

    font-size: 14px;

    float: right;

    margin-top: 15px;

}



.list-comment .one-comment{

    border-bottom: 1px solid #D2D2D2;

    display: inline-block;

    padding: 5px 0;

    width: 100%;

}

.img-comment{

    float: left;

}

.img-comment a{

    text-decoration: none;

}

.img-comment img{

    float: left;

    max-width: 100%;

    height: 62px;

    margin-right: 5px;

}

.img-comment p{

    line-height: 30px;

    font-size: 13px;

    color: #3b5998;

}

.desc-comment{



}

.desc-comment p{

    margin-top: 6px;

    font-size: 13px;

}



/* Page Mes jeux

/* --------------------------------------------------------------------------------------------------------------- */

.action-right .btn-grinta{

    width: 100%;

    height: 30px;

    line-height: 30px;

    color: #fff;

    font-size: 14px

}

.list-games{

    margin-top: 30px;

}

.item-act .nbr-invit{

    margin-top: 50px;

    margin-bottom: 50px;

}

.item-act .nbr-invit p,

.item-act .disponible p{

    font-size: 14px;

    color: #939598;

}

.item-act .btn-invit{

    width: 134px;

    height: 30px;

    color: #939598;

    text-decoration: none;

    font-size: 14px;

    line-height: 15px;

    background: #fff;

    border: 1px solid #dcddde;

    border-radius: 0;

    margin-top: 30px;

    -webkit-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;

}

.item-act .btn-invit:hover{

    background: #dcddde;

    color: #000;

}

.dropdown-compte>.active>a,

.dropdown-compte>.active>a:focus,

.dropdown-compte>.active>a:hover,

.dropdown-compte>li>a:focus,

.dropdown-compte>li>a:hover{

    background: #82d31a;

    color: #fff;

}

/* Page Mes Amis

/* --------------------------------------------------------------------------------------------------------------- */

.list-games{

    width: 100%;

    height: auto;

    display: inline-block;

}

.list-games .block{

    width: 98%;

    height: auto;

    display: inline-block;

    padding: 7px;
	margin: 0 1%;

}

.list-games .one-friend{

    width: 136px;

    float: left;

    margin: 10px;

}

.list-games .one-friend a{

    text-decoration: none;

    width: 100%;

    height: 100%;

}

.list-games .one-friend img{

    width: 136px;

    height: 136px;

}

.list-games .one-friend p{

    font-size: 12px;

    color: #6d6f71;

    white-space: nowrap;

    overflow: hidden;

    text-overflow: ellipsis;

    max-width: 100px;

}

/* Page Notifications

/* --------------------------------------------------------------------------------------------------------------- */

.list-notif{

    margin-top: 40px;

}

.block.notif .notif-avatar{

    position: relative;

    display: inline-block;

}

.block.notif .notif-avatar img{

    float: left;

    width: 33px;

    height: 33px;

    margin-right: 10px;

}

.block.notif p{

    font-size: 14px;

    color: #939598;

    margin-top: 5px;

}

.block.notif .info-date li{

    font-size: 14px;

    color: #939598;

    margin-bottom: 10px;

}

/* Page Parametres

/* --------------------------------------------------------------------------------------------------------------- */

.block-param{



}

.block-param a{

    text-decoration: none;

    color: #82d31a;

    font-size: 14px;

}

.block-param a:hover{

    color: #82d31a;

}

.block-param a img{

    margin-right: 15px;

    margin-top: -5px;

}

.block-param p{

    margin-top: 10px;

    font-size: 13px;

    color: #939598;

    margin-bottom: 20px;

}

/* Page Recherche des amis

/* --------------------------------------------------------------------------------------------------------------- */

.block-list-friends{

    position: relative;

    display: inline-block;

    width: 100%;

    height: auto;

    padding: 0 15px;

}


.block-list-friends .result-search{


    position: relative;

    display: inline-block;

    width: 100%;

    height: auto;

}

.block-list-friends .formulaire-search .img-search{

    margin-top: 0;

}

.result-search .one-search{

    position: relative;

    display: inline-block;


    height: auto;

    margin-top: 25px;

}

.result-search .one-search .img-search{

    width: 190px;

    height: 190px;

    float: left;

}

.result-search .one-search .img-search img{

    width: 100%;

    height: 100%;

}

.result-search .one-search .info-date{

    position: relative;

    float: left;

}

.result-search .one-search .info-date h2{

    font-size: 25px;

    margin-top: 25px;

    margin-bottom: 20px;

}

.result-search .one-search .info-date ul>li{

    font-size: 13px;

    color: #939598;

    margin-bottom: 12px;

}

.result-search .one-search .info-date ul>li img{margin-right: 5px;}

.result-search .one-search .info-date ul>.lieu img{margin-left: 2px;}

.result-search .one-search .info-date ul>.star img{width: 15px;}

.result-search .one-search .action-search{

    /*margin-top: 30px;*/

}

.result-search .one-search .action-search .btn-grinta{

    width: 100% !important;

    height: 30px;

    color: #fff;

    font-size: 14px;
	margin-bottom:10px;

    line-height: 30px;

}



/* Page Invitation

/* --------------------------------------------------------------------------------------------------------------- */



.btn-refus{

    width: 100% !important;

    height: 30px;

    line-height: 15px;

    font-size: 14px;

    background: #ff0000;

    text-decoration: none;

    color: #fff;

    border-bottom: 2px solid #ad0c32;

    border-radius: 0;

    margin-top: 10px;

    -webkit-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;



}

.btn-refus:hover{

    background: #ad0c32;

    color: #fff;

}

.btn-refus:focus{

    outline: none;

}

/* Page Liste messages

/* --------------------------------------------------------------------------------------------------------------- */

.one-message{

    margin-bottom: 20px;

    position: relative;

    display: inline-block;

    width: 100%;

}

.one-message .img-message{

    float: left;

}

.one-message .img-message img{

    width: 65px;

    height: 65px;

}

.one-message .desc-message{

    height: 65px;

    border: 1px solid #a7a7a7;

    padding: 10px;

}

.one-message .desc-message p{

    color: #939598;

    font-size: 13px;

}

.one-message .desc-message textarea{

    color: #939598;

    font-size: 13px;

    border: 0;

    width: 100%;

    height: 100%;

}

.one-message .btn-grinta{

    width: 100%;

    height: 30px;

    color: #fff;

    font-size: 14px;

    line-height: 30px;

    margin-top: 20px;

}



/* Page Mon compte

/* --------------------------------------------------------------------------------------------------------------- */

.head-compte{

    margin-bottom: 40px;

}

.head-compte .btn-compte{

    width: 100%;

    font-size: 14px;

    color: #939598;

    line-height: 15px;

    background: #fff;

    margin-bottom: 10px;

    border: 1px solid #dcddde;

    border-radius: 0;

    -webkit-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;

}
.head-compte .btn-compte i{
    width:100%;
    font-size: 20px;
}
.head-compte .btn-compte.active, .head-compte .btn-compte:hover{

    background: #8fbd17;

    border: 1px solid #8fbd17;

    color: #fff;

    box-shadow: none;

}

.head-compte .btn-compte:focus{

    outline: none;

}

.body-compte{

    padding: 30px 10px;

}

.body-compte h4{

    font-size: 14px;

    color: #808285;

    margin-bottom: 20px;

}

.body-compte .form-control{

    width: 100%;

    height: 30px;

    background: #fff;

    border: 1px solid #a7a7a7;

    border-radius: 0;

    margin-bottom: 30px;

    line-height: 30px;

    padding: 0 10px;

}

.body-compte .btn-grinta{

    width: 100%;

    height: 30px;

    color: #fff;

    font-size: 14px;

    line-height: 30px;

}

.body-compte .mon-photo{

    margin-bottom: 20px;

}

.body-compte .mon-photo img{

    width: 100%;

}

.body-compte input[type="file"]{
    z-index: 99999;
    position: relative;
    padding: 0px 3px 0px;
    height: 32px;
    color: #62a40d;
}



.body-compte input[type="file"]#comparator_bundle_multimediabundle_file_file{
    z-index: 99999;
    position: absolute  !important;
    padding: 14px 45px !important;
    height: 50px !important;
    color: #62a40d;
	width:100%;
}



.btn-grinta-album{
background:#4c8603;
color:#fff;
padding:2px 10px;
font-size:12px;
width:100%;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
.input-file-container {
  position: relative;
  width: 100%;
  text-align:center;
} 
.js .input-file-trigger {
  display: block;
  padding: 2px 10px;
  background: #f6f7f9;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
  font-size: 12px;
  transition: all .4s;
  cursor: pointer;
}
.js input[type="file"].form-control{
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.input-file-container:hover  .input-file-trigger,
.js .form-control:hover + .input-file-trigger,
.js .form-control:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}


.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}



.body-compte .design-input{

    position: absolute;

    top: 0;

    z-index: 0;
	width:94% !important;

}

.body-compte .param{

    margin-top: 30px;

}

.body-compte .param p.green{

    margin-bottom: 10px;

}

.body-compte ul>li{

    margin-bottom: 15px;

    font-size: 13px;

    color: #808285;

}

.body-compte .chekbox{

    width: 17px;

    height: 16px;

    background: url('../images/knob.png') no-repeat;

    float: left;

    margin-right: 10px;

    position: relative;

}

.body-compte .chekbox.active{

    background: url('../images/knob-ok.png') no-repeat;

}

/*.body-compte input[type="checkbox"]{

    opacity: 0;

    width: 100%;

    height: 100%;

    position: absolute;

    top: 0;

    margin: 0;

}*/

.btn-message{

    width: 100%;

    height: 30px;

    line-height: 15px;

    font-size: 14px;

    background: #2196F3;

    text-decoration: none;

    color: #fff;

    border-bottom: 2px solid #056DC0;

    border-radius: 0;

    margin-top: 10px;

    -webkit-transition: all 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;



}

.btn-message:hover{

    background: #056DC0;
    color:#fff;

}

.btn-message:focus{

    outline: none;

}

/**Custom style***/
.result-search .item-act .img-avatar{
    float:none;
}
.result-search .item-act .img-avatar img{
   width: 100%;
   height:auto;
}
.result-search .one-search .action-search .btn-grinta {
    float: left;
    width: 49%;
}
.result-search .one-search .action-search .btn-refus {
    float: left;
    width: 49%;
    margin-top: 0;
}
.result-search .one-search .action-search .btn-message {
    float: right;
    width: 49%;
    margin-top: 0;
}
.result-search .one-search .action-search .btn-refus.btn-refus-invit{
    float: right;
}
.title-message{
    margin-bottom:20px;
}
.message-recu{
    background: #E6E6E6;
}
.title-search .friends{
}
.img-friends{
    width: 25px;
}
.medaille{
line-height:70px;
}
.middle-top{
vertical-align:top !important;
}
.passe-oublie a{
display:block;
line-height:14px;
margin-top:4px;
font-size:12px;
color:#6d6f71;
text-align:left;
}
.titre-session-active{
display:block;
line-height:14px;
margin-top:4px;
font-size:12px;
color:#6d6f71;
float:left;
}
.session_active{
float:left;
margin-right: 5px !important;
}
.connexion-form-marg{
padding-top:12px;
text-align: right;
}
.slogoan img{
/*width:100%;*/
}
.slogoan{
float:left;
line-height:72px;
width: 36%;
text-align: center;
}
.slogoan3{
line-height:72px;
text-align: center;
}
.slogoan2{
line-height:72px;
text-align: center;
}
.navbar-collapse.collapse{
float:right;
width: 90%;
}
.block-m{
width:10%;
}
.block-c{
width:80%;
}
@media (max-width: 1370px){
.slogoan img{max-width:100%;}
}
.titre-inscrit{
color:#fff;
margin-bottom:15px;
}
.titre-inscrit2 label{
color:#333; 
margin-bottom:8px;  
font-size: 18px;
font-weight:normal;
}
.titre-inscrit label{
color:#333;
margin-bottom:15px;    
font-size: 18px;
padding:0;
font-weight:normal;
}
.checkbox, .radio{
margin-top:0px;
width:50%;
float:left;
}
.no-padding{
padding:0;
}
.no-padding-right{
padding-right:0;
}
.no-padding-left{
padding-left:0;
}
.profil-dash a img{
width:100%;
height:120px;
}
.profil-dash p.titre{
width:100%;
padding:5px 0px 0px;
color:#1A1A1A;
font-weight: bold;
text-align: center;
}
.titre-user{
    width: 100%;
    padding: 0px 0px 15px 0px;
    color: #939598;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
.titre-user a{
color:#939598;
}
.img-loginnn{
    width: 13px !important;
    height: auto !important;
    float: none !important;
    margin-top: 0px !important;
    margin-right: 2px !important;
}
.no-margin{margin:0px !important;}
.illimte{
margin-top:20px !important;
}
.desactivej{display:none;}
.activej{display:block;}
.input_div  div{
width:100% !important;
padding:0px !important;
}
.ajout_option{
margin-top: 14px;
display: block;
color: #539104;
cursor:pointer;
}
.ajout_option:hover{
text-decoration:none;
color: #539104;
}
.sup_option{
margin-top: 14px;
display: block;
color: #910404;
cursor:pointer;
}
.sup_option:hover{
text-decoration:none;
color: #910404;
}
#sup{
display:none;
text-align:right;
}
#cadre input{
margin-top:10px;
}
.coach-radio{
color:#fff;
}
.align-right{
text-align:right;
}
.bt-inscrit{
padding:6px 25px;
line-height:70px;
color:#fff;
}
.bt-inscrit:hover{
color:#fff !important;
text-decoration:none !important;
}
.titre_connect{
margin-bottom:20px;
text-align: center;
}
.cadre-blanc{
background:rgba(255,255,255,0.7); 
padding:25px;
}
.titre2{
margin-top: 10px;
}
.titre2 img {
float: left;
margin-right: 10px;
margin-top: -4px;
}
.titre2 h4{
font-size: 16px;
}
.content-description-event{
padding:10px 0px;
}
.gamer-par{
margin-bottom:15px;
}
.sup_joueur{
color:#fff;
padding:0 10px;
margin:15px auto;
display: block;
}
.sup_joueur:hover{
color:#fff;
}
.form-commentg{
margin-top:15px;
}
.form-comment{
border:1px solid #ccc;
}
.form-comment .form-control{
border:none;
overflow: hidden;
min-height: 58px;
}
.comment-avatar .img-avatar2 img{
width:30px;
height:30px;
}
.item-comment{
margin-bottom:10px;
background:#f8f9f9;
}
.title-event-show{
    font-size: 16px;
    margin-bottom: 10px;
    background: #858781;
	color:#fff;
    text-align: center;
    width: auto;
    padding: 1px 10px;
	display: table;
	margin:auto;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin-bottom:15px;
}
.titre_filtre{
    margin-top: 8px;
    font-weight: 600;
    font-size: 16px;
}
.cadre-ami{
border:1px solid #ccc;
min-height: 130px;
line-height: 110px;
padding-right:10px;
margin-bottom:10px;
}
.size-ico-compte{
font-size:55px;
}
.cadre-blanc .interet222 .select2-selection{
margin-bottom:10px;
}
._6a{
display:none !important;
}
.titre-gris{

    font-family: 'LatoB';
    color: #8fbd17;
    font-size: 18px;
    margin-bottom: 15px;
}
.titre-grisR{
font-family: 'Lato';
color:#535353;
font-size:15px;
}
.etoile-profil .star.full:before, .etoile-profil .star.half:before{
color:#82d31a;
}
.etoile-profil2{
    display: inline-flex;
}
.etoile-profil-bas .star{font-size:22px !important;}
.etoile-profil{
padding:5px 0px;
}
.etoile-profil .star{
font-size:18px;
}
.img-profil img{width:50%}
.padding-bottom-profil{padding-bottom:5px;}
.profil-centres i{
color:#82d31a;
font-size:8px;
}
.list-ami-profil{
width:10%;
float:left;
padding: 0 10px;
}
.list-ami-profil .img-friend img{ 
width:100%;
height: 70px;
}
.list-ami-profil .info-friend h4{
font-size:12px;
text-align:center;
color:#6d6f71;
margin-top:12px;
}
.img-event-profil{
width:100%;
height:160px;
}
.img-event-profil2{
width:100%;
height:60px;
}
.titre-size{font-size:18px;}
hr.style-one {
    clear: both;
    border: 0;
    height: 1px; 
	width:50%;
    background-image: linear-gradient(to right, rgba(96, 164, 8, 0), rgba(96, 164, 8, 0.75), rgba(96, 164, 8, 0));
	margin:10px 0px;
}
hr.style-two {
    clear: both;
    border: 0;
    height: 1px;
	width:50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin:10px 0px;
}
.titre-centreint{
font-size:16px;
}
.pourcentage{
color:#6d6e70;
font-size:25px;
text-align: center;
}


/* debut survol img */
.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 0;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	max-width: 100%;
	width: 70%;
	height: 120px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;	
	margin-left: 15%; 
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*-----------------*/
/***** Winston *****/
/*-----------------*/

figure.effect-winston {
	background: transparent;
	text-align: left;
}

figure.effect-winston img {
	-webkit-transition: opacity 0.45s;
	transition: opacity 0.45s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-winston figcaption::before {
	position: absolute;
	top: 0px;
    left: 0px;
	width: 100%;
	height: 100%;
	background: url(../images/traingle.png) no-repeat center center;
	background-size: 100% 100%;
	content: '';
	-webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
	transition: opacity 0.45s, transform 0.45s;
	-webkit-transform: rotate3d(0,0,1,45deg);
	transform: rotate3d(0,0,1,45deg);
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

figure.effect-winston h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-winston p {
	position: absolute;
	right: 0;
	bottom: -2px;
	padding: 0 2px 0px 0px;
}

figure.effect-winston a {
	margin: 0;
	color: #333;  
	font-size:0%;
	font-family: 'Lato';
}

figure.effect-winston a:hover,
figure.effect-winston a:focus {
	color: #60a408;
}

figure.effect-winston p a i {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,50px,0);
	transform: translate3d(0,50px,0);
	font-size:11px;
	width: 100%;
	font-family: Lato;
}

figure.effect-winston:hover img {
	opacity: 0.6;
}

figure.effect-winston:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-winston:hover figcaption::before {
	opacity: 0.7;
	-webkit-transform: rotate3d(0,0,1,20deg);
	transform: rotate3d(0,0,1,20deg);
}

figure.effect-winston:hover p i {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-winston:hover p a:nth-child(3) i {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-winston:hover p a:nth-child(2) i {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-winston:hover p a:first-child i {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
/* fin survol img */

.cal-event{
font-size:20px;
color:#60a408;
}
.img-profil-match{
max-width:100%;
}

/* ajout */
.invit-ami-form{
margin:8px 0px;
opacity: 0;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: translate3d(0,0px,0);
transform: translate3d(0,0px,0);
height:0;
}
.invit-ami-form2{
opacity: 1;
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
height:auto;
}
.delete-ajout{
color:#cc0000;
position:absolute;
top: 9.5px;
right: 3px;
}
#catg td{position:relative}
.lien-ami-form{
text-align:right;
display:block;
margin:3px 0;
}

.invit-joueur-form{
margin:8px 0px;
opacity: 0;
-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
transition: opacity 0.35s, transform 0.35s;
-webkit-transform: translate3d(0,0px,0);
transform: translate3d(0,0px,0);
height:0;
}
.invit-joueur-form2{
opacity: 1;
-webkit-transform: translate3d(0,0,0);
transform: translate3d(0,0,0);
height:auto;
}
.delete-ajout2{
color:#cc0000;
position:absolute;
top: 9.5px;
right: 3px;
}
#catg2 td{position:relative}
.lien-joueur-form{
text-align:right;
display:block;
margin:3px 0;
}
/* fin ajout */




.sup-jour{
    margin:8px 0px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,0px,0);
    transform: translate3d(0,0px,0);
    height:0;
    border: 1px solid #ccc;
    padding: 2px;
	z-index:0;
}
.sup-jour form{
	height:100%
}
.sup-jour form input{
	height:100%
}
.sup-jour textarea{
height:0px;
}
.supprimer-joueur12-hidd textarea {
    width: 100%;
	height:100%;
}
.supprimer-joueur12-hidd{
    opacity: 1 !important;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    height:auto;
	z-index:1;
}

.supprimer-joueur2{
    margin:8px 0px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,0px,0);
    transform: translate3d(0,0px,0);
    height:0;
    border: 1px solid #ccc;
    padding: 2px;
}
.supprimer-joueur2 textarea {
    width: 100%;
}




.avatar-select{
margin:15px 0;
}

.avatar-select img{
cursor:pointer;
}

.margin-image-album{
padding-bottom:0px !important;
padding-left:10px !important;
}
.blog_list {
margin-left: -10px !important;
}
.icon-puce{
font-size:19px;
padding-top: 6px;
}
.fb-match{
padding-left: 0px !important;
}
.margin-rs{
    margin-left: 15px;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

.msg-aucun{
font-size:17px;
color:#dd0000;
font-weight:bold;
}
.aime{
color:#cdcdcd !important;
}

.nbre-peronne-aime{
color:#6d6f71;
margin-top:15px; 
border-top:1px solid #dcddde;
padding-top:10px;
}
.page-presentation{
margin: 0 auto;
max-width: 1600px;
}
.page-presentation img{
max-width:100%;
}
.footer-pres{
width:100%;
background:#fff url(../images/footer-pres.png) repeat-x;
min-height:199px;
text-align:center;
}
.footer-pres > div{
padding-top: 30px;
text-align:left;
}
.lien-pres, .lien-pres:hover{
	color: #fff;
    text-align: center;
    text-decoration: underline;
    /* margin-top: 5px; */
    font-size: 17px;
    font-family: 'Good Times Rg';
    text-transform: uppercase;
    display: block;
    /* margin-left: -100px; */
    line-height: 50px;
}
.size-date{font-size:13px !important;}
.header-photos{
background:#f6f7f9;
padding:10px 5px;
border:1px solid #b6b6b6;
}
.container-photos{
padding:10px 5px;
border:1px solid #b6b6b6;
}
.cadre-album{
height:220px;
border:1px solid #b6b6b6;
background:#f6f7f9;
width:100%;
margin-bottom:30px;
}
.cadre-image{ 
height:180px;
border-bottom:1px solid #b6b6b6;
overflow: hidden;
text-align:center;
}
.titre-album-image{
height:40px;
text-align:center;
padding: 5px;
}
.titre-album-image a{
font-size:12px;
}
.col-lg-9{
width:100% !important;
padding:0 !important;
}
.icon-video{
	max-height: 100%;
    width: auto;
    text-align: center;
    margin: auto;
	padding:5px;
}
.non-vue{
color:#cc0000 !important;
font-weight:bold !important;
}
.tooltip3
{
  position: absolute;
  background: #ff0000;
  cursor: help;
  display: inline-block;
  text-decoration: none;
  color: #fff !important;
  outline: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width:20px;
  height:20px;
  top:0px;
}

.tooltip3 span
{
  visibility: hidden;
  position: absolute; 
  bottom: 30px;
  left: 50%;
  z-index: 999;
  width: 230px;
  margin-left: -127px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;                     
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));  
  -moz-border-radius: 4px;
  border-radius: 4px;  
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;  
  text-shadow: 0 1px 0 rgba(255,255,255,.4); 
  color:#6d6f71;
}

.tooltip3:hover
{
  border: 0; /* IE6 fix */
}

.tooltip3:hover span
{
  visibility: visible;
}

.tooltip3 span:before,
.tooltip3 span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;  
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-bottom: 0;  
}

.tooltip3 span:before
{
  border-top-color: #ccc;
  bottom: -8px;
}
.top-connect{
margin-top:150px !important;
}