@font-face {
	font-family: 'handwriting-dakota';
	src: url('handwriting-dakota.ttf');
}

@font-face {
	font-family: 'Lato';
	src: url('Lato-Regular.eot');
	src: url('Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('Lato-Regular.woff') format('woff'),
		url('Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatoB';
	src: url('Lato-Bold.ttf');
}

@font-face {
	font-family: 'Good Times Rg';
	src: url('GoodTimesRg-Regular.eot');
	src: url('GoodTimesRg-Regular.eot?#iefix') format('embedded-opentype'),
		url('GoodTimesRg-Regular.woff') format('woff'),
		url('GoodTimesRg-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lucida Grande';
	src: url('LucidaGrande.eot');
	src: url('LucidaGrande.eot?#iefix') format('embedded-opentype'),
		url('LucidaGrande.woff') format('woff'),
		url('LucidaGrande.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
