{% block gmap_address_widget %}
<div id="{{ id }}_gmap_address_widget"></div>
<div id="{{ id }}_input">{{ block('form_widget') }}</div>
<div id="{{ id }}_map" class="gmap_address_map"></div>
 
<script type="text/javascript">
$(function() {
            var addresspickerMap = $("#{{ form.address.vars.id }}").addresspicker({
                regionBias: "fr",
                elements: {
                    map: "#{{ id }}_map",
                    locality: '#{{ form.locality.vars.id }}',
                    country:  '#{{ form.country.vars.id }}',
                    lat:      "#{{ form.lat.vars.id }}",
                    lng:      "#{{ form.lng.vars.id }}"
                }
            });
            var gmarker = addresspickerMap.addresspicker("marker");
            gmarker.setVisible(true);
            addresspickerMap.addresspicker("updatePosition");
    });
</script>
{% endblock %}