<!--Debut containt-->
<div class="container containt-dash">
           <!--Debut left-block-->
           <div class="col-md-2 no-padding-right"> 
               <div class="block profil-block">
                   <div class="profil-dash"> 
                         <div class="col-md-12 no-padding">
						    <div class="grid">                                     
					         <figure class="effect-winston">
						      {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
						      <figcaption>  
							   <p> 
								<a href="{{ path('user_file_new') }}"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
							   </p>
						      </figcaption>			
					         </figure>
				            </div>                  
                         </div>           
                         <div class="col-md-12 no-padding">  
                             <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                             

                    <p class="titre-user">      
						<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
							<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
						</a>
					</p>  <!--p class="pro">Profil</p-->
                         </div>
                      
                   </div>
                   <ul class="list-unstyled">
                       <li>
                           <a href="{{ path('home') }}" class="active">
                              <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}">{{ 'fil.act'|trans }}
                           </a>
                       </li>             
                       <li>
                           <a href="{{ path('grintaaa_notification') }}">
                            {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                           </a>
                       </li>
                       
                       <li>
                           <a href="{{ path('grintaaa__list_friend') }}">
                             {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                           </a>
                       </li>
                       <li>
                            {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_multimedia_image') }}">
                              {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                           </a>
                       </li>          
                       <li>
                           <a href="{{ path('grintaaa_multimedia_video') }}">
                               {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                           </a>
                       </li>
                   </ul>
               </div>
 
               {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
               {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

            <br><br>  
           </div>
           <!--Fin left-block-->
           <!--Debut center-block-->
           <div class="col-md-10"> 
    <div class="head-compte">
        <div class="">
            <div class="col-md-2 col-sm-3">
                <a href="{{ path('fos_user_profile_edit_authentication') }}" class="btn btn-compte">
			 	 <i class="fa fa-user"></i>  <br>
                    {{ 'my.compte'|trans }}
				</a>
            </div>
            <div class="col-md-2 col-sm-3 no-padding">
                <a href="{{ path('fos_user_change_password') }}" class="btn btn-compte">
			 	 <i class="fa fa-pencil-square-o"></i>  <br>
                    {{ 'change.password'|trans }}
				</a>
            </div>
            <div class="col-md-2 col-sm-3">            
                <a href="{{ path('grintaaa_interest') }}" class="btn btn-compte">
			 	 <i class="fa fa-star"></i>  
				 <br>{{ 'center.interest'|trans }}
				</a>       
            </div>
            {% if(app.user.coach==1)%}
            <div class="col-md-1 col-sm-3 no-padding">
                <a href="{{ path('grintaaa_coaching') }}" class="btn btn-compte">
                    <i class="fa fa-futbol-o"></i>
                    <br>{{ 'center.coaching'|trans }}
                </a>
            </div>
            {%endif%}
            <div class="col-md-2 col-sm-3">
                <a href="{{ path('user_file_new') }}" class="btn btn-compte active">
			 	 <i class="fa fa-picture-o"></i>  
				 <br>{{ 'my.avatar'|trans }}
				</a>
            </div>

            <div class="col-md-3 col-sm-3 no-padding">
                <a href="{{ path('grintaaa_configuration_email') }}" class="btn btn-compte">
			 	 <i class="fa fa-envelope-o"></i>
				 <br>{{ 'notif.email'|trans }}
		        </a>
            </div>

        </div> 
    </div>       
	<div class="body-compte"><br> 
	  <div class="col-md-12 titre-gris" align="center">
          {{ 'choice.avatar.profil'|trans }}
			</div>
			  
           
            <div class="col-md-4 col-md-offset-4 cadre-blanc">
                            
        <form class="form-inscription" action="{{ path('user_file_creates', { 'slug': album.slug }) }}" method="post" {{ form_enctype(form) }}>
            <div class="row">
                <div class="col-md-12">
				  <div class="input-file-container">
                    {{ form_errors(form.file) }}     
                    {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
					 <label for="my-file" class="input-file-trigger" tabindex="0">{{ 'parcour.new.tof'|trans }}</label>
			      </div>
				  <p class="file-return"></p>
                    <!--input type="text" class="form-control design-input" placeholder="Télécharger une photo"-->  
                </div>    
            </div>         

            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-grinta" name="" value="{{ 'user.submit.jour'|trans }}">
                </div>
            </div> 
            {{ form_rest(form) }}
        </form>
                <div class="col-md-3 col-sm-3 no-padding">
                    <a href="{{ path('user_album_new') }}" class="btn btn-compte">
                        <i class="fa fa-envelope-o"></i>
                        <br>{{ 'creat.album'|trans }}
                    </a>
                </div>

              
	</div>


	  <div class="col-md-11 col-md-offset-1 col-sm-6 inscrit">  
          {% if(app.user.civility=="Femme") %}
		   <div class="col-md-1 avatar-select">  
            <form class="form-inscriptions" action="{{ path('user_file_avatarFemme1') }}" method="post" id="AvatarFemme1">
              <img onclick="getAvatarFemme1(this)" src="{{ asset('uploads/users/1AvatarFemme.jpg') }}" class="img-responsive" alt="" />
              <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
            </form>
           </div>

		   <div class="col-md-1 avatar-select">  
            <form class="form-inscriptions" action="{{ path('user_file_avatarFemme2') }}" method="post" id="AvatarFemme2">
              <img onclick="getAvatarFemme2(this)" src="{{ asset('uploads/users/2AvatarFemme.jpg') }}" class="img-responsive" alt="" />
              <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
            </form>
           </div>


		   <div class="col-md-1 avatar-select">  
            <form class="form-inscriptions" action="{{ path('user_file_avatarFemme3') }}" method="post" id="AvatarFemme3">
              <img onclick="getAvatarFemme3(this)" src="{{ asset('uploads/users/3AvatarFemme.jpg') }}" class="img-responsive" alt="" />
              <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
			</form>
           </div>


		   <div class="col-md-1 avatar-select">  
			<form class="form-inscriptions" action="{{ path('user_file_avatarFemme4') }}" method="post" id="AvatarFemme4">
              <img onclick="getAvatarFemme4(this)" src="{{ asset('uploads/users/4AvatarFemme.jpg') }}" class="img-responsive" alt="" />
              <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
			</form>
           </div>


		   <div class="col-md-1 avatar-select"> 
			<form class="form-inscriptions" action="{{ path('user_file_avatarFemme5') }}" method="post" id="AvatarFemme5">
              <img onclick="getAvatarFemme5(this)" src="{{ asset('uploads/users/5AvatarFemme.jpg') }}" class="img-responsive" alt="" />
              <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
			</form>
           </div>


		   <div class="col-md-1 avatar-select"> 
			<form class="form-inscriptions" action="{{ path('user_file_avatarFemme6') }}" method="post" id="AvatarFemme6">
              <img onclick="getAvatarFemme6(this)" src="{{ asset('uploads/users/6AvatarFemme.jpg') }}" class="img-responsive" alt="" />
              <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
			</form>
           </div>


		   <div class="col-md-1 col-md-offset-1 avatar-select"> 
			<form class="form-inscriptions" action="{{ path('user_file_avatarFemme7') }}" method="post" id="AvatarFemme7">
              <img onclick="getAvatarFemme7(this)" src="{{ asset('uploads/users/7AvatarFemme.jpg') }}" class="img-responsive" alt="" />
              <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
			</form>
           </div>

		   <div class="col-md-1 avatar-select"> 
			<form class="form-inscriptions" action="{{ path('user_file_avatarFemme8') }}" method="post" id="AvatarFemme8">
              <img onclick="getAvatarFemme8(this)" src="{{ asset('uploads/users/8AvatarFemme.jpg') }}" class="img-responsive" alt="" />
              <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
			</form>
           </div>


		   <div class="col-md-1 avatar-select"> 
			<form class="form-inscriptions" action="{{ path('user_file_avatarFemme9') }}" method="post" id="AvatarFemme9">
              <img onclick="getAvatarFemme9(this)" src="{{ asset('uploads/users/9AvatarFemme.jpg') }}" class="img-responsive" alt="" />
              <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
			</form>
           </div>


		   <div class="col-md-1 avatar-select"> 
			<form class="form-inscriptions" action="{{ path('user_file_avatarFemme10') }}" method="post" id="AvatarFemme10">
              <img onclick="getAvatarFemme10(this)" src="{{ asset('uploads/users/10AvatarFemme.jpg') }}" class="img-responsive" alt="" />
              <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
			</form>
           </div>

		   <div class="col-md-1 avatar-select"> 
			<form class="form-inscriptions" action="{{ path('user_file_avatarFemme11') }}" method="post" id="AvatarFemme11">
              <img onclick="getAvatarFemme11(this)" src="{{ asset('uploads/users/11AvatarFemme.jpg') }}" class="img-responsive" alt="" />
              <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
			</form>
           </div>
       {% endif %}

     {% if(app.user.civility=="Homme") %}
		   <div class="col-md-1 avatar-select"> 
            <form class="form-inscriptions" action="{{ path('user_file_avatarHommes1') }}" method="post" id="AvatarHommes1">
                <img onclick="getAvatarHommes1(this)" src="{{ asset('uploads/users/1AvatarHommes.jpg') }}" class="img-responsive" alt="" />
                <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
            </form>
           </div>


		   <div class="col-md-1 avatar-select"> 
            <form class="form-inscriptions" action="{{ path('user_file_avatarHommes2') }}" method="post" id="AvatarHommes2">
                <img onclick="getAvatarHommes2(this)" src="{{ asset('uploads/users/2AvatarHommes.jpg') }}" class="img-responsive" alt="" />
                <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
            </form>
           </div>


		   <div class="col-md-1 avatar-select"> 
            <form class="form-inscriptions" action="{{ path('user_file_avatarHommes3') }}" method="post" id="AvatarHommes3">
                <img onclick="getAvatarHommes3(this)" src="{{ asset('uploads/users/3AvatarHommes.jpg') }}" class="img-responsive" alt="" />
                <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
            </form>
           </div>


		   <div class="col-md-1 avatar-select"> 
            <form class="form-inscriptions" action="{{ path('user_file_avatarHommes4') }}" method="post" id="AvatarHommes4">
                <img onclick="getAvatarHommes4(this)" src="{{ asset('uploads/users/4AvatarHommes.jpg') }}" class="img-responsive" alt="" />
                <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
            </form>
           </div>


		   <div class="col-md-1 avatar-select"> 
            <form class="form-inscriptions" action="{{ path('user_file_avatarHommes5') }}" method="post" id="AvatarHommes5">
                <img onclick="getAvatarHommes5(this)" src="{{ asset('uploads/users/5AvatarHommes.jpg') }}" class="img-responsive" alt="" />
                <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
            </form>
           </div>


		   <div class="col-md-1 avatar-select"> 
            <form class="form-inscriptions" action="{{ path('user_file_avatarHommes6') }}" method="post" id="AvatarHommes6">
                <img onclick="getAvatarHommes6(this)" src="{{ asset('uploads/users/6AvatarHommes.jpg') }}" class="img-responsive" alt="" />
                <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
            </form>
           </div>


		   <div class="col-md-1 avatar-select"> 
            <form class="form-inscriptions" action="{{ path('user_file_avatarHommes7') }}" method="post" id="AvatarHommes7">
                <img onclick="getAvatarHommes7(this)" src="{{ asset('uploads/users/7AvatarHommes.jpg') }}" class="img-responsive" alt="" />
                <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
            </form>
           </div>

		   <div class="col-md-1 avatar-select"> 
                <form class="form-inscriptions" action="{{ path('user_file_avatarHommes8') }}" method="post" id="AvatarHommes8">
                    <img onclick="getAvatarHommes8(this)" src="{{ asset('uploads/users/8AvatarHommes.jpg') }}" class="img-responsive" alt="" />
                    <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
                </form>
           </div>


		   <div class="col-md-1 avatar-select"> 
                <form class="form-inscriptions" action="{{ path('user_file_avatarHommes9') }}" method="post" id="AvatarHommes9">
                    <img onclick="getAvatarHommes9(this)" src="{{ asset('uploads/users/9AvatarHommes.jpg') }}" class="img-responsive" alt="" />
                    <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
                </form>
           </div>


		   <div class="col-md-1 avatar-select"> 
                <form class="form-inscriptions" action="{{ path('user_file_avatarHommes10') }}" method="post" id="AvatarHommes10">
                    <img onclick="getAvatarHommes10(this)" src="{{ asset('uploads/users/10AvatarHommes.jpg') }}" class="img-responsive" alt="" />
                    <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
                </form>
           </div>

		   <div class="col-md-1 avatar-select"> 
                <form class="form-inscriptions" action="{{ path('user_file_avatarHommes11') }}" method="post" id="AvatarHommes11">
                    <img onclick="getAvatarHommes11(this)" src="{{ asset('uploads/users/11AvatarHommes.jpg') }}" class="img-responsive" alt="" />
                    <input type="submit"  name="" value="{{ 'msg.ok'|trans }}" style="display: none">
                </form>
           </div>
                {% endif %}
	<div class="item-friend"></div>
	</div>
    </div>
           </div>
           <!--Fin center-block-->
</div>
<script>

$(".input-file-container .col-lg-9").removeClass("col-lg-9");

    function getAvatarFemme1(theForm) {
        $("#AvatarFemme1").submit();
    }
    function getAvatarFemme2(theForm) {
        $("#AvatarFemme2").submit();
    }
    function getAvatarFemme3(theForm) {
        $("#AvatarFemme3").submit();
    }
    function getAvatarFemme4(theForm) {
        $("#AvatarFemme4").submit();
    }
    function getAvatarFemme5(theForm) {
        $("#AvatarFemme5").submit();
    }
    function getAvatarFemme6(theForm) {
        $("#AvatarFemme6").submit();
    }
    function getAvatarFemme7(theForm) {
        $("#AvatarFemme7").submit();
    }
    function getAvatarFemme8(theForm) {
        $("#AvatarFemme8").submit();
    }
    function getAvatarFemme9(theForm) {
        $("#AvatarFemme9").submit();
    }
    function getAvatarFemme10(theForm) {
        $("#AvatarFemme10").submit();
    }
    function getAvatarFemme11(theForm) {
        $("#AvatarFemme11").submit();
    }

    function getAvatarHommes1(theForm) {
        $("#AvatarHommes1").submit();
    }

    function getAvatarHommes2(theForm) {
        $("#AvatarHommes2").submit();
    }
    function getAvatarHommes3(theForm) {
        $("#AvatarHommes3").submit();
    }
    function getAvatarHommes4(theForm) {
        $("#AvatarHommes4").submit();
    }
    function getAvatarHommes5(theForm) {
        $("#AvatarHommes5").submit();
    }
    function getAvatarHommes6(theForm) {
        $("#AvatarHommes6").submit();
    }
    function getAvatarHommes7(theForm) {
        $("#AvatarHommes7").submit();
    }
    function getAvatarHommes8(theForm) {
        $("#AvatarHommes8").submit();
    }
    function getAvatarHommes9(theForm) {
        $("#AvatarHommes9").submit();
    }
    function getAvatarHommes10(theForm) {
        $("#AvatarHommes10").submit();
    }
    function getAvatarHommes11(theForm) {
        $("#AvatarHommes11").submit();
    }

document.querySelector("html").classList.add('js');

var fileInput  = document.querySelector( ".form-control" ),  
    button     = document.querySelector( ".input-file-trigger" ),
    the_return = document.querySelector(".file-return");
      
button.addEventListener( "keydown", function( event ) {  
    if ( event.keyCode == 13 || event.keyCode == 32 ) {  
        fileInput.focus();  
    }  
});
button.addEventListener( "click", function( event ) {
   fileInput.focus();
   return false;
});  
fileInput.addEventListener( "change", function( event ) {  
    the_return.innerHTML = this.value;  
});  
</script>
<!--Fin containt-->