{%- block sonata_page_html_tag -%}
<!DOCTYPE html>
<link rel="alternate" href="http://www.grintaaa.com" hreflang="fr" />
<html {{ sonata_seo_html_attributes() }}>
{% endblock %}
{% block sonata_page_head %}
    <head {{ sonata_seo_head_attributes() }}>

        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {% block sonata_page_stylesheets %}

            {% block page_stylesheets %}
                {% for stylesheet in sonata_page.assets.stylesheets %}
                    <link rel="stylesheet" href="{{ asset(stylesheet) }}" type="text/css" media="all"/>
                {% endfor %}
            {% endblock %}
        {% endblock %}

        {% block sonata_page_javascripts %}
            {% block page_javascripts %} {# Deprecated block #}
			{% if app.request.get('_route') != 'presentation' %}
                <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{% endif %}
{% if app.request.get('_route') != 'presentation' %}
                {% for js in sonata_page.assets.javascripts %}
                    <script src="{{ asset(js) }}" type="text/javascript"></script>
                {% endfor %}
{% endif %}

            {% endblock %}

        {% endblock %}
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79846234-1', 'auto');
  ga('send', 'pageview');

</script>
    </head>
{% endblock %}

{% block sonata_page_body_tag %}


{% endblock %}
{% block sonata_page_top_bar %}
    {% block page_top_bar %} {# Deprecated block #}
    {% endblock %}
{% endblock %}
{% block sonata_page_container %}
    {% block page_container %}{% endblock %} {# Deprecated block #}
{% endblock %}
{% block sonata_page_asset_footer %}
    {% block page_asset_footer %} {# Deprecated block #}
        {% if page is defined %}
            {% if page.javascript is not empty %}
                <script>
                    {{ page.javascript|raw }}
                </script>
            {% endif %}
            {% if page.stylesheet is not empty %}
                <style>
                    {{ page.stylesheet|raw }}
                </style>
            {% endif %}
        {% endif %}
        {#
            These includes can be done only at this point as all blocks are loaded,
            Limition : this does not work if a global page is loaded from an ESI tag inside a container block
        #}
        {{ sonata_block_include_stylesheets('screen', app.request.basePath) }}
        {{ sonata_block_include_javascripts('screen', app.request.basePath) }}
    {% endblock %}
{% endblock %}



</body>
</html>
