{% extends 'ApplicationSonataPageBundle::base_layout.html.twig' %}

{% block sonata_page_top_bar %}
    {% block page_top_bar %} {# Deprecated block #}
	{% if app.request.get('_route') != 'presentation' %}
            {{ sonata_block_render({ 'type':'sonata.page.block.header'}) }}
{% endif %}

    {% endblock %}
{% endblock %}
{% block sonata_page_container %}
{% if app.request.get('_route') != 'presentation' %}
<script src="{{ asset('bundles/comparatorbase/js/lib.js') }}"></script>
    {% endif %}

            {% block page_content %}
                {% if content is defined %}
                    {{ content|raw }}
                {% else %}
                    {% set content = block('content') %}
                    {% if content|length > 0 %}
                        {{ content|raw }}
                    {% elseif page is defined %}
                        {{ sonata_page_render_container('content', page) }}
                    {% endif %}
                {% endif %}
            {% endblock %}
{% if app.request.get('_route') != 'presentation' %}

        {{ sonata_block_render({ 'type':'sonata.page.block.footer'}) }}
{% endif %}
{% endblock %}