
<div class="containt">
    <div class="container">

        <div class="row col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login-error">
            <div class="login-error-form">

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
</p>
{% endblock %}
         

            </div>
        </div>
    </div>
</div>
<!--Fin containt-->
</div>
</div>