<!--Debut containt-->
<div class="containt">
    <div class="container">

        <div class="row col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login-error">
            <div class="login-error-form">

                <form class="form-inscription" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                  <div class="row">
                   <div class="col-md-12">
		    <h2 class="titre_connect">Réinitialiser mot de passe</h2>
                    <div class="row">
                      <div class="col-md-12">
                        {% if invalid_username is defined %}
                            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                        {% endif %}
                         
                        <h4 class="titre-inscrit2"><label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label></h4>
                        
                        <input type="text" id="username" class="form-control" name="username" required="required" />
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-12">
                        <input type="submit" class="btn btn-grinta" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
                      </div>
                    </div>
                   </div>
                  </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!--Fin containt-->
</div>
</div>