
<!--Debut containt-->
<div class="containt">
    <div class="container">

        <div class="row col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login-error inscrit">
            <div class="login-error-form">

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset form-inscription">
                  <div class="row">
                   <div class="col-md-12">
		    <h2 class="titre_connect">{{ 'reinit.pass.word'|trans }}</h2>
                    <div class="row">
                      <div class="col-md-12">
                       {{ form_widget(form.new.first, { 'attr': {'class': 'form-control','placeholder': 'new.pass'|trans } }) }}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
	   
	    {{ form_widget(form.new.second, { 'attr': {'class': 'form-control','placeholder': 'confirm.pass'|trans } }) }}
                      </div>
                    </div>
		 {{ form_rest(form) }}
    
                    <div class="row">
                      <div class="col-md-12">
                        <input type="submit" class="btn btn-grinta" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
                      </div>
                   </div>
    </div>
    </div>
</form>

            </div>
        </div>
    </div>
</div>
<!--Fin containt-->
</div>
</div>
