{% if admin.isGranted('SEND', object) and admin.hasRoute('send') %}
    <a href="{{ admin.generateObjectUrl('send', object) }}" class="btn btn-sm btn-default send_link"
       title="{{ 'action_send'|trans({}, 'SonataAdminBundle') }}">
        <i class="fa fa-folder"></i>
        {{ 'action_send'|trans({}, 'SonataAdminBundle') }}
    </a>
{% endif %}

