{% if app.request.get('_route') == 'fos_user_security_login' %}


                <!--Debut containt-->
               <div class="containt">
                  <div class="container">

                     <div class="row col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login-error">
                         <div class="login-error-form row">
						  <div class=" col-md-offset-1 col-md-10">
						   <h3 class="titre_connect">{{ 'se.connect.grintaaa'|trans }}</h3>
                          {% if error %}
                            <p class="red">{{ 'msg.connect.grintaaa'|trans }}</p>
                          {% endif %}
                             <form class="form-login-error" method="post" action="{{ path("fos_user_security_check") }}" method="post">

                            <div class="form-group">
                                   <input type="text" class="form-control2" id="username" name="_username" placeholder="{{ 'e.mail'|trans }}">
                                 </div>

                               <div class="form-group">
                                  <input type="password" class="form-control2" id="password" name="_password" placeholder="{{ 'pass.word'|trans }}">
                                 </div>

                        <button type="submit" class="btn btn-grinta"><img src="{{ asset('bundles/comparatorbase/images/go.png') }}"></button>



                             </form>
                             <div class="not-accont text-center">
                                <a href="{{ path("fos_user_resetting_request") }}" class="green">{{ 'pass.oublie'|trans }}</a>
                                <a href="{{ path('personne') }}" class="green">{{ 'insc.grintaaa'|trans }}</a>
                             </div>
						</div>
                         </div>
                     </div>
                  </div>
               </div>
               <!--Fin containt-->
           </div>
        </div>


{% else %}
    {% block fos_user_content %}



        {% block sonata_user_login_form %}



            <form action='{{ path("fos_user_security_check") }}' class="navbar-form navbar-left form-login connexion-form-marg" role="Email"
                  method="post">
				<div class="col-md-9 no-padding">
				
                <div class="form-group col-md-6">
                    <input type="text" class="form-control" id="username" name="_username"
                           required="required"
                           placeholder="{{ 'e.mail'|trans }}">
                </div>

                <div class="form-group col-md-6 no-padding">
                    <input type="password" class="form-control" id="password"
                           name="_password" required="required"
                           placeholder="{{ 'pass.word'|trans }}">
                </div>
		
                <div class="form-group col-md-6">
					<div>
				     <input type="checkbox" name="session_active" class="session_active" />
					 <div class="titre-session-active">{{ 'session.activ'|trans }}</div>
					</div>
                </div>

                <div class="form-group col-md-6 no-padding">
					<div class="passe-oublie">
					 <a href='{{ path("fos_user_resetting_request") }}' class="">{{ 'pass.oublie'|trans }}</a>
					</div>
                </div>

                </div>
				<div class="col-md-3">
                 <button type="submit" class="btn btn-grinta"><img src="{{ asset('bundles/comparatorbase/images/go.png') }}"></button>
                </div>
            </form>
        {% endblock %}


    {% endblock %}
{% endif %}