{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle:Security:base_login.html.twig" %}

{% block fos_user_content %}
    

    {{ parent() }}
{% endblock fos_user_content %}
