

{% if app.request.get('_route') == 'fos_user_security_login' %}

    <div class="content-login">
        <div class="container">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 verif-login">
                <div class="top-verif">
                    {% if error %}
                        <p class="error">{{ 'msg.error.login'|trans }}</p>
                    {% endif %}
                    <form method="post" action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="text" class="form-control" id="username" name="_username"
                               required="required"
                               placeholder="{{ 'user.name'|trans }}">


                        <input type="password" class="form-control" id="password"
                               name="_password" required="required"
                               placeholder="{{ 'user.password'|trans }}">


                        <input type="submit" id="_submit" class="btn btn-block" name="_submit" 
                               value="{{ 'security.login.submit'|trans }}">

                    </form>
                </div>
                <div class="bottom-verif">
                    <p>{{ 'security.msg.ins'|trans }}<a href="{{ path('fos_user_registration_register') }}">{{ 'msg.msg.ins'|trans }}</a></p>
                </div>
            </div>    
        </div>
    </div>



{%else%}
    {% block fos_user_content %}

        {% block sonata_user_login_error %}
            {% if error %}
                <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
            {% endif %}
        {% endblock %}

        {% block sonata_user_login_form %}
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <div class="conx">
                    <input type="text" class="txtinput" id="username" name="_username"
                           required="required"
                           placeholder="{{ 'user.name'|trans }}">
                    <input type="password" class="txtinput" id="password"
                           name="_password" required="required"
                           placeholder="{{ 'user.password'|trans }}">
                    <input type="submit" id="_submit" name="_submit"
                           value="{{ 'security.login.submit'|trans }}">
                </div>
                <div class="forget">
                    <input type="checkbox" id="persist" value=""><label for="persist"> {{ 'active_session'|trans }}</label>
                    <a href="#" class="forget">{{ 'forgotten_password'|trans }}</a>
                </div>
            </form>

        {% endblock %}


    {% endblock %}
{%endif%}