<!--Debut containt-->
<div class="container containt-dash">
    <!--Debut left-block-->
    <div class="col-md-2 no-padding-right">
        <div class="block profil-block">
            <div class="profil-dash">
                <div class="col-md-12 no-padding">
                    <div class="grid">
                        <figure class="effect-winston">
                            {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                            <figcaption>
                                <p>
                                    <a href="{{ path('user_file_new') }}" title="defi sportif entre amis"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>  
                </div>
                <div class="col-md-12 no-padding">
                    <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>

                    <p class="titre-user">      
						<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
							<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
						</a>
					</p>  
                    <!--p class="pro">Profil</p-->
                </div>

            </div>  
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('home') }}" title="defi sportif entre amis">
                        <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}" alt="defi sportif entre amis" /> {{ 'fil.act'|trans }}
                    </a>
                </li>
                <li>
				<a href="{{ path('grintaaa_notification') }}" title="defi sportif entre amis">
                        {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                    </a>
                </li>

                <li>
                    <a href="{{ path('grintaaa__list_friend') }}">
                        {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                    </a>
                </li>
                <li>
                    {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_image') }}">
                        {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                    </a>
                </li>   
                <li>
                    <a href="{{ path('grintaaa_multimedia_video') }}">
                        {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                    </a>
                </li>
            </ul>
        </div>

        {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
        {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

    <br><br>
    </div>

    <div class="col-md-10">
    <div class=" block-list-friends">
        <div class="formulaire-search col-md-10">
            <div class="img-search">
                <img src="{{ asset('bundles/comparatorbase/images/users.png') }}" alt="defi sportif entre amis" />
            </div>
            <div class="title-search">
                <h4 class="green">{{ 'liste.of.invi.act'|trans }}</h4>
            </div>
        </div>
        <div class="result-search">

            {% for key,entity in entities %}
                <div class="one-search col-md-6">
                    <div class="col-md-12 cadre-ami no-padding">
					  <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}" title="defi sportif entre amis">
                        <div class="img-search2">
                            {% if((images[key]|length)>0) %}
                                <img src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="defi sportif entre amis">
                            {% else %}
                                <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="defi sportif entre amis">
                            {% endif %}
                        </div>    
						 </a>
                        <div class="info-date2">
                            <h2 class="green">{{ entity.user1.lastname }} {{ entity.user1.firstname }} {% if(entity.user1.coach==1) %}({{ 'user.u.coach'|trans }}){% endif %}</h2>
                            <ul class="list-unstyled">
                                <li class="lieu"><img
                                            src="{{ asset('bundles/comparatorbase/images/lieu.png') }}" alt="defi sportif entre amis"> {{ entity.user1.city }}
                                    ( {{ entity.user1.country }})
                                </li>   
                                <li class="star"><img src="{{ asset('bundles/comparatorbase/images/star.png') }}" alt="defi sportif entre amis">
                                    Centre d’interêt :
									{% set xxxx=0 %}
                                    {% if((interest[key]|length)>0) %}
                                        {% for keys, interested in interest[key] %}
											{% if xxxx < 6 %}
                                            * {{ interested.category.title }}
											{% endif %}
											{% set xxxx=xxxx+1 %}
                                        {% endfor %}

                                    {% endif %}
                                </li>
                                {% if(entity.user1.coach==1) %}
                                    <li class="star"><img src="{{ asset('bundles/comparatorbase/images/star.png') }}" alt="defi sportif entre amis">
                                        {{ 'center.coaching'|trans }} :
                                        {% if((coaching[key]|length)>0) %}
                                            {% for keys, coachinged in coaching[key] %}
                                                * {{ coachinged.category.title }}
                                            {% endfor %}

                                        {% endif %}
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                        <div class="info-date3">
                            <div class=" action-search">

                                <form id="validate_field_types" method="POST"
                                      action="{{ path('grintaaa_friend_update', {'id': entity.id}) }}">
                                    <input type="submit" class="btn btn-grinta" value="{{ 'button.accept'|trans }}"/>

                                </form>
                                <form id="validate_field_types" method="POST"
                                      action="{{ path('grintaaa_friend_delete', {'id': entity.id}) }}">
                                    <input type="submit" class="btn btn-refus btn-refus-invit" value="{{ 'button.refus'|trans }}"/>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
 </div>
</div>
