<div class="block friends">
    <div class="title-block">  
        <h4 class="green">{{ 'list.of.amis'|trans }}</h4>
    </div>
    <div class="body-friends">

        {% for key,entity in allFreinds %}
        <div class="item-friend">
            {% if(app.user.id==entity.user1.id) %}
            <a href="{{ path('grintaaa_user_show', {'username': entity.user2.username,'id': entity.user2.id }) }}" title="defi sportif entre amis">
                <div class="img-friend">
                    {% if((images[key]|length)>0) %}
                        <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="defi sportif entre amis">
                    {% else %}
                        <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="defi sportif entre amis">
                    {% endif %}
                </div>   
                <div class="info-friend">
                    <h4>{{ entity.user2.lastname }} {{ entity.user2.firstname }}</h4>
                </div>
            </a>  
            {% else %}
                <a href="{{ path('grintaaa_user_show', {'username': entity.user1.username,'id': entity.user1.id }) }}" title="defi sportif entre amis">
                <div class="img-friend">
                    {% if((images[key]|length)>0) %}
                        <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="defi sportif entre amis">
                    {% else %}
                        <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="defi sportif entre amis">
                    {% endif %}
                </div>
                <div class="info-friend">
                    <h4>{{ entity.user1.lastname }} {{ entity.user1.firstname }}</h4>
                </div>
            </a>
            {% endif %}   
        </div>

        {% endfor %}

    </div>
</div>