<!--Debut containt-->
<div class="container containt-dash">
    <!--Debut left-block-->
    <div class="col-md-2 no-padding-right">
        <div class="block profil-block">
            <div class="profil-dash">
                <div class="col-md-12 no-padding">
                    <div class="grid">
                        <figure class="effect-winston">
                            {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                            <figcaption>
                                <p>
                                    <a href="{{ path('user_file_new') }}" title="defi sportif entre amis"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>   
                </div>
                <div class="col-md-12 no-padding">
                    <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                    <p class="titre-user">      
								<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
									<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
								</a>
							</p> 
                    <!--p class="pro">Profil</p-->
                </div>

            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('home') }}" title="defi sportif entre amis">
                        <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}" alt="defi sportif entre amis">{{ 'fil.act'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_notification') }}" title="defi sportif entre amis">
                        {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                    </a>
                </li>

                <li>
                    <a href="{{ path('grintaaa__list_friend') }}" class="active" title="defi sportif entre amis">
                        {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}
                    </a>
                </li>
                <li>
                    {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_image') }}" title="defi sportif entre amis">
                        {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_video') }}" title="defi sportif entre amis">
                        {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                    </a>
                </li>
            </ul>
        </div>

        {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
        {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

    <br><br>
    </div>

    <div class="col-md-10">
    <div class="formulaire-search col-md-10">
        <div class="img-search">
            <img src="{{ asset('bundles/comparatorbase/images/my-friends.png') }}" alt="defi sportif entre amis" class="img-friends">
        </div>
        <div class="title-search">
            <h4 class="green friends">{{ 'mes.friends'|trans }}</h4>
        </div>
    </div>
    <div class="list-games">
        <div class="">

            {% for key,entity in allFreinds %}

                <div class="col-md-6">
                  <div class="col-md-12 cadre-ami no-padding">
                    
                      <div class="img-search2">
                        <a href="{{ path('grintaaa_user_show', {'username': entity.username,'id': entity.id }) }}" title="defi sportif entre amis">
                        {% if((images[key]|length)>0) %}
                            <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="defi sportif entre amis">
                        {% else %}
                            <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="defi sportif entre amis">
                        {% endif %}
						</a>
					  </div>
                      <div class="info-date2">
                        <a href="{{ path('grintaaa_user_show', {'username': entity.username,'id': entity.id }) }}" title="defi sportif entre amis">
							<h2 class="green">{{ entity.lastname }} {{ entity.firstname }} {% if(entity.coach==1) %}({{ 'user.u.coachs'|trans }}){% endif %}</h2>
						</a>
						<ul class="list-unstyled">
                                        <li class="star"><img
                                                    src="{{ asset('bundles/comparatorbase/images/star.png') }}" alt="defi sportif entre amis">
                                            {{ 'center.interest'|trans }} :
											{% set x=0 %}
                                            {% if((interest[key]|length)>0) %}
                                                {% for keys, interested in interest[key] %}
											      {% set x=x+1 %}
												  {% if (x < 8) %}
                                                    *{{ interested.category.title }}
												  {% endif %}
                                                {% endfor %}...

                                            {% endif %}
                                        </li>
                            {% if(entity.coach==1) %}
                            <li class="star"><img
                                        src="{{ asset('bundles/comparatorbase/images/star.png') }}" alt="defi sportif entre amis"> {{ 'center.coaching'|trans }} :
                                {% set x=0 %}
                                {% if((coaching[key]|length)>0) %}
                                    {% for keys, coachinged in coaching[key] %}
                                        {% set x=x+1 %}
                                        {% if (x < 8) %}
                                            *{{ coachinged.category.title }}
                                        {% endif %}
                                    {% endfor %}...

                                {% endif %}
                            </li>
                            {% endif %}
                                    </ul>
						
					  </div>               
					  <div class="info-date3">
					    <a href="{{ path('grintaaa_user_show', {'username': entity.username,'id': entity.id }) }}" title="defi sportif entre amis" class="btn btn-grinta">{{ 'button.affiche'|trans }}</a>
					    <form id="validate_field_types" method="POST" action="{{ path('grintaaa_friend_delete', {'id': entity.id}) }}">
                            <input type="submit" class="btn btn-refus" value="{{ 'msg.delete'|trans }}"/>
                        </form>
					  </div>          

					
				  </div>       
                </div>                 

  



            {% endfor %}
        </div>
    </div>
  </div>
</div>
<!--Fin containt-->