<!--Debut containt-->
<div class="container containt-dash">
    <div class="block block-list-friends">
        <div class="formulaire-search col-md-10">
            <div class="img-search">
                <img src="{{ asset('bundles/comparatorbase/images/users.png') }}">
            </div>
            <div class="title-search">
                <h4 class="green">Liste des amis trouvée</h4>
            </div>
        </div>
        <div class="result-search">

            {% for entity in entities %}
                {% if app.user.id !=entity.id %}
            <div class="one-search">
                <div class="col-sm-10">
                    <div class="img-search">
                        <img src="{{ asset('bundles/comparatorbase/images/avatar3.png') }}">
                    </div>
                    <div class="info-date">
                        <h2 class="green">{{ entity.lastname }} {{ entity.firstname }}</h2>
                        <ul class="list-unstyled">
                            <li><img src="{{ asset('bundles/comparatorbase/images/home.png') }}">{{ entity.city }} ( {{ entity.locale }})</li>
                            <li class="star"><img src="{{ asset('bundles/comparatorbase/images/star.png') }}"> Centre d’interêt :
                                {% for i in 0..(entity.interest|length)-1 %}
                                    * {{ entity.interest[i].title }}
                                {% endfor %}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 action-search">

                    {% if ((allFreinds is empty)and (friendssattente is empty) and (friendsinviattente is empty) ) %}
                        <a href="{{ path('add_friend', {'id': entity.id }) }}" class="btn btn-grinta">Inviter </a>
                    {% endif %}

                    {% if entity.id not in idAlls %}

                        <a href="{{ path('add_friend', {'id': entity.id }) }}" class="btn btn-grinta">Inviter </a>

                    {% endif %}

                    {% for friend in allFreinds %}

                            <form id="validate_field_types" method="POST" action="{{ path('grintaaa_friend_delete', {'id': friend.id}) }}">
                                <input type="submit" value="Supprimer" />

                            </form>

                    {% endfor %}


                    {% for friendattente in friendssattente %}

                    {% if(app.user.id==friendattente.user2.id) %}

                        <form id="validate_field_types" method="POST" action="{{ path('grintaaa_friend_delete', {'id': friendattente.id}) }}">
                            <input type="submit" value="Annuler L'invitation" />

                        </form>
                    {% endif %}
                    {% endfor %}

                    {% for friendinviattente in friendsinviattente %}
                         {% if(app.user.id==friendinviattente.user1.id) %}
                        <form id="validate_field_types" method="POST" action="{{ path('grintaaa_friend_update', {'id': friendinviattente.id}) }}">
                            <input type="submit" value="Accepter" />

                        </form>
                        <form id="validate_field_types" method="POST" action="{{ path('grintaaa_friend_delete', {'id': friendinviattente.id}) }}">
                            <input type="submit" value="Refuser" />

                        </form>
                        {% endif %}
                    {% endfor %}

                    <a href="{{ path('friend_message', {'userid': entity.id }) }}" class="btn btn-message">Message </a>

                </div>
            </div>
             {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
<!--Debut containt-->