<!--Debut containt-->
<div class="container containt-dash">
    <!--Debut left-block-->
    <div class="col-md-2 no-padding-right">
        <div class="block profil-block">
            <div class="profil-dash">
                <div class="col-md-12 no-padding">
                    <div class="grid">
                        <figure class="effect-winston">
                            {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                            <figcaption>
                                <p>
                                    <a href="{{ path('user_file_new') }}" title="site de rencontre football"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-12 no-padding">
                    <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                    <p class="titre-user">      
								<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
									<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
								</a>
							</p> 
                    <!--p class="pro">Profil</p-->
                </div>

            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('home') }}" title="site de rencontre football">
                        <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}" alt="site de rencontre football">{{ 'fil.act'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_notification') }}" title="site de rencontre football">
                        {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                    </a>
                </li>

                <li>
                    <a href="{{ path('grintaaa__list_friend') }}" title="site de rencontre football">
                        {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                    </a>
                </li>
                <li>
                    {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_image') }}" title="site de rencontre football">
                        {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_video') }}" title="site de rencontre football">
                        {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                    </a>
                </li>
            </ul>
        </div>

        {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
        {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

    <br><br>
    </div>

    <div class="col-md-10">
	<div class="formulaire-search col-md-10">
        <div class="img-search">
            <i class="fa fa-filter icon-puce green"></i>
        </div>   
        <div class="title-search">   
            <h4 class="green friends">{{ 'msg.filter.par'|trans }}</h4>
        </div>   
    </div>
    <div class="block-list-friends"> 
        <div class="formulaire-search">
            <div class="formulair">   
                <form id="form-search" class="form-search" action="{{ path('grintaaa__list_friend_searchs') }}" method="post">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <select class="form-control" name="loca">
                                <option value="">{{ 'user.pays'|trans }}</option>
                                <option value="Afghanistan" {% if(loca=="Afghanistan") %} selected {% endif %}>Afghanistan</option>
                                <option value="Afrique du Sud" {% if(loca=="Afrique du Sud") %} selected {% endif %}>Afrique du Sud</option>
                                <option value="Albanie" {% if(loca=="Albanie") %} selected {% endif %}>Albanie</option>
                                <option value="Algérie" {% if(loca=="Algérie") %} selected {% endif %}>Algérie</option>
                                <option value="Allemagne" {% if(loca=="Allemagne") %} selected {% endif %}>Allemagne</option>
                                <option value="Andorre" {% if(loca=="Andorre") %} selected {% endif %}>Andorre</option>
                                <option value="Angola" {% if(loca=="Angola") %} selected {% endif %}>Angola</option>
                                <option value="Anguilla" {% if(loca=="Anguilla") %} selected {% endif %}>Anguilla</option>
                                <option value="Antarctique" {% if(loca=="Antarctique") %} selected {% endif %}>Antarctique</option>
                                <option value="Antigua et Barbuda" {% if(loca=="Antigua et Barbuda") %} selected {% endif %}>Antigua-et-Barbuda</option>
                                <option value="Arabie saoudite" {% if(loca=="Arabie saoudite") %} selected {% endif %}>Arabie saoudite</option>
                                <option value="Argentine" {% if(loca=="Argentine") %} selected {% endif %}>Argentine</option>
                                <option value="Arménie" {% if(loca=="Arménie") %} selected {% endif %}>Arménie</option>
                                <option value="Aruba" {% if(loca=="Aruba") %} selected {% endif %}>Aruba</option>
                                <option value="Australie" {% if(loca=="Australie") %} selected {% endif %}>Australie</option>
                                <option value="Autriche" {% if(loca=="Autriche") %} selected {% endif %}>Autriche</option>
                                <option value="Azerbaïdjan" {% if(loca=="Azerbaïdjan") %} selected {% endif %}>Azerbaïdjan</option>
                                <option value="Bahamas" {% if(loca=="Bahamas") %} selected {% endif %}>Bahamas</option>
                                <option value="Bahreïn" {% if(loca=="Bahreïn") %} selected {% endif %}>Bahreïn</option>
                                <option value="Bangladesh" {% if(loca=="Bangladesh") %} selected {% endif %}>Bangladesh</option>
                                <option value="Barbade" {% if(loca=="Barbade") %} selected {% endif %}>Barbade</option>
                                <option value="Belgique" {% if(loca=="Belgique") %} selected {% endif %}>Belgique</option>
                                <option value="Belize" {% if(loca=="Belize") %} selected {% endif %}>Belize</option>
                                <option value="Bénin" {% if(loca=="Bénin") %} selected {% endif %}>Bénin</option>
                                <option value="Bermudes" {% if(loca=="Bermudes") %} selected {% endif %}>Bermudes</option>
                                <option value="Bhoutan" {% if(loca=="Bhoutan") %} selected {% endif %}>Bhoutan</option>
                                <option value="Biélorussie" {% if(loca=="Biélorussie") %} selected {% endif %}>Biélorussie</option>
                                <option value="Bolivie" {% if(loca=="Bolivie") %} selected {% endif %}>Bolivie</option>
                                <option value="Bosnie Herzégovine" {% if(loca=="Bosnie Herzégovine") %} selected {% endif %}>Bosnie-Herzégovine</option>
                                <option value="Botswana" {% if(loca=="Botswana") %} selected {% endif %}>Botswana</option>
                                <option value="Brésil" {% if(loca=="Brésil") %} selected {% endif %}>Brésil</option>
                                <option value="Brunéi Darussalam" {% if(loca=="Brunéi Darussalam") %} selected {% endif %}>Brunéi Darussalam</option>
                                <option value="Bulgarie" {% if(loca=="Bulgarie") %} selected {% endif %}>Bulgarie</option>
                                <option value="Burkina Faso" {% if(loca=="Burkina Faso") %} selected {% endif %}>Burkina Faso</option>
                                <option value="Burundi" {% if(loca=="Burundi") %} selected {% endif %}>Burundi</option>
                                <option value="Cambodge" {% if(loca=="Cambodge") %} selected {% endif %}>Cambodge</option>
                                <option value="Cameroun" {% if(loca=="Cameroun") %} selected {% endif %}>Cameroun</option>
                                <option value="Canada" {% if(loca=="Canada") %} selected {% endif %}>Canada</option>
                                <option value="Cap Vert" {% if(loca=="Cap Vert") %} selected {% endif %}>Cap-Vert</option>
                                <option value="Ceuta et Melilla" {% if(loca=="Ceuta et Melilla") %} selected {% endif %}>Ceuta et Melilla</option>
                                <option value="Chili" {% if(loca=="Chili") %} selected {% endif %}>Chili</option>
                                <option value="Chine" {% if(loca=="Chine") %} selected {% endif %}>Chine</option>
                                <option value="Chypre" {% if(loca=="Chypre") %} selected {% endif %}>Chypre</option>
                                <option value="Colombie" {% if(loca=="Colombie") %} selected {% endif %}>Colombie</option>
                                <option value="Comores" {% if(loca=="Comores") %} selected {% endif %}>Comores</option>
                                <option value="Congo Brazzaville" {% if(loca=="Congo Brazzaville") %} selected {% endif %}>Congo-Brazzaville</option>
                                <option value="Congo Kinshasa" {% if(loca=="Congo Kinshasa") %} selected {% endif %}>Congo-Kinshasa</option>
                                <option value="Corée du Nord" {% if(loca=="Corée du Nord") %} selected {% endif %}>Corée du Nord</option>
                                <option value="Corée du Sud" {% if(loca=="Corée du Sud") %} selected {% endif %}>Corée du Sud</option>
                                <option value="Costa Rica" {% if(loca=="Costa Rica") %} selected {% endif %}>Costa Rica</option>
                                <option value="Côte d’Ivoire" {% if(loca=="Côte d’Ivoire") %} selected {% endif %}>Côte d’Ivoire</option>
                                <option value="Croatie" {% if(loca=="Croatie") %} selected {% endif %}>Croatie</option>
                                <option value="Cuba" {% if(loca=="Cuba") %} selected {% endif %}>Cuba</option>
                                <option value="Curaçao" {% if(loca=="Curaçao") %} selected {% endif %}>Curaçao</option>
                                <option value="Danemark" {% if(loca=="Danemark") %} selected {% endif %}>Danemark</option>
                                <option value="Diego Garcia" {% if(loca=="Diego Garcia") %} selected {% endif %}>Diego Garcia</option>
                                <option value="Djibouti" {% if(loca=="Djibouti") %} selected {% endif %}>Djibouti</option>
                                <option value="Dominique" {% if(loca=="Dominique") %} selected {% endif %}>Dominique</option>
                                <option value="Égypte" {% if(loca=="Égypte") %} selected {% endif %}>Égypte</option>
                                <option value="El Salvador" {% if(loca=="El Salvador") %} selected {% endif %}>El Salvador</option>
                                <option value="Émirats arabes unis" {% if(loca=="Émirats arabes unis") %} selected {% endif %}>Émirats arabes unis</option>
                                <option value="Équateur" {% if(loca=="Équateur") %} selected {% endif %}>Équateur</option>
                                <option value="Érythrée" {% if(loca=="Érythrée") %} selected {% endif %}>Érythrée</option>
                                <option value="Espagne" {% if(loca=="Espagne") %} selected {% endif %}>Espagne</option>
                                <option value="Estonie" {% if(loca=="Estonie") %} selected {% endif %}>Estonie</option>
                                <option value="État de la Cité du Vatican" {% if(loca=="État de la Cité du Vatican") %} selected {% endif %}>État de la Cité du Vatican</option>
                                <option value="États fédérés de Micronésie" {% if(loca=="États fédérés de Micronésie") %} selected {% endif %}>États fédérés de Micronésie</option>
                                <option value="États-Unis" {% if(loca=="États-Unis") %} selected {% endif %}>États-Unis</option>
                                <option value="Éthiopie" {% if(loca=="Éthiopie") %} selected {% endif %}>Éthiopie</option>
                                <option value="Fidji" {% if(loca=="Fidji") %} selected {% endif %}>Fidji</option>
                                <option value="Finlande" {% if(loca=="Finlande") %} selected {% endif %}>Finlande</option>
                                <option value="France" {% if(loca=="France") %} selected {% endif %}>France</option>
                                <option value="Gabon" {% if(loca=="Gabon") %} selected {% endif %}>Gabon</option>
                                <option value="Gambie" {% if(loca=="Gambie") %} selected {% endif %}>Gambie</option>
                                <option value="Géorgie" {% if(loca=="Géorgie") %} selected {% endif %}>Géorgie</option>
                                <option value="Ghana" {% if(loca=="Ghana") %} selected {% endif %}>Ghana</option>
                                <option value="Gibraltar" {% if(loca=="Gibraltar") %} selected {% endif %}>Gibraltar</option>
                                <option value="Grèce" {% if(loca=="Grèce") %} selected {% endif %}>Grèce</option>
                                <option value="Grenade" {% if(loca=="Grenade") %} selected {% endif %}>Grenade</option>
                                <option value="Groenland" {% if(loca=="Groenland") %} selected {% endif %}>Groenland</option>
                                <option value="Guadeloupe" {% if(loca=="Guadeloupe") %} selected {% endif %}>Guadeloupe</option>
                                <option value="Guam" {% if(loca=="Guam") %} selected {% endif %}>Guam</option>
                                <option value="Guatemala" {% if(loca=="Guatemala") %} selected {% endif %}>Guatemala</option>
                                <option value="Guernesey" {% if(loca=="Guernesey") %} selected {% endif %}>Guernesey</option>
                                <option value="Guinée" {% if(loca=="Guinée") %} selected {% endif %}>Guinée</option>
                                <option value="Guinée équatoriale" {% if(loca=="Guinée équatoriale") %} selected {% endif %}>Guinée équatoriale</option>
                                <option value="Guinée Bissau" {% if(loca=="Guinée Bissau") %} selected {% endif %}>Guinée-Bissau</option>
                                <option value="Guyana" {% if(loca=="Guyana") %} selected {% endif %}>Guyana</option>
                                <option value="Guyane française" {% if(loca=="Guyane française") %} selected {% endif %}>Guyane française</option>
                                <option value="Haïti" {% if(loca=="Haïti") %} selected {% endif %}>Haïti</option>
                                <option value="Honduras" {% if(loca=="Honduras") %} selected {% endif %}>Honduras</option>
                                <option value="Hongrie" {% if(loca=="Hongrie") %} selected {% endif %}>Hongrie</option>
                                <option value="Île Christmas" {% if(loca=="Île Christmas") %} selected {% endif %}>Île Christmas</option>
                                <option value="Île de l’Ascension" {% if(loca=="Île de l’Ascension") %} selected {% endif %}>Île de l’Ascension</option>
                                <option value="Île de Man" {% if(loca=="Île de Man") %} selected {% endif %}>Île de Man</option>
                                <option value="Île Norfolk" {% if(loca=="Île Norfolk") %} selected {% endif %}>Île Norfolk</option>
                                <option value="Îles Åland" {% if(loca=="Îles Åland") %} selected {% endif %}>Îles Åland</option>
                                <option value="Îles Caïmans" {% if(loca=="Îles Caïmans") %} selected {% endif %}>Îles Caïmans</option>
                                <option value="Îles Canaries" {% if(loca=="Îles Canaries") %} selected {% endif %}>Îles Canaries</option>
                                <option value="Îles Cocos" {% if(loca=="Îles Cocos") %} selected {% endif %}>Îles Cocos</option>
                                <option value="Îles Cook" {% if(loca=="Îles Cook") %} selected {% endif %}>Îles Cook</option>
                                <option value="Îles Féroé" {% if(loca=="Îles Féroé") %} selected {% endif %}>Îles Féroé</option>
                                <option value="Îles Géorgie du Sud et Sandwich du Sud" {% if(loca=="Îles Géorgie du Sud et Sandwich du Sud") %} selected {% endif %}>Îles Géorgie du Sud et Sandwich du Sud</option>
                                <option value="Îles Malouines" {% if(loca=="Îles Malouines") %} selected {% endif %}>Îles Malouines</option>
                                <option value="Îles Mariannes du Nord" {% if(loca=="Îles Mariannes du Nord") %} selected {% endif %}>Îles Mariannes du Nord</option>
                                <option value="Îles Marshall" {% if(loca=="Îles Marshall") %} selected {% endif %}>Îles Marshall</option>
                                <option value="Îles mineures éloignées des États-Unis" {% if(loca=="Îles mineures éloignées des États-Unis") %} selected {% endif %}>Îles mineures éloignées des États-Unis</option>
                                <option value="Îles Salomon" {% if(loca=="Îles Salomon") %} selected {% endif %}>Îles Salomon</option>
                                <option value="Îles Turques et Caïques" {% if(loca=="Îles Turques et Caïques") %} selected {% endif %}>Îles Turques-et-Caïques</option>
                                <option value="Îles Vierges britanniques" {% if(loca=="Îles Vierges britanniques") %} selected {% endif %}>Îles Vierges britanniques</option>
                                <option value="Îles Vierges des États Unis" {% if(loca=="Îles Vierges des États Unis") %} selected {% endif %}>Îles Vierges des États-Unis</option>
                                <option value="Inde" {% if(loca=="Inde") %} selected {% endif %}>Inde</option>
                                <option value="Indonésie" {% if(loca=="Indonésie") %} selected {% endif %}>Indonésie</option>
                                <option value="Irak" {% if(loca=="Irak") %} selected {% endif %}>Irak</option>
                                <option value="Iran" {% if(loca=="Iran") %} selected {% endif %}>Iran</option>
                                <option value="Irlande" {% if(loca=="Irlande") %} selected {% endif %}>Irlande</option>
                                <option value="Islande" {% if(loca=="Islande") %} selected {% endif %}>Islande</option>
                                <option value="Italie" {% if(loca=="Italie") %} selected {% endif %}>Italie</option>
                                <option value="Jamaïque" {% if(loca=="Jamaïque") %} selected {% endif %}>Jamaïque</option>
                                <option value="Japon" {% if(loca=="Japon") %} selected {% endif %}>Japon</option>
                                <option value="Jersey" {% if(loca=="Jersey") %} selected {% endif %}>Jersey</option>
                                <option value="Jordanie" {% if(loca=="Jordanie") %} selected {% endif %}>Jordanie</option>
                                <option value="Kazakhstan" {% if(loca=="Kazakhstan") %} selected {% endif %}>Kazakhstan</option>
                                <option value="Kenya" {% if(loca=="Kenya") %} selected {% endif %}>Kenya</option>
                                <option value="Kirghizistan" {% if(loca=="Kirghizistan") %} selected {% endif %}>Kirghizistan</option>
                                <option value="Kiribati" {% if(loca=="Kiribati") %} selected {% endif %}>Kiribati</option>
                                <option value="Kosovo" {% if(loca=="Kosovo") %} selected {% endif %}>Kosovo</option>
                                <option value="Koweït" {% if(loca=="Koweït") %} selected {% endif %}>Koweït</option>
                                <option value="La Réunion" {% if(loca=="La Réunion") %} selected {% endif %}>La Réunion</option>
                                <option value="Laos" {% if(loca=="Laos") %} selected {% endif %}>Laos</option>
                                <option value="Lesotho" {% if(loca=="Lesotho") %} selected {% endif %}>Lesotho</option>
                                <option value="Lettonie" {% if(loca=="Lettonie") %} selected {% endif %}>Lettonie</option>
                                <option value="Liban" {% if(loca=="Liban") %} selected {% endif %}>Liban</option>
                                <option value="Libéria" {% if(loca=="Libéria") %} selected {% endif %}>Libéria</option>
                                <option value="Libye" {% if(loca=="Libye") %} selected {% endif %}>Libye</option>
                                <option value="Liechtenstein" {% if(loca=="Liechtenstein") %} selected {% endif %}>Liechtenstein</option>
                                <option value="Lituanie" {% if(loca=="Lituanie") %} selected {% endif %}>Lituanie</option>
                                <option value="Luxembourg" {% if(loca=="Luxembourg") %} selected {% endif %}>Luxembourg</option>
                                <option value="Macédoine" {% if(loca=="Macédoine") %} selected {% endif %}>Macédoine</option>
                                <option value="Madagascar" {% if(loca=="Madagascar") %} selected {% endif %}>Madagascar</option>
                                <option value="Malaisie" {% if(loca=="Malaisie") %} selected {% endif %}>Malaisie</option>
                                <option value="Malawi" {% if(loca=="Malawi") %} selected {% endif %}>Malawi</option>
                                <option value="Maldives" {% if(loca=="Maldives") %} selected {% endif %}>Maldives</option>
                                <option value="Mali" {% if(loca=="Mali") %} selected {% endif %}>Mali</option>
                                <option value="Malte" {% if(loca=="Malte") %} selected {% endif %}>Malte</option>
                                <option value="Maroc" {% if(loca=="Maroc") %} selected {% endif %}>Maroc</option>
                                <option value="Martinique" {% if(loca=="Martinique") %} selected {% endif %}>Martinique</option>
                                <option value="Maurice" {% if(loca=="Maurice") %} selected {% endif %}>Maurice</option>
                                <option value="Mauritanie" {% if(loca=="Mauritanie") %} selected {% endif %}>Mauritanie</option>
                                <option value="Mayotte" {% if(loca=="Mayotte") %} selected {% endif %}>Mayotte</option>
                                <option value="Mexique" {% if(loca=="Mexique") %} selected {% endif %}>Mexique</option>
                                <option value="Moldavie" {% if(loca=="Moldavie") %} selected {% endif %}>Moldavie</option>
                                <option value="Monaco" {% if(loca=="Monaco") %} selected {% endif %}>Monaco</option>
                                <option value="Mongolie" {% if(loca=="Mongolie") %} selected {% endif %}>Mongolie</option>
                                <option value="Monténégro" {% if(loca=="Monténégro") %} selected {% endif %}>Monténégro</option>
                                <option value="Montserrat" {% if(loca=="Montserrat") %} selected {% endif %}>Montserrat</option>
                                <option value="Mozambique" {% if(loca=="Mozambique") %} selected {% endif %}>Mozambique</option>
                                <option value="Myanmar" {% if(loca=="Myanmar") %} selected {% endif %}>Myanmar</option>
                                <option value="Namibie" {% if(loca=="Namibie") %} selected {% endif %}>Namibie</option>
                                <option value="Nauru" {% if(loca=="Nauru") %} selected {% endif %}>Nauru</option>
                                <option value="Népal" {% if(loca=="Népal") %} selected {% endif %}>Népal</option>
                                <option value="Nicaragua" {% if(loca=="Nicaragua") %} selected {% endif %}>Nicaragua</option>
                                <option value="Niger" {% if(loca=="Niger") %} selected {% endif %}>Niger</option>
                                <option value="Nigéria" {% if(loca=="Nigéria") %} selected {% endif %}>Nigéria</option>
                                <option value="Niue" {% if(loca=="Niue") %} selected {% endif %}>Niue</option>
                                <option value="Norvège" {% if(loca=="Norvège") %} selected {% endif %}>Norvège</option>
                                <option value="Nouvelle Calédonie" {% if(loca=="Nouvelle Calédonie") %} selected {% endif %}>Nouvelle-Calédonie</option>
                                <option value="Nouvelle Zélande" {% if(loca=="Nouvelle Zélande") %} selected {% endif %}>Nouvelle-Zélande</option>
                                <option value="Oman" {% if(loca=="Oman") %} selected {% endif %}>Oman</option>
                                <option value="Ouganda" {% if(loca=="Ouganda") %} selected {% endif %}>Ouganda</option>
                                <option value="Ouzbékistan" {% if(loca=="Ouzbékistan") %} selected {% endif %}>Ouzbékistan</option>
                                <option value="Pakistan" {% if(loca=="Pakistan") %} selected {% endif %}>Pakistan</option>
                                <option value="Palaos" {% if(loca=="Palaos") %} selected {% endif %}>Palaos</option>
                                <option value="Panama" {% if(loca=="Panama") %} selected {% endif %}>Panama</option>
                                <option value="Papouasie Nouvelle Guinée" {% if(loca=="Papouasie Nouvelle Guinée") %} selected {% endif %}>Papouasie-Nouvelle-Guinée</option>
                                <option value="Paraguay" {% if(loca=="Paraguay") %} selected {% endif %}>Paraguay</option>
                                <option value="Pays Bas" {% if(loca=="Pays Bas") %} selected {% endif %}>Pays-Bas</option>
                                <option value="Pays Bas caribéens" {% if(loca=="Pays Bas caribéens") %} selected {% endif %}>Pays-Bas caribéens</option>
                                <option value="Pérou" {% if(loca=="Pérou") %} selected {% endif %}>Pérou</option>
                                <option value="Philippines" {% if(loca=="Philippines") %} selected {% endif %}>Philippines</option>
                                <option value="Pitcairn" {% if(loca=="Pitcairn") %} selected {% endif %}>Pitcairn</option>
                                <option value="Pologne" {% if(loca=="Pologne") %} selected {% endif %}>Pologne</option>
                                <option value="Polynésie française" {% if(loca=="Polynésie française") %} selected {% endif %}>Polynésie française</option>
                                <option value="Porto Rico" {% if(loca=="Porto Rico") %} selected {% endif %}>Porto Rico</option>
                                <option value="Portugal" {% if(loca=="Portugal") %} selected {% endif %}>Portugal</option>
                                <option value="Qatar" {% if(loca=="Qatar") %} selected {% endif %}>Qatar</option>
                                <option value="R.A.S. chinoise de Hong Kong" {% if(loca=="R.A.S. chinoise de Hong Kong") %} selected {% endif %}>R.A.S. chinoise de Hong Kong</option>
                                <option value="R.A.S. chinoise de Macao" {% if(loca=="R.A.S. chinoise de Macao") %} selected {% endif %}>R.A.S. chinoise de Macao</option>
                                <option value="République centrafricaine" {% if(loca=="République centrafricaine") %} selected {% endif %}>République centrafricaine</option>
                                <option value="République dominicaine" {% if(loca=="République dominicaine") %} selected {% endif %}>République dominicaine</option>
                                <option value="République tchèque" {% if(loca=="République tchèque") %} selected {% endif %}>République tchèque</option>
                                <option value="Roumanie" {% if(loca=="Roumanie") %} selected {% endif %}>Roumanie</option>
                                <option value="Royaume Uni" {% if(loca=="Royaume Uni") %} selected {% endif %}>Royaume-Uni</option>
                                <option value="Russie" {% if(loca=="Russie") %} selected {% endif %}>Russie</option>
                                <option value="Rwanda" {% if(loca=="Rwanda") %} selected {% endif %}>Rwanda</option>
                                <option value="Sahara occidental" {% if(loca=="Sahara occidental") %} selected {% endif %}>Sahara occidental</option>
                                <option value="Saint Barthélemy" {% if(loca=="Saint Barthélemy") %} selected {% endif %}>Saint-Barthélemy</option>
                                <option value="Saint Christophe et Niévès" {% if(loca=="Saint Christophe et Niévès") %} selected {% endif %}>Saint-Christophe-et-Niévès</option>
                                <option value="Saint Marin" {% if(loca=="Saint-Marin") %} selected {% endif %}>Saint-Marin</option>
                                <option value="Saint Martin (partie française)" {% if(loca=="Saint Martin (partie française)") %} selected {% endif %}>Saint-Martin (partie française)</option>
                                <option value="Saint Martin (partie néerlandaise)" {% if(loca=="Saint Martin (partie néerlandaise)") %} selected {% endif %}>Saint-Martin (partie néerlandaise)</option>
                                <option value="Saint Pierre et Miquelon" {% if(loca=="Saint Pierre et Miquelon") %} selected {% endif %}>Saint-Pierre-et-Miquelon</option>
                                <option value="Saint Vincent et les Grenadines" {% if(loca=="Saint Vincent et les Grenadines") %} selected {% endif %}>Saint-Vincent-et-les-Grenadines</option>
                                <option value="Sainte Hélène" {% if(loca=="Sainte Hélène") %} selected {% endif %}>Sainte-Hélène</option>
                                <option value="Sainte Lucie" {% if(loca=="Sainte Lucie") %} selected {% endif %}>Sainte-Lucie</option>
                                <option value="Samoa" {% if(loca=="Samoa") %} selected {% endif %}>Samoa</option>
                                <option value="Samoa américaines" {% if(loca=="Samoa américaines") %} selected {% endif %}>Samoa américaines</option>
                                <option value="Sao Tomé et Principe" {% if(loca=="Sao Tomé et Principe") %} selected {% endif %}>Sao Tomé-et-Principe</option>
                                <option value="Sénégal" {% if(loca=="Sénégal") %} selected {% endif %}>Sénégal</option>
                                <option value="Serbie" {% if(loca=="Serbie") %} selected {% endif %}>Serbie</option>
                                <option value="Seychelles" {% if(loca=="Seychelles") %} selected {% endif %}>Seychelles</option>
                                <option value="Sierra Leone" {% if(loca=="Sierra Leone") %} selected {% endif %}>Sierra Leone</option>
                                <option value="Singapour" {% if(loca=="Singapour") %} selected {% endif %}>Singapour</option>
                                <option value="Slovaquie" {% if(loca=="Slovaquie") %} selected {% endif %}>Slovaquie</option>
                                <option value="Slovénie" {% if(loca=="Slovénie") %} selected {% endif %}>Slovénie</option>
                                <option value="Somalie" {% if(loca=="Somalie") %} selected {% endif %}>Somalie</option>
                                <option value="Soudan" {% if(loca=="Soudan") %} selected {% endif %}>Soudan</option>
                                <option value="Soudan du Sud" {% if(loca=="Soudan du Sud") %} selected {% endif %}>Soudan du Sud</option>
                                <option value="Sri Lanka" {% if(loca=="Sri Lanka") %} selected {% endif %}>Sri Lanka</option>
                                <option value="Suède" {% if(loca=="Suède") %} selected {% endif %}>Suède</option>
                                <option value="Suisse" {% if(loca=="Suisse") %} selected {% endif %}>Suisse</option>
                                <option value="Suriname" {% if(loca=="Suriname") %} selected {% endif %}>Suriname</option>
                                <option value="Svalbard et Jan Mayen" {% if(loca=="Svalbard et Jan Mayen") %} selected {% endif %}>Svalbard et Jan Mayen</option>
                                <option value="Swaziland" {% if(loca=="Swaziland") %} selected {% endif %}>Swaziland</option>
                                <option value="Syrie" {% if(loca=="Syrie") %} selected {% endif %}>Syrie</option>
                                <option value="Tadjikistan" {% if(loca=="Tadjikistan") %} selected {% endif %}>Tadjikistan</option>
                                <option value="Taïwan" {% if(loca=="Taïwan") %} selected {% endif %}>Taïwan</option>
                                <option value="Tanzanie" {% if(loca=="Tanzanie") %} selected {% endif %}>Tanzanie</option>
                                <option value="Tchad" {% if(loca=="Tchad") %} selected {% endif %}>Tchad</option>
                                <option value="Terres australes françaises" {% if(loca=="Terres australes françaises") %} selected {% endif %}>Terres australes françaises</option>
                                <option value="Territoire britannique de l’océan Indien" {% if(loca=="IO") %} selected {% endif %}>Territoire britannique de l’océan Indien</option>
                                <option value="Territoires palestiniens" {% if(loca=="Territoire britannique de l’océan Indien") %} selected {% endif %}>Territoires palestiniens</option>
                                <option value="Thaïlande" {% if(loca=="Thaïlande") %} selected {% endif %}>Thaïlande</option>
                                <option value="Timor oriental" {% if(loca=="Timor oriental") %} selected {% endif %}>Timor oriental</option>
                                <option value="Togo" {% if(loca=="Togo") %} selected {% endif %}>Togo</option>
                                <option value="Tokelau" {% if(loca=="Tokelau") %} selected {% endif %}>Tokelau</option>
                                <option value="Tonga" {% if(loca=="Tonga") %} selected {% endif %}>Tonga</option>
                                <option value="Trinité et Tobago" {% if(loca=="Trinité et Tobago") %} selected {% endif %}>Trinité-et-Tobago</option>
                                <option value="Tristan da Cunha" {% if(loca=="Tristan da Cunha") %} selected {% endif %}>Tristan da Cunha</option>
                                <option value="Tunisie" {% if(loca=="Tunisie") %} selected {% endif %}>Tunisie</option>
                                <option value="Turkménistan" {% if(loca=="Turkménistan") %} selected {% endif %}>Turkménistan</option>
                                <option value="Turquie" {% if(loca=="Turquie") %} selected {% endif %}>Turquie</option>
                                <option value="Tuvalu" {% if(loca=="Tuvalu") %} selected {% endif %}>Tuvalu</option>
                                <option value="Ukraine" {% if(loca=="Ukraine") %} selected {% endif %}>Ukraine</option>
                                <option value="Uruguay" {% if(loca=="Uruguay") %} selected {% endif %}>Uruguay</option>
                                <option value="Vanuatu" {% if(loca=="Vanuatu") %} selected {% endif %}>Vanuatu</option>
                                <option value="Venezuela" {% if(loca=="Venezuela") %} selected {% endif %}>Venezuela</option>
                                <option value="Vietnam" {% if(loca=="Vietnam") %} selected {% endif %}>Vietnam</option>
                                <option value="Wallis et Futuna" {% if(loca=="Wallis et Futuna") %} selected {% endif %}>Wallis-et-Futuna</option>
                                <option value="Yémen" {% if(loca=="Yémen") %} selected {% endif %}>Yémen</option>
                                <option value="Zambie" {% if(loca=="Zambie") %} selected {% endif %}>Zambie</option>
                                <option value="Zimbabwe" {% if(loca=="Zimbabwe") %} selected {% endif %}>Zimbabwe</option>
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <select class="form-control" name="interest">
                                <option value="">{{ 'mot.discipline'|trans }}</option>
                                {% for discipline in disciplines %}
                                    <option value="{{ discipline.id }}"{% if discipline.id==interestSearch %} selected='selected'{% endif %}>{{ discipline.title }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <input type="number"  name="sizemin"  class="form-control" placeholder="{{ 'taille.min'|trans }}" {% if(sizemin) %} value="{{ sizemin }}" {% endif %} min="0">
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <input type="number"  name="sizemax"  class="form-control" placeholder="{{ 'taille.max'|trans }}" {% if(sizemax) %} value="{{sizemax  }}"{% endif %} min="0">
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <input type="number"  name="weightmin"  class="form-control" placeholder="{{ 'poid.min'|trans }}" {% if(weightmin) %} value="{{ weightmin }}"{% endif %} min="0">

                        </div>

                        <div class="col-md-3 col-sm-6">
                            <input type="number"  name="weightmax"  class="form-control" placeholder="{{ 'poid.max'|trans }}"  {% if(weightmax) %}value="{{ weightmax }}" {% endif %} min="0">

                        </div>

                        <div class="col-md-3 col-sm-6">
                            <input type="number"  name="agemin"  class="form-control" placeholder="{{ 'age.min'|trans }}" {% if(agemin) %} value="{{ agemin }}" {% endif %} min="0">
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <input type="number"  name="agemax"  class="form-control" placeholder="{{ 'age.max'|trans }}" {% if(agemax) %} value="{{agemax  }}"{% endif %} min="0">
                        </div>

                        <div class="col-md-3 col-sm-12"></div>
 
                        <div class="col-md-3 col-sm-6"> 
                            <input type="checkbox" {% if(coach==1) %}checked{% endif %} name="coach">
                            {{ 'user.u.coach'|trans }}
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <input type="checkbox" {% if(handi==1) %}checked{% endif %} name="handi">
                            {{ 'handi.sport'|trans }}
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <input type="submit" class="form-control btn btn-grinta" value="{{ 'button.search'|trans }}" />
                        </div>
                    </div>
                </form>
            </div>




            <div class="img-search">
                <img src="{{ asset('bundles/comparatorbase/images/users.png') }}" alt="site de rencontre football">
            </div>
            <div class="title-search">
                <h4 class="green">{{ 'liste.of.amis.trouv'|trans }}</h4>
            </div>
        </div>
        <div class="result-search">

            {% for key,entity in entities %}
                {% if app.user.id !=entity.id %}
                        <div class="one-search col-md-6">
                            <div class="col-md-12 cadre-ami no-padding">
                                <div class="img-search2">
                                    <a href="{{ path('grintaaa_user_show', {'username': entity.username,'id': entity.id }) }}" title="site de rencontre football">
                                        {% if((images[key]|length)>0) %}
                                            <img src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="site de rencontre football">
                                        {% else %}
                                            <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="site de rencontre football">
                                        {% endif %}
                                    </a>
                                </div>

                                <div class="info-date2">
                                    <h2 class="green">{{ entity.lastname }} {{ entity.firstname }}{% if(entity.coach==1) %} ({{ 'user.u.coach'|trans }}) {% endif %}</h2>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img src="{{ asset('bundles/comparatorbase/images/home.png') }}" alt="site de rencontre football">{{ entity.city }}
                                            ( {{ entity.country }})
                                        </li>
                                        <li class="star"><img
                                                    src="{{ asset('bundles/comparatorbase/images/star.png') }}" alt="site de rencontre football"> {{ 'center.interest'|trans }} :
                                            {% if((interest[key]|length)>0) %}
                                                {% for keys, interested in interest[key] %}
                                                    * {{ interested.category.title }}
                                                {% endfor %}

                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>

                                <div class="info-date3">
                                    <div class="action-search">


                                        {% if entity.id not in idAlls %}

                                            <a href="{{ path('add_friend', {'id': entity.id }) }}"
                                               class="btn btn-grinta" title="site de rencontre football">{{ 'msg.inviter'|trans }} </a>

                                        {% endif %}

                                        {% for friend in allFreinds %}
                                            {% if((entity.id==friend.user1.id) or (entity.id==friend.user2.id)) %}
                                                <form id="validate_field_types" method="POST"
                                                      action="{{ path('grintaaa_friend_delete', {'id': friend.id}) }}">
                                                    <input type="submit" class="btn btn-refus" value="{{ 'msg.delete'|trans }}"/>

                                                </form>
                                            {% endif %}

                                        {% endfor %}


                                        {% for friendattente in friendssattente %}

                                            {% if(entity.id==friendattente.user2.id) %}

                                                <form id="validate_field_types" method="POST"
                                                      action="{{ path('grintaaa_friend_delete', {'id': friendattente.id}) }}">
                                                    <input type="submit" class="btn btn-refus" value="{{ 'msg.annuler'|trans }}"/>

                                                </form>
                                            {% endif %}
                                        {% endfor %}

                                        {% for friendinviattente in friendsinviattente %}


                                            {% if(entity.id==friendinviattente.user1.id) %}
                                                <form id="validate_field_types" method="POST"
                                                      action="{{ path('grintaaa_friend_update', {'id': friendinviattente.id}) }}">
                                                    <input type="submit" class="btn btn-grinta" value="{{ 'msg.accepte'|trans }}"/>

                                                </form>
                                                <form id="validate_field_types" method="POST"
                                                      action="{{ path('grintaaa_friend_delete', {'id': friendinviattente.id}) }}">
                                                    <input type="submit" class="btn btn-refus" value="{{ 'msg.refuse'|trans }}"/>

                                                </form>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>

                        </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
  </div>
</div>
<!--Debut containt-->