<!--Debut containt-->
<div class="container containt-dash">
    <!--Debut left-block-->
    <div class="col-md-2 no-padding-right">
        <div class="block profil-block">
            <div class="profil-dash">
                <div class="col-md-12 no-padding">
                    <div class="grid">
                        <figure class="effect-winston">
                            {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                            <figcaption>
                                <p>
                                    <a href="{{ path('user_file_new') }}" title="site de rencontre football"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-12 no-padding">
                    <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                    <p class="titre-user">      
								<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
									<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
								</a>
							</p> 
                    <!--p class="pro">Profil</p-->
                </div>

            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('home') }}" title="site de rencontre football">
                        <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}" alt="site de rencontre football">{{ 'fil.act'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_notification') }}" title="site de rencontre football">
                        {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                    </a>
                </li>

                <li>
                    <a href="{{ path('grintaaa__list_friend') }}" title="site de rencontre football">
                        {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                    </a>
                </li>
                <li>
                    {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_image') }}" title="site de rencontre football">
                        {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_video') }}" title="site de rencontre football">
                        {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                    </a>
                </li>
            </ul>
        </div>

        {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
        {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

    <br><br>
    </div>

    <div class="col-md-10">
	<div class="formulaire-search col-md-10">
        <div class="img-search">
            <i class="fa fa-filter icon-puce green"></i>
        </div>   
        <div class="title-search">   
            <h4 class="green friends">{{ 'msg.filter.par'|trans }}</h4>
        </div>   
    </div>
    <div class="block-list-friends">  
        <div class="formulaire-search">
            <div class="formulair">
                <form id="form-search" class="form-search" action="{{ path('grintaaa__list_friend_searchs') }}" method="post">
                    <div class="row">
					    <!--div class="col-md-2 col-sm-12">
						 <div class="titre_filtre">
						  FILTRER PAR
						 </div>
						</div-->

                        <div class="col-md-3 col-sm-6">
                            <select class="form-control" name="loca">
                                <option value="">{{ 'user.pays'|trans }}</option>
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Afrique du Sud">Afrique du Sud</option>
                                <option value="Albanie">Albanie</option>
                                <option value="Algérie">Algérie</option>
                                <option value="Allemagne">Allemagne</option>
                                <option value="Andorre">Andorre</option>
                                <option value="Angola">Angola</option>
                                <option value="Anguilla">Anguilla</option>
                                <option value="Antarctique">Antarctique</option>
                                <option value="Antigua et Barbuda">Antigua-et-Barbuda</option>
                                <option value="Arabie saoudite">Arabie saoudite</option>
                                <option value="Argentine">Argentine</option>
                                <option value="Arménie">Arménie</option>
                                <option value="Aruba">Aruba</option>
                                <option value="Australie">Australie</option>
                                <option value="Autriche">Autriche</option>
                                <option value="Azerbaïdjan">Azerbaïdjan</option>
                                <option value="Bahamas">Bahamas</option>
                                <option value="Bahreïn">Bahreïn</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Barbade">Barbade</option>
                                <option value="Belgique">Belgique</option>
                                <option value="Belize">Belize</option>
                                <option value="Bénin">Bénin</option>
                                <option value="Bermudes">Bermudes</option>
                                <option value="Bhoutan">Bhoutan</option>
                                <option value="Biélorussie">Biélorussie</option>
                                <option value="Bolivie">Bolivie</option>
                                <option value="Bosnie Herzégovine">Bosnie-Herzégovine</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Brésil">Brésil</option>
                                <option value="Brunéi Darussalam">Brunéi Darussalam</option>
                                <option value="Bulgarie">Bulgarie</option>
                                <option value="Burkina Faso">Burkina Faso</option>
                                <option value="Burundi">Burundi</option>
                                <option value="Cambodge">Cambodge</option>
                                <option value="Cameroun">Cameroun</option>
                                <option value="Canada">Canada</option>
                                <option value="Cap Vert">Cap-Vert</option>
                                <option value="Ceuta et Melilla">Ceuta et Melilla</option>
                                <option value="Chili">Chili</option>
                                <option value="Chine">Chine</option>
                                <option value="Chypre">Chypre</option>
                                <option value="Colombie">Colombie</option>
                                <option value="Comores">Comores</option>
                                <option value="Congo Brazzaville">Congo-Brazzaville</option>
                                <option value="Congo Kinshasa">Congo-Kinshasa</option>
                                <option value="Corée du Nord">Corée du Nord</option>
                                <option value="Corée du Sud">Corée du Sud</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Côte d’Ivoire">Côte d’Ivoire</option>
                                <option value="Croatie">Croatie</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Curaçao">Curaçao</option>
                                <option value="Danemark">Danemark</option>
                                <option value="Diego Garcia">Diego Garcia</option>
                                <option value="Djibouti">Djibouti</option>
                                <option value="Dominique">Dominique</option>
                                <option value="Égypte">Égypte</option>
                                <option value="El Salvador">El Salvador</option>
                                <option value="Émirats arabes unis">Émirats arabes unis</option>
                                <option value="Équateur">Équateur</option>
                                <option value="Érythrée">Érythrée</option>
                                <option value="Espagne">Espagne</option>
                                <option value="Estonie">Estonie</option>
                                <option value="État de la Cité du Vatican">État de la Cité du Vatican</option>
                                <option value="États fédérés de Micronésie">États fédérés de Micronésie</option>
                                <option value="États-Unis">États-Unis</option>
                                <option value="Éthiopie">Éthiopie</option>
                                <option value="Fidji">Fidji</option>
                                <option value="Finlande">Finlande</option>
                                <option value="France">France</option>
                                <option value="Gabon">Gabon</option>
                                <option value="Gambie">Gambie</option>
                                <option value="Géorgie">Géorgie</option>
                                <option value="Ghana">Ghana</option>
                                <option value="Gibraltar">Gibraltar</option>
                                <option value="Grèce">Grèce</option>
                                <option value="Grenade">Grenade</option>
                                <option value="Groenland">Groenland</option>
                                <option value="Guadeloupe">Guadeloupe</option>
                                <option value="Guam">Guam</option>
                                <option value="Guatemala">Guatemala</option>
                                <option value="Guernesey">Guernesey</option>
                                <option value="Guinée">Guinée</option>
                                <option value="Guinée équatoriale">Guinée équatoriale</option>
                                <option value="Guinée Bissau">Guinée-Bissau</option>
                                <option value="Guyana">Guyana</option>
                                <option value="Guyane française">Guyane française</option>
                                <option value="Haïti">Haïti</option>
                                <option value="Honduras">Honduras</option>
                                <option value="Hongrie">Hongrie</option>
                                <option value="Île Christmas">Île Christmas</option>
                                <option value="Île de l’Ascension">Île de l’Ascension</option>
                                <option value="Île de Man">Île de Man</option>
                                <option value="Île Norfolk">Île Norfolk</option>
                                <option value="Îles Åland">Îles Åland</option>
                                <option value="Îles Caïmans">Îles Caïmans</option>
                                <option value="Îles Canaries">Îles Canaries</option>
                                <option value="Îles Cocos">Îles Cocos</option>
                                <option value="Îles Cook">Îles Cook</option>
                                <option value="Îles Féroé">Îles Féroé</option>
                                <option value="Îles Géorgie du Sud et Sandwich du Sud">Îles Géorgie du Sud et Sandwich du Sud</option>
                                <option value="Îles Malouines">Îles Malouines</option>
                                <option value="Îles Mariannes du Nord">Îles Mariannes du Nord</option>
                                <option value="Îles Marshall">Îles Marshall</option>
                                <option value="Îles mineures éloignées des États-Unis">Îles mineures éloignées des États-Unis</option>
                                <option value="Îles Salomon">Îles Salomon</option>
                                <option value="Îles Turques et Caïques">Îles Turques-et-Caïques</option>
                                <option value="Îles Vierges britanniques">Îles Vierges britanniques</option>
                                <option value="Îles Vierges des États Unis">Îles Vierges des États-Unis</option>
                                <option value="Inde">Inde</option>
                                <option value="Indonésie">Indonésie</option>
                                <option value="Irak">Irak</option>
                                <option value="Iran">Iran</option>
                                <option value="Irlande">Irlande</option>
                                <option value="Islande">Islande</option>
                                <option value="Italie">Italie</option>
                                <option value="Jamaïque">Jamaïque</option>
                                <option value="Japon">Japon</option>
                                <option value="Jersey">Jersey</option>
                                <option value="Jordanie">Jordanie</option>
                                <option value="Kazakhstan">Kazakhstan</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Kirghizistan">Kirghizistan</option>
                                <option value="Kiribati">Kiribati</option>
                                <option value="Kosovo">Kosovo</option>
                                <option value="Koweït">Koweït</option>
                                <option value="La Réunion">La Réunion</option>
                                <option value="Laos">Laos</option>
                                <option value="Lesotho">Lesotho</option>
                                <option value="Lettonie">Lettonie</option>
                                <option value="Liban">Liban</option>
                                <option value="Libéria">Libéria</option>
                                <option value="Libye">Libye</option>
                                <option value="Liechtenstein">Liechtenstein</option>
                                <option value="Lituanie">Lituanie</option>
                                <option value="Luxembourg">Luxembourg</option>
                                <option value="Macédoine">Macédoine</option>
                                <option value="Madagascar">Madagascar</option>
                                <option value="Malaisie">Malaisie</option>
                                <option value="Malawi">Malawi</option>
                                <option value="Maldives">Maldives</option>
                                <option value="Mali">Mali</option>
                                <option value="Malte">Malte</option>
                                <option value="Maroc">Maroc</option>
                                <option value="Martinique">Martinique</option>
                                <option value="Maurice">Maurice</option>
                                <option value="Mauritanie">Mauritanie</option>
                                <option value="Mayotte">Mayotte</option>
                                <option value="Mexique">Mexique</option>
                                <option value="Moldavie">Moldavie</option>
                                <option value="Monaco">Monaco</option>
                                <option value="Mongolie">Mongolie</option>
                                <option value="Monténégro">Monténégro</option>
                                <option value="Montserrat">Montserrat</option>
                                <option value="Mozambique">Mozambique</option>
                                <option value="Myanmar">Myanmar</option>
                                <option value="Namibie">Namibie</option>
                                <option value="Nauru">Nauru</option>
                                <option value="Népal">Népal</option>
                                <option value="Nicaragua">Nicaragua</option>
                                <option value="Niger">Niger</option>
                                <option value="Nigéria">Nigéria</option>
                                <option value="Niue">Niue</option>
                                <option value="Norvège">Norvège</option>
                                <option value="Nouvelle Calédonie">Nouvelle-Calédonie</option>
                                <option value="Nouvelle Zélande">Nouvelle-Zélande</option>
                                <option value="Oman">Oman</option>
                                <option value="Ouganda">Ouganda</option>
                                <option value="Ouzbékistan">Ouzbékistan</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="Palaos">Palaos</option>
                                <option value="Panama">Panama</option>
                                <option value="Papouasie Nouvelle Guinée">Papouasie-Nouvelle-Guinée</option>
                                <option value="Paraguay">Paraguay</option>
                                <option value="Pays Bas">Pays-Bas</option>
                                <option value="Pays Bas caribéens">Pays-Bas caribéens</option>
                                <option value="Pérou">Pérou</option>
                                <option value="Philippines">Philippines</option>
                                <option value="Pitcairn">Pitcairn</option>
                                <option value="Pologne">Pologne</option>
                                <option value="Polynésie française">Polynésie française</option>
                                <option value="Porto Rico">Porto Rico</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Qatar">Qatar</option>
                                <option value="R.A.S. chinoise de Hong Kong">R.A.S. chinoise de Hong Kong</option>
                                <option value="R.A.S. chinoise de Macao">R.A.S. chinoise de Macao</option>
                                <option value="République centrafricaine">République centrafricaine</option>
                                <option value="République dominicaine">République dominicaine</option>
                                <option value="République tchèque">République tchèque</option>
                                <option value="Roumanie">Roumanie</option>
                                <option value="Royaume Uni">Royaume-Uni</option>
                                <option value="Russie">Russie</option>
                                <option value="Rwanda">Rwanda</option>
                                <option value="Sahara occidental">Sahara occidental</option>
                                <option value="Saint Barthélemy">Saint-Barthélemy</option>
                                <option value="Saint Christophe et Niévès">Saint-Christophe-et-Niévès</option>
                                <option value="Saint Marin">Saint-Marin</option>
                                <option value="Saint Martin (partie française)">Saint-Martin (partie française)</option>
                                <option value="Saint Martin (partie néerlandaise)">Saint-Martin (partie néerlandaise)</option>
                                <option value="Saint Pierre et Miquelon">Saint-Pierre-et-Miquelon</option>
                                <option value="Saint Vincent et les Grenadines">Saint-Vincent-et-les-Grenadines</option>
                                <option value="Sainte Hélène">Sainte-Hélène</option>
                                <option value="Sainte Lucie">Sainte-Lucie</option>
                                <option value="Samoa">Samoa</option>
                                <option value="Samoa américaines">Samoa américaines</option>
                                <option value="Sao Tomé et Principe">Sao Tomé-et-Principe</option>
                                <option value="Sénégal">Sénégal</option>
                                <option value="Serbie">Serbie</option>
                                <option value="Seychelles">Seychelles</option>
                                <option value="Sierra Leone">Sierra Leone</option>
                                <option value="Singapour">Singapour</option>
                                <option value="Slovaquie">Slovaquie</option>
                                <option value="Slovénie">Slovénie</option>
                                <option value="Somalie">Somalie</option>
                                <option value="Soudan">Soudan</option>
                                <option value="Soudan du Sud">Soudan du Sud</option>
                                <option value="Sri Lanka">Sri Lanka</option>
                                <option value="Suède">Suède</option>
                                <option value="Suisse">Suisse</option>
                                <option value="Suriname">Suriname</option>
                                <option value="Svalbard et Jan Mayen">Svalbard et Jan Mayen</option>
                                <option value="Swaziland">Swaziland</option>
                                <option value="Syrie">Syrie</option>
                                <option value="Tadjikistan">Tadjikistan</option>
                                <option value="Taïwan">Taïwan</option>
                                <option value="Tanzanie">Tanzanie</option>
                                <option value="Tchad">Tchad</option>
                                <option value="Terres australes françaises">Terres australes françaises</option>
                                <option value="Territoire britannique de l’océan Indien">Territoire britannique de l’océan Indien</option>
                                <option value="Territoires palestiniens">Territoires palestiniens</option>
                                <option value="Thaïlande">Thaïlande</option>
                                <option value="Timor oriental">Timor oriental</option>
                                <option value="Togo">Togo</option>
                                <option value="Tokelau">Tokelau</option>
                                <option value="Tonga">Tonga</option>
                                <option value="Trinité et Tobago">Trinité-et-Tobago</option>
                                <option value="Tristan da Cunha">Tristan da Cunha</option>
                                <option value="Tunisie">Tunisie</option>
                                <option value="Turkménistan">Turkménistan</option>
                                <option value="Turquie">Turquie</option>
                                <option value="Tuvalu">Tuvalu</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Vanuatu">Vanuatu</option>
                                <option value="Venezuela">Venezuela</option>
                                <option value="Vietnam">Vietnam</option>
                                <option value="Wallis et Futuna">Wallis-et-Futuna</option>
                                <option value="Yémen">Yémen</option>
                                <option value="Zambie">Zambie</option>
                                <option value="Zimbabwe">Zimbabwe</option>
                            </select>
                        </div>
     
                        <div class="col-md-3 col-sm-6"> 
                            <select class="form-control" name="interest">
                                <option value="">{{ 'mot.discipline'|trans }}</option>
                                {% for discipline in disciplines %}
                                    <option value="{{ discipline.id }}">{{ discipline.title }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <input type="number"  name="sizemin"  class="form-control" placeholder="{{ 'taille.min'|trans }}" min="0">
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <input type="number"  name="sizemax"  class="form-control" placeholder="{{ 'taille.max'|trans }}" min="0">
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <input type="number"  name="weightmin"  class="form-control" placeholder="{{ 'poid.min'|trans }}" min="0">
   
                        </div>
   
                        <div class="col-md-3 col-sm-6">
                            <input type="number"  name="weightmax"  class="form-control" placeholder="{{ 'poid.max'|trans }}" min="0">

                        </div>   

                        <div class="col-md-3 col-sm-6">
                            <input type="number"  name="agemin"  class="form-control" placeholder="{{ 'age.min'|trans }}" min="0">
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <input type="number"  name="agemax"  class="form-control" placeholder="{{ 'age.max'|trans }}" min="0">
                        </div> 

                        <div class="col-md-3 col-sm-12"></div>

                        <div class="col-md-3 col-sm-6">
                            <input type="checkbox" name="coach">
                            {{ 'user.u.coach'|trans }}
                        </div>

                        <div class="col-md-3 col-sm-6">
                            <input type="checkbox" name="handi">
                            {{ 'handi.sport'|trans }}
                        </div>



                        <div class="col-md-3 col-sm-6">
                            <input type="submit" class="form-control btn btn-grinta" value="{{ 'button.search'|trans }}" />
                        </div>
                    </div>
                </form>
            </div>




            <div class="img-search">
                <img src="{{ asset('bundles/comparatorbase/images/users.png') }}" alt="site de rencontre football">
            </div>
            <div class="title-search">
                {% if(mot=="") %}
                    <h4 class="green">{{ 'liste.of.amis.sug'|trans }}</h4>
                {% else %}

                    <h4 class="green">{{ 'liste.of.amis.trouv'|trans }}</h4>
                {% endif %}


            </div>
        </div>  
        <div class="result-search">
            {% if(mot=="") %}
            {% for key,entity in entities %}
                {% if app.user.id !=entity.id %}
                    {% if app.user.country==entity.country %}
                        <div class="one-search col-md-6 ">
                            <div class="col-md-12 cadre-ami no-padding">
                                <div class="img-search2">
                                    <a href="{{ path('grintaaa_user_show', {'username': entity.username,'id': entity.id }) }}" title="site de rencontre football">
                                        {% if((images[key]|length)>0) %}
                                            <img src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="site de rencontre football">
                                        {% else %}
                                            <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="site de rencontre football">
                                        {% endif %}
                                    </a>
                                </div>    

                                <div class="info-date2">
                                    <a href="{{ path('grintaaa_user_show', {'username': entity.username,'id': entity.id }) }}" title="site de rencontre football">
									<h2 class="green">{{ entity.lastname }} {{ entity.firstname }} {% if(entity.coach==1) %} ({{ 'user.u.coach'|trans }}) {% endif %}</h2>
									</a>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img src="{{ asset('bundles/comparatorbase/images/home.png') }}" alt="site de rencontre football">{{ entity.city }}
                                            ( {{ entity.country }})
                                        </li>
                                        <li class="star"><img
                                                    src="{{ asset('bundles/comparatorbase/images/star.png') }}" alt="site de rencontre football"> {{ 'center.interest'|trans }}:
											{% set x=0 %} 
                                            {% if((interest[key]|length)>0) %}
                                                {% for keys, interested in interest[key] %}
											      {% set x=x+1 %}
												  {% if (x < 8) %}
                                                    *{{ interested.category.title }}
												  {% endif %} 
                                                {% endfor %}...

                                            {% endif %} 
                                        </li>
                                    </ul>
                                </div>

                                <div class="info-date3">
                                    <div class="action-search">


                                        {% if entity.id not in idAlls %}

                                            <a href="{{ path('add_friend', {'id': entity.id }) }}"
                                               class="btn btn-grinta" title="site de rencontre football">{{ 'msg.inviter'|trans }} </a>

                                        {% endif %}

                                        {% for friend in allFreinds %}
                                            {% if((entity.id==friend.user1.id) or (entity.id==friend.user2.id)) %}
                                                <form id="validate_field_types" method="POST"
                                                      action="{{ path('grintaaa_friend_delete', {'id': friend.id}) }}">
                                                    <input type="submit" class="btn btn-refus" value="{{ 'msg.delete'|trans }}"/>

                                                </form>
                                            {% endif %}

                                        {% endfor %}


                                        {% for friendattente in friendssattente %}

                                            {% if(entity.id==friendattente.user2.id) %}

                                                <form id="validate_field_types" method="POST"
                                                      action="{{ path('grintaaa_friend_delete', {'id': friendattente.id}) }}">
                                                    <input type="submit" class="btn btn-refus" value="{{ 'msg.annuler'|trans }}"/>

                                                </form>
                                            {% endif %}
                                        {% endfor %}

                                        {% for friendinviattente in friendsinviattente %}


                                            {% if(entity.id==friendinviattente.user1.id) %}
                                                <form id="validate_field_types" method="POST"
                                                      action="{{ path('grintaaa_friend_update', {'id': friendinviattente.id}) }}">
                                                    <input type="submit" class="btn btn-grinta" value="{{ 'msg.accepte'|trans }}"/>

                                                </form>
                                                <form id="validate_field_types" method="POST"
                                                      action="{{ path('grintaaa_friend_delete', {'id': friendinviattente.id}) }}">
                                                    <input type="submit" class="btn btn-refus" value="{{ 'msg.refuse'|trans }}"/>

                                                </form>
                                            {% endif %}
                                        {% endfor %}
 
                                    </div>
								</div>
                            </div>

                        </div>
                        {% endif %}
                {% endif %}
            {% endfor %}
            {% else %}

                {% for key,entity in entities %}
                    {% if app.user.id !=entity.id %}
                        <div class="one-search col-md-6 ">
                            <div class="col-md-12 cadre-ami no-padding">
                                <div class="img-search2">
                                    <a href="{{ path('grintaaa_user_show', {'username': entity.username,'id': entity.id }) }}" title="site de rencontre football">
                                        {% if((images[key]|length)>0) %}
                                            <img src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="site de rencontre football">
                                        {% else %}
                                            <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="site de rencontre football">
                                        {% endif %}
                                    </a>
                                </div>

                                <div class="info-date2">
                                    <a href="{{ path('grintaaa_user_show', {'username': entity.username,'id': entity.id }) }}" title="site de rencontre football">
                                        <h2 class="green">{{ entity.lastname }} {{ entity.firstname }} {% if(entity.coach==1) %} ({{ 'user.u.coach'|trans }}) {% endif %}</h2>
                                    </a>
                                    <ul class="list-unstyled">
                                        <li>
                                            <img src="{{ asset('bundles/comparatorbase/images/home.png') }}" alt="site de rencontre football">{{ entity.city }}
                                            ( {{ entity.country }})
                                        </li>
                                        <li class="star"><img
                                                    src="{{ asset('bundles/comparatorbase/images/star.png') }}" alt="site de rencontre football"> {{ 'center.interest'|trans }}:
                                            {% set x=0 %}
                                            {% if((interest[key]|length)>0) %}
                                                {% for keys, interested in interest[key] %}
                                                    {% set x=x+1 %}
                                                    {% if (x < 8) %}
                                                        *{{ interested.category.title }}
                                                    {% endif %}
                                                {% endfor %}...

                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>

                                <div class="info-date3">
                                    <div class="action-search">


                                        {% if entity.id not in idAlls %}

                                            <a href="{{ path('add_friend', {'id': entity.id }) }}"
                                               class="btn btn-grinta" title="site de rencontre football">{{ 'msg.inviter'|trans }} </a>

                                        {% endif %}

                                        {% for friend in allFreinds %}
                                            {% if((entity.id==friend.user1.id) or (entity.id==friend.user2.id)) %}
                                                <form id="validate_field_types" method="POST"
                                                      action="{{ path('grintaaa_friend_delete', {'id': friend.id}) }}">
                                                    <input type="submit" class="btn btn-refus" value="{{ 'msg.delete'|trans }}"/>

                                                </form>
                                            {% endif %}

                                        {% endfor %}


                                        {% for friendattente in friendssattente %}

                                            {% if(entity.id==friendattente.user2.id) %}

                                                <form id="validate_field_types" method="POST"
                                                      action="{{ path('grintaaa_friend_delete', {'id': friendattente.id}) }}">
                                                    <input type="submit" class="btn btn-refus" value="{{ 'msg.annuler'|trans }}"/>

                                                </form>
                                            {% endif %}
                                        {% endfor %}

                                        {% for friendinviattente in friendsinviattente %}


                                            {% if(entity.id==friendinviattente.user1.id) %}
                                                <form id="validate_field_types" method="POST"
                                                      action="{{ path('grintaaa_friend_update', {'id': friendinviattente.id}) }}">
                                                    <input type="submit" class="btn btn-grinta" value="{{ 'msg.accepte'|trans }}"/>

                                                </form>
                                                <form id="validate_field_types" method="POST"
                                                      action="{{ path('grintaaa_friend_delete', {'id': friendinviattente.id}) }}">
                                                    <input type="submit" class="btn btn-refus" value="{{ 'msg.refuse'|trans }}"/>

                                                </form>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>

                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
  </div>
</div>    
<br><br>
<!--Debut containt-->