{% if  app.user %}
 <!--Debut containt-->
<div class="container containt-dash">
           <!--Debut left-block-->
           <div class="col-md-2 no-padding-right"> 
               <div class="block profil-block">
                   <div class="profil-dash"> 
                         <div class="col-md-12 no-padding">
						    <div class="grid">
					         <figure class="effect-winston">
						      {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
						      <figcaption>  
							   <p> 
								<a href="{{ path('user_file_new') }}" title="demande partenariat sportif"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
							   </p>
						      </figcaption>			
					         </figure>
				            </div>       
                         </div>
                         <div class="col-md-12 no-padding">  
                             <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                             <p class="titre-user">      
								<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
									<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
								</a>
							</p> 

                             <!--p class="pro">Profil</p-->
                         </div>
                      
                   </div>
                   <ul class="list-unstyled">
                       <li>
                           <a href="{{ path('home') }}" title="demande partenariat sportif" class="active">
                              <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}" alt="demande partenariat sportif">{{ 'fil.act'|trans }}
                           </a>
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_notification') }}" title="demande partenariat sportif">
                            {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                           </a>
                       </li>
                       
                       <li>
                           <a href="{{ path('grintaaa__list_friend') }}"title="demande partenariat sportif">
                             {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                           </a>
                       </li>
                       <li>
                            {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_multimedia_image') }}" title="demande partenariat sportif">
                              {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                           </a>
                       </li>
                       <li>
                           <a href="{{ path('grintaaa_multimedia_video') }}" title="demande partenariat sportif">
                               {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                           </a>
                       </li>
                   </ul>
               </div>
 
               {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
               {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

            <br><br>  
           </div>
           <!--Fin left-block-->
           <!--Debut center-block-->
           <div class="col-md-10"> 
    <div class="head-compte">
        <div class="">
            <div class="col-md-2 col-sm-3">
                <a href="{{ path('fos_user_profile_edit_authentication') }}" title="demande partenariat sportif" class="btn btn-compte">
			 	 <i class="fa fa-user"></i>  <br>
                    {{ 'my.compte'|trans }}
				</a>
            </div>
            <div class="col-md-2 col-sm-3 no-padding">
                <a href="{{ path('fos_user_change_password') }}" title="demande partenariat sportif" class="btn btn-compte">
			 	 <i class="fa fa-pencil-square-o"></i>  <br>
                    {{ 'change.password'|trans }}
				</a>
            </div>
            <div class="col-md-2 col-sm-3">
                <a href="{{ path('grintaaa_interest') }}" title="demande partenariat sportif" class="btn btn-compte">
			 	 <i class="fa fa-star"></i>  
				 <br>{{ 'center.interest'|trans }}
				</a>       
            </div>
            {% if(app.user.coach==1)%} 
            <div class="col-md-1 col-sm-3 no-padding">
                <a href="{{ path('grintaaa_coaching') }}" title="demande partenariat sportif" class="btn btn-compte">
                    <i class="fa fa-futbol-o"></i>
                    <br>{{ 'center.coaching'|trans }}
                </a>
            </div>
            {%endif%}
            <div class="col-md-2 col-sm-3">
                <a href="{{ path('user_file_new') }}" title="demande partenariat sportif" class="btn btn-compte">
			 	 <i class="fa fa-picture-o"></i>  
				 <br>{{ 'my.avatar'|trans }}
				</a>
            </div>


            <div class="col-md-2 col-sm-3 no-padding">   
                <a href="{{ path('grintaaa_configuration_email') }}" title="demande partenariat sportif" class="btn btn-compte active">
			 	 <i class="fa fa-envelope-o"></i>
				 <br>{{ 'notif.email'|trans }}
		        </a>
            </div>

        </div> 
    </div>
 
	<div class=" inscrit">
  	  <div class="cadre-blanc">   
        <form class="form-inscription" action="{{ path('grintaaa_configuration_email_show') }}" method="post">
    
                <div class="row">
                    <div class="col-md-12 interet222"><br>
                     <div class="col-md-12 titre-gris" align="center">
                         {{ 'msg.precise.email'|trans }}
				     </div>
					 <br><br>

                        {% if(entities) %}

						{% for entity in entities %}

						 

						  <div class="col-md-offset-2 col-md-8 block">
							<br>
                            <ul>
                            <li class="col-md-12"><input type="checkbox" name="comment"  {% if entity.comment %}checked {% endif %}> {{ 'msg.pub.com'|trans }}</li>
                            <li class="col-md-12"><input type="checkbox" name="profile"  {% if entity.profile %}checked {% endif %}> {{ 'msg.pub.com.profil'|trans }} </li>
                            <li class="col-md-12"><input type="checkbox" name="participe" {% if entity.participe %}checked {% endif %}> {{ 'msg.partcipe.eve'|trans }}  </li>
                            <li class="col-md-12"><input type="checkbox" name="confirmer"  {% if entity.confirmer %}checked {% endif %}> {{ 'msg.conf.inv'|trans }} </li>
                            <li class="col-md-12"><input type="checkbox" name="supprimer"  {% if entity.supprimer %}checked {% endif %}>  {{ 'msg.supp.inv'|trans }} </li>
                            </ul>  
							<br>
						  </div> 
                                                     
                        {% endfor %}
                                    
             
                        {% else %}
                            <div class="col-md-offset-2 col-md-8 block">
								<br>                               
                                <ul>
                                    <li class="col-md-12"><input type="checkbox" name="comment"> {{ 'msg.pub.com'|trans }} </li>
                                    <li class="col-md-12"><input type="checkbox" name="profile"> {{ 'msg.pub.com.profil'|trans }} </li>
                                    <li class="col-md-12"><input type="checkbox" name="participe"> {{ 'msg.partcipe.eve'|trans }} </li>
                                    <li class="col-md-12"><input type="checkbox" name="confirmer"> {{ 'msg.conf.inv'|trans }} </li>
                                    <li class="col-md-12"><input type="checkbox" name="supprimer"> {{ 'msg.supp.inv'|trans }} </li>
                                </ul>
								<div class="clearfix"></div>
								<br>
                            </div>
                        {% endif %}
                    </div> 
                </div>     
            <div class="row" align="center">
		      <div class="col-md-12" align="center">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-grinta" value=" {{ 'button.enregistrer'|trans }}">
                </div>   
              </div>				
            </div>


        </form>
      </div>
    </div>
  </div>
</div>
               <!--Fin containt-->
  {% endif %}
	<div class="block-footer"></div>





