{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% set first = first|default(false) %}

{% set url_parameters = {'id': id } %}
{% if parent is not null %}
    {% set url_parameters = url_parameters|merge({'parentId': parent.id}) %}
{% endif %}

        <div class="col-sm-12 title-gamers">
            {% block fos_comment_form_title %}
            <h2 class="green">
                <img src="{{ asset('bundles/comparatorbase/images/comment.png') }}">
                Commentaire
            </h2>

            {% if first %}
            <p>Aucun commentaire trouvé . Soyez le premier à laisser un commentaire.</p>
            {% endif %}
            {% endblock %}
        </div>
        <div class="col-md-6 col-md-offset-3">
            <hr class="hr-jeu">
        </div>
        <div class="col-sm-12 avatar">
            <a href="#">
                <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}">
                <span class="green">{{ app.user.username }}</span>
            </a>
        </div>


        <div class="col-md-7 col-md-offset-1">
            <h3>Ecrire un commentaire</h3>
    {% block fos_comment_comment_form_holder %}
        {% block fos_comment_comment_new_form %}
            <form class="fos_comment_comment_new_form form-comment" action="{{ url('fos_comment_post_thread_comments', url_parameters) }}" data-parent="{{ parent.id|default() }}" method="POST">


                        {% block fos_comment_form_fields %}
                                {% if form.authorName is defined %}
                                    <div class="col-sm-12">
                                        {{ form_label(form.authorName, 'form_label_author_name'|trans({}, 'SonataCommentBundle'), {'horizontal_label_class': ''}) }}
                                        {{ form_widget(form.authorName, {'horizontal_input_wrapper_class': ''}) }}
                                    </div>
                                {% endif %}

                                <div class="col-sm-12" hidden="hidden">
                                    {{ form_label(form.website, 'form_label_website'|trans({}, 'SonataCommentBundle'), {'horizontal_label_class': ''}) }}
                                    {{ form_widget(form.website, {'horizontal_input_wrapper_class': ''}) }}
                                </div>

                                <div class="col-sm-12" hidden="hidden">
                                    {{ form_label(form.email, 'form_label_email'|trans({}, 'SonataCommentBundle'), {'horizontal_label_class': ''}) }}
                                    {{ form_widget(form.email, {'horizontal_input_wrapper_class': ''}) }}
                                </div>
                                <div class="col-sm-12" hidden="hidden">
                                    {{ form_label(form.note, 'form_label_note'|trans({}, 'SonataCommentBundle'), {'horizontal_label_class': ''}) }}
                                    {{ form_widget(form.note, {'horizontal_input_wrapper_class': ''}) }}
                                </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ form_label(form.body, 'form_label_body'|trans({}, 'SonataCommentBundle'), {'horizontal_label_class': ''}) }}
                                    {{ form_widget(form.body, {'horizontal_input_wrapper_class': ''}) }}
                                </div>
                            </div>

                            {{ form_rest(form) }}
                        {% endblock %}

                        <div class="fos_comment_submit">
                            {% block fos_comment_form_submit %}

                            <div class="col-sm-5 pull-right send-btn">
                                <input class="btn btn-grinta" type="submit" value="{% trans from 'FOSCommentBundle' %}fos_comment_comment_new_submit{% endtrans %}" />
                            </div>

                            {% endblock %}
                        </div>
            </form>
        {% endblock fos_comment_comment_new_form %}
{% endblock fos_comment_comment_form_holder %}
       </div>
