{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends sonata_page.defaultTemplate %}

{% block title %}{{ "title_page_redirected"|trans({}, 'SonataPageBundle')}}{% endblock %}

{% block content %}
    <div style="display: none;">{{ response.content | raw }}</div>
{% endblock%}
