<div class="couverture">
    <div id="carousel-profil" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="{{ asset('bundles/comparatorbase/images/couverture-profil.jpg') }}" alt="Grintaaa">
            </div>
            <div class="item">
                <img src="{{ asset('bundles/comparatorbase/images/couverture-profil2.jpg') }}" alt="Grintaaa">
            </div>
            <div class="item">
                <img src="{{ asset('bundles/comparatorbase/images/couverture-profil3.jpg') }}" alt="Grintaaa">
            </div>
            <div class="item">
                <img src="{{ asset('bundles/comparatorbase/images/couverture-profil4.jpg') }}" alt="Grintaaa">
            </div>
            <div class="item">
                <img src="{{ asset('bundles/comparatorbase/images/couverture-profil5.jpg') }}" alt="Grintaaa">
            </div>
        </div>
    </div>
</div>
<div class="containt">
    <div class="container container-profil">
        <div class="contenu">

            <form action="{{ path('ens_job_update', { 'id': entity.id }) }}"
                  method="post" {{ form_enctype(edit_form) }}>
                <table id="job_form">
                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="{{ 'button.upload'|trans }}"/>
                        </td>
                    </tr>
                    </tfoot>
                    <tbody>

                    <tr>
                        <th>{{ form_label(edit_form.file) }}</th>
                        <td>
                            {{ form_errors(edit_form.file) }}
                            {{ form_widget(edit_form.file) }}
                        </td>
                    </tr>


                    </tbody>
                </table>

                {{ form_rest(edit_form) }}
            </form>
        </div>
    </div>
    <!--fin container-profil-->
</div>