<!--Debut containt -->



        <form class="" action="{{ path('user_statut_create') }}" method="post" {{ form_enctype(form) }}>
            <div class="row">   
                <div class="col-md-12">
                    <div class="input-file-container">
                    {{ form_errors(form.file) }}     
                    {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
                    <label for="my-file" class="input-file-trigger" tabindex="0">{{ 'msg.select.image'|trans }}</label>
                    </div>
                    <p class="file-return"></p>
                </div>
            </div>       

            <div class="row">
                <div class="col-md-12">
                    <input type="submit" class="btn btn-grinta" name="" value="{{ 'msg.publier'|trans }}">
                </div>
            </div>
            {{ form_rest(form) }}
        </form>


<!--Fin containt-->   