@media screen and (min-width:992px) and (max-width:1377px) {
    .containt {
        padding-top: 70px;
    }
    .header-login {
        margin-top: 30px;
    }
    .big-title h1{
        font-size: 35px;
    }
}
@media screen and (min-width:1025px) and (max-width:1280px) {

}
@media screen and (max-width:660px) {
    .navbar-steps .links{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .navbar-steps .notification{
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .navbar-steps .notification span {
        right: 46%;
    }
    .navbar-steps .compte {
        position: relative;
        margin: 0 auto;
        display: inline-block;
    }
}
@media screen and (max-width:992px) {
    .sign-in .btn-grinta,
    .sign-in .btn-facebook,
    .second-big-title h2{
        margin-left: 0;
    }
    .form-inscription input[type="text"], .form-inscription input[type="email"], .form-inscription input[type="date"], .form-inscription input[type="password"], .form-inscription .datepicker, .form-inscription select{
        margin-bottom: 10px;
    }
	.medaille-tel{
		position:absolute;
		top:0;
		right:7px;
	    width: 116px;
	}
	.langue-tel{
		position: absolute;
		top: -50px;
		right: -25px;
		width: 117px;
	}
	.langue-tel img{height:20px;}
	.block-c {
		width: 100%;
	}
	.hidd-tablette{
	display:none;
	}
}
@media screen and (min-width:768px) and (max-width:992px) {
    .header-login .container{
        width: 100%;
    }
    .big-title h1 {
        font-size: 25px;
    }
    .second-big-title h2 {
        font-size: 15px;
    }
    .big-title {
        margin-bottom: 35px;
    }
    /*Page Inscription*/
    .form-inscrit h3{
        margin-right: 30px;
    }
    /*Page organisation*/
    .navbar-steps .notification{
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media screen and (max-width:767px) {
    .header-login .logo-login{
        z-index: 9999;
    }
    .header-login  .navbar-collapse, .header-login  .navbar-form,.header-login .navbar-nav{
        border:0;
    }
    .header-login .navbar-collapse{
        overflow-x:hidden;
        background: rgba(255,255,255,0.7);
        margin-top: 15px;
        z-index: 9;
        position: relative;
    }
    .header-login .navbar-nav {
        margin: 0;
        margin-top: 15px;
        width: 100%;
    }
    .form-login input[type='text'], .form-login input[type='password'], .form-login .btn-grinta  {
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 218px;
    }
    .header-login .language{
        width: 100%;
        text-align: center;
    }
    .containt {
        padding-top: 70px;
    }
    .header-login {
        margin-top: 30px;
    }
    .big-title h1 {
        font-size: 22px;
    }
    .second-big-title h2 {
        font-size: 15px;
    }
    /*Page Inscription*/
    .form-inscrit h3{
        color: #a3a3a3;
        float: none;
        line-height: 40px;
        margin-right: 195px;
        width: 100%;
        text-align: center;
    }
    .info-date{
        text-align: center;
    }
    .navbar-steps .notification{
        margin-top: 15px;
    }
    .navbar-steps .cpt{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .dropdown-compte:after{
        display: none;
    }
    .invit .botton-invit{
        float: none !important;
    }
    .block .top-gamers .nbr-match{
        margin-top: 10px;
    }
    .block .bottom-gamers{
        text-align: center;
    }
    .footer .bg-footer{
        background: #e7e8e8;
    }
    .action-right .btn-grinta{
        margin-top: 20px;
    }
    .item-act .btn-invit,
    .item-act .btn-grinta{
        width: 100%;
    }
    .result-search .one-search .action-search{
        position: relative;
        display: inline-block;
        width: 100%;
    }
    .dropdown-compte{
        position: relative;
    }
    .one-message .send{
        float: none !important;
    }
	.medaille-tel{
		position:absolute;
		top:0;
		right:25%;
	    width: 116px;
	}
	.langue-tel{
		position: absolute;
		top: -50px;
		right: -25px;
		width: 117px;
	}
	.langue-tel img{height:20px;}
	.block-c{
		width: 100%;
		padding:0px;
	}
	.navbar-collapse.collapse{
		width: 100%;
	}
	.form-login{
		width: 100%;
		margin:0px;
	}
	.slogoan{width: 100%;}
	.navbar-form .form-group{padding:0px;}
	.passe-oublie{
		clear:both;
	    margin-bottom: 10px;
	}
	.titre-session-active{
	margin-bottom:10px;
	}
	.navbar-form > .col-md-3{padding:0px;}
	.form-login input[type='text'], .form-login input[type='password'], .form-login .btn-grinta{width: 100%;}
	.second-big-title h2{line-height: 18px;}
	.profil-dash .col-md-12{clear:both;}
	.profil-block ul>li a span{margin-right: 15px;}
	.video-mur iframe, .img-mur iframe{width:100% !important;}
	.exprimer .add-act ul>li a img{margin-right: 4px;}
	.exprimer .add-act ul>li a:hover, .exprimer .add-act ul>.active a,.exprimer .add-act ul>li a{padding: 6px;}
	.recherche .btn-search{
		padding-right: 33px;
		padding-left: 4px;
	}
	.btn{font-size: 13px;}
	.date-mur{line-height:normal;}
	.h2, h2 {
		font-size: 25px;
	}
	.hidd-tel{display:none;}
	.footer{min-height: 35px;}
	.footer .top-footer{padding-top:5px;}
	.wizard .footer-content-step .next-step{
		float:none;
	    margin-top: 5px;
		width: 100%;
	}
	.wizard .footer-content-step .prev-step,.info-date3{width:100%;}
	.wizard .title-step h4{font-size: 17px;}
	.wizard .container-step .time-step h3{
		margin-top:0px;
	    float: none;
	}
	.singl-step .col-xs-12, .wizard .container-step .detail input[type="text"], .wizard .container-step .detail input[type="number"]{float: none;}
	.clear-tel, .info-act{clear:both;}
	.no-padding-right, .no-padding-left,.no-padding{
	padding-right: 15px;
    padding-left: 15px;
	}
	.list-games .block{margin: 4px 1%;}
	.info-date2{width:70%;}
	.list-ami-profil{width:30%;}
	.img-bas-profil{text-align:center;}
	.img-event-profil2{width:30%;}
	.pourcentage{margin-top:20px;}
	.head-compte{margin-bottom:0px;}
	.img-comment{
    float: none;
    text-align: center;
    display: block;
	}
	.img-comment img{
	    max-width: 100%;
		text-align: center;
		float: none;
	}.footer-pres > div{
	padding-top: 35px;
	text-align:center;
	 }
	 .lien-pres, .lien-pres:hover{    text-align: center;}
	 .header{
	 background: url('../images/font2.png') no-repeat top;
	 background-size: 100%;
	 }
}

@media screen and (max-width:560px) {
    .big-title {
        margin-bottom: 30px;
    }

}
@media screen and (max-width:400px) {
    .second-big-title h2 {
        font-size: 12px;
    }
    .top-footer .links ul>li>a {
        text-decoration: none;
        color: #6d6f71;
        font-size: 9px;
        line-height: 15px;
    }
}
/*****responsive height*****/
@media screen and (max-height:740px) {
    .containt {
        padding-top: 50px;
    }
    .login-error .login-error-form {
        padding: 30px 60px;
		text-align:center;
    }
    .containt-inscrit {
        margin-top: 30px;
    }
    .form-inscription input[type="text"], .form-inscription input[type="email"], .form-inscription input[type="date"], .form-inscription input[type="password"], .form-inscription .datepicker, .form-inscription select {
        margin-bottom: 12px;
    }
    .containt-steps {
        margin-top: 30px;
    }
    .containt-steps h2 {
        margin-bottom: 20px;
        font-size: 40px;
    }
    .wizard {
        padding: 15px 35px;
    }
    .wizard .nav-tabs {
        margin-bottom: 30px;
    }
    .wizard .title-step {
        margin-bottom: 25px;
    }
}
@media screen and (max-height:642px) {
    .header-login {
        margin-top: 30px;
    }
}