div.sonata-media-block-feature-media-container-left {
    float: left;
    margin-right: 10px;
}

div.sonata-media-block-feature-media-container-right {
    float: right;
    margin-left: 10px;
}

div.sonata-media-block-feature-media-container {
    padding: 10px;
    clear: both;
}