{% extends base_template %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc bg-black"{% endblock %}

{% block sonata_wrapper %}
    <div class="form-box" id="login-box">
        <div class="header">Webmaster Grintaaa</div>
        {% block sonata_user_login_form %}
            <form action="{{ path("sonata_user_admin_security_check") }}" method="post" role="form">
                <div class="body bg-gray">
                    {% block sonata_user_login_error %}
                        {% if error %}
                            <div class="alert alert-danger alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
                        {% endif %}
                    {% endblock %}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <div class="form-group control-group">
                        <input type="text" class="form-control" id="username"  name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans({}, 'SonataUserBundle') }}"/>
                    </div>


                    <div class="form-group control-group">
                        <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'SonataUserBundle') }}"/>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                    </div>

                </div>

                <div class="footer">
                    <button type="submit" id="_submit" name="_submit" class="btn bg-olive btn-block">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
                </div>
            </form>
        {% endblock %}
    </div>
{% endblock sonata_wrapper %}
