
<div class="containt">
    <div class="container">
        <div class="row big-title">
            <div class="col-sm-12 text-center">
                <h1>Organiser vos sports entre amis</h1>
            </div>
        </div>
        <div class="row second-big-title text-center">
            <div class="col-sm-11 col-sm-offset-1">
                <h2>
                    Grintaaa est un outil de société d'un nouveau genre.<br>
                    C'est un reseau social dedier à tous les sportifs.<br>
                    L'utilisateur pourra à tous moments trouver des partenaires ainsi que des coachs à n'importe quel endroit et pour n'importe quel sport.
                    Il pourra partager ses exploits sportifs et créer sa propre communauté.
                </h2>
            </div>
        </div>
        <div class="row col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 sign-in">
            <div class="compte">
                <a href="{{ path('personne') }}" class="btn btn-grinta"><img src="{{ asset('bundles/comparatorbase/images/compte.png') }}">Créer votre <span>compte</span></a>
            </div>
            <div class="facebook">

                {% block hwi_oauth_content %}
                    {% if error is defined and error %}
                        <span>{{ error }}</span>
                    {% endif %}
                    {% for owner in hwi_oauth_resource_owners() %}
                        <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-facebook"><i class="fa fa-facebook"></i> connexion via <span>facebook</span></a>

                    {% endfor %}
                {% endblock hwi_oauth_content %}
            </div>
            <div class="compte">
                <a href="{{ path('presentation') }}" target="_blank" class="lien-pres"><span>Grintaaa</span> c'est quoi ?</a>
            </div>
        </div>
    </div>
</div>
<!--Fin containt-->
</div>
</div>




