{% block hwi_oauth_content %}
<!--Debut containt-->

<div class="containt-inscrit">
    <div class="container">
	    <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 inscrit">
		  <div class="col-md-10 col-md-offset-1 cadre-blanc">
             <form action="{{ path('hwi_oauth_connect_registration', {'key': key}) }}" {{ form_enctype(form) }} method="POST" class="form-inscription"  id="inscriptionForm">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="titre_connect">Inscription</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_widget(form.civility, { 'attr': {'class': 'form-control'} }) }}
                        </div>

                        <div class="col-md-6">
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control','placeholder': 'Pseudo'} }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_widget(form.firstname, { 'attr': {'class': 'form-control','placeholder': 'Nom'} }) }}
                        </div>

                        <div class="col-md-6">
                            {{ form_widget(form.lastname, { 'attr': {'class': 'form-control','placeholder': 'user.prenom'|trans} }) }}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_widget(form.city, { 'attr': {'class': 'form-control','placeholder': 'Ville'} }) }}

                        </div>

                        <div class="col-md-6">
                            {{ form_widget(form.country, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_widget(form.phone, { 'attr': {'class': 'form-control','placeholder':  'user.tel'|trans } }) }}

                        </div>

                        <div class="col-md-6">
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control','placeholder': 'Adresse email'} }) }}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control','placeholder': 'Mot de passe'} }) }}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control','placeholder': 'Verificaton mot de passe'} }) }}

                        </div>
                    </div>
                    <div class="row">
					    <div class="col-md-12"> 
          					<h4 class="titre-inscrit2"><label>Date de naissance</label></h4>
                        </div>	
						<div id="date_birth">
                            {{ form_widget(form.date_of_birth, { 'attr': {'class': 'form-control','placeholder': 'Date de naissance'} }) }}

                        </div>
                    </div>
                    <div class="row">
 					    <div class="col-md-6">
							<h4 class="titre-inscrit">{{ form_label(form.coach) }}
						</div>
 					    <div class="col-md-6">
                            {{ form_widget(form.coach) }}
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                             <button type="submit" class="btn btn-grinta">Connecter</button>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </form>
		  </div>
        </div>
    </div>
</div>
<!--Fin containt-->
</div>
</div>
{% endblock hwi_oauth_content %}
<script type="text/javascript">
$("select#fos_user_registration_form_country").val("France");
$('#fos_user_registration_form_coach_1').prop('checked', true);
$("#date_birth .col-lg-9").addClass("col-md-4");
$("#date_birth .col-md-4").removeClass("col-lg-9");
</script>