{% block hwi_oauth_content %}
    <div class="containt">
                  <div class="container">

                     <div class="row col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login-error">
                         <div class="login-error-form">

                    <p class="text-center">{{ 'registration.confirmed'|trans({'%username%': userInformation.realName}, 'FOSUserBundle') }}</p>

                      <a  class="btn btn-grinta btn-welcome" href="{{ path('user_file') }}">Bienvenue</a><br>
						
							<div align="center" class="fb-share-button" data-href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}{{ currentPath }}" data-layout="button_count" data-size="small" data-mobile-iframe="false">
								<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u='{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}{{ currentPath }}';src=sdkpreparse">Partager</a>
							</div>
                         </div>
                     </div>
                  </div>
               </div>
               <!--Fin containt-->
           </div>
        </div>
{% endblock hwi_oauth_content %}

<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>