{% block hwi_oauth_content %}

    <div class="containt">
                  <div class="container">

                     <div class="row col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 login-error">
                         <div class="login-error-form row">
						  <div class=" col-md-offset-1 col-md-10">
						   <h3 class="titre_connect">{{ 'erroor.success' | trans }}</h3>

                            <p class="red">{{ 'erroor1.success' | trans }}</p>


							<div class="col-md-5" align="center">
								<a href="{{ path('fos_user_security_login') }}" class="btn btn-facebook btn-nnfaceoui"> Oui</a>
							</div>
							<div class="col-md-7" align="center">
								<a href="{{ path('fos_user_registration_register') }}" class="btn btn-facebook btn-nnface">Non, je veux m'inscrire !</a>
							</div>

						</div>
                         </div>
                     </div>
                  </div>
               </div>
               <!--Fin containt-->
           </div>
        </div>

{% endblock hwi_oauth_content %}
