/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp.markdown .markItUpButton1 a {
	background-image:url(images/h1.png);
}
.markItUp.markdown .markItUpButton2 a {
	background-image:url(images/h2.png);
}
.markItUp.markdown .markItUpButton3 a {
	background-image:url(images/h3.png);
}
.markItUp.markdown .markItUpButton4 a {
	background-image:url(images/h4.png);
}
.markItUp.markdown .markItUpButton5 a {
	background-image:url(images/h5.png);
}
.markItUp.markdown .markItUpButton6 a {
	background-image:url(images/h6.png);
}

.markItUp.markdown .markItUpButton7 a {
	background-image:url(images/bold.png);
}
.markItUp.markdown .markItUpButton8 a {
	background-image:url(images/italic.png);
}

.markItUp.markdown .markItUpButton9 a {
	background-image:url(images/list-bullet.png);
}
.markItUp.markdown .markItUpButton10 a {
	background-image:url(images/list-numeric.png);
}

.markItUp.markdown .markItUpButton11 a {
	background-image:url(images/picture.png);
}
.markItUp.markdown .markItUpButton12 a {
	background-image:url(images/link.png);
}

.markItUp.markdown .markItUpButton13 a	{
	background-image:url(images/quotes.png);
}
.markItUp.markdown .markItUpButton14 a	{
	background-image:url(images/code.png);
}

.markItUp.markdown .preview a {
	background-image:url(images/preview.png);
}