{% if app.user %}
               <div class="containt">
                  <div class="container">

                     <div class="row col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 login-error">
                         <div class="login-error-form">
    <p class="text-center">{{ 'event.confirmed'|trans }}</p>

<a href="{{ path('event_show', {'slug': entity.slug }) }}" class="btn btn-grinta btn-welcome">
{{ 'fich.match'|trans }}
</a>                         </div>
                     </div>
                  </div>
               </div>
               <!--Fin containt-->
           </div>
        </div>
{% endif %}
