
<a href="{{ path('event_user', {'username': user.username }) }}">
    <img src="{{ asset('bundles/comparatorbase/images/profil/competition.png') }}" src="organiser une journée sportive">{{ 'mes.competition'|trans }} <span>{{ nb }}</span>
</a>