{% block javascripts %}
    <script>
        $(function() {
            var addresspicker = $( "#addresspicker" ).addresspicker();
            var addresspickerMap = $( "#comparator_bundle_eventbundle_event_address_address" ).addresspicker({
                regionBias: "fr",
                elements: {
                    map:      "#map",
                    lat:      "#comparator_bundle_eventbundle_event_lat_address",
                    lng:      "#comparator_bundle_eventbundle_event_lng_address",
                    locality: '#comparator_bundle_eventbundle_event_locality_address',
                    administrative_area_level_2: '#administrative_area_level_2',
                    administrative_area_level_1: '#administrative_area_level_1',
                    country:  '#comparator_bundle_eventbundle_event_country_address'
                }
            });
            var gmarker = addresspickerMap.addresspicker( "marker");
            gmarker.setVisible(true);
            addresspickerMap.addresspicker( "updatePosition");

        });
    </script>
{% endblock %}


 {% if  app.user %}
     <!--containt-->
     <div class="containt containt-steps">
         <div class="form-steps">
             <!--****-->
             <div class="container">
                 <div class="row steps">
                     <div class="container">
                         <div class="wizard">
                             <div class="wizard-inner">
                                 <ul class="nav nav-tabs nav-inscri" role="tablist">

                                     <li role="presentation" class="col-sm-3 col-md-2 active">
                                         <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab">
                                             Lieu
                                         </a>
                                     </li>

                                     <li role="presentation" class="col-sm-3 col-md-2 arrow disabled">
                                         <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab">
                                             Type
                                         </a>
                                     </li>
                                     <li role="presentation" class="col-sm-3 col-md-2 arrow disabled">
                                         <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab">
                                             Date
                                         </a>
                                     </li>
                                     <li role="presentation" class="col-sm-3 col-md-2 arrow disabled">
                                         <a href="#step4" data-toggle="tab" aria-controls="step3" role="tab">
                                             Détails
                                         </a>
                                     </li>
                                 </ul>
                             </div>

                             <form action="{{ path('event_update', { 'id': entity.id }) }}" {{ form_enctype(edit_form) }} method="post">
                                 <div class="tab-content content-steps">
                                     <!--step 1-->
                                     <div class="tab-pane active" role="tabpanel" id="step1">
                                         <div class="title-step">
                                             <img src="{{ asset('bundles/comparatorbase/images/title.png') }}" title="organiser une journée sportive">
                                             <h4>Lieu de jeu</h4>
                                         </div>
                                         <div class="container-step">
                                             <div class="singl-step">
                                                 <h3>Adresse</h3>
                                                 {{ form_widget(edit_form.address) }}
                                                 <div id="map"></div>
                                             </div>
                                         </div>

                                         <div class="footer-content-step">
                                             <button type="button" class="btn prev-step">Retour</button>
                                             <button type="button" class="btn next-step">étape suivante</button>
                                         </div>
                                     </div>
                                     <!--step 2-->
                                     <div class="tab-pane" role="tabpanel" id="step2">
                                         <div class="title-step">
                                             <img src="{{ asset('bundles/comparatorbase/images/title.png') }}" title="organiser une journée sportive">
                                             <h4>Type de jeu</h4>
                                         </div>
                                         <div class="container-step">
                                             <div class="singl-step">
                                                 <h3>Catégorie</h3>
                                                 {{ form_widget(edit_form.category) }}
                                             </div>
                                         </div>
                                         <div class="footer-content-step">
                                             <button type="button" class="btn prev-step">Retour</button>
                                             <button type="button" class="btn next-step">étape suivante</button>
                                         </div>
                                     </div>
                                     <!--step 3-->
                                     <div class="tab-pane" role="tabpanel" id="step3">
                                         <div class="title-step">
                                             <img src="{{ asset('bundles/comparatorbase/images/title.png') }}" title="organiser une journée sportive">
                                             <h4>Date et heure de jeu</h4>
                                         </div>
                                         <div class="container-step">
                                             <div class="col-md-2 col-md-offset-4 date">
                                                 <div class="title-date">Date</div>
                                                 {{ form_widget(edit_form.startDate, { 'attr': {'class': 'datepicker-here', 'data-language':'en'} }) }}

                                             </div>


                                             <div class="col-md-4 col-md-offset-2 time-step">
                                                 <div class="title-date">Heure</div>
                                                 <div class="col-md-6 time">
                                                     <label>Heure de départ</label>
                                                     {{ form_widget(edit_form.startTime) }}
                                                 </div>
                                                 <div class="col-md-6 time">
                                                     <label>Heure de fin</label>
                                                     {{ form_widget(edit_form.endTime) }}
                                                 </div>

                                             </div>


                                         </div>
                                         <div class="footer-content-step">
                                             <button type="button" class="btn prev-step">Retour</button>
                                             <button type="button" class="btn next-step">étape suivante</button>
                                         </div>
                                     </div>
                                     <!--step 4-->
                                     <div class="tab-pane" role="tabpanel" id="step4">
                                         <div class="title-step">
                                             <img src="{{ asset('bundles/comparatorbase/images/title.png') }}" title="organiser une journée sportive">
                                             <h4>Détails</h4>
                                         </div>
                                         <div class="container-step">
                                             <div class="col-md-6 detail">
                                                 <h3>Titre du jeu</h3>
                                                 {{ form_widget(edit_form.title) }}
                                                 <h3>Nombre de Joueur</h3>
                                                 {{ form_widget(edit_form.nbPlayer, { 'attr': {'class': 'form-control'} }) }}
                                             </div>
                                             <div class="col-md-6 detail">
                                                 <h3 class="desc">Description du jeu</h3>
                                                 {{ form_widget(edit_form.description) }}
                                             </div>
                                         </div>
                                         <div class="footer-content-step">
                                             <button type="button" class="btn prev-step">Retour</button>
                                             <input type="submit" class="btn next-step register" value="Enregistrer">
                                             {{ form_rest(edit_form) }}

                                         </div>
                                     </div>
                                 </div>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
             <!--****-->
         </div>
         <div class="steps-bottom-space"></div>
     </div>
     <!--end containt-->
 {% endif %}



