{% for key, entity in entities %}
<div class="block item-act">
    <div class="row">
        <div class="col-sm-1">
            <a href="{{ path('grintaaa_user_show', {'username': entity.user.username,'id': entity.user.id }) }}" title="organiser une journée sportive">
                <div class="img-avatar">
                    {% if((images[key]|length)>0) %}

                        <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="organiser une journée sportive">
                    {% else %}
                        <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="organiser une journée sportive">
                    {% endif %}
                </div>
            </a>
		</div>
        <div class="col-sm-3">
          <div class="col-sm-12"> 
            <a href="{{ path('grintaaa_user_show', {'username': entity.user.username,'id': entity.user.id }) }}" title="organiser une journée sportive">
                <div class="name-avatar">
                    <h5>{{ entity.user.lastname }} {{ entity.user.firstname }}</h5>
                </div>
            </a> 
				<div>
				 <img src="{{ asset('bundles/comparatorbase/images/date.png') }}" alt="organiser une journée sportive"> {{ entity.startdate|date('d-m-Y') }}
				</div>
		  </div>
		</div>  
        <div class="col-sm-5" align="center"> 
                <div class="name-avatar ">
                    <h5><strong class="green">{{ entity.title }}</strong></h5>
                </div>
         <img src="{{ asset('bundles/comparatorbase/images/lieu.png') }}" alt="organiser une journée sportive"> {% if entity.locality!='false' %}{{ entity.locality }} ({{ entity.country }}) {% else %}  {{ entity.country }} {% endif %}
		</div>  
        <div class="col-sm-3" align="center"> 
		    <div class="nb-participant">
		     {% if entity.nbPlayer is null %}
			  <p>{{ nbparticipe[key] }} participant</p>
             {% else %}
              <p>{{ nbparticipe[key] }}/{{ entity.nbPlayer }}</p>
              {% if (entity.nbPlayer == nbparticipe[key]) %}
                <p class="etat complete">{{ 'event.complet'|trans }}</p>
              {% else %}
                <p class="etat">{{ entity.nbPlayer-nbparticipe[key] }} {{ 'event.dispo'|trans }}</p>
              {% endif %}
             {% endif %}
			</div>
	        <div class="time-participant">
	         <img src="{{ asset('bundles/comparatorbase/images/heure.png') }}" alt="organiser une journée sportive"> {{ entity.starttime|date('H:i') }} {{ 'lettre.a'|trans }} {{ entity.endtime|date('H:i') }}
            </div>
	        <div>
			 <a href="{{ path('event_show', {'slug': entity.slug }) }}" title="organiser une journée sportive" class="btn btn-grinta">{{ 'fiche.match'|trans }}</a>
		    </div>
		</div>
    </div>
</div>
{% endfor %}