<!--Debut containt-->
<div class="container containt-dash">
    <!--Debut left-block-->
    <div class="col-md-2 no-padding-right">
        <div class="block profil-block">
            <div class="profil-dash">
                <div class="col-md-12 no-padding">
                    <div class="grid">
                        <figure class="effect-winston">
                            {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                            <figcaption>
                                <p>
                                    <a href="{{ path('user_file_new') }}" title="organiser une journée sportive"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-12 no-padding">
                    <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                    <p class="titre-user">      
								<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
									<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
								</a>
							</p>   
                    <!--p class="pro">Profil</p-->
                </div>

            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('home') }}" title="organiser une journée sportive">
                        <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}" alt="organiser une journée sportive">{{ 'fil.act'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_notification') }}" title="organiser une journée sportive">
                        {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                    </a>
                </li>

                <li>
                    <a href="{{ path('grintaaa__list_friend') }}" title="organiser une journée sportive">
                        {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                    </a>
                </li>
                <li>
                    {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_image') }}" title="organiser une journée sportive">
                        {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_video') }}" title="organiser une journée sportive">
                        {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                    </a>
                </li>
            </ul>
        </div>

        {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
        {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

    <br><br>
    </div>

    <div class="col-md-10">
    <div class="formulaire-search col-md-12">
        <div class="img-search">
           <i class="fa fa-list icon-puce green" aria-hidden="true"></i>
        </div>
        <div class="title-search">
            <h4 class="green">{{ 'mes.sport.cours'|trans }}</h4>
        </div>
		<br>
     <div class="result-search">  

            {% for key, entity in entities %}
         {% if("now"|date('Y-m-d')<entity.startdate|date('Y-m-d')) %}
                <div class="block item-act">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="{{ path('grintaaa_user_show', {'username': entity.user.username,'id': entity.user.id }) }}" title="organiser une journée sportive">
                                <div class="img-avatar">
                                    {% if((image|length)>0) %}
                                        <img  src="{{ asset('uploads/users/') }}{{ image[0].logo }}" alt="organiser une journée sportive">
                                    {% else %}
                                        <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="organiser une journée sportive">
                                    {% endif %}
                                </div>
                                <div class="name-avatar">
                                    <h5 class="text-center">{{ entity.user.lastname }} {{ entity.user.firstname }}</h5>
                                </div>
                            </a>
                        </div> 
                        <div class="col-md-4 text-center">
                            <h3 class="name-match green">{{ entity.title }}</h3>
                            {% if entity.nbPlayer is null %}
                            <p>{{ nbparticipe[key] }} {{ 'mot.participants'|trans }}</p>
                            {% else %}
                            <p>{{ nbparticipe[key] }}/{{ entity.nbPlayer }}</p> {{ 'mot.participants'|trans }}
                            {% endif %}
                        </div>  
                        <div class="col-md-4 info-date"> 
                            <ul class="list-unstyled">
                                <li class=" size-date"><img src="{{ asset('bundles/comparatorbase/images/date.png') }}" alt="organiser une journée sportive">{{ entity.startdate|date('d-m-Y') }}</li>
                                <li class="lieu"><img src="{{ asset('bundles/comparatorbase/images/lieu.png') }}" alt="organiser une journée sportive"> {{ entity.locality }} ( {{ entity.country }})</li>
                                <li><img src="{{ asset('bundles/comparatorbase/images/heure.png') }}" alt="organiser une journée sportive"> {{ entity.starttime|date('H:i') }} {{ 'lettre.a'|trans }} {{ entity.endtime|date('H:i') }}</li>
                            </ul>
                        </div>
                        <div class="col-md-2 info-date"> 
						 <h3 class="name-match green"></h3>
                         <a href="{{ path('event_show', {'slug': entity.slug }) }}" title="organiser une journée sportive" class="btn btn-grinta" title="organiser une journée sportive">{{ 'fiche.match'|trans }}</a>

                         <form id="validate_field_types" method="POST" action="{{ path('event_delete', {'id': entity.id}) }}">
                            <input type="submit" class="btn btn-refus btn-refus-invit" value="{{ 'msg.delete'|trans }}" />
                         </form>
						</div>
                    </div>
                </div>
         {% endif %}
            {% endfor %}
        </div>
    </div>


        <div class="formulaire-search col-md-12">
		    <br><br>
            <div class="img-search">
                <i class="fa fa-list icon-puce green" aria-hidden="true"></i>
            </div>
            <div class="title-search">
                <h4 class="green">{{ 'mes.sport.arch'|trans }}</h4>
            </div>
            <br>
            <div class="result-search">

                {% for key, entity in entities %}
                {% if("now"|date('Y-m-d')>entity.startdate|date('Y-m-d')) %}
                    <div class="block item-act">
                        <div class="row">
                            <div class="col-md-2">
                                <a href="{{ path('grintaaa_user_show', {'username': entity.user.username,'id': entity.user.id }) }}" title="organiser une journée sportive">
                                    <div class="img-avatar">
                                        {% if((image|length)>0) %}
                                            <img  src="{{ asset('uploads/users/') }}{{ image[0].logo }}" alt="organiser une journée sportive">
                                        {% else %}
                                            <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="organiser une journée sportive">
                                        {% endif %}
                                    </div>
                                    <div class="name-avatar">
                                        <h5 class="text-center">{{ entity.user.lastname }} {{ entity.user.firstname }}</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 text-center">
                                <h3 class="name-match green">{{ entity.title }}</h3>
                                {% if entity.nbPlayer is null %}
                                    <p>{{ nbparticipe[key] }} {{ 'mot.participants'|trans }}</p>
                                {% else %}
                                    <p>{{ nbparticipe[key] }}/{{ entity.nbPlayer }}</p> {{ 'mot.participants'|trans }}
                                {% endif %}
                            </div>
                            <div class="col-md-4 info-date">
                                <ul class="list-unstyled">
                                    <li><img src="{{ asset('bundles/comparatorbase/images/date.png') }}" alt="organiser une journée sportive">{{ entity.startdate|date('d-m-Y') }}</li>
                                    <li class="lieu"><img src="{{ asset('bundles/comparatorbase/images/lieu.png') }}" alt="organiser une journée sportive"> {{ entity.locality }} ( {{ entity.country }})</li>
                                    <li><img src="{{ asset('bundles/comparatorbase/images/heure.png') }}" alt="organiser une journée sportive"> {{ entity.starttime|date('H:i') }} {{ 'lettre.a'|trans }} {{ entity.endtime|date('H:i') }}</li>
                                </ul>
                            </div>
                            <div class="col-md-2 info-date">
                                <h3 class="name-match green"></h3>
                                <a href="{{ path('event_show', {'slug': entity.slug }) }}" title="organiser une journée sportive" class="btn btn-grinta">{{ 'fiche.match'|trans }}</a>

                                <form id="validate_field_types" method="POST" action="{{ path('event_delete', {'id': entity.id}) }}">
                                    <input type="submit" class="btn btn-refus btn-refus-invit" value="{{ 'msg.delete'|trans }}" />
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
 </div>
</div>
<!--end containt-->
