<!--Debut containt-->
<div class="container containt-dash">
    <!--Debut left-block-->
    <div class="col-md-2 no-padding-right">
        <div class="block profil-block">
            <div class="profil-dash">
                <div class="col-md-12 no-padding">
                    <div class="grid">
                        <figure class="effect-winston">
                            {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                            <figcaption>
                                <p>
                                    <a href="{{ path('user_file_new') }}"><i class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-12 no-padding">
                    <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                    <p class="titre-user">      
								<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
									<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
								</a>
							</p> 
                    <!--p class="pro">Profil</p-->
                </div>

            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('home') }}">
                        <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}">{{ 'fil.act'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_notification') }}">
                        {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                    </a>
                </li>

                <li>
                    <a href="{{ path('grintaaa__list_friend') }}">
                        {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                    </a>
                </li>
                <li>
                    {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_image') }}">
                        {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_video') }}">
                        {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                    </a>
                </li>
            </ul>
        </div>

        {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}
        {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

    <br><br>
    </div>

    <div class="col-md-10">
    <div class="formulaire-search col-md-12">
        <div class="img-search">
            <img src="{{ asset('bundles/comparatorbase/images/recherche.png') }}">
        </div>
        <div class="title-search">
            <h2 class="green">{{ 'recherche.sport'|trans }}</h2>
        </div>
        <div class="formulair">
            <form id="form-search" class="form-search" action="{{ path('event_search') }}" method="post">

                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="">{{ 'user.pays'|trans }}:</div>
                        <select class="form-control" name="genre" id="pays">
                            <option value="Afghanistan" {% if(app.user.country=="Afghanistan") %} selected {% endif %}>Afghanistan</option>
                            <option value="Afrique du Sud" {% if(app.user.country=="Afrique du Sud") %} selected {% endif %}>Afrique du Sud</option>
                            <option value="Albanie" {% if(app.user.country=="Albanie") %} selected {% endif %}>Albanie</option>
                            <option value="Algérie" {% if(app.user.country=="Algérie") %} selected {% endif %}>Algérie</option>
                            <option value="Allemagne" {% if(app.user.country=="Allemagne") %} selected {% endif %}>Allemagne</option>
                            <option value="Andorre" {% if(app.user.country=="Andorre") %} selected {% endif %}>Andorre</option>
                            <option value="Angola" {% if(app.user.country=="Angola") %} selected {% endif %}>Angola</option>
                            <option value="Anguilla" {% if(app.user.country=="Anguilla") %} selected {% endif %}>Anguilla</option>
                            <option value="Antarctique" {% if(app.user.country=="Antarctique") %} selected {% endif %}>Antarctique</option>
                            <option value="Antigua et Barbuda" {% if(app.user.country=="Antigua et Barbuda") %} selected {% endif %}>Antigua-et-Barbuda</option>
                            <option value="Arabie saoudite" {% if(app.user.country=="Arabie saoudite") %} selected {% endif %}>Arabie saoudite</option>
                            <option value="Argentine" {% if(app.user.country=="Argentine") %} selected {% endif %}>Argentine</option>
                            <option value="Arménie" {% if(app.user.country=="Arménie") %} selected {% endif %}>Arménie</option>
                            <option value="Aruba" {% if(app.user.country=="Aruba") %} selected {% endif %}>Aruba</option>
                            <option value="Australie" {% if(app.user.country=="Australie") %} selected {% endif %}>Australie</option>
                            <option value="Autriche" {% if(app.user.country=="Autriche") %} selected {% endif %}>Autriche</option>
                            <option value="Azerbaïdjan" {% if(app.user.country=="Azerbaïdjan") %} selected {% endif %}>Azerbaïdjan</option>
                            <option value="Bahamas" {% if(app.user.country=="Bahamas") %} selected {% endif %}>Bahamas</option>
                            <option value="Bahreïn" {% if(app.user.country=="Bahreïn") %} selected {% endif %}>Bahreïn</option>
                            <option value="Bangladesh" {% if(app.user.country=="Bangladesh") %} selected {% endif %}>Bangladesh</option>
                            <option value="Barbade" {% if(app.user.country=="Barbade") %} selected {% endif %}>Barbade</option>
                            <option value="Belgique" {% if(app.user.country=="Belgique") %} selected {% endif %}>Belgique</option>
                            <option value="Belize" {% if(app.user.country=="Belize") %} selected {% endif %}>Belize</option>
                            <option value="Bénin" {% if(app.user.country=="Bénin") %} selected {% endif %}>Bénin</option>
                            <option value="Bermudes" {% if(app.user.country=="Bermudes") %} selected {% endif %}>Bermudes</option>
                            <option value="Bhoutan" {% if(app.user.country=="Bhoutan") %} selected {% endif %}>Bhoutan</option>
                            <option value="Biélorussie" {% if(app.user.country=="Biélorussie") %} selected {% endif %}>Biélorussie</option>
                            <option value="Bolivie" {% if(app.user.country=="Bolivie") %} selected {% endif %}>Bolivie</option>
                            <option value="Bosnie Herzégovine" {% if(app.user.country=="Bosnie Herzégovine") %} selected {% endif %}>Bosnie-Herzégovine</option>
                            <option value="Botswana" {% if(app.user.country=="Botswana") %} selected {% endif %}>Botswana</option>
                            <option value="Brésil" {% if(app.user.country=="Brésil") %} selected {% endif %}>Brésil</option>
                            <option value="Brunéi Darussalam" {% if(app.user.country=="Brunéi Darussalam") %} selected {% endif %}>Brunéi Darussalam</option>
                            <option value="Bulgarie" {% if(app.user.country=="Bulgarie") %} selected {% endif %}>Bulgarie</option>
                            <option value="Burkina Faso" {% if(app.user.country=="Burkina Faso") %} selected {% endif %}>Burkina Faso</option>
                            <option value="Burundi" {% if(app.user.country=="Burundi") %} selected {% endif %}>Burundi</option>
                            <option value="Cambodge" {% if(app.user.country=="Cambodge") %} selected {% endif %}>Cambodge</option>
                            <option value="Cameroun" {% if(app.user.country=="Cameroun") %} selected {% endif %}>Cameroun</option>
                            <option value="Canada" {% if(app.user.country=="Canada") %} selected {% endif %}>Canada</option>
                            <option value="Cap Vert" {% if(app.user.country=="Cap Vert") %} selected {% endif %}>Cap-Vert</option>
                            <option value="Ceuta et Melilla" {% if(app.user.country=="Ceuta et Melilla") %} selected {% endif %}>Ceuta et Melilla</option>
                            <option value="Chili" {% if(app.user.country=="Chili") %} selected {% endif %}>Chili</option>
                            <option value="Chine" {% if(app.user.country=="Chine") %} selected {% endif %}>Chine</option>
                            <option value="Chypre" {% if(app.user.country=="Chypre") %} selected {% endif %}>Chypre</option>
                            <option value="Colombie" {% if(app.user.country=="Colombie") %} selected {% endif %}>Colombie</option>
                            <option value="Comores" {% if(app.user.country=="Comores") %} selected {% endif %}>Comores</option>
                            <option value="Congo Brazzaville" {% if(app.user.country=="Congo Brazzaville") %} selected {% endif %}>Congo-Brazzaville</option>
                            <option value="Congo Kinshasa" {% if(app.user.country=="Congo Kinshasa") %} selected {% endif %}>Congo-Kinshasa</option>
                            <option value="Corée du Nord" {% if(app.user.country=="Corée du Nord") %} selected {% endif %}>Corée du Nord</option>
                            <option value="Corée du Sud" {% if(app.user.country=="Corée du Sud") %} selected {% endif %}>Corée du Sud</option>
                            <option value="Costa Rica" {% if(app.user.country=="Costa Rica") %} selected {% endif %}>Costa Rica</option>
                            <option value="Côte d’Ivoire" {% if(app.user.country=="Côte d’Ivoire") %} selected {% endif %}>Côte d’Ivoire</option>
                            <option value="Croatie" {% if(app.user.country=="Croatie") %} selected {% endif %}>Croatie</option>
                            <option value="Cuba" {% if(app.user.country=="Cuba") %} selected {% endif %}>Cuba</option>
                            <option value="Curaçao" {% if(app.user.country=="Curaçao") %} selected {% endif %}>Curaçao</option>
                            <option value="Danemark" {% if(app.user.country=="Danemark") %} selected {% endif %}>Danemark</option>
                            <option value="Diego Garcia" {% if(app.user.country=="Diego Garcia") %} selected {% endif %}>Diego Garcia</option>
                            <option value="Djibouti" {% if(app.user.country=="Djibouti") %} selected {% endif %}>Djibouti</option>
                            <option value="Dominique" {% if(app.user.country=="Dominique") %} selected {% endif %}>Dominique</option>
                            <option value="Égypte" {% if(app.user.country=="Égypte") %} selected {% endif %}>Égypte</option>
                            <option value="El Salvador" {% if(app.user.country=="El Salvador") %} selected {% endif %}>El Salvador</option>
                            <option value="Émirats arabes unis" {% if(app.user.country=="Émirats arabes unis") %} selected {% endif %}>Émirats arabes unis</option>
                            <option value="Équateur" {% if(app.user.country=="Équateur") %} selected {% endif %}>Équateur</option>
                            <option value="Érythrée" {% if(app.user.country=="Érythrée") %} selected {% endif %}>Érythrée</option>
                            <option value="Espagne" {% if(app.user.country=="Espagne") %} selected {% endif %}>Espagne</option>
                            <option value="Estonie" {% if(app.user.country=="Estonie") %} selected {% endif %}>Estonie</option>
                            <option value="État de la Cité du Vatican" {% if(app.user.country=="État de la Cité du Vatican") %} selected {% endif %}>État de la Cité du Vatican</option>
                            <option value="États fédérés de Micronésie" {% if(app.user.country=="États fédérés de Micronésie") %} selected {% endif %}>États fédérés de Micronésie</option>
                            <option value="États Unis" {% if(app.user.country=="États Unis") %} selected {% endif %}>États-Unis</option>
                            <option value="Éthiopie" {% if(app.user.country=="Éthiopie") %} selected {% endif %}>Éthiopie</option>
                            <option value="Fidji" {% if(app.user.country=="Fidji") %} selected {% endif %}>Fidji</option>
                            <option value="Finlande" {% if(app.user.country=="Finlande") %} selected {% endif %}>Finlande</option>
                            <option value="France" {% if(app.user.country=="France") %} selected {% endif %}>France</option>
                            <option value="Gabon" {% if(app.user.country=="Gabon") %} selected {% endif %}>Gabon</option>
                            <option value="Gambie" {% if(app.user.country=="Gambie") %} selected {% endif %}>Gambie</option>
                            <option value="Géorgie" {% if(app.user.country=="Géorgie") %} selected {% endif %}>Géorgie</option>
                            <option value="Ghana" {% if(app.user.country=="Ghana") %} selected {% endif %}>Ghana</option>
                            <option value="Gibraltar" {% if(app.user.country=="Gibraltar") %} selected {% endif %}>Gibraltar</option>
                            <option value="Grèce" {% if(app.user.country=="Grèce") %} selected {% endif %}>Grèce</option>
                            <option value="Grenade" {% if(app.user.country=="Grenade") %} selected {% endif %}>Grenade</option>
                            <option value="Groenland" {% if(app.user.country=="Groenland") %} selected {% endif %}>Groenland</option>
                            <option value="Guadeloupe" {% if(app.user.country=="Guadeloupe") %} selected {% endif %}>Guadeloupe</option>
                            <option value="Guam" {% if(app.user.country=="Guam") %} selected {% endif %}>Guam</option>
                            <option value="Guatemala" {% if(app.user.country=="Guatemala") %} selected {% endif %}>Guatemala</option>
                            <option value="Guernesey" {% if(app.user.country=="Guernesey") %} selected {% endif %}>Guernesey</option>
                            <option value="Guinée" {% if(app.user.country=="Guinée") %} selected {% endif %}>Guinée</option>
                            <option value="Guinée équatoriale" {% if(app.user.country=="Guinée équatoriale") %} selected {% endif %}>Guinée équatoriale</option>
                            <option value="Guinée Bissau" {% if(app.user.country=="Guinée Bissau") %} selected {% endif %}>Guinée-Bissau</option>
                            <option value="Guyana" {% if(app.user.country=="Guyana") %} selected {% endif %}>Guyana</option>
                            <option value="Guyane française" {% if(app.user.country=="Guyane française") %} selected {% endif %}>Guyane française</option>
                            <option value="Haïti" {% if(app.user.country=="Haïti") %} selected {% endif %}>Haïti</option>
                            <option value="Honduras" {% if(app.user.country=="Honduras") %} selected {% endif %}>Honduras</option>
                            <option value="Hongrie" {% if(app.user.country=="Hongrie") %} selected {% endif %}>Hongrie</option>
                            <option value="Île Christmas" {% if(app.user.country=="Île Christmas") %} selected {% endif %}>Île Christmas</option>
                            <option value="Île de l’Ascension" {% if(app.user.country=="Île de l’Ascension") %} selected {% endif %}>Île de l’Ascension</option>
                            <option value="Île de Man" {% if(app.user.country=="Île de Man") %} selected {% endif %}>Île de Man</option>
                            <option value="Île Norfolk" {% if(app.user.country=="Île Norfolk") %} selected {% endif %}>Île Norfolk</option>
                            <option value="Îles Åland" {% if(app.user.country=="Îles Åland") %} selected {% endif %}>Îles Åland</option>
                            <option value="Îles Caïmans" {% if(app.user.country=="Îles Caïmans") %} selected {% endif %}>Îles Caïmans</option>
                            <option value="Îles Canaries" {% if(app.user.country=="Îles Canaries") %} selected {% endif %}>Îles Canaries</option>
                            <option value="Îles Cocos" {% if(app.user.country=="Îles Cocos") %} selected {% endif %}>Îles Cocos</option>
                            <option value="Îles Cook" {% if(app.user.country=="Îles Cook") %} selected {% endif %}>Îles Cook</option>
                            <option value="Îles Féroé" {% if(app.user.country=="Îles Féroé") %} selected {% endif %}>Îles Féroé</option>
                            <option value="Îles Géorgie du Sud et Sandwich du Sud" {% if(app.user.country=="Îles Géorgie du Sud et Sandwich du Sud") %} selected {% endif %}>Îles Géorgie du Sud et Sandwich du Sud</option>
                            <option value="Îles Malouines" {% if(app.user.country=="Îles Malouines") %} selected {% endif %}>Îles Malouines</option>
                            <option value="Îles Mariannes du Nord" {% if(app.user.country=="Îles Mariannes du Nord") %} selected {% endif %}>Îles Mariannes du Nord</option>
                            <option value="Îles Marshall" {% if(app.user.country=="Îles Marshall") %} selected {% endif %}>Îles Marshall</option>
                            <option value="Îles mineures éloignées des États Unis" {% if(app.user.country=="Îles mineures éloignées des États Unis") %} selected {% endif %}>Îles mineures éloignées des États-Unis</option>
                            <option value="Îles Salomon" {% if(app.user.country=="Îles Salomon") %} selected {% endif %}>Îles Salomon</option>
                            <option value="Îles Turques et Caïques" {% if(app.user.country=="Îles Turques et Caïques") %} selected {% endif %}>Îles Turques-et-Caïques</option>
                            <option value="Îles Vierges britanniques" {% if(app.user.country=="Îles Vierges britanniques") %} selected {% endif %}>Îles Vierges britanniques</option>
                            <option value="Îles Vierges des États-Unis" {% if(app.user.country=="Îles Vierges des États-Unis") %} selected {% endif %}>Îles Vierges des États-Unis</option>
                            <option value="Inde" {% if(app.user.country=="Inde") %} selected {% endif %}>Inde</option>
                            <option value="Indonésie" {% if(app.user.country=="Indonésie") %} selected {% endif %}>Indonésie</option>
                            <option value="Irak" {% if(app.user.country=="Irak") %} selected {% endif %}>Irak</option>
                            <option value="Iran" {% if(app.user.country=="Iran") %} selected {% endif %}>Iran</option>
                            <option value="Irlande" {% if(app.user.country=="Irlande") %} selected {% endif %}>Irlande</option>
                            <option value="Islande" {% if(app.user.country=="Islande") %} selected {% endif %}>Islande</option>
                            <option value="Italie" {% if(app.user.country=="Italie") %} selected {% endif %}>Italie</option>
                            <option value="Jamaïque" {% if(app.user.country=="Jamaïque") %} selected {% endif %}>Jamaïque</option>
                            <option value="Japon" {% if(app.user.country=="Japon") %} selected {% endif %}>Japon</option>
                            <option value="Jersey" {% if(app.user.country=="Jersey") %} selected {% endif %}>Jersey</option>
                            <option value="Jordanie" {% if(app.user.country=="Jordanie") %} selected {% endif %}>Jordanie</option>
                            <option value="Kazakhstan" {% if(app.user.country=="Kazakhstan") %} selected {% endif %}>Kazakhstan</option>
                            <option value="Kenya" {% if(app.user.country=="Kenya") %} selected {% endif %}>Kenya</option>
                            <option value="Kirghizistan" {% if(app.user.country=="Kirghizistan") %} selected {% endif %}>Kirghizistan</option>
                            <option value="Kiribati" {% if(app.user.country=="Kiribati") %} selected {% endif %}>Kiribati</option>
                            <option value="Kosovo" {% if(app.user.country=="Kosovo") %} selected {% endif %}>Kosovo</option>
                            <option value="Koweït" {% if(app.user.country=="Koweït") %} selected {% endif %}>Koweït</option>
                            <option value="La Réunion" {% if(app.user.country=="La Réunion") %} selected {% endif %}>La Réunion</option>
                            <option value="Laos" {% if(app.user.country=="Laos") %} selected {% endif %}>Laos</option>
                            <option value="Lesotho" {% if(app.user.country=="Lesotho") %} selected {% endif %}>Lesotho</option>
                            <option value="Lettonie" {% if(app.user.country=="Lettonie") %} selected {% endif %}>Lettonie</option>
                            <option value="Liban" {% if(app.user.country=="Liban") %} selected {% endif %}>Liban</option>
                            <option value="Libéria" {% if(app.user.country=="Libéria") %} selected {% endif %}>Libéria</option>
                            <option value="Libye" {% if(app.user.country=="Libye") %} selected {% endif %}>Libye</option>
                            <option value="Liechtenstein" {% if(app.user.country=="Liechtenstein") %} selected {% endif %}>Liechtenstein</option>
                            <option value="Lituanie" {% if(app.user.country=="Lituanie") %} selected {% endif %}>Lituanie</option>
                            <option value="Luxembourg" {% if(app.user.country=="Luxembourg") %} selected {% endif %}>Luxembourg</option>
                            <option value="Macédoine" {% if(app.user.country=="Macédoine") %} selected {% endif %}>Macédoine</option>
                            <option value="Madagascar" {% if(app.user.country=="Madagascar") %} selected {% endif %}>Madagascar</option>
                            <option value="Malaisie" {% if(app.user.country=="Malaisie") %} selected {% endif %}>Malaisie</option>
                            <option value="Malawi" {% if(app.user.country=="Malawi") %} selected {% endif %}>Malawi</option>
                            <option value="Maldives" {% if(app.user.country=="Maldives") %} selected {% endif %}>Maldives</option>
                            <option value="Mali" {% if(app.user.country=="Mali") %} selected {% endif %}>Mali</option>
                            <option value="Malte" {% if(app.user.country=="Malte") %} selected {% endif %}>Malte</option>
                            <option value="Maroc" {% if(app.user.country=="Maroc") %} selected {% endif %}>Maroc</option>
                            <option value="Martinique" {% if(app.user.country=="Martinique") %} selected {% endif %}>Martinique</option>
                            <option value="Maurice" {% if(app.user.country=="Maurice") %} selected {% endif %}>Maurice</option>
                            <option value="Mauritanie" {% if(app.user.country=="Mauritanie") %} selected {% endif %}>Mauritanie</option>
                            <option value="Mayotte" {% if(app.user.country=="Mayotte") %} selected {% endif %}>Mayotte</option>
                            <option value="Mexique" {% if(app.user.country=="Mexique") %} selected {% endif %}>Mexique</option>
                            <option value="Moldavie" {% if(app.user.country=="Moldavie") %} selected {% endif %}>Moldavie</option>
                            <option value="Monaco" {% if(app.user.country=="Monaco") %} selected {% endif %}>Monaco</option>
                            <option value="Mongolie" {% if(app.user.country=="Mongolie") %} selected {% endif %}>Mongolie</option>
                            <option value="Monténégro" {% if(app.user.country=="Monténégro") %} selected {% endif %}>Monténégro</option>
                            <option value="Montserrat" {% if(app.user.country=="Montserrat") %} selected {% endif %}>Montserrat</option>
                            <option value="Mozambique" {% if(app.user.country=="Mozambique") %} selected {% endif %}>Mozambique</option>
                            <option value="Myanmar" {% if(app.user.country=="Myanmar") %} selected {% endif %}>Myanmar</option>
                            <option value="Namibie" {% if(app.user.country=="Namibie") %} selected {% endif %}>Namibie</option>
                            <option value="Nauru" {% if(app.user.country=="Nauru") %} selected {% endif %}>Nauru</option>
                            <option value="Népal" {% if(app.user.country=="Népal") %} selected {% endif %}>Népal</option>
                            <option value="Nicaragua" {% if(app.user.country=="Nicaragua") %} selected {% endif %}>Nicaragua</option>
                            <option value="Niger" {% if(app.user.country=="Niger") %} selected {% endif %}>Niger</option>
                            <option value="Nigéria" {% if(app.user.country=="Nigéria") %} selected {% endif %}>Nigéria</option>
                            <option value="Niue" {% if(app.user.country=="Niue") %} selected {% endif %}>Niue</option>
                            <option value="Norvège" {% if(app.user.country=="Norvège") %} selected {% endif %}>Norvège</option>
                            <option value="Nouvelle Calédonie" {% if(app.user.country=="Nouvelle Calédonie") %} selected {% endif %}>Nouvelle-Calédonie</option>
                            <option value="Nouvelle Zélande" {% if(app.user.country=="Nouvelle Zélande") %} selected {% endif %}>Nouvelle-Zélande</option>
                            <option value="Oman" {% if(app.user.country=="Oman") %} selected {% endif %}>Oman</option>
                            <option value="Ouganda" {% if(app.user.country=="Ouganda") %} selected {% endif %}>Ouganda</option>
                            <option value="Ouzbékistan" {% if(app.user.country=="Ouzbékistan") %} selected {% endif %}>Ouzbékistan</option>
                            <option value="Pakistan" {% if(app.user.country=="Pakistan") %} selected {% endif %}>Pakistan</option>
                            <option value="Palaos" {% if(app.user.country=="Palaos") %} selected {% endif %}>Palaos</option>
                            <option value="Panama" {% if(app.user.country=="Panama") %} selected {% endif %}>Panama</option>
                            <option value="Papouasie Nouvelle Guinée" {% if(app.user.country=="Papouasie Nouvelle Guinée") %} selected {% endif %}>Papouasie-Nouvelle-Guinée</option>
                            <option value="Paraguay" {% if(app.user.country=="Paraguay") %} selected {% endif %}>Paraguay</option>
                            <option value="Pays Bas" {% if(app.user.country=="Pays Bas") %} selected {% endif %}>Pays-Bas</option>
                            <option value="Pays Bas caribéens" {% if(app.user.country=="Pays Bas caribéens") %} selected {% endif %}>Pays-Bas caribéens</option>
                            <option value="Pérou" {% if(app.user.country=="Pérou") %} selected {% endif %}>Pérou</option>
                            <option value="Philippines" {% if(app.user.country=="Philippines") %} selected {% endif %}>Philippines</option>
                            <option value="Pitcairn" {% if(app.user.country=="Pitcairn") %} selected {% endif %}>Pitcairn</option>
                            <option value="Pologne" {% if(app.user.country=="Pologne") %} selected {% endif %}>Pologne</option>
                            <option value="Polynésie française" {% if(app.user.country=="Polynésie française") %} selected {% endif %}>Polynésie française</option>
                            <option value="Porto Rico" {% if(app.user.country=="Porto Rico") %} selected {% endif %}>Porto Rico</option>
                            <option value="Portugal" {% if(app.user.country=="Portugal") %} selected {% endif %}>Portugal</option>
                            <option value="Qatar" {% if(app.user.country=="Qatar") %} selected {% endif %}>Qatar</option>
                            <option value="R.A.S. chinoise de Hong Kong" {% if(app.user.country=="R.A.S. chinoise de Hong Kong") %} selected {% endif %}>R.A.S. chinoise de Hong Kong</option>
                            <option value="R.A.S. chinoise de Macao" {% if(app.user.country=="R.A.S. chinoise de Macao") %} selected {% endif %}>R.A.S. chinoise de Macao</option>
                            <option value="République centrafricaine" {% if(app.user.country=="République centrafricaine") %} selected {% endif %}>République centrafricaine</option>
                            <option value="République dominicaine" {% if(app.user.country=="République dominicaine") %} selected {% endif %}>République dominicaine</option>
                            <option value="République tchèque" {% if(app.user.country=="République tchèque") %} selected {% endif %}>République tchèque</option>
                            <option value="Roumanie" {% if(app.user.country=="Roumanie") %} selected {% endif %}>Roumanie</option>
                            <option value="Royaume-Uni" {% if(app.user.country=="Royaume-Uni") %} selected {% endif %}>Royaume-Uni</option>
                            <option value="Russie" {% if(app.user.country=="Russie") %} selected {% endif %}>Russie</option>
                            <option value="Rwanda" {% if(app.user.country=="Rwanda") %} selected {% endif %}>Rwanda</option>
                            <option value="Sahara occidental" {% if(app.user.country=="Sahara occidental") %} selected {% endif %}>Sahara occidental</option>
                            <option value="Saint Barthélemy" {% if(app.user.country=="Saint-Barthélemy") %} selected {% endif %}>Saint-Barthélemy</option>
                            <option value="Saint Christophe et Niévès" {% if(app.user.country=="Saint Christophe et Niévès") %} selected {% endif %}>Saint-Christophe-et-Niévès</option>
                            <option value="Saint-Marin" {% if(app.user.country=="Saint-Marin") %} selected {% endif %}>Saint-Marin</option>
                            <option value="Saint-Martin (partie française)" {% if(app.user.country=="Saint Martin (partie française)") %} selected {% endif %}>Saint-Martin (partie française)</option>
                            <option value="Saint-Martin (partie néerlandaise)" {% if(app.user.country=="Saint Martin (partie néerlandaise)") %} selected {% endif %}>Saint-Martin (partie néerlandaise)</option>
                            <option value="Saint Pierre et Miquelon" {% if(app.user.country=="Saint Pierre et Miquelon") %} selected {% endif %}>Saint-Pierre-et-Miquelon</option>
                            <option value="Saint Vincent et les Grenadines" {% if(app.user.country=="Saint Vincent et les Grenadines") %} selected {% endif %}>Saint-Vincent-et-les-Grenadines</option>
                            <option value="Sainte Hélène" {% if(app.user.country=="Sainte Hélène") %} selected {% endif %}>Sainte-Hélène</option>
                            <option value="Sainte Lucie" {% if(app.user.country=="Sainte Lucie") %} selected {% endif %}>Sainte-Lucie</option>
                            <option value="Samoa" {% if(app.user.country=="Samoa") %} selected {% endif %}>Samoa</option>
                            <option value="Samoa américaines" {% if(app.user.country=="Samoa américaines") %} selected {% endif %}>Samoa américaines</option>
                            <option value="Sao Tomé et Principe" {% if(app.user.country=="Sao Tomé et Principe") %} selected {% endif %}>Sao Tomé-et-Principe</option>
                            <option value="Sénégal" {% if(app.user.country=="Sénégal") %} selected {% endif %}>Sénégal</option>
                            <option value="Serbie" {% if(app.user.country=="Serbie") %} selected {% endif %}>Serbie</option>
                            <option value="Seychelles" {% if(app.user.country=="Seychelles") %} selected {% endif %}>Seychelles</option>
                            <option value="Sierra Leone" {% if(app.user.country=="Sierra Leone") %} selected {% endif %}>Sierra Leone</option>
                            <option value="Singapour" {% if(app.user.country=="Singapour") %} selected {% endif %}>Singapour</option>
                            <option value="Slovaquie" {% if(app.user.country=="Slovaquie") %} selected {% endif %}>Slovaquie</option>
                            <option value="Slovénie" {% if(app.user.country=="Slovénie") %} selected {% endif %}>Slovénie</option>
                            <option value="Somalie" {% if(app.user.country=="Somalie") %} selected {% endif %}>Somalie</option>
                            <option value="Soudan" {% if(app.user.country=="Soudan") %} selected {% endif %}>Soudan</option>
                            <option value="Soudan du Sud" {% if(app.user.country=="Soudan du Sud") %} selected {% endif %}>Soudan du Sud</option>
                            <option value="Sri Lanka" {% if(app.user.country=="Sri Lanka") %} selected {% endif %}>Sri Lanka</option>
                            <option value="Suède" {% if(app.user.country=="Suède") %} selected {% endif %}>Suède</option>
                            <option value="Suisse" {% if(app.user.country=="Suisse") %} selected {% endif %}>Suisse</option>
                            <option value="Suriname" {% if(app.user.country=="Suriname") %} selected {% endif %}>Suriname</option>
                            <option value="Svalbard et Jan Mayen" {% if(app.user.country=="Svalbard et Jan Mayen") %} selected {% endif %}>Svalbard et Jan Mayen</option>
                            <option value="Swaziland" {% if(app.user.country=="Swaziland") %} selected {% endif %}>Swaziland</option>
                            <option value="Syrie" {% if(app.user.country=="Syrie") %} selected {% endif %}>Syrie</option>
                            <option value="Tadjikistan" {% if(app.user.country=="Tadjikistan") %} selected {% endif %}>Tadjikistan</option>
                            <option value="Taïwan" {% if(app.user.country=="Taïwan") %} selected {% endif %}>Taïwan</option>
                            <option value="Tanzanie" {% if(app.user.country=="Tanzanie") %} selected {% endif %}>Tanzanie</option>
                            <option value="Tchad" {% if(app.user.country=="Tchad") %} selected {% endif %}>Tchad</option>
                            <option value="Terres australes françaises" {% if(app.user.country=="Terres australes françaises") %} selected {% endif %}>Terres australes françaises</option>
                            <option value="Territoire britannique de l’océan Indien" {% if(app.user.country=="Territoire britannique de l’océan Indien") %} selected {% endif %}>Territoire britannique de l’océan Indien</option>
                            <option value="Territoires palestiniens" {% if(app.user.country=="PS") %} selected {% endif %}>Territoires palestiniens</option>
                            <option value="Thaïlande" {% if(app.user.country=="Thaïlande") %} selected {% endif %}>Thaïlande</option>
                            <option value="Timor oriental" {% if(app.user.country=="Timor oriental") %} selected {% endif %}>Timor oriental</option>
                            <option value="Togo" {% if(app.user.country=="Togo") %} selected {% endif %}>Togo</option>
                            <option value="Tokelau" {% if(app.user.country=="Tokelau") %} selected {% endif %}>Tokelau</option>
                            <option value="Tonga" {% if(app.user.country=="Tonga") %} selected {% endif %}>Tonga</option>
                            <option value="Trinité et Tobago" {% if(app.user.country=="Trinité et Tobago") %} selected {% endif %}>Trinité-et-Tobago</option>
                            <option value="Trinité et Tobago" {% if(app.user.country=="Trinité et Tobago") %} selected {% endif %}>Tristan da Cunha</option>
                            <option value="Tunisie" {% if(app.user.country=="Tunisie") %} selected {% endif %}>Tunisie</option>
                            <option value="Turkménistan" {% if(app.user.country=="Turkménistan") %} selected {% endif %}>Turkménistan</option>
                            <option value="Turquie" {% if(app.user.country=="Turquie") %} selected {% endif %}>Turquie</option>
                            <option value="Tuvalu" {% if(app.user.country=="Tuvalu") %} selected {% endif %}>Tuvalu</option>
                            <option value="Ukraine" {% if(app.user.country=="Ukraine") %} selected {% endif %}>Ukraine</option>
                            <option value="Uruguay" {% if(app.user.country=="Uruguay") %} selected {% endif %}>Uruguay</option>
                            <option value="Vanuatu" {% if(app.user.country=="Vanuatu") %} selected {% endif %}>Vanuatu</option>
                            <option value="Venezuela" {% if(app.user.country=="Venezuela") %} selected {% endif %}>Venezuela</option>
                            <option value="Vietnam" {% if(app.user.country=="Vietnam") %} selected {% endif %}>Vietnam</option>
                            <option value="Wallisn et Futuna" {% if(app.user.country=="Wallis et Futuna") %} selected {% endif %}>Wallis-et-Futuna</option>
                            <option value="Yémen" {% if(app.user.country=="Yémen") %} selected {% endif %}>Yémen</option>
                            <option value="Zambie" {% if(app.user.country=="Zambie") %} selected {% endif %}>Zambie</option>
                            <option value="Zimbabwe" {% if(app.user.country=="Zimbabwe") %} selected {% endif %}>Zimbabwe</option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="">{{ 'user.adress'|trans }}:</div>
                        <input type="text" required="false" class="form-control" name="ville" id="ville" placeholder="{{ 'user.adress'|trans }}" />
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="">Sport:</div>  
                        <select class="form-control" name="interest">
                            <option value="">Toutes</option>
                            {% for interest in userInterest %}
                                <option value="{{ interest.id }}">{{ interest.title }}</option>
                            {% endfor %}
                        </select>
                    </div>  
                    <div class="col-md-3 col-sm-6">
                        <div class="">{{ 'search.rayon'|trans }}:</div>
                        <div class="rayon">
                            <label>{{ 'search.rayon'|trans }}</label>
                            <input type="number" name="rayon" id="default">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <input type="checkbox" name="handi">
                        {{ 'handi.sport'|trans }}
                    </div>
                    <div class="col-md-10 col-sm-6"></div>
                    <div class="col-md-2 col-sm-6">
                        <input type="submit" class="form-control btn btn-grinta" value="{{ 'button.search'|trans }}" />
                    </div>
                </div>
            </form>
        </div>
        <div class="result-search">
            <p class="result">{{ app.user.city }} ( {{ app.user.city }}, {{ app.user.country }}) {{ 'search.rayon'|trans }} 20 Km {{ 'rayon.autour'|trans }}</p>
            {% if(entities|length >0) %}
            {% for key, entity in entities %}
                <div class="block item-act">
                    <div class="row">
                        <div class="col-sm-3 col-md-2">
                            <a href="{{ path('grintaaa_user_show', {'username': entity.user.username,'id': entity.user.id }) }}">
                                <div class="img-avatar">
                                    {% if((images[key]|length)>0) %}
                                        <img  src="{{ asset('uploads/users/') }}{{ images[key][0].logo }}" alt="">
                                    {% else %}
                                        <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="">
                                    {% endif %}
                                </div>
                                <div class="name-avatar">
                                    <h5 class="text-center">{{ entity.user.lastname }} {{ entity.user.firstname }}</h5>
                                </div>
                            </a>   
                        </div>
                        <div class="col-sm-6 text-center">
                            <h3 class="name-match green">{{ entity.title }}</h3>
                            <div class="nb-participant">
                                {% if entity.nbPlayer is null %}
                                    <p>{{ nbparticipe[key] }} participant</p>
                                {% else %}
                                    <p>{{ nbparticipe[key] }}/{{ entity.nbPlayer }}</p>
                                    {% if (entity.nbPlayer == nbparticipe[key]) %}
                                        <p class="etat complete">{{ 'event.complet'|trans }}</p>
                                    {% else %}
                                        <p class="etat">{{ entity.nbPlayer-nbparticipe[key] }} {{ 'event.dispo'|trans }}</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-3 info-date">
                            <ul class="list-unstyled">
                                <li><img src="{{ asset('bundles/comparatorbase/images/date.png') }}">{{ entity.startdate|date('d-m-Y') }}</li>
                                <li class="lieu"><img src="{{ asset('bundles/comparatorbase/images/lieu.png') }}"> {{ entity.locality }} ( {{ entity.country }})</li>
                                <li><img src="{{ asset('bundles/comparatorbase/images/heure.png') }}"> {{ entity.starttime|date('H:i') }} {{ 'lettre.a'|trans }} {{ entity.endtime|date('H:i') }}</li>
                            </ul>
                            <a href="{{ path('event_show', {'slug': entity.slug }) }}" class="btn btn-grinta">{{ 'fiche.match'|trans }}</a>
                        </div>
                    </div>
                </div> 
            {% endfor %} 
            {% else %} 
                <div class="msg-aucun">{{ 'msg.sport.sug'|trans }}</div>
            {% endif %}
        </div>
    </div>
  </div>
</div>
<!--end containt-->
{% block javascripts %}



    <script>
        $(document).ready(function () {
            $('#default').val(20);
        });
    </script>

{% endblock %}