<div class="block event">
    <div class="title-block">
        <h4 class="green">{{ 'list.events'|trans }}</h4>
    </div>
    <div class="body-event">

        {% for entity in entities %}
        {% if(("now"|date('Y-m-d')<entity.event.startdate |date('Y-m-d'))) %}
        <div class="item-event">
            <a href="{{ path('event_show', {'slug': entity.event.slug }) }}">
                <div class="info-event">
                    <h4 class="green">{{ entity.event.title }}</h4>
                    <p>{{ entity.event.startdate|date('d-m-Y') }}</p>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>
