{% block javascripts %}
    <script>
        $(function () {
            var addresspicker = $("#addresspicker").addresspicker();
            var addresspickerMap = $("#comparator_bundle_eventbundle_event_address_address").addresspicker({
                regionBias: "fr",
                elements: {
                    map: "#map",
                    lat: "#comparator_bundle_eventbundle_event_lat_address",
                    lng: "#comparator_bundle_eventbundle_event_lng_address",
                    locality: '#comparator_bundle_eventbundle_event_locality_address',
                    administrative_area_level_2: '#administrative_area_level_2',
                    administrative_area_level_1: '#administrative_area_level_1',
                    country: '#comparator_bundle_eventbundle_event_country_address'
                }
            });
            var gmarker = addresspickerMap.addresspicker("marker");
            gmarker.setVisible(true);
            addresspickerMap.addresspicker("updatePosition");

            $('#reverseGeocode').change(function () {
                $("#comparator_bundle_eventbundle_event_address_address").addresspicker("option", "reverseGeocode", ($(this).val() === 'true'));
            });

        });
    </script>
{% endblock %}

    
 {% if  app.user %}

      	  	   <!--containt-->
                    <!--Debut containt-->
               <div class="containt-steps">
                  <div class="container">
                      <div class="col-md-10 col-md-offset-1 text-center">
                          <h2>{{ 'organize.new.sport'|trans }}</h2>
                      </div>
                      <div class="clearfix"></div>
                      <div class="wizard" id="wizard">
                        <div class="wizard-inner">
                            <ul class="nav nav-tabs nav-inscri" role="tablist">

                                <li role="presentation" class="col-sm-3 col-md-2 active">
                                    <p>{{ 'event.lieu'|trans }}</p>
                                    <hr class="left-line">
                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab"></a>
                                    <hr class="right-line">
                                </li>
                                <li role="presentation" class="col-sm-3 col-md-2 arrow disabled">
                                    <p>{{ 'event.type'|trans }}</p>
                                    <hr class="left-line">
                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab"></a>
                                    <hr class="right-line">
                                </li>
                                <li role="presentation" class="col-sm-3 col-md-2 arrow disabled">
                                    <p>{{ 'event.date'|trans }}</p>
                                    <hr class="left-line">
                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab"></a>
                                    <hr class="right-line">
                                </li>
                                <li role="presentation" class="col-sm-3 col-md-2 arrow disabled">
                                    <p>{{ 'event.details'|trans }}</p>
                                    <hr class="left-line">
                                    <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab"></a>
                                    <hr class="right-line">
                                </li>
                                <li role="presentation" class="col-sm-3 col-md-2 arrow disabled">
                                    <p>{{ 'event.validation'|trans }}</p>
                                    <hr class="left-line">
                                    <a href="#step5" data-toggle="tab" aria-controls="step5" role="tab"></a>
                                    <hr class="right-line">
                                </li>
                            </ul>
                        </div>
                        <form role="form" id="commentForm" action="{{ path('event_create') }}" {{ form_enctype(form) }} method="post">
                            <div class="tab-content content-steps">
                                <!--step 1-->
                                <div class="tab-pane active" role="tabpanel" id="step1">
                                    <div class="title-step">
                                      <h4>{{ 'event.choice.lieu'|trans }}</h4>
                                    </div>
                                    <div class="container-step">
                                        <div class="singl-step col-md-4 col-md-offset-4">
										  <div class="input_div"> 
                                             {{ form_widget(form.address, { 'attr': {'id': 'adresse','placeholder': 'Mentionner le lieu du sport'} }) }}
										  </div>
                                                         {{ form_widget(form.locality) }}
                                                           {{ form_widget(form.country) }}
                                                           {{ form_widget(form.lat) }}
                                                           {{ form_widget(form.lng) }}
                                        </div>

                                    </div>
									<div id="map"></div>
                                    <div class="footer-content-step">
                                        <button type="button" class="btn prev-step">{{ 'msg.retour'|trans }}</button>
                                        <button type="button" class="btn next-step btn-grinta">{{ 'msg.suiv'|trans }}</button>
                                    </div>
                                </div>
                                <!--step 2-->
                                <div class="tab-pane" role="tabpanel" id="step2">
                                    <div class="title-step">
                                      <h4>{{ 'event.choice.dis'|trans }}</h4>
                                    </div>
                                    <div class="container-step">
                                        <div class="singl-step col-md-4 col-md-offset-4">
										  <div class="input_div"> 


             <select id="selectcat" name="categoryselected">
                  <option value="" class="rhth">{{ 'event.select.sport'|trans }}</option>
                    {% for discipc in disciplinesc %}
     <option class="des{{ discipc.id }}" value="{{ discipc.id }}" id="selectionone">{{ discipc.title }}</option>
 {% endfor %}

            </select>
                                               <br>
                                               <br>
            <select id="selectprod" name="articleID">
                {% for discips in disciplinessa %}
     <option value="{{ discips.id }}" class="selectors des{{ discips.parent.id }}">{{ discips.title }}</option>
 {% endfor %}
            </select>
										  </div>

                                        </div>
                                    </div>
                                    <div class="footer-content-step">
                                        <button type="button" class="btn prev-step">{{ 'msg.retour'|trans }}</button>
                                        <button type="button" class="btn next-step btn-grinta">{{ 'msg.suiv'|trans }}</button>
                                    </div>
                                </div>
                                <!--step 3-->
                                <div class="tab-pane" role="tabpanel" id="step3">
                                    <div class="title-step">
                                      <h4>{{ 'event.pec.date'|trans }} & {{ 'event.pec.heure'|trans }}</h4>
                                    </div>
                                    <div class="container-step">
                                        <div class="singl-step step-date col-sm-6">
                                            <h3>{{ 'event.date'|trans }}</h3>
                                            <div class="col-sm-10">
                                             {{ form_widget(form.startDate, { 'attr': {'class': 'form-control datepicker','placeholder': 'click.choice.date'|trans } }) }}
										    </div>
										</div>
                                        <div class="singl-step col-sm-5 col-sm-offset-1 time-step">
                                            <h3>{{ 'event.heure'|trans }}</h3>
                                            <div class="col-md-5 ">
                                                <label>{{ 'event.heure.dep'|trans }}</label>
                                                <div class="col-xs-12">
                                               {{ form_widget(form.startTime) }}
                                                </div>

                                            </div>
                                            <div class="col-md-5">
                                                <label>{{ 'event.heure.fin'|trans }}</label>
                                                <div class="clearfix"></div>
                                                <div class="col-xs-12">
                                                {{ form_widget(form.endTime) }}
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="footer-content-step">
                                        <button type="button" class="btn prev-step">{{ 'msg.retour'|trans }}</button>
                                        <button type="button" class="btn next-step btn-grinta">{{ 'msg.suiv'|trans }}</button>
                                    </div>
                                </div>
                                <!--step 4-->
                                <div class="tab-pane" role="tabpanel" id="step4">
                                    <div class="title-step">
                                      <h4>{{ 'desc.det.event.suiv'|trans }}</h4>
                                    </div>
                                    <div class="container-step">
                                         <div class="singl-step col-md-6 detail">
										   <div class="col-md-4 no-padding">
                                             <h3>{{ 'event.title.sport'|trans }}</h3>
										   </div> 
										   <div class="col-md-8 no-padding">
                                             {{ form_widget(form.title, { 'attr': {'id': 'titre','placeholder': 'holder.title.event'|trans } }) }}
										   </div>
										   <div class="col-md-4 no-padding">
                                             <h3 class="nbr-gamers">{{ 'event.nb.joueur.sport'|trans }}</h3>
										   </div> 
										   <div class="col-md-8 no-padding">
										     <div class="nbrej activej col-md-9">
										      <div class="input_div"> 
                                               {{ form_widget(form.nbPlayer, { 'attr': {'id': 'joueurs','placeholder': 'holder.joueur.event'|trans,'min': '0'} }) }}
											  </div>
											 </div>
										     <div class="col-md-3">
										      <input type="checkbox" onclick="oncheck();" class="illimte" id="nbre_illimite" name="nbre_illimite" /> {{ 'joueur.illimite'|trans }}
										     </div>
										   </div>

										   <div class="col-md-8 no-padding handicap-detail">
                                             <h3 class="nbr-gamers">{{ 'handi.sport'|trans }}</h3>
                                              {{ form_widget(form.handi) }}
										   </div>

										   <div class="col-md-12 no-padding clear-tel">
										    <a onclick="plus();" class="ajout_option">
											 <i class="fa fa-plus-circle"></i> {{ 'add.option'|trans }}
											</a>
										    <div id="cadre"></div>
										    <div class="col-md-12 no-padding" id="sup">
										     <a onclick="moins();" class="sup_option">
											  <i class="fa fa-minus-circle"></i> {{ 'delete.option'|trans }}
											 </a>
											</div>
										   </div>
                                         </div>
                                         <div class="singl-step col-md-5 detail col-md-offset-1">
                                          <h3 class="desc">{{ 'desc.event.sports'|trans }}</h3>
										  <div class="input_div"> 
                                           {{ form_widget(form.description, { 'attr': {'id': 'description','placeholder': 'holder.detail.event'|trans } }) }}
                                          </div>
										 </div>									 
                                    </div>
                                    <div class="footer-content-step">
                                        <button type="button" class="btn prev-step">{{ 'msg.retour'|trans }}</button>
                                        <input type="button" class="btn next-step btn-grinta" id="hit" value="{{ 'msg.valide'|trans }}">

                                    </div>
                                </div>
                                <!--step 5-->
                                <div class="tab-pane" role="tabpanel" id="step5">
                                     <div class="container-step revue">
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">{{ 'lieu.sport'|trans }}</h3>
                                             <p id="p1"></p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">{{ 'type.descipline'|trans }}</h3>
                                             <p id="p2"></p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">{{ 'event.title.sport'|trans }}</h3>
                                             <p id="p3"></p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">{{ 'event.date'|trans }}</h3>
                                             <p id="p4"></p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">{{ 'event.heure.dep'|trans }}</h3>
                                             <p id="p5"></p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">{{ 'event.heure.fin'|trans }}</h3>
                                             <p id="p6"></p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">{{ 'event.nbr.joueur'|trans }}</h3>
                                             <p id="p7"></p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">{{ 'event.desc.sport'|trans }}</h3>
                                             <p id="p8"></p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">{{ 'handi.sport'|trans }}</h3>
                                             <p id="ph"></p>
                                        </div>

                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">{{ 'events.option.sport'|trans }}</h3>
                                             <ul>

                                                {% for i in 0..100 %}
     <li id="l{{ i }}"></li>
 {% endfor %}
                                              </ul>
                                        </div>
                                    </div>
                                    <div class="footer-content-step">
                                        <button type="button" class="btn prev-step">{{ 'msg.retour'|trans }}</button>
                                        <input type="submit" class="btn next-step btn-grinta" value="{{ 'button.enregistrer'|trans }}">
                                      {{ form_rest(form) }}
                                    </div>
                                </div>
                            </div>
                          {{ form_end(form) }}
                        </form>
                      </div>

                  </div>
               </div>
               <!--Fin containt-->
           </div>
        </div>
  {% endif %}


<script type="text/javascript">
    $(document).ready(function () {
        var allOptions = $('#selectprod option')
        $('#selectcat').change(function () {
            $('#selectprod option').remove()
            var classN = $('#selectcat option:selected').prop('class');
            var opts = allOptions.filter('.' + classN);
            $.each(opts, function (i, j) {
                $(j).appendTo('#selectprod');
            });
        });
    });


    var ident = '0';
    $('#comparator_bundle_eventbundle_event_startTime_hour option[value="' + ident +'"]').prop("selected", true);
    $('#comparator_bundle_eventbundle_event_startTime_minute option[value="' + ident +'"]').prop("selected", true);
    $('#comparator_bundle_eventbundle_event_endTime_hour option[value="' + ident +'"]').prop("selected", true);
    $('#comparator_bundle_eventbundle_event_endTime_minute option[value="' + ident +'"]').prop("selected", true);

    $("#comparator_bundle_eventbundle_event_startTime_hour").find("option").eq(0).remove();
    $("#comparator_bundle_eventbundle_event_startTime_minute").find("option").eq(0).remove();
    $("#comparator_bundle_eventbundle_event_endTime_hour").find("option").eq(0).remove();
    $("#comparator_bundle_eventbundle_event_endTime_minute").find("option").eq(0).remove();

    $("#comparator_bundle_eventbundle_event_startDate").datepicker({
        dateFormat: 'dd/mm/yy',
        beforeShowDay: NotBeforeToday-1,
        minDate: 0,
        onSelect: function (dateStr) {
            var today = new Date();
            var todays = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!

            var yyyy = today.getFullYear();
            if(dd<10){
                dd='0'+dd
            }
            if(mm<10){
                mm='0'+mm
            }
            var today = dd+'/'+mm+'/'+yyyy;
            if(today==$("#comparator_bundle_eventbundle_event_startDate").val())
            {
                // $("#comparator_bundle_eventbundle_event_startDate[value=" + title + "]").hide();
                //$('comparator_bundle_eventbundle_event_startDate option[value=17]').attr('disabled', 'disabled').hide();

                for(m=0;m<todays.getHours()+2;m++)
                {
                    //alert(i);
                    jQuery('#comparator_bundle_eventbundle_event_startTime_hour').children('option[value='+m+']').css('display','none');
                }
                //$('#comparator_bundle_eventbundle_event_startTime_hour option[value="' + todays.getHours()+2 +'"]').prop("selected", true);


                for(n=0;n<todays.getMinutes()+1;n++)
                {
                    //alert(i);
                    jQuery('#comparator_bundle_eventbundle_event_startTime_minute').children('option[value='+n+']').css('display','none');
                }


                $('#comparator_bundle_eventbundle_event_startTime_hour option[value="' + m +'"]').prop("selected", true);
                $('#comparator_bundle_eventbundle_event_startTime_minute option[value="' + n +'"]').prop("selected", true);
                //alert(todays.getHours());
                //alert(todays.getMinutes());

                $('#comparator_bundle_eventbundle_event_startTime_hour').on('change', function() {
                    if(this.value<=todays.getHours()+2)
                    {
                        for(bb=0;bb<todays.getMinutes()+1;bb++)
                        {
                            //alert(i);
                            jQuery('#comparator_bundle_eventbundle_event_startTime_minute').children('option[value='+bb+']').css('display','none');
                        }
                        $('#comparator_bundle_eventbundle_event_startTime_minute option[value="' + bb +'"]').prop("selected", true);

                    }else{
                        for(h=0;h<60;h++)
                        {
                            //alert(i);
                            jQuery('#comparator_bundle_eventbundle_event_startTime_minute').children('option[value='+h+']').css('display','block');
                        }
                        $('#comparator_bundle_eventbundle_event_startTime_minute option[value="0"]').prop("selected", true);
                    }



                });
            }

        }
    });
    function NotBeforeToday(date) {
        var now = new Date();//this gets the current date and time
        if (date.getFullYear() == now.getFullYear() && date.getMonth() == now.getMonth() && date.getDate() > now.getDate())
            return [true];
        if (date.getFullYear() >= now.getFullYear() && date.getMonth() > now.getMonth())
            return [true];
        if (date.getFullYear() > now.getFullYear())
            return [true];
        return [false];
    }
    function oncheck() {
        var x = document.getElementById("nbre_illimite").checked;
        if (x == true) {
            $(".nbrej").addClass("desactivej");
            $(".nbrej").removeClass("activej");
            //alert($("#comparator_bundle_eventbundle_event_nbPlayer").val());
            $("#comparator_bundle_eventbundle_event_nbPlayer").val("");
        } else {
            $(".nbrej").removeClass("desactivej");
            $(".nbrej").addClass("activej");
        }
    }
    function ajout_option() {

    }

    var c, c2, ch1, ch2;

    // ajouter un champ avec son "name" propre;
    function plus() {
        c = document.getElementById('cadre');
        c2 = c.getElementsByTagName('input');
        ch2 = document.createElement('input');

        ch2.setAttribute('type', 'text');
        ch2.setAttribute('placeholder', 'Option');
        ch2.setAttribute('class', 'form-control');
        ch2.setAttribute('name', 'option[]');
        ch2.setAttribute('id', 'option' + c2.length);
        c.appendChild(ch2);

        document.getElementById('sup').style.display = 'inline';
    }

    // supprimer le dernier champ;
    function moins() {
        if (c2.length > 0) {
            c.removeChild(c2[c2.length - 1]);
        }
        if (c2.length == 0) {
            document.getElementById('sup').style.display = 'none'
        }
        ;
    }



    $(document).ready(function () {


        $('#hit').click(function () {

            var zero ='0';
            var adresse = $("#comparator_bundle_eventbundle_event_address_address").val();

            var title = $("#comparator_bundle_eventbundle_event_title").val();
            var date = $("#comparator_bundle_eventbundle_event_startDate").val();
            if($("#comparator_bundle_eventbundle_event_startTime_hour").val().length==1)
            {
                var heured = zero.concat($("#comparator_bundle_eventbundle_event_startTime_hour").val());
            }else{
                var heured = $("#comparator_bundle_eventbundle_event_startTime_hour").val();
            }

            if($("#comparator_bundle_eventbundle_event_startTime_minute").val().length==1)
            {
                var mnd = zero.concat($("#comparator_bundle_eventbundle_event_startTime_minute").val());
            }else{
                var mnd = $("#comparator_bundle_eventbundle_event_startTime_minute").val();
            }




            if($("#comparator_bundle_eventbundle_event_endTime_hour").val().length==1)
            {
                var heuref = zero.concat($("#comparator_bundle_eventbundle_event_endTime_hour").val());
            }else{
                var heuref = $("#comparator_bundle_eventbundle_event_endTime_hour").val();
            }

            if($("#comparator_bundle_eventbundle_event_endTime_minute").val().length==1)
            {
                var mnf = zero.concat($("#comparator_bundle_eventbundle_event_endTime_minute").val());
            }else{
                var mnf = $("#comparator_bundle_eventbundle_event_endTime_minute").val();
            }
            var nbplayer = $("#comparator_bundle_eventbundle_event_nbPlayer").val();
            var desc = $("#comparator_bundle_eventbundle_event_description").val();
            var h = "h";
            var deb = heured.concat(h);

            var resdeb = deb.concat(mnd);

            var fin = heuref.concat(h);

            var resfin = fin.concat(mnf);

            var handi = $("#comparator_bundle_eventbundle_event_handi").prop( "checked" )

            document.getElementById("p1").innerHTML = adresse;

            document.getElementById("p3").innerHTML = title;
            document.getElementById("p4").innerHTML = date;
            document.getElementById("p5").innerHTML = resdeb;
            document.getElementById("p6").innerHTML = resfin;
            if (nbplayer > 0) {
                document.getElementById("p7").innerHTML = nbplayer;

            } else {
                document.getElementById("p7").innerHTML = "{{ 'joueur.illimite'|trans }}";

            }

            if(handi==false)
            {
                document.getElementById("ph").innerHTML = "{{ 'msg.no'|trans }}";
            }else{
                document.getElementById("ph").innerHTML = "{{ 'msg.yes'|trans }}";
            }

            document.getElementById("p8").innerHTML = desc;
            for (var i = 0; i < c2.length; i++) {
                document.getElementById("l" + i).innerHTML = $("#option" + i).val();

            }
        });
    });
    $('#selectprod').change(function (event) {
        var category = $('#selectprod option:selected').text();
        document.getElementById("p2").innerHTML = category;
    });

</script>

