{% block javascripts %}
    	<script>
	$(function() {
		var addresspicker = $( "#addresspicker" ).addresspicker();
		var addresspickerMap = $( "#comparator_bundle_eventbundle_event_address_address" ).addresspicker({
			regionBias: "fr",
		  elements: {
		    map:      "#map",
		    lat:      "#comparator_bundle_eventbundle_event_lat_address",
		    lng:      "#comparator_bundle_eventbundle_event_lng_address",
		    locality: '#comparator_bundle_eventbundle_event_locality_address',
		    administrative_area_level_2: '#administrative_area_level_2',
		    administrative_area_level_1: '#administrative_area_level_1',
		    country:  '#comparator_bundle_eventbundle_event_country_address'
		  }
		});
		var gmarker = addresspickerMap.addresspicker( "marker");
		gmarker.setVisible(true);
		addresspickerMap.addresspicker( "updatePosition");
		
	});
	</script> 
{% endblock %}

    
 {% if  app.user %}

      	  	   <!--containt-->
                    <!--Debut containt-->
               <div class="containt-steps">
                  <div class="container">
                      <div class="col-md-10 col-md-offset-1 text-center">
                          <h2>Organisez un nouveau match</h2>
                      </div>
                      <div class="clearfix"></div>
                      <div class="wizard" id="wizard">
                        <div class="wizard-inner">
                