{% block javascripts %}
    	<script>
	$(function() {
		var addresspicker = $( "#addresspicker" ).addresspicker();
		var addresspickerMap = $( "#comparator_bundle_eventbundle_event_address_address" ).addresspicker({
			regionBias: "fr",
		  elements: {
		    map:      "#map",
		    lat:      "#comparator_bundle_eventbundle_event_lat_address",
		    lng:      "#comparator_bundle_eventbundle_event_lng_address",
		    locality: '#comparator_bundle_eventbundle_event_locality_address',
		    administrative_area_level_2: '#administrative_area_level_2',
		    administrative_area_level_1: '#administrative_area_level_1',
		    country:  '#comparator_bundle_eventbundle_event_country_address'
		  }
		});
		var gmarker = addresspickerMap.addresspicker( "marker");
		gmarker.setVisible(true);
		addresspickerMap.addresspicker( "updatePosition");
		
	});
	</script> 
{% endblock %}

    
 {% if  app.user %}

      	  	   <!--containt-->
                    <!--Debut containt-->

                          <h2>Organisez un nouveau match</h2>

                        <form role="form" id="commentForm" action="{{ path('event_create') }}" {{ form_enctype(form) }} method="post">
                            <div class="tab-content content-steps">
                                <!--step 1-->
                                <div class="tab-pane active" role="tabpanel" >
                                    <div class="title-step">
                                      <h4>Choisissez votre lieu</h4>
                                    </div>
                                    <div class="container-step">
                                        <div class="singl-step col-md-6 col-md-offset-3">
                                             <h3>Adresse</h3>
                                             {{ form_widget(form.address, { 'attr': {'id': 'adresse','placeholder': 'Mentionner le lieu du jeu'} }) }}
                                             {{ form_widget(form.locality) }}
                                                           {{ form_widget(form.country) }}
                                                           {{ form_widget(form.lat) }}
                                                           {{ form_widget(form.lng) }}
                                                            <div id="map"></div>
                                        </div>
                                    </div>


                                </div>
                                <!--step 2-->
                                <div  >
                                    <div >
                                      <h4>Choisissez votre discipline</h4>
                                    </div>
                                    <div >
                                        <div class="singl-step col-md-6 col-md-offset-3">
                                             <h3>Discipline</h3>
                                             {{ form_widget(form.category, { 'attr': {'id': 'category'} }) }}

                                        </div>
                                    </div>

                                </div>
                                <!--step 3-->
                                <div  >
                                    <div class="title-step">
                                      <h4>Précisez la date & l’heure du match</h4>
                                    </div>
                                    <div class="container-step">
                                        <div class="singl-step step-date col-sm-6">
                                             <h3>Date</h3>
                                             {{ form_widget(form.startDate, { 'attr': {'class': 'form-control datepicker','placeholder': 'Cliquer ici pour choisir une date'} }) }}
                                        </div>
                                        <div class="singl-step col-sm-5 col-sm-offset-1 time-step">
                                            <h3>Heure</h3>
                                            <div class="col-md-5 ">
                                                <label>Heure de départ</label>
                                                <div class="col-xs-12">
                                               {{ form_widget(form.startTime) }}
                                                </div>

                                            </div>
                                            <div class="col-md-5">
                                                <label>Heure de fin</label>
                                                <div class="clearfix"></div>
                                                <div class="col-xs-12">
                                                {{ form_widget(form.endTime) }}
                                                </div>


                                            </div>

                                        </div>
                                    </div>

                                </div>

                                    <div class="container-step">
                                         <div class="singl-step col-md-6 detail">
                                             <h3>Titre du jeu</h3>
                                             {{ form_widget(form.title, { 'attr': {'id': 'titre','placeholder': 'Mentionner le titre du match'} }) }}
                                             <h3 class="nbr-gamers">Nombre des joueurs</h3>
                                             {{ form_widget(form.nbPlayer, { 'attr': {'id': 'joueurs','placeholder': 'Mettre le nombre de joueur'} }) }}
                                         </div>
                                         <div class="singl-step col-md-5 col-md-offset-1 detail">
                                             <h3 class="desc">Description du jeu</h3>
                                         {{ form_widget(form.description, { 'attr': {'id': 'description','placeholder': 'Mettre les détails du match'} }) }}
                                         </div>
                                    </div>
                                    <div class="footer-content-step">
                                        <button type="button" class="btn prev-step">Retour</button>
                                        <input type="button" class="btn next-step btn-grinta" id="hit" value="Valider">

                                    </div>
                                </div>
                                <!--step 5-->
                                <div>
                                     <div class="container-step revue">
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">Lieu du match</h3>
                                             <p id="p1">terrain de football île de france</p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">Type du discipline</h3>
                                             <p id="p2">Football</p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">Titre du match</h3>
                                             <p id="p3"></p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">Date</h3>
                                             <p id="p4">02/03/2016</p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">Heure de départ</h3>
                                             <p id="p5">15h30</p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">Heure de fin</h3>
                                             <p id="p6">17h00</p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">Nombre de joueur</h3>
                                             <p id="p7">22</p>
                                        </div>
                                        <div class="col-sm-6 item-revue">
                                             <h3 class="rev-titre">Description du match</h3>
                                             <p id="p8">Mettre les détails du match</p>
                                        </div>
                                    </div>
                                    <div >
                                        <button type="button" class="btn prev-step">Retour</button>
                                        <input type="submit" class="btn next-step btn-grinta" value="Enregistrer">
                                      {{ form_rest(form) }}
                                    </div>
                                </div>
                            </div>
                          {{ form_end(form) }}
                        </form>

  {% endif %}

<script type="text/javascript">

    $(document).ready(function () {
        $('#hit').click(function() {
        var adresse = $("#comparator_bundle_eventbundle_event_address_address").val();
        var category = $("#comparator_bundle_eventbundle_event_category").val();
        var title = $("#comparator_bundle_eventbundle_event_title").val();
        var date = $("#comparator_bundle_eventbundle_event_startDate").val();
        var heured = $("#comparator_bundle_eventbundle_event_startTime_hour").val();
        var mnd = $("#comparator_bundle_eventbundle_event_startTime_minute").val();
        var heuref = $("#comparator_bundle_eventbundle_event_endTime_hour").val();
        var mnf = $("#comparator_bundle_eventbundle_event_endTime_minute").val();
        var nbplayer = $("#comparator_bundle_eventbundle_event_nbPlayer").val();
        var desc = $("#comparator_bundle_eventbundle_event_description").val();
        var h = "h";
        var deb = heured.concat(h);

        var resdeb =deb.concat(mnd);

        var fin = heuref.concat(h);

        var resfin =fin.concat(mnf);

        document.getElementById("p1").innerHTML = adresse;
        document.getElementById("p1").innerHTML = category;
        document.getElementById("p1").innerHTML = title;
        document.getElementById("p1").innerHTML = date;
        document.getElementById("p1").innerHTML = resdeb;
        document.getElementById("p1").innerHTML = resfin;
        document.getElementById("p1").innerHTML = nbplayer;
        document.getElementById("p1").innerHTML = desc;
        });
    });

</script>

