<!--containt-->
<div class="containt">

    <!--fin Couverture-->
    <!--debut container-profil-->
    <div class="container container-profil">
        <div class="head-profil">
            <form id="form-search" class="form-search" action="{{ path('event_search') }}" method="post">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <select class="form-control" name="genre">
                            <option value="Afghanistan" {% if(app.user.locale=="AF") %} selected {% endif %}>Afghanistan</option>
                            <option value="Afrique du Sud" {% if(app.user.locale=="ZA") %} selected {% endif %}>Afrique du Sud</option>
                            <option value="Albanie" {% if(app.user.locale=="AL") %} selected {% endif %}>Albanie</option>
                            <option value="Algérie" {% if(app.user.locale=="DZ") %} selected {% endif %}>Algérie</option>
                            <option value="Allemagne" {% if(app.user.locale=="DE") %} selected {% endif %}>Allemagne</option>
                            <option value="Andorre" {% if(app.user.locale=="AD") %} selected {% endif %}>Andorre</option>
                            <option value="Angola" {% if(app.user.locale=="AO") %} selected {% endif %}>Angola</option>
                            <option value="Anguilla" {% if(app.user.locale=="AI") %} selected {% endif %}>Anguilla</option>
                            <option value="Antarctique" {% if(app.user.locale=="AQ") %} selected {% endif %}>Antarctique</option>
                            <option value="Antigua-et-Barbuda" {% if(app.user.locale=="AG") %} selected {% endif %}>Antigua-et-Barbuda</option>
                            <option value="Arabie saoudite" {% if(app.user.locale=="SA") %} selected {% endif %}>Arabie saoudite</option>
                            <option value="Argentine" {% if(app.user.locale=="AR") %} selected {% endif %}>Argentine</option>
                            <option value="Arménie" {% if(app.user.locale=="AM") %} selected {% endif %}>Arménie</option>
                            <option value="Aruba" {% if(app.user.locale=="AW") %} selected {% endif %}>Aruba</option>
                            <option value="Australie" {% if(app.user.locale=="AU") %} selected {% endif %}>Australie</option>
                            <option value="Autriche" {% if(app.user.locale=="AT") %} selected {% endif %}>Autriche</option>
                            <option value="Azerbaïdjan" {% if(app.user.locale=="AZ") %} selected {% endif %}>Azerbaïdjan</option>
                            <option value="Bahamas" {% if(app.user.locale=="BS") %} selected {% endif %}>Bahamas</option>
                            <option value="Bahreïn" {% if(app.user.locale=="BH") %} selected {% endif %}>Bahreïn</option>
                            <option value="Bangladesh" {% if(app.user.locale=="BD") %} selected {% endif %}>Bangladesh</option>
                            <option value="Barbade" {% if(app.user.locale=="BB") %} selected {% endif %}>Barbade</option>
                            <option value="Belgique" {% if(app.user.locale=="BE") %} selected {% endif %}>Belgique</option>
                            <option value="Belize" {% if(app.user.locale=="BZ") %} selected {% endif %}>Belize</option>
                            <option value="Bénin" {% if(app.user.locale=="BJ") %} selected {% endif %}>Bénin</option>
                            <option value="Bermudes" {% if(app.user.locale=="BM") %} selected {% endif %}>Bermudes</option>
                            <option value="Bhoutan" {% if(app.user.locale=="BT") %} selected {% endif %}>Bhoutan</option>
                            <option value="Biélorussie" {% if(app.user.locale=="BY") %} selected {% endif %}>Biélorussie</option>
                            <option value="Bolivie" {% if(app.user.locale=="BO") %} selected {% endif %}>Bolivie</option>
                            <option value="Bosnie-Herzégovine" {% if(app.user.locale=="BA") %} selected {% endif %}>Bosnie-Herzégovine</option>
                            <option value="Botswana" {% if(app.user.locale=="BW") %} selected {% endif %}>Botswana</option>
                            <option value="Brésil" {% if(app.user.locale=="BR") %} selected {% endif %}>Brésil</option>
                            <option value="Brunéi Darussalam" {% if(app.user.locale=="BN") %} selected {% endif %}>Brunéi Darussalam</option>
                            <option value="Bulgarie" {% if(app.user.locale=="BG") %} selected {% endif %}>Bulgarie</option>
                            <option value="Burkina Faso" {% if(app.user.locale=="BF") %} selected {% endif %}>Burkina Faso</option>
                            <option value="Burundi" {% if(app.user.locale=="BI") %} selected {% endif %}>Burundi</option>
                            <option value="Cambodge" {% if(app.user.locale=="KH") %} selected {% endif %}>Cambodge</option>
                            <option value="Cameroun" {% if(app.user.locale=="CM") %} selected {% endif %}>Cameroun</option>
                            <option value="Canada" {% if(app.user.locale=="CA") %} selected {% endif %}>Canada</option>
                            <option value="Cap-Vert" {% if(app.user.locale=="CV") %} selected {% endif %}>Cap-Vert</option>
                            <option value="Ceuta et Melilla" {% if(app.user.locale=="EA") %} selected {% endif %}>Ceuta et Melilla</option>
                            <option value="Chili" {% if(app.user.locale=="CL") %} selected