<!--containt-->
<div class="containt">
    <!--debut Couverture-->
    <div class="couverture">
        <div id="carousel-profil" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil2.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil3.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil4.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil5.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil6.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil7.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil8.jpg') }}" alt="Grintaaa">
                </div>
            </div>
        </div>
    </div>
    <!--fin Couverture-->
    <!--debut container-profil-->
    <div class="container container-profil">
        <!--Debut information jeu-->
        <div class="row row-jeu">
            <div class="info-jeu">
                <div class="left-info-jeu col-sm-9 text-center">
                    <div class="row">
                        <div class="col-sm-4 avatar">
                            <a href="#">
                                <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}">
                                <span class="green">{{ app.user.lastname }}</span> {% if(app.user.username==entity.user.username) %}(organisateur){% endif %}
                            </a>
                        </div>
                        <div class="col-sm-4 share">
                            <a href="#">
                                {% if((logo|length)>0) %}
                                    <img src="{{ asset('uploads/users/') }}{{ logo[0].logo }}">

                                {% else %}
                                    <img src="{{ asset('bundles/comparatorbase/images/share.png') }}">
                                {% endif %}

                                Partager
                            </a>
                        </div>
                        {% if(app.user.username==entity.user.username) %}
                        <div class="col-sm-4 edit-game">
                            <a href="" class="btn btn-grinta">Modifier ce jeu</a>
                            <p>Vous êtes l’organisateur</p>
                        </div>
                           {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <hr class="hr-jeu">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 date">
                            <h4>
                                <img src="{{ asset('bundles/comparatorbase/images/lieu.png') }}">
                                {{ entity.address }} ({{ entity.country }})
                            </h4>
                        </div>
                        <div class="col-sm-4 date">
                            <h4>
                                <img src="{{ asset('bundles/comparatorbase/images/date.png') }}">
                                {{ entity.startdate |date('d-m-Y') }}
                            </h4>
                        </div>
                        <div class="col-sm-4 date">
                            <h4>
                                <img src="{{ asset('bundles/comparatorbase/images/time.png') }}">
                                {{ entity.starttime|date('H:i') }} à {{ entity.endtime|date('H:i') }} <br>2 heures
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="right-info-jeu col-sm-3">
                    <div class="regoindre">
                        <a href="#" class="btn">rejoindre ce jeu</a>
                    </div>
                    <div class="places text-center">
                        <p>Il y’a encore des places disponibles</p>
                        <div class="regoindre-place">
                            {% if testparticipe %}
                                {% if(testparticipe.enabled) %}
                                <div class="col-md-10 reg-btn">
                                    
                                    {{ render(controller('ComparatorEventBundle:ParticipeEvent:show', { 'id': testparticipe.id })) }}

                                </div>
                              {% else %}

                                    {% if(entity.nbPlayer > nbparticipe) %}
                                  <div class="col-md-6 reg-btn">
                                      {{ render(controller('ComparatorEventBundle:ParticipeEvent:edit', { 'id': testparticipe.id })) }}

                                      {% endif %}
                                  </div>



                                  <div class="col-md-6 reg-btn">
                                      {{ render(controller('ComparatorEventBundle:ParticipeEvent:show', { 'id': testparticipe.id })) }}
                                  </div>
                               {% endif %}
                            {% else %}
                               {% if(entity.nbPlayer > nbparticipe) %}
                                <div class="col-md-6 reg-btn">
                                    <a href="{{ path('add_favorite', { 'enabled': "true" , 'id': entity.id }) }}" class="btn btn-grinta">Rejoindre</a>
                                </div>
                                <div class="col-md-6 reg-btn">
                                    <a href="{{ path('add_favorite', { 'enabled': "false" , 'id': entity.id }) }}" class="btn btn-non-regoindre">Peu être</a>
                                </div>
                               {% endif %}
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--fin information jeu-->
        <!--debut block description-->
        <div class="row invit">
            <div class="invit-jeu col-sm-12">
                <div class="col-sm-12">
                    <h4 class="green">{{ entity.title }} :</h4>
                    <p>{{ entity.description }}</p>
                </div>
            </div>
        </div>
        <!--fin block description-->
        <!--debut block invitation-->

        {% if(entity.nbPlayer > nbparticipe) %}
        <div class="row invit">
            <div class="invit-jeu col-sm-12">
                <div class="col-sm-2 edit-game">
                    <a href="" class="btn btn-grinta">Inviter des amis</a>
                    <p>il ya {{ entity.nbPlayer-nbparticipe }} postes disponibles</p>
                </div>

                <div class="col-sm-4 edit-game pull-right">
                    <a href="" class="btn btn-grinta right">ajouter des joueurs manuellement</a>
                    <p>Pour ajouter un ami qui n’est pas inscris à Grintaaa</p>
                </div>
            </div>
        </div>
        {% endif %}
        <!--fin block invitation-->
        <!--Debut list joueurs-->
        <div class="row gamers">
            <div class="joueurs col-sm-12">
                <div class="col-sm-6 title-gamers">
                    <h2 class="green">
                        <img src="{{ asset('bundles/comparatorbase/images/players.png') }}">
                        Joueurs
                    </h2>
                    <p>{{ entity.nbPlayer-nbparticipe }} postes disponibles :<span> • {{ nbparticipe }} participant • {{ nbmaybe }} àl’attente </span></p>
                </div>
                <div class="col-sm-4 nbr-gamers pull-right text-center">
                    <h2 class="green">{{ nbparticipe }}/{{ entity.nbPlayer }}</h2>
                    <p>{{ entity.nbPlayer-nbparticipe }} postes disponibles</p>
                </div>
                <div class="col-sm-12">
                    <div class="list-gamers">

                     {% for participe in participes %}
                        <div class="item-joueur">
                            <div class="col-sm-2">
                                <a href="{{ path('grintaaa_user_show', {'username': participe.user.username,'id': participe.user.id }) }}">
                                <p class="text-center">{{ participe.user.username }}</p> </a>{% if(app.user.username==entity.user.username) %}{{ render(controller('ComparatorEventBundle:ParticipeEvent:show', { 'id': participe.id })) }}{% endif %}
                            </div>
                            <div class="col-sm-10">
                                <p>assiste à ce jeu</p>
                            </div>
                        </div>
                     {% endfor %}

                    </div>


                </div>
                <div class="col-sm-12 nbr-gamers">
                    <div class="col-sm-4">
                        {% if(entity.nbPlayer <= nbparticipe) %}
                        <p> </p>
                        {% else %}
                          <p>{{ nbmaybe }} à l’attente</p>
                        {% endif %}
                    </div>
                    <div class="col-sm-4">
                        <p>{{ nbparticipe }} intéressé</p>
                    </div>
                </div>
            </div>
        </div>
        <!--fin list joueurs-->

        <!--Debut commentaires-->
        <div class="row comment">
            <div class="commentaires col-sm-12">
                <div class="col-sm-12 title-gamers">
                    <h2 class="green">
                        <img src="{{ asset('bundles/comparatorbase/images/comment.png') }}">
                        Commentaire
                    </h2>
                    {% if((listComment|length)<=0) %}
                    <p>Aucun commentaire trouvé . Soyez le premier à laisser un commentaire.</p>
                    {% endif %}
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <hr class="hr-jeu">
                </div>
                <div class="col-sm-12 avatar">
                    <a href="#">
                        {% if((logo|length)>0) %}
                            <img src="{{ asset('uploads/users/') }}{{ logo[0].logo }}">

                        {% else %}
                            <img src="{{ asset('bundles/comparatorbase/images/share.png') }}">
                        {% endif %}
                        <span class="green">{{ app.user.lastname }}</span>
                    </a>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <h3>Ecrire un commentaire</h3>
                    <form class="form-comment" action="{{ path('add_comment', { 'id': entity.id }) }}" method="post">
                        <div class="col-sm-12">
                            <textarea class="form-control" name="textarea"></textarea>
                        </div>
                        <div class="col-sm-5 pull-right send-btn">
                            <input type="submit" class="btn btn-grinta" value="Commenter">
                        </div>
                    </form>
                </div>
            </div>


        </div>
        <!--fin commentaires-->

        <!--liste commentaires-->

        <!--Debut commentaires-->
        <div class="row comment">
            <div class="commentaires col-sm-12">
                {% for  comment in listComment %}
                <div class="col-sm-12 title-gamers">


                        <p>{{ comment.description }}</p>

                </div>
                <div class="col-md-6 col-md-offset-3">
                    <hr class="hr-jeu">
                </div>
                {% endfor %}

            </div>


        </div>


        <!--fin liste commentaires-->

    </div>
    <!--fin container-profil-->


</div>
<!--end containt-->

