{% set currentPath = path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}
<!--Debut containt-->
<div class="container containt-dash">
    <!--Debut left-block-->
    <div class="col-sm-2 no-padding-right">


        <div class="title-regoindre">
            <h4>{{ 'rejoindre.ce.jeu'|trans }}</h4>
        </div>
        <div class="block regoindre">

            <p>{{ 'msg.place.disponible'|trans }}</p>
            {% if testparticipe %}
            {% if(testparticipe.enabled) %}
                <form id="validate_field_types" method="POST" action="{{ path('favoris_delete', {'id': testparticipe.id}) }}">
                    <input type="submit" class="btn btn-delete" value="{{ 'msg.annuler'|trans }}" />

                </form>
            {% else %}

                {% if entity.nbPlayer is null %}
                    <form id="validate_field_types" method="POST" action="{{ path('favoris_update', {'id': testparticipe.id}) }}">
                        <input type="submit" class="btn btn-grinta" value="{{ 'msg.confirme'|trans }}" />

                    </form>
                  {% else %}

            {% if(entity.nbPlayer > nbparticipe) %}
                <form id="validate_field_types" method="POST" action="{{ path('favoris_update', {'id': testparticipe.id}) }}">
                    <input type="submit" class="btn btn-grinta" value="{{ 'msg.confirme'|trans }}" />

                </form>
            {% endif %}
                  {% endif %}


                <form id="validate_field_types" method="POST" action="{{ path('favoris_delete', {'id': testparticipe.id}) }}">
                    <input type="submit" class="btn btn-delete" value="{{ 'msg.annuler'|trans }}" />

                </form>
            {% endif %}
            {% else %}
            {% if entity.nbPlayer is null %}
                <a href="{{ path('add_favorite', { 'enabled': "true" , 'id': entity.id }) }}" class="btn btn-grinta">{{ 'msg.rejoindre'|trans }}</a>
                <a href="{{ path('add_favorite', { 'enabled': "false" , 'id': entity.id }) }}" class="btn btn-red">{{ 'msg.peut.etre'|trans }}</a>
                {% else %}
            {% if(entity.nbPlayer > nbparticipe) %}
                <a href="{{ path('add_favorite', { 'enabled': "true" , 'id': entity.id }) }}" class="btn btn-grinta">{{ 'msg.rejoindre'|trans }}</a>
                <a href="{{ path('add_favorite', { 'enabled': "false" , 'id': entity.id }) }}" class="btn btn-red">{{ 'msg.peut.etre'|trans }}</a>
            {% endif %}
                {% endif %}

            {% endif %}


        </div>

        {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}


        {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}

        <div class="block participant">
            <div class="title-block">
                <h4 class="green">{{ 'liste.participants'|trans }}</h4>
            </div>
            <div class="body-participant">

                {% for key,participe in participes %}
                <div class="item-participant">
                    <a href="{{ path('grintaaa_user_show', {'username': participe.user.username,'id': participe.user.id }) }}">
                        <div class="img-participant">

                            {% if((imagesParticipes[key]|length)>0) %}
                                <img  src="{{ asset('uploads/users/') }}{{ imagesParticipes[key][0].logo }}" alt="organisation evenements sportifs en france">
                            {% else %}  
                                <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="organisation evenements sportifs en france">
                            {% endif %}
                        </div>
                        <div class="info-participant">
                            <h4>{{ participe.user.firstname }} {{ participe.user.lastname }}</h4>
                            {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : participe.user.id, 'role' : 'ROLE_USER'} %}
                        </div>
                    </a>
                </div>
                {% endfor %}         

      
            </div>   
        </div>
    </div>
    <!--Fin left-block-->
    <!--Debut center-block-->
    <div class="col-sm-10">
        <div class="block exprimer">

            <div class="add-act"> 
                <!-- Nav tabs -->


                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="statut">
                        <form method="post" action="{{ path('events_statut_create', {'id': entity.id }) }}">
                            <input placeholder="{{ 'e.mail'|trans }}" name="email" />
                            <div class="send">
                                <button type="submit" class="btn btn-grinta">{{ 'msg.publier'|trans }}</button>
                            </div>
                        </form>
                    </div>


                </div>

            </div>
        </div>
        <div class="block item-act">
            <div class="row">
			    <div class="title-event-show">
				 {{ entity.title }}
				</div>
                <div class="clerfix"></div>
                <div class="col-sm-1">
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user.username,'id': entity.user.id }) }}" title="organisation evenements sportifs en france">
                        <div class="img-avatar">
                            {% if((entityImageUser|length)>0) %}
                                <img  src="{{ asset('uploads/users/') }}{{ entityImageUser[0].logo }}" alt="organisation evenements sportifs en france">
                            {% else %}
                                <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="organisation evenements sportifs en france">
                            {% endif %}
                        </div>
					</a>
				</div>
                <div class="col-sm-2"> 
                  <div class="col-sm-12 no-padding-right"> 
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user.username,'id': entity.user.id }) }}" title="organisation evenements sportifs en france">
                        <div class="name-avatar">
                            <h5>{{ entity.user.lastname }} {{ entity.user.firstname }}</h5>
                            {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : entity.user.id, 'role' : 'ROLE_USER'} %}
                        </div>       
                    </a>
				  </div>
                </div>
                <div class="col-sm-7">
                  <div class="info-act">
                    <div class="col-md-4 text-center">
                        <div class="image-info">
                            <img src="{{ asset('bundles/comparatorbase/images/large-lieu.png') }}" alt="organisation evenements sportifs en france">
                        </div> 
                        <div class="desc-info">
                            <p>{{ entity.address }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="image-date">
                            <img src="{{ asset('bundles/comparatorbase/images/large-date.png') }}" alt="organisation evenements sportifs en france">
                        </div>
                        <div class="desc-info">
                            <p>{{ entity.startdate |date('d-m-Y') }}</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="image-info">
                            <img src="{{ asset('bundles/comparatorbase/images/large-time.png') }}" alt="organisation evenements sportifs en france">
                        </div>
                        <div class="desc-info">
                            <p>{{ entity.starttime|date('H:i') }} {{ 'lettre.a'|trans }} {{ entity.endtime|date('H:i') }} <!-- {{ nbHeure }} heures --> </p>
                        </div>
                    </div>
                  </div>
				</div>
                <div class="col-sm-2 pull-right share">
                    <h4><img src="{{ asset('bundles/comparatorbase/images/share.png') }}" alt="organisation evenements sportifs en france"> Partager</h4>
                    <ul class="list-inline">
                     <li>
					  <a href="https://plus.google.com/share?url={{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}{{ currentPath }}" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
					   <img src="{{ asset('bundles/comparatorbase/images/goo.png') }}" alt="Share on Google+"/>
					  </a>
					 </li>
					 <li>       
					  <a href="http://twitter.com/share" data-url="{{ currentPath }}"  onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
					   <img src="{{ asset('bundles/comparatorbase/images/tww.png') }}" alt="Share on twitter+"/>
					  </a>
					 </li>   
					 <li>
					  <a name='fb_share' rel='nofollow' type='icon' share_url="{{ currentPath }}">FB</a>
					 </li>
  
  
                    </ul>
                </div>  
            </div>
			  
            <div class="titre2 green">
                <img src="{{ asset('bundles/comparatorbase/images/description.png') }}" alt="organisation evenements sportifs en france">
                <h4>{{ 'msg.description'|trans }}</h4>
            </div>
            <div class="content-description-event">
			 {{ entity.category.title }}
              {{ entity.description }}
            </div>
 
  
            <div class="titre2 green">
                <img src="{{ asset('bundles/comparatorbase/images/description.png') }}" alt="organisation evenements sportifs en france">
                <h4>{{ 'msg.options'|trans }}</h4>
            </div>
            <div class="content-description">
                <ul class="option-ul">
                {% for option in optionEvent %}
                <li>{{ option.title }}</li>
                {% endfor %}
                </ul>
            </div>



        </div>

        <div class="block invit">   
            <div class="col-md-3 botton-invit">
                <a href="#" title="organisation evenements sportifs en france" class="btn btn-grinta">{{ 'inviter.amis'|trans }}</a>
            </div>
            <div class="col-md-6 pull-right botton-invit">
                <a href="#" title="organisation evenements sportifs en france" class="btn btn-grinta">{{ 'add.player.manu'|trans }}</a>
                <p>{{ 'msg.add.player.manu'|trans }}</p>
            </div>
        </div>
        <div class="block exprimer description">
            <div class="titre green">
                <img src="{{ asset('bundles/comparatorbase/images/gamers.png') }}" alt="organisation evenements sportifs en france">
                <h4>{{ 'player.player'|trans }}</h4>
            </div>
			
            <div class="clerfix"></div>
            <div class="top-gamers">
                <div class="col-md-9 no-padding-left">
                   
                        {% if entity.nbPlayer is null %}
                            <span class="green">•</span> {{ nbparticipe }} {{ 'mot.participants'|trans }}
                            <span class="green">•</span> {{ nbmaybe }} {{ 'mot.attente'|trans }}
                         {% else %}
                        {% if(entity.nbPlayer > nbparticipe) %}
                        {{ entity.nbPlayer-nbparticipe }} {{ 'event.dispo'|trans }}
                        {% endif %}
                             <span class="green">•</span> {{ nbparticipe }} {{ 'mot.participants'|trans }}
                             <span class="green">•</span> {{ nbmaybe }} {{ 'mot.attente'|trans }}
                        {% endif %}

                </div>
                <div class="col-md-3 text-center nombre">

                    {% if entity.nbPlayer is null %}
                        <p class="nbr-match">{{ nbparticipe }} {{ 'mot.participants'|trans }}</p>
                     {% else %}
                    <p class="nbr-match">{{ nbparticipe }}/{{ entity.nbPlayer }}</p>
                    <p class="postes">{% if(entity.nbPlayer > nbparticipe) %}
                        {{ entity.nbPlayer-nbparticipe }} {{ 'event.dispo'|trans }}{% endif %}</p>

                    {% endif %}
                </div>
            <div class="clerfix"></div>
            </div>
			
            <div class="clerfix"></div>
            <!--List gamers-->
            <div class="list-gamers">

   
                <div class="row one-gamer">
                {% for key, participe in participes %}
                    <div class="col-sm-3 no-padding-left gamer-par">
                            <div class="col-sm-4 img-avatar">
                               <a href="{{ path('grintaaa_user_show', {'username': participe.user.username,'id': participe.user.id }) }}">
                                {% if((imagesParticipes[key]|length)>0) %}
                                    <img  src="{{ asset('uploads/users/') }}{{ imagesParticipes[key][0].logo }}" alt="organisation evenements sportifs en france">
                                {% else %}
                                    <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="organisation evenements sportifs en france">
                                {% endif %}
                             </a> 
                            </div>
                            <div class="col-sm-8 name-avatar">
                                <h5>{{ participe.user.lastname }} {{ participe.user.firstname }}</h5>
                                {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : participe.user.id, 'role' : 'ROLE_USER'} %}
                    {% if(app.user.id==entity.user.id) %}
                    <div class="col-sm-12 no-padding-left">
                        <form id="validate_field_types" method="POST" action="{{ path('favoris_delete', {'id': participe.id}) }}">
                            <input type="submit" class="btn btn-grinta sup_joueur" value="{{ 'msg.delete'|trans }}" />

                        </form> 
                    </div>
                    {% endif %} 
                            </div>
                    </div>
                {% endfor %}
                </div>


            </div>
            <!--Fin List gamers-->

        </div>
<!--Partage-->
        <div class="block exprimer description comment">
            <div class="titre green">
                <img src="{{ asset('bundles/comparatorbase/images/comment.png') }}" alt="organisation evenements sportifs en france">
                <h4>Partages</h4>
            </div>
            {% if((listStatut|length)<=0) %}
                <div class="top-comment">
                    <div class="col-sm-12 no-padding-left">
                        <p{{ 'msg.partage.text'|trans }}></p>
                    </div>
                </div>

            {% endif %}


            <div class="col-md-12 no-padding list-comment">

                {% for keys, statut in listStatut %}
                    <div class="col-md-12 no-padding item-comment">
                        <div class="col-md-1 img-comment no-padding">
                            <a href="{{ path('grintaaa_user_show', {'username': statut.user.username,'id': statut.user.id }) }}" title="organisation evenements sportifs en france">
                                {% if((imagesStatut[keys]|length)>0) %}
                                    <img  src="{{ asset('uploads/users/') }}{{ imagesStatut[keys][0].logo }}" alt="organisation evenements sportifs en france">
                                {% else %}
                                    <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="organisation evenements sportifs en france">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-11 desc-comment no-padding-right">
                            <p><span class="green2">{{ statut.user.lastname }} {{ statut.user.firstname }}</span>  <span class="color-gris">{{ statut.createdAt|date("d/m/Y") }} {{ 'lettre.a'|trans }} {{ statut.createdAt|date('H:i:s') }}</span></p>

                            {% if(statut.type=="statut") %}
                            <p>{{ statut.descreption }} </p>
                            {% endif %}
                            {% if(statut.type=="video") %}
                                <p>
								<iframe width="360" height="215" src="https://www.youtube.com/embed/{{ statut.url }}" frameborder="0" allowfullscreen></iframe>
								</p>
                            {% endif %}
                            {% if(statut.type=="image") %}
                               <img class="img-profil-match" src="{{ asset('uploads/events/') }}{{ statut.logo }}" alt="organisation evenements sportifs en france">
                            {% endif %}

                        </div>
                    </div>

                {% endfor %}

            </div>

            <div class="clerfix"></div>

        </div>

<!--Partage-->


        <div class="block exprimer description comment">
            <div class="titre green">
                <img src="{{ asset('bundles/comparatorbase/images/comment.png') }}" alt="organisation evenements sportifs en france">
                <h4>{{ 'comment.comment'|trans }}</h4>
            </div>
			{% if((listComment|length)<=0) %}
            <div class="top-comment">
                <div class="col-sm-12 no-padding-left">    
                    <p>{{ 'msg.comment.comment'|trans }}</p>
                </div>
            </div>

			{% endif %}
			
			
                <div class="col-md-12 no-padding list-comment">
 
                    {% for keys, comment in listComment %}
                      <div class="col-md-12 no-padding item-comment">    
                        <div class="col-md-1 img-comment no-padding">
                            <a href="{{ path('grintaaa_user_show', {'username': comment.user.username,'id': comment.user.id }) }}" title="organisation evenements sportifs en france">
                                {% if((imagesComment[keys]|length)>0) %}
                                    <img  src="{{ asset('uploads/users/') }}{{ imagesComment[keys][0].logo }}" alt="organisation evenements sportifs en france">
                                {% else %}
                                    <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="organisation evenements sportifs en france">
                                {% endif %}
                            </a>
                        </div>   
                        <div class="col-md-11 desc-comment no-padding-right">   
                            <p><span class="green2">{{ comment.user.lastname }} {{ comment.user.firstname }}</span>  <span class="color-gris">{{ comment.createdAt|date("d/m/Y") }} {{ 'lettre.a'|trans }} {{ comment.createdAt|date('H:i:s') }}</span></p>
                            <p>{{ comment.description }} </p>
							
							
							
                        </div>
                      </div>

                    {% endfor %}

                </div>  
			 
            <div class="clerfix"></div>  
            <div class="form-commentg">
              <form action="{{ path('add_comment', { 'id': entity.id }) }}" method="post">
                <div class="comment-avatar col-sm-1 no-padding">
                    <div class="img-comment">
                        {% if((logo|length)>0) %}
                            <img src="{{ asset('uploads/users/') }}{{ logo[0].logo }}" alt="organisation evenements sportifs en france">

                        {% else %}
                            <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="organisation evenements sportifs en france">
                        {% endif %}
                    </div>     
                </div>
                <div class="col-sm-11 no-padding form-comment">
                 <div class="col-sm-11 no-padding">
                    <textarea class="form-control" name="textarea" placeholder="{{ 'vos.comment'|trans }}"></textarea>
                 </div>
                 <div class="col-sm-1 no-padding">
                    <button type="submit" class="btn btn-grinta sup_joueur"><i class="fa fa-comments"></i></button>
                 </div>
				</div>
                <div class="clerfix"></div> 
             </form>
            </div>
        </div>




    </div>
    <!--Fin center-block-->
    <!--Debut right-block-->
    <!--Fin right-block-->
	<br><br>  <br>   
</div>
<!--Debut containt-->
<script>
 $('textarea.form-control').autoResize();
</script>

<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>