{% set currentPath = path(app.request.attributes.get('_route'),
app.request.attributes.get('_route_params')) %}
<!--Debut containt-->
<div class="container containt-dash">
    <!--Debut left-block-->
    <div class="col-sm-2 no-padding-right">
        <div id="fb-root"></div>

        <div class="block profil-block">
            <div class="profil-dash">
                <div class="col-md-12 no-padding">
                    <div class="grid">
                        <figure class="effect-winston">
                            {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                            <figcaption>
                                <p>
                                    <a href="{{ path('user_file_new') }}"
                                       title="organisation evenements sportifs en france"><i
                                                class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
                                </p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-12 no-padding">
                    <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                    <p class="titre-user">
                        <a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}">
                            <img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}"
                                 class="img-loginnn"/>{{ app.user.username }}
                        </a>
                    </p>
                    <!--p class="pro">Profil</p-->
                </div>

            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ path('home') }}" title="organisation evenements sportifs en france">
                        <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}"
                             alt="organisation evenements sportifs en france">{{ 'fil.act'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_notification') }}" title="organisation evenements sportifs en france">
                        {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                    </a>
                </li>

                <li>
                    <a href="{{ path('grintaaa__list_friend') }}" title="organisation evenements sportifs en france">
                        {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                    </a>
                </li>
                <li>
                    {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_image') }}"
                       title="organisation evenements sportifs en france">
                        {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('grintaaa_multimedia_video') }}"
                       title="organisation evenements sportifs en france">
                        {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                    </a>
                </li>
            </ul>
        </div>


        {{ render(controller('ComparatorEventBundle:Event:listEventFriendsHome')) }}


        {{ render(controller('ComparatorEventBundle:Friends:listFriends')) }}


        <div class="block participant">
            <div class="title-block">
                <h4 class="green">{{ 'liste.participants'|trans }}</h4>
            </div>
            <div class="body-participant">

                {% for key,participeConfirm in participesConfirm %}
                    <div class="item-participant">
                        <a href="{{ path('grintaaa_user_show', {'username': participeConfirm.user.username,'id': participeConfirm.user.id }) }}"
                           title="organisation evenements sportifs en france">
                            <div class="img-participant">

                                {% if((imagesParticipesConfirm[key]|length)>0) %}
                                    <img src="{{ asset('uploads/users/') }}{{ imagesParticipesConfirm[key][0].logo }}"
                                         alt="organisation evenements sportifs en france">
                                {% else %}
                                    <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}"
                                         alt="organisation evenements sportifs en france">
                                {% endif %}
                            </div>
                            <div class="info-participant">
                                <h4>{{ participeConfirm.user.firstname }} {{ participeConfirm.user.lastname }}</h4>
                                {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : participeConfirm.user.id, 'role' : 'ROLE_USER'} %}
                            </div>
                        </a>
                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
    <!--Fin left-block-->
    <!--Debut center-block-->
    <div class="col-sm-10">
        <div class="block exprimer">
            <div class="titre green">
                <img src="{{ asset('bundles/comparatorbase/images/pencil.png') }}"
                     alt="organisation evenements sportifs en france">
                <h4>{{ 'exprime.vous'|trans }}</h4>
            </div>
            <div class="add-act">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#statut" aria-controls="statut" role="tab"
                                                              data-toggle="tab"
                                                              title="organisation evenements sportifs en france"><i
                                    class="fa fa-pencil-square"></i> {{ 'exprime.vous.staut'|trans }}</a></li>
                    <li role="presentation"><a href="#photo" aria-controls="photo" role="tab" data-toggle="tab"
                                               title="organisation evenements sportifs en france"><i
                                    class="fa fa-picture-o"></i> {{ 'exprime.vous.photo'|trans }}</a></li>
                    <li role="presentation"><a href="#video" aria-controls="video" role="tab" data-toggle="tab"
                                               title="organisation evenements sportifs en france" class="video"><i
                                    class="fa fa-caret-square-o-right"></i> {{ 'exprime.vous.video'|trans }}</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="statut">
                        <form method="post" action="{{ path('events_statut_create', {'id': entity.id }) }}">
                            <textarea placeholder="{{ 'exprime.vous'|trans }}" name="textarea"></textarea>
                            <div class="send">
                                <button type="submit" class="btn btn-grinta">{{ 'msg.publier'|trans }}</button>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="photo">
                        <form action="{{ path('events_file_create', {'id': entity.id }) }}"
                              method="post" {{ form_enctype(form) }}>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-file-container">
                                        {{ form_errors(form.file) }}
                                        {{ form_widget(form.file, { 'attr': {'class': 'form-control'} }) }}
                                        <label for="my-file" class="input-file-trigger"
                                               tabindex="0">{{ 'msg.select.image'|trans }}</label>
                                    </div>
                                    <p class="file-return"></p>
                                </div>
                            </div>

                            <div class="send">
                                <button type="submit" class="btn btn-grinta">{{ 'msg.publier'|trans }} </button>
                            </div>
                            {{ form_rest(form) }}
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="video">
                        <form method="post" action="{{ path('events_video_create', {'id': entity.id }) }}">
                            <textarea placeholder="{{ 'msg.video.youtube'|trans }}" name="video"></textarea>
                            <div class="send">
                                <button type="submit" class="btn btn-grinta">{{ 'msg.publier'|trans }}</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="block item-act">
            <div class="row">
                <div class="title-event-show">
                    {{ entity.title }}
                </div>
                <div class="clerfix"></div>
                <div class="col-sm-1">
                    <a href="{{ path('grintaaa_user_show', {'username': entity.user.username,'id': entity.user.id }) }}"
                       title="organisation evenements sportifs en france">
                        <div class="img-avatar">
                            {% if((entityImageUser|length)>0) %}
                                <img src="{{ asset('uploads/users/') }}{{ entityImageUser[0].logo }}"
                                     alt="organisation evenements sportifs en france">
                            {% else %}
                                <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}"
                                     alt="organisation evenements sportifs en france">
                            {% endif %}
                        </div>
                    </a>
                </div>
                <div class="col-sm-2">
                    <div class="col-sm-12 no-padding-right">
                        <a href="{{ path('grintaaa_user_show', {'username': entity.user.username,'id': entity.user.id }) }}"
                           title="organisation evenements sportifs en france">
                            <div class="name-avatar">
                                <h5>{{ entity.user.lastname }} {{ entity.user.firstname }}</h5>
                                {% if(("now"|date('Y-m-d')>entity.startdate |date('Y-m-d'))and(participeUser==true)) %}

                                    {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : entity.user.id, 'role' : 'ROLE_USER'} %}

                                {% endif %}

                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="info-act">
                        <div class="col-md-4 text-center">
                            <div class="image-info">
                                <img src="{{ asset('bundles/comparatorbase/images/large-lieu.png') }}"
                                     alt="organisation evenements sportifs en france">
                            </div>
                            <div class="desc-info">
                                <p>{{ entity.address }}</p>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="image-date">
                                <img src="{{ asset('bundles/comparatorbase/images/large-date.png') }}"
                                     alt="organisation evenements sportifs en france">
                            </div>
                            <div class="desc-info size-date">
                                <p>{{ entity.startdate |date('d-m-Y') }}</p>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="image-info">
                                <img src="{{ asset('bundles/comparatorbase/images/large-time.png') }}"
                                     alt="organisation evenements sportifs en france">
                            </div>
                            <div class="desc-info size-date">
                                <p>{{ entity.starttime|date('H:i') }} {{ 'lettre.a'|trans }} {{ entity.endtime|date('H:i') }}
                                    <!-- {{ nbHeure }} heures --> </p>
                            </div>

                            <div class="desc-info">

                                <div class="nbre-peronne-aime">
                                    <a id="likes" class="aime"><img
                                                src="{{ asset('bundles/comparatorbase/images/aimepas.png') }}"
                                                alt="organisation evenements sportifs en france"/> J'aime</a>
                                    <a id="dislikes"><img src="{{ asset('bundles/comparatorbase/images/aime.png') }}"
                                                          alt="organisation evenements sportifs en france"/> J'aime</a>
                                    <br>
                                    <span id="p1"> </span> personne(s) aime ça
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 pull-right share">
                    <h4><i class="fa fa-share-alt green icon-puce"></i> {{ 'msg.partager'|trans }}</h4>
                    <ul class="list-inline margin-rs">
                        <li class="fb-match">

                            <div class="fb-share-button"
                                 data-href="{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}{{ currentPath }}"
                                 data-layout="button_count" data-size="small" data-mobile-iframe="false"><a
                                        class="fb-xfbml-parse-ignore" target="_blank"
                                        href="https://www.facebook.com/sharer/sharer.php?u='{{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}{{ currentPath }}';src=sdkpreparse">Partager</a>
                            </div>
                        </li>
                    </ul>

                    <ul class="list-inline margin-rs">
                        <li>
                            <a href="https://plus.google.com/share?url={{ app.request.schemeAndHttpHost }}{{ app.request.getBaseURL() }}{{ currentPath }}"
                               onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                <img src="{{ asset('bundles/comparatorbase/images/goo.png') }}" alt="Share on Google+"/>
                            </a>
                        </li>
                        <li>
                            <a href="http://twitter.com/share" data-url="{{ currentPath }}"
                               onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                <img src="{{ asset('bundles/comparatorbase/images/tww.png') }}"
                                     alt="Share on twitter+"/>
                            </a>
                        </li>


                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">

                    <div class="titre2 green">
                        <img src="{{ asset('bundles/comparatorbase/images/description.png') }}"
                             alt="organisation evenements sportifs en france">
                        <h4>{{ 'msg.description'|trans }}</h4>
                    </div>
                    <div class="content-description-event">
                        {{ entity.category.title }}
                        {{ entity.description }}
                    </div>


                    <div class="titre2 green">
                        <img src="{{ asset('bundles/comparatorbase/images/description.png') }}"
                             alt="organisation evenements sportifs en france">
                        <h4>{{ 'msg.options'|trans }}</h4>
                    </div>
                    <div class="content-description">
                        <ul class="option-ul">
                            {% for option in optionEvent %}
                                <li>{{ option.title }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% if(app.user==entity.user) %}
                    {% if("now"|date('Y-m-d')>entity.startdate |date('Y-m-d')) %}
                        <div class="col-sm-4">
                            <form method="POST" action="{{ path('event_send_notif_show', {'slug': entity.slug }) }}">
                                <input type="submit" value="{{ 'msg.envoie.notif'|trans }}" class="btn btn-grinta"/>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
                <span class="likebtn-wrapper" data-theme="large" data-identifier="item_1"></span>
            </div>

        </div>

        <div class="block regoindre">

            <div class="title-block">
                <h4>{{ 'rejoindre.ce.jeu'|trans }}</h4>
            </div>
            <br>

            {% if testparticipe %}
                {% if((testparticipe.enabled==1)or(testparticipe.enabled==3)) %}
                    <div class="col-md-4 col-md-offset-4">
                        <form id="validate_field_types" method="POST"
                              action="{{ path('favoris_delete', {'id': testparticipe.id}) }}">
                            <input type="submit" class="btn btn-delete" value="{{ 'msg.annuler'|trans }}"/>

                        </form>
                    </div>
                {% else %}

                    {% if entity.nbPlayer is null %}
                        <div class="col-md-4 col-md-offset-4">
                            <form id="validate_field_types" method="POST"
                                  action="{{ path('favoris_update', {'id': testparticipe.id}) }}">
                                <input type="submit" class="btn btn-grinta" value="{{ 'msg.confirme'|trans }}"/>

                            </form>
                        </div>
                    {% else %}

                        {% if(entity.nbPlayer > nbparticipe) %}
                            <div class="col-md-4 col-md-offset-4">
                                <form id="validate_field_types" method="POST"
                                      action="{{ path('favoris_update', {'id': testparticipe.id}) }}">
                                    <input type="submit" class="btn btn-grinta" value="{{ 'msg.confirme'|trans }}"/>

                                </form>
                            </div>
                        {% endif %}
                    {% endif %}


                    <div class="col-md-4 col-md-offset-4">
                        <form id="validate_field_types" method="POST"
                              action="{{ path('favoris_delete', {'id': testparticipe.id}) }}">
                            <input type="submit" class="btn btn-delete" value="{{ 'msg.annuler'|trans }}"/>

                        </form>
                    </div>
                {% endif %}
            {% else %}
                {% if entity.nbPlayer is null %}
                    <div class="col-md-3">
                        <a href="{{ path('add_favorite', { 'enabled': "true" , 'id': entity.id }) }}"
                           class="btn btn-grinta">{{ 'msg.rejoindre'|trans }}</a>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <a href="{{ path('add_favorite', { 'enabled': "false" , 'id': entity.id }) }}"
                           class="btn btn-red">{{ 'msg.peut.etre'|trans }}</a>
                    </div>
                {% else %}
                    {% if(entity.nbPlayer > nbparticipe) %}
                        <div class="col-md-3">
                            <a href="{{ path('add_favorite', { 'enabled': "true" , 'id': entity.id }) }}"
                               class="btn btn-grinta">{{ 'msg.rejoindre'|trans }}</a>
                        </div>
                        <div class="col-md-6"></div>
                        <div class="col-md-3">
                            <a href="{{ path('add_favorite', { 'enabled': "false" , 'id': entity.id }) }}"
                               class="btn btn-red">{{ 'msg.peut.etre'|trans }}</a>
                        </div>
                    {% endif %}
                {% endif %}

            {% endif %}

            <div class="clearfix"></div>
        </div>

        <div class="block invit">
            <div class="col-md-3 botton-invit">
                <a class="btn btn-grinta ajouter-ami">{{ 'inviter.amis'|trans }}</a>

                <div class="invit-ami-form">
                    <form method="POST" action="{{ path('event_send_show', {'slug': entity.slug }) }}">
                        <table border="0" id="catg" width="100%" cellpadding="0">
                            <tbody>
                            <tr id="ligne0">
                                <td height="37">
                                    <input type="text" placeholder="Nom" name="nom[]" class="form-control form-control"
                                           id="friends0" required="required"/>
                                    <a id="todelete" href="javascript:deleterow('ligne0')">
                                        <i class="fa fa-times delete-ajout"></i>
                                    </a>
                                    <script type="text/javascript">
                                        $(function () {
                                            var availableTags = [
                                                {% for status in completes %}
                                                {% if(app.user.id==status.user1.id) %}
                                                "{{ status.user2.firstname }} {{ status.user2.lastname }}",
                                                {% else %}
                                                "{{ status.user1.firstname }} {{ status.user1.lastname }}",
                                                {% endif %}
                                                {% endfor %}

                                            ];
                                            $("#friends0").autocomplete({
                                                source: availableTags
                                            });
                                        });
                                    </script>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="javascript:myFunction()" class="lien-ami-form">+ {{ 'mot.ajouter'|trans }}</a>
                        <input type="submit" value="{{ 'mot.envoyer'|trans }}" class="btn btn-grinta"/>
                    </form>
                </div>
                <p>{% if entity.nbPlayer is null %}{{ 'text.dispo.event'|trans }} {% else %}{{ 'text.il.a'|trans }} {{ entity.nbPlayer-nbparticipeConfirm }}  {{ 'text.place.dispo'|trans }}{% endif %}</p>
            </div>
            <div class="col-md-6 pull-right botton-invit">
                <a class="btn btn-grinta ajouter-joueur">{{ 'add.player.manu'|trans }}</a>
                <div class="invit-joueur-form">
                    <form method="POST" action="{{ path('event_send_mail_show', {'slug': entity.slug }) }}">
                        <table border="0" id="catg2" width="100%" cellpadding="0">
                            <tbody>
                            <tr id="ligne0">
                                <td height="37">
                                    <input type="email" placeholder="Email" name="mail[]"
                                           class="form-control form-control" required="required"/>
                                    <a id="todelete2" href="javascript:deleterow2('ligne0')">
                                        <i class="fa fa-times delete-ajout2"></i>
                                    </a>
                                </td>

                            </tr>
                            </tbody>
                        </table>
                        <a href="javascript:myFunction2()" class="lien-joueur-form">+ {{ 'mot.ajouter'|trans }}</a>
                        <input type="submit" value="{{ 'mot.envoyer'|trans }}" class="btn btn-grinta"/>
                    </form>
                </div>
                <p>{{ 'msg.add.player.manu'|trans }}</p>
            </div>
        </div>
        <div class="block exprimer description">
            <div class="titre green">
                <img src="{{ asset('bundles/comparatorbase/images/gamers.png') }}"
                     alt="organisation evenements sportifs en france">
                <h4>{{ 'player.player'|trans }}</h4>
            </div>

            <div class="clerfix"></div>
            <div class="top-gamers">
                <div class="col-md-9 no-padding-left">

                    {% if entity.nbPlayer is null %}
                        <span class="green">•</span> {{ nbparticipeConfirm }} {{ 'mot.participants'|trans }}
                        <span class="green">•</span> {{ nbparticipe }} {{ 'mot.attente'|trans }}
                    {% else %}
                        {% if(entity.nbPlayer > nbparticipeConfirm) %}
                            {{ entity.nbPlayer-nbparticipeConfirm }} {{ 'event.dispo'|trans }} :
                        {% endif %}
                        <span class="green">•</span> {{ nbparticipeConfirm }} {{ 'mot.participants'|trans }}
                        <span class="green">•</span> {{ nbparticipe }} {{ 'mot.attente'|trans }}
                    {% endif %}

                </div>
                <div class="col-md-3 text-center nombre">

                    {% if entity.nbPlayer is null %}
                        <p class="nbr-match">{{ nbparticipeConfirm }} {{ 'mot.participants'|trans }}</p>
                    {% else %}
                        <p class="nbr-match">{{ nbparticipeConfirm }}/{{ entity.nbPlayer }}</p>
                        <p class="postes">{% if(entity.nbPlayer > nbparticipeConfirm) %}
                                {{ entity.nbPlayer-nbparticipeConfirm }} {{ 'event.dispo'|trans }}{% endif %}</p>

                    {% endif %}
                </div>
                <div class="clerfix"></div>
            </div>

            <div class="clerfix"></div>
            <!--List gamers-->
            <div class="list-gamers">

                <div class="row one-gamer">
                    {% set nbreee = 0 %}
                    {% for key, participe in participes %}
                        {% set nbreee = nbreee + 1 %}
                        <div class="col-sm-3 no-padding-left gamer-par">
                            <div class="col-sm-4 img-avatar">
                                <a href="{{ path('grintaaa_user_show', {'username': participe.user.username,'id': participe.user.id }) }}">
                                    {% if((imagesParticipes[key]|length)>0) %}
                                        <img src="{{ asset('uploads/users/') }}{{ imagesParticipes[key][0].logo }}"
                                             alt="organisation evenements sportifs en france">
                                    {% else %}
                                        <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}"
                                             alt="organisation evenements sportifs en france">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-sm-8 name-avatar">
                                <h5>{{ participe.user.lastname }} {{ participe.user.firstname }}</h5>
                                {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : participe.user.id, 'role' : 'ROLE_USER'} %}
                                {% if(app.user.id==entity.user.id) %}
                                    <div class="col-sm-12 no-padding-left">

                                        <a class="btn btn-grinta sup-joueur1{{ nbreee }}">{{ 'msg.delete'|trans }}</a>
                                        <div class="sup-jour supprimer-joueur1{{ nbreee }}">
                                            <form id="validate_field_types" method="POST"
                                                  action="{{ path('favoris_delete', {'id': participe.id}) }}">
                                                <textarea name="descsupp"></textarea>
                                                <input type="submit" class="btn btn-grinta sup_joueur"
                                                       value="{{ 'msg.delete'|trans }}"/>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("a.sup-joueur1{{ nbreee }}").click(function () {
                                                            $(".supprimer-joueur1{{ nbreee }}").addClass("supprimer-joueur12-hidd");
                                                        });
                                                    });
                                                </script>
                                            </form>
                                        </div>
                                        <form id="validate_field_typess" method="POST"
                                              action="{{ path('favoris_confirm', {'id': participe.id}) }}">
                                            <input type="submit" class="btn btn-grinta" value="Confirmer"/>
                                        </form>


                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
            <div class="clerfix"></div>
            <!--Fin List gamers-->

            <!--List gamers-->
            <div class="list-gamers">


                <div class="row one-gamer">
                    {% set nbreeeee = 0 %}
                    {% for keyc, participeConfirm in participesConfirm %}
                        {% set nbreeeee = nbreeeee + 1 %}
                        <div class="col-sm-3 no-padding-left gamer-par">
                            <div class="col-sm-4 img-avatar">
                                <a href="{{ path('grintaaa_user_show', {'username': participeConfirm.user.username,'id': participeConfirm.user.id }) }}">
                                    {% if((imagesParticipesConfirm[keyc]|length)>0) %}
                                        <img src="{{ asset('uploads/users/') }}{{ imagesParticipesConfirm[keyc][0].logo }}"
                                             alt="organisation evenements sportifs en france">
                                    {% else %}
                                        <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}"
                                             alt="organisation evenements sportifs en france">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-sm-8 name-avatar">
                                <h5>{{ participeConfirm.user.lastname }} {{ participeConfirm.user.firstname }}</h5>
                                {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : participeConfirm.user.id, 'role' : 'ROLE_USER'} %}
                                {% if(app.user.id==entity.user.id) %}
                                    <div class="col-sm-12 no-padding-left">
                                        <a class="btn btn-grinta sup-joueur2{{ nbreeeee }}">{{ 'msg.delete'|trans }}</a>
                                        <div class="sup-jour supprimer-joueur2{{ nbreeeee }}">
                                            <form id="validate_field_types" method="POST"
                                                  action="{{ path('favoris_delete', {'id': participeConfirm.id}) }}">
                                                <textarea name="descsupp"></textarea>
                                                <input type="submit" class="btn btn-grinta sup_joueur"
                                                       value="Confirmer"/>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("a.sup-joueur2{{ nbreeeee }}").click(function () {
                                                            $(".supprimer-joueur2{{ nbreeeee }}").addClass("supprimer-joueur12-hidd");
                                                        });
                                                    });
                                                </script>

                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
            <!--Fin List gamers-->

        </div>
        <!--Partage-->
        <div class="block exprimer description comment">
            <div class="titre green">
                <img src="{{ asset('bundles/comparatorbase/images/comment.png') }}"
                     alt="organisation evenements sportifs en france">
                <h4>{{ 'mot.partages'|trans }}</h4>
            </div>
            {% if((listStatut|length)<=0) %}
                <div class="top-comment">
                    <div class="col-sm-12 no-padding-left">
                        <p>{{ 'msg.partage.text'|trans }}</p>
                    </div>
                </div>

            {% endif %}


            <div class="col-md-12 no-padding list-comment">

                {% for keys, statut in listStatut %}
                    <div class="col-md-12 no-padding item-comment">
                        <div class="col-md-1 img-comment no-padding">
                            <a href="{{ path('grintaaa_user_show', {'username': statut.user.username,'id': statut.user.id }) }}">
                                {% if((imagesStatut[keys]|length)>0) %}
                                    <img src="{{ asset('uploads/users/') }}{{ imagesStatut[keys][0].logo }}"
                                         alt="organisation evenements sportifs en france">
                                {% else %}
                                    <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}"
                                         alt="organisation evenements sportifs en france">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-11 desc-comment no-padding-right">
                            <p><span class="green2">{{ statut.user.lastname }} {{ statut.user.firstname }}</span> <span
                                        class="color-gris size-date">{{ statut.createdAt|date("d-m-Y") }} {{ 'lettre.a'|trans }} {{ statut.createdAt|date('H:i:s') }}</span>
                            </p>

                            {% if(statut.type=="statut") %}
                                <p>{{ statut.descreption }} </p>
                            {% endif %}
                            {% if(statut.type=="video") %}
                                <p>
                                    <iframe width="360" height="215"
                                            src="https://www.youtube.com/embed/{{ statut.url }}" frameborder="0"
                                            allowfullscreen></iframe>
                                </p>
                            {% endif %}
                            {% if(statut.type=="image") %}
                                <img class="img-profil-match" src="{{ asset('uploads/events/') }}{{ statut.logo }}"
                                     alt="organisation evenements sportifs en france">
                            {% endif %}

                        </div>
                    </div>

                {% endfor %}

            </div>

            <div class="clerfix"></div>

        </div>

        <!--Partage-->


        <div class="block exprimer description comment">
            <div class="titre green">
                <img src="{{ asset('bundles/comparatorbase/images/comment.png') }}"
                     alt="organisation evenements sportifs en france">
                <h4>{{ 'comment.comment'|trans }}</h4>
            </div>
            {% if((listComment|length)<=0) %}
                <div class="top-comment">
                    <div class="col-sm-12 no-padding-left">
                        <p>{{ 'msg.comment.comment'|trans }}</p>
                    </div>
                </div>

            {% endif %}


            <div class="col-md-12 no-padding list-comment">

                {% for keys, comment in listComment %}
                    <div class="col-md-12 no-padding item-comment">
                        <div class="col-md-1 img-comment no-padding">
                            <a href="{{ path('grintaaa_user_show', {'username': comment.user.username,'id': comment.user.id }) }}">
                                {% if((imagesComment[keys]|length)>0) %}
                                    <img src="{{ asset('uploads/users/') }}{{ imagesComment[keys][0].logo }}"
                                         alt="organisation evenements sportifs en france">
                                {% else %}
                                    <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}"
                                         alt="organisation evenements sportifs en france">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-11 desc-comment no-padding-right">
                            <p><span class="green2">{{ comment.user.lastname }} {{ comment.user.firstname }}</span>
                                <span class="color-gris size-date">{{ comment.createdAt|date("d-m-Y") }} {{ 'lettre.a'|trans }} {{ comment.createdAt|date('H:i:s') }}</span>
                            </p>
                            <p>{{ comment.description }} </p>


                        </div>
                    </div>

                {% endfor %}

            </div>

            <div class="clerfix"></div>
            <div class="form-commentg">
                <form action="{{ path('add_comment', { 'id': entity.id }) }}" method="post">
                    <div class="comment-avatar col-sm-1 no-padding-left">
                        <div class="img-comment">
                            {% if((logo|length)>0) %}
                                <img src="{{ asset('uploads/users/') }}{{ logo[0].logo }}"
                                     alt="organisation evenements sportifs en france">

                            {% else %}
                                <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}"
                                     alt="organisation evenements sportifs en france">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-11 no-padding form-comment">
                        <div class="col-sm-11 no-padding">
                            <textarea class="form-control" name="textarea"
                                      placeholder="{{ 'vos.comment'|trans }}"></textarea>
                        </div>
                        <div class="col-sm-1 no-padding">
                            <button type="submit" class="btn btn-grinta sup_joueur"><i class="fa fa-comments"></i>
                            </button>
                        </div>
                    </div>
                    <div class="clerfix"></div>
                </form>
            </div>
        </div>


    </div>
    <div class="clerfix"></div>
    <!--Fin center-block-->
    <!--Debut right-block-->
    <!--Fin right-block-->
    <br><br> <br>
</div>
<!--Debut containt-->
<script>
    $(document).ready(function () {
        document.getElementById("p1").innerHTML ={{ nblikes }};
        $.ajax({
            type: "POST",
            url: "{{ path('test_liked', { 'id': entity.id }) }}",
            data: "",
            success: function (data) {
                if (data < 1) {
                    jQuery('#dislikes').css('display', 'none');


                } else {
                    jQuery('#likes').css('display', 'none');
                    jQuery('#dislikes').css('display', 'block');
                }

            }
        });

        $("#dislikes").click(function () {

            $.ajax({
                type: "POST",
                url: "{{ path('del_liked', { 'id': entity.id }) }}",
                data: "",
                success: function (data) {
                    $.ajax({
                        type: "POST",
                        url: "{{ path('liked', { 'id': entity.id }) }}",
                        data: "",
                        success: function (data) {


                            document.getElementById("p1").innerHTML = {{ nblikes-1 }};

                            jQuery('#dislikes').css('display', 'none');


                        }
                    });


                }
            });


        });


        $("#likes").click(function () {

            $.ajax({
                type: "POST",
                url: "{{ path('test_liked', { 'id': entity.id }) }}",
                data: "",
                success: function (data) {
                    if (data < 1) {
                        $.ajax({
                            type: "POST",
                            url: "{{ path('add_liked', { 'id': entity.id }) }}",
                            data: "",
                            success: function (data) {
                                document.getElementById("p1").innerHTML = {{ nblikes+1 }};
                                jQuery('#dislikes').css('display', 'block');
                            }
                        });


                    }

                }
            });


        });


    });

    var iii = 0;
    var row = $("#catg tbody").html();
    $(document).ready(function () {
        $("#todelete").remove();
    });

    function myFunction() {
        iii++;


        var rowint = replaceAll('ligne0', 'ligne' + iii, row)
        var rowint = replaceAll('friends0', 'friends' + iii, rowint)

        $('#catg tbody').append(rowint);

    }
    function deleterow(div) {
        $("#catg #" + div).remove();
    }
    function replaceAll(find, replace, str) {
        return str.replace(new RegExp(find, 'g'), replace);
    }

    $(document).ready(function () {
        $("a.ajouter-ami").click(function () {
            $(".invit-ami-form").addClass("invit-ami-form2");
        });
    });


    var iiii = 0;
    var roww = $("#catg2 tbody").html();
    $(document).ready(function () {
        $("#todelete2").remove();
    });

    function myFunction2() {
        iiii++;
        var rowintt = replaceAll('ligne0', 'ligne' + iiii, roww)
        $('#catg2 tbody').append(rowintt);

    }
    function deleterow2(div) {
        $("#catg2 #" + div).remove();
    }

    $(document).ready(function () {
        $("a.ajouter-joueur").click(function () {
            $(".invit-joueur-form").addClass("invit-joueur-form2");
        });
    });


    $('textarea.form-control').autoResize();
</script>
<script>
    document.querySelector("html").classList.add('js');

    var fileInput = document.querySelector(".form-control"),
            button = document.querySelector(".input-file-trigger"),
            the_return = document.querySelector(".file-return");

    button.addEventListener("keydown", function (event) {
        if (event.keyCode == 13 || event.keyCode == 32) {
            fileInput.focus();
        }
    });
    button.addEventListener("click", function (event) {
        fileInput.focus();
        return false;
    });
    fileInput.addEventListener("change", function (event) {
        the_return.innerHTML = this.value;
    });
    $(".input-file-container .col-lg-9").removeClass("col-lg-9");


</script>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
