<div class="block2 recherche">
    <div class="titre green">

        <h4><img src="{{ asset('bundles/comparatorbase/images/users.png') }}"> {{ 'search.freind'|trans }}</h4>
    </div>


    <form action="{{ path('grintaaa__list_friend_search') }}" method="post" name="formsearch" id="formsearch">
        <input type="text" name="friends" placeholder="{{ 'trouver.freind'|trans }}" id="friends">
        <input type="submit" class="btn btn-search" value="{{ 'search.avence'|trans }}">
    </form>



</div>




<script type="text/javascript">

   // $("#formsearch").submit();

    var termTemplate = "<span class='ui-autocomplete-term'>%s</span>";
    var availableTags = [
        {% for status in entities %}
        {label:"{{ status.firstname }} {{ status.lastname }}   @{{ status.username }} ",the_link:"{{ path('grintaaa_user_show', {'username': status.username,'id': status.id }) }}" },
        {% endfor %}

    ];
    $('#friends').autocomplete({
        source: availableTags,
        select:function(e,ui) {
            console.log(ui);    // When you click (select) the ui object is returned , as well as the event
            // You can get at the returned results ( the object via . (dot)  notation )
            location.href = ui.item.the_link;
            //console.log(ui.item.the_link);
        }
    });



</script>