{{ 'list.freind'|trans }}
<div class="container containt-dash">
    <div class="block block-list-friends">
<div class="body-friends">

    {% for listkey,listentity in listallFreinds %}
        <div class="item-friend">
            {% if(entity.id==listentity.user1.id) %}
                <a href="{{ path('grintaaa_user_show', {'username': listentity.user2.username,'id': listentity.user2.id }) }}">
                    <div class="img-friend">
                        {% if((listimages[listkey]|length)>0) %}
                            <img  src="{{ asset('uploads/users/') }}{{ listimages[listkey][0].logo }}" alt="">
                        {% else %}
                            <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="">
                        {% endif %}
                    </div>
                    <div class="info-friend">
                        <h4>{{ listentity.user2.lastname }} {{ listentity.user2.firstname }}</h4>
                    </div>
                </a>
            {% else %}
                <a href="{{ path('grintaaa_user_show', {'username': listentity.user1.username,'id': listentity.user1.id }) }}">
                    <div class="img-friend">
                        {% if((listimages[listkey]|length)>0) %}
                            <img  src="{{ asset('uploads/users/') }}{{ listimages[listkey][0].logo }}" alt="">
                        {% else %}
                            <img  src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="">
                        {% endif %}
                    </div>
                    <div class="info-friend">
                        <h4>{{ listentity.user1.lastname }} {{ listentity.user1.firstname }}</h4>
                    </div>
                </a>
            {% endif %}
        </div>

    {% endfor %}

</div>
</div>
</div>