<!--containt-->
<div class="containt">
    <!--debut Couverture-->
    <div class="couverture">
        <div id="carousel-profil" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil2.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil3.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil4.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil5.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil6.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil7.jpg') }}" alt="Grintaaa">
                </div>
                <div class="item">
                    <img src="{{ asset('bundles/comparatorbase/images/couverture-profil8.jpg') }}" alt="Grintaaa">
                </div>
            </div>
        </div>
    </div>
    <!--fin Couverture-->
    <!--debut container-profil-->
    <div class="container container-profil">
        <!--Debut information jeu-->
        <div class="row row-jeu">
            <div class="info-jeu">
                <div class="left-info-jeu col-sm-9 text-center">
                    <div class="row">
                        <div class="col-sm-4 avatar">
                            <a href="#">
                                {% if((logo|length)>0) %}
                                    <img src="{{ asset('uploads/users/') }}{{ logo[0].logo }}">

                                {% else %}
                                    <img src="{{ asset('bundles/comparatorbase/images/share.png') }}">
                                {% endif %}
                                <span class="green">{{ entity.lastname }} {{ entity.firstname }}</span>
                            </a>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <hr class="hr-jeu">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 date">
                            <h4>
                                <img src="{{ asset('bundles/comparatorbase/images/lieu.png') }}">
                                {{ entity.city }}
                            </h4>
                        </div>

                        {% for friend in friends %}

                            <form id="validate_field_types" method="POST" action="{{ path('grintaaa_friend_delete', {'id': friend.id}) }}">
                                <input type="submit" value="Supprimer" />

                            </form>
                        {% endfor %}


                        {% for send in sends %}

                            <form id="validate_field_types" method="POST" action="{{ path('grintaaa_friend_delete', {'id': send.id}) }}">
                                <input type="submit" value="Annuler L'invitation" />

                            </form>
                        {% endfor %}
                        {% for requestinvi in requestinvis %}

                            <form id="validate_field_types" method="POST" action="{{ path('grintaaa_friend_update', {'id': requestinvi.id}) }}">
                                <input type="submit" value="Accepter" />

                            </form>
                            <form id="validate_field_types" method="POST" action="{{ path('grintaaa_friend_delete', {'id': requestinvi.id}) }}">
                                <input type="submit" value="Refuser" />

                            </form>
                        {% endfor %}





                        {% if ((sends is empty) and (requestinvis is empty) and (friends is empty))%}

                            <a href="{{ path('add_friend', {'id': entity.id }) }}" class="btn btn-grinta">Inviter </a>

                        {% endif %}
                        <div class="col-md-6 reg-btn">
                            <a href="{{ path('friend_message', {'userid': entity.id }) }}" class="btn btn-grinta">Message </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>



    </div>
</div>
