<!--Debut containt-->
<div class="container containt-dash">
    <div class="">
        <!--Debut left-block-->
        <div class="col-md-2 no-padding-right">
            <div class="block profil-block">
                <div class="profil-dash">
                    <div class="col-md-12 no-padding">
                        <div class="grid">
                            <figure class="effect-winston">
                                {{ render(controller('ComparatorMultimediaBundle:File:logo')) }}
                                <figcaption>
                                    <p>
                                        <a href="{{ path('user_file_new') }}"><i
                                                    class="fa fa-fw">{{ 'update.tof'|trans }}</i></a>
                                    </p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-12 no-padding">
                        <p class="titre">{{ app.user.lastname }} {{ app.user.firstname }}</p>
                        <p class="titre-user">      
								<a href="{{ path('grintaaa_user_show', {'username': app.user.username,'id': app.user.id }) }}"> 
									<img src="{{ asset('bundles/comparatorbase/images/logo-login2.png') }}" class="img-loginnn" />{{ app.user.username }} 
								</a>
							</p> 
                        <!--p class="pro">Profil</p-->
                    </div>

                </div>
                <ul class="list-unstyled">
                    <li>
                        <a href="{{ path('home') }}">
                            <img src="{{ asset('bundles/comparatorbase/images/profil/actualite.png') }}">{{ 'fil.act'|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('grintaaa_notification') }}">
                            {{ render(controller('ComparatorEventBundle:Notification:counNotification')) }}
                        </a>
                    </li>

                    <li>
                        <a href="{{ path('grintaaa__list_friend') }}">
                            {{ render(controller('ComparatorEventBundle:Friends:countListFriend')) }}

                        </a>
                    </li>
                    <li>
                        {{ render(controller('ComparatorEventBundle:Event:countEventByUser')) }}
                    </li>
                    <li>
                        <a href="{{ path('grintaaa_multimedia_image') }}">
                            {{ render(controller('ComparatorEventBundle:Mur:countImages')) }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('grintaaa_multimedia_video') }}">
                            {{ render(controller('ComparatorEventBundle:Mur:countVideos')) }}
                        </a>
                    </li>
                </ul>
            </div>


        </div>
        <!--Fin left-block-->
        <div class="formulaire-search col-md-10">
            <div class="block item-act">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-search padding-bottom-profil">
                            <h4 class="green">{{ entity.lastname }} {{ entity.firstname }} {% if(entity.coach==1) %}({{ 'user.u.coach'|trans }}) {% endif %}</h4>
                        </div>
                    </div>
                    <div class="col-md-10 no-padding-left">
                        <div class="col-md-4 titre-gris pad-top">
                            {{ 'user.info.general'|trans }}
                        </div>
                        <div class="col-md-8 color-gris2">
                            <div class="etoile-profil">
                                {{ 'user.eval.moy'|trans }}

                               {% if(app.user.id == entity.id) %}
                                <span class="etoile-profil2">{% include 'DCSRatingBundle:Rating:rating.html.twig' with {'id' : app.user.id, 'role' : 'ROLE_USER'} %}</span>
                               {% else %}
                                <span class="etoile-profil2">{% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : entity.id, 'role' : 'ROLE_USER'} %}</span>
                               {% endif %}
                            </div>
                        </div>
						<div class="clearfix"></div>
                        <div class="col-md-4">
                            <div class="img-search img-profil">
                                {% if((logo|length)>0) %}
                                    <img src="{{ asset('uploads/users/') }}{{ logo[0].logo }}">
                                {% else %}
                                    <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-4 no-padding-left padding-bottom-profil color-gris2">{{ 'user.date.birth'|trans }}
                                :
                            </div>
                            <div class="col-md-8 padding-bottom-profil color-gris2 size-date">{{ entity.dateOfBirth|date('d-m-Y') }}</div>
							<div class="clearfix"></div>
                            <div class="col-md-4 no-padding-left padding-bottom-profil color-gris2">{{ 'user.pays'|trans }}
                                :
                            </div>
                            <div class="col-md-8 padding-bottom-profil color-gris2">{{ entity.country }}</div>
                            <div class="col-md-4 no-padding-left padding-bottom-profil color-gris2">{{ 'user.adress'|trans }}
                                :
                            </div>
                            <div class="col-md-8 padding-bottom-profil color-gris2">{{ entity.city }}</div>
                            <div class="col-md-4 no-padding-left padding-bottom-profil color-gris2">{{ 'user.weight'|trans }}
                                :
                            </div>
                            <div class="col-md-8 padding-bottom-profil color-gris2">{{ entity.weight }} Kg</div>
                            <div class="col-md-4 no-padding-left padding-bottom-profil color-gris2">{{ 'user.size'|trans }}
                                :
                            </div>
                            <div class="col-md-8 padding-bottom-profil color-gris2">{{ entity.size }} Cm</div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        {% if (app.user.id!=entity.id) %}
                            <div class=" action-search">


                                {% if ((sends is empty) and (requestinvis is empty) and (friends is empty)) %}

                                    <a href="{{ path('add_friend', {'id': entity.id }) }}"
                                       class="btn btn-grinta">{{ 'msg.inviter'|trans }} </a>

                                {% endif %}

                                {% for friend in friends %}

                                    <form id="validate_field_types" method="POST"
                                          action="{{ path('grintaaa_friend_delete', {'id': friend.id}) }}">
                                        <input type="submit" class="btn btn-refus" value="{{ 'msg.delete'|trans }}"/>

                                    </form>
                                {% endfor %}


                                {% for send in sends %}

                                    <form id="validate_field_types" method="POST"
                                          action="{{ path('grintaaa_friend_delete', {'id': send.id}) }}">
                                        <input type="submit" class="btn btn-refus" value="{{ 'msg.annuler'|trans }}"/>

                                    </form>
                                {% endfor %}

                                {% for requestinvi in requestinvis %}

                                    <form id="validate_field_types" method="POST"
                                          action="{{ path('grintaaa_friend_update', {'id': requestinvi.id}) }}">
                                        <input type="submit" class="btn btn-grinta" value="{{ 'msg.accpte'|trans }}"/>

                                    </form>
                                    <form id="validate_field_types" method="POST"
                                          action="{{ path('grintaaa_friend_delete', {'id': requestinvi.id}) }}">
                                        <input type="submit" class="btn btn-refus" value="{{ 'msg.refuse'|trans }}"/>

                                    </form>
                                {% endfor %}

                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="block item-act">
                <div class="row">
                    <div class="col-md-10 no-padding-left">
                        <div class="col-md-4 titre-gris">
                            {{ 'center.interest'|trans }}
                        </div>
                        <div class="col-md-8">
                            {% for keys, interested in friendsInterest %}
                                {% if(interested.category.parent) %}
                                    <div class="profil-centres color-gris2 padding-bottom-profil"><i
                                                class="fa fa-circle"></i> {{ interested.category.title }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


            {% if(entity.coach==1) %}
                <div class="block item-act">
                    <div class="row">
                        <div class="col-md-10 no-padding-left">
                            <div class="col-md-4 titre-gris">
                                {{ 'user.u.coach'|trans }}
                            </div>
                            <div class="col-md-8">
                                {% for keys, coaching in friendsCoaching %}
                                    {% if(coaching.category.parent) %}
                                        <div class="profil-centres color-gris2 padding-bottom-profil"><i
                                                    class="fa fa-circle"></i> {{ coaching.category.title }}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

            <div class="block item-act">
                <div class="row">
                    <div class="col-md-8 titre-gris">
                        Amis
                    </div>
                    <div class="col-md-4" align="right">
                        <!--a href="{{ path('grintaaa_user', {'username': entity.username,'id': entity.id }) }}">Voir plus</a-->
                    </div>
                    <div class="item-friend"></div>
                    {% set x=0 %}
                    {% for listkey,listentity in listallFreinds %}
                        {% if(x<9) %}
                            <div class="list-ami-profil">
                                {% if(entity.id==listentity.user1.id) %}
                                    <a href="{{ path('grintaaa_user_show', {'username': listentity.user2.username,'id': listentity.user2.id }) }}">
                                        <div class="img-friend">
                                            {% if((listimages[listkey]|length)>0) %}
                                                <img src="{{ asset('uploads/users/') }}{{ listimages[listkey][0].logo }}"
                                                     alt="">
                                            {% else %}
                                                <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}"
                                                     alt="">
                                            {% endif %}
                                        </div>
                                        <div class="info-friend">
                                            <h4>{{ listentity.user2.lastname }} {{ listentity.user2.firstname }}</h4>
                                        </div>
                                    </a>
                                    {% set x=x+1 %}
                                {% else %}
                                    <a href="{{ path('grintaaa_user_show', {'username': listentity.user1.username,'id': listentity.user1.id }) }}">
                                        <div class="img-friend">
                                            {% if((listimages[listkey]|length)>0) %}
                                                <img src="{{ asset('uploads/users/') }}{{ listimages[listkey][0].logo }}"
                                                     alt="">
                                            {% else %}
                                                <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}"
                                                     alt="">
                                            {% endif %}
                                        </div>
                                        <div class="info-friend">
                                            <h4>{{ listentity.user1.lastname }} {{ listentity.user1.firstname }}</h4>
                                        </div>
                                    </a>
                                    {% set x=x+1 %}
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


            <div class="block item-act">
                <div class="row">
                    <div class="col-md-12 titre-gris">
                        {{ 'sport.org.cour'|trans }}
                    </div>
                    <div class="item-friend"></div>
                    {% for key, event in events %}
                        {% if("now"|date('Y-m-d')<event.startdate|date('Y-m-d')) %}
                            <div class="col-md-4">
                                <img src="/uploads/events/56e992100127d.jpeg" alt="" class="img-event-profil"/>
                            </div>
                            <div class="col-md-4">
                                <h3 class="name-match green">{{ event.title }}</h3>

                                <div class="col-md-8 no-padding-left">
                                    <a href="{{ path('event_show', {'slug': event.slug }) }}"
                                       class="btn btn-grinta">{{ 'fich.match'|trans }}</a>
                                </div>
                            </div>
                            <div class="col-md-4 info-date">
                                <ul class="list-unstyled">
                                    <li>
                                        <img src="{{ asset('bundles/comparatorbase/images/date.png') }}">{{ event.startdate|date('d-m-Y') }}
                                    </li>
                                    <li class="lieu"><img
                                                src="{{ asset('bundles/comparatorbase/images/lieu.png') }}"> {{ event.locality }}
                                        ( {{ event.country }})
                                    </li>
                                    <li>
                                        <img src="{{ asset('bundles/comparatorbase/images/heure.png') }}"> {{ event.starttime|date('H:i') }} {{ 'lettre.a'|trans }}  {{ event.endtime|date('H:i') }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12"> &nbsp</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="block item-act">
                <div class="row">
                    <div class="col-md-12 titre-gris">
                        {{ 'sport.org.arch'|trans }}
                    </div>
                    <div class="item-friend"></div>
                    {% for key, event in events %}
                        {% if("now"|date('Y-m-d')>event.startdate|date('Y-m-d')) %}
                            <div class="col-md-4">
                                <img src="/uploads/events/56e992100127d.jpeg" alt="" class="img-event-profil"/>
                            </div>
                            <div class="col-md-4">
                                <h3 class="name-match green">{{ event.title }}</h3>

                                <div class="col-md-8 no-padding-left">
                                    <a href="{{ path('event_show', {'slug': event.slug }) }}"
                                       class="btn btn-grinta">{{ 'fich.match'|trans }}</a>
                                </div>
                            </div>
                            <div class="col-md-4 info-date">
                                <ul class="list-unstyled">
                                    <li>
                                        <img src="{{ asset('bundles/comparatorbase/images/date.png') }}">{{ event.startdate|date('d-m-Y') }}
                                    </li>
                                    <li class="lieu"><img
                                                src="{{ asset('bundles/comparatorbase/images/lieu.png') }}"> {{ event.locality }}
                                        ( {{ event.country }})
                                    </li>
                                    <li>
                                        <img src="{{ asset('bundles/comparatorbase/images/heure.png') }}"> {{ event.starttime|date('H:i') }} {{ 'lettre.a'|trans }} {{ event.endtime|date('H:i') }}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12"> &nbsp</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="block item-act">
                <div class="row">
                    <div class="col-md-12 titre-gris">
                        {{ 'participation.cour'|trans }}
                    </div>
                    <div class="item-friend"></div>
                    {% for  participeFreind in participeFreinds %}
                        {% if("now"|date('Y-m-d')<participeFreind.event.startdate|date('Y-m-d')) %}
                            <div class="col-md-4">
                                <img src="/uploads/events/56e992100127d.jpeg" alt="" class="img-event-profil"/>
                            </div>
                            <div class="col-md-4">
                                <h3 class="name-match green">{{ participeFreind.event.title }}</h3>

                                <div class="col-md-8 no-padding-left">
                                    <a href="{{ path('event_show', {'slug': participeFreind.event.slug }) }}"
                                       class="btn btn-grinta">{{ 'fich.match'|trans }}</a>
                                </div>
                            </div>

                            <div class="col-md-4 info-date">
                                <ul class="list-unstyled">
                                    <li>
                                        <img src="{{ asset('bundles/comparatorbase/images/date.png') }}">{{ participeFreind.event.startdate|date('d-m-Y') }}
                                    </li>
                                    <li class="lieu"><img
                                                src="{{ asset('bundles/comparatorbase/images/lieu.png') }}"> {{ participeFreind.event.locality }}
                                        ( {{ participeFreind.event.country }})
                                    </li>
                                    <li>
                                        <img src="{{ asset('bundles/comparatorbase/images/heure.png') }}"> {{ participeFreind.event.starttime|date('H:i') }} {{ 'lettre.a'|trans }} {{ participeFreind.event.endtime|date('H:i') }}
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-12"> &nbsp</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="block item-act">
                <div class="row">
                    <div class="col-md-12 titre-gris">
                        {{ 'participation.arch'|trans }}
                    </div>
                    <div class="item-friend"></div>
                    {% for  participeFreind in participeFreinds %}
                        {% if("now"|date('Y-m-d')>participeFreind.event.startdate|date('Y-m-d')) %}
                            <div class="col-md-4">
                                <img src="/uploads/events/56e992100127d.jpeg" alt="" class="img-event-profil"/>
                            </div>
                            <div class="col-md-4">
                                <h3 class="name-match green">{{ participeFreind.event.title }}</h3>

                                <div class="col-md-8 no-padding-left">
                                    <a href="{{ path('event_show', {'slug': participeFreind.event.slug }) }}"
                                       class="btn btn-grinta">{{ 'fich.match'|trans }}</a>
                                </div>
                            </div>

                            <div class="col-md-4 info-date">
                                <ul class="list-unstyled">
                                    <li>
                                        <img src="{{ asset('bundles/comparatorbase/images/date.png') }}">{{ participeFreind.event.startdate|date('d-m-Y') }}
                                    </li>
                                    <li class="lieu"><img
                                                src="{{ asset('bundles/comparatorbase/images/lieu.png') }}"> {{ participeFreind.event.locality }}
                                        ( {{ participeFreind.event.country }})
                                    </li>
                                    <li>
                                        <img src="{{ asset('bundles/comparatorbase/images/heure.png') }}"> {{ participeFreind.event.starttime|date('H:i') }} {{ 'lettre.a'|trans }} {{ participeFreind.event.endtime|date('H:i') }}
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-12"> &nbsp</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="clerfix"></div>

            
        {% if(entity.id != app.user.id) %}
            {% if(testComment|length ==0) %}
            <div class="form-commentg">

                <form action="{{ path('add_comment_user', { 'id': entity.id }) }}" method="post">
                    <div class="comment-avatar col-sm-1 no-padding-left">
                        <div class="img-comment">
                            {% if((mylogo|length)>0) %}
                                <img src="{{ asset('uploads/users/') }}{{ mylogo[0].logo }}">

                            {% else %}
                                <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-11 no-padding form-comment">
                        <div class="col-sm-11 no-padding">
                            <textarea class="form-control" name="textarea"
                                      placeholder="{{ 'vos.comment'|trans }}"></textarea>
                        </div>
                        <div class="col-sm-1 no-padding">
                            <button type="submit" class="btn btn-grinta sup_joueur"><i class="fa fa-comments"></i>
                            </button>
                        </div>
                    </div>
                    <div class="clerfix"></div>
                </form>


            </div>
              {% endif %}
        {% endif %}


            <div class="block item-act">
                <div class="row">

                    {% for keys, comment in listComment %}
                        <div class="col-md-1 img-bas-profil">
                            <a href="{{ path('grintaaa_user_show', {'username': comment.user.username,'id': comment.user.id }) }}">
                                {% if((imagesComment[keys]|length)>0) %}
                                    <img src="{{ asset('uploads/users/') }}{{ imagesComment[keys][0].logo }}"
                                         class="img-event-profil2">
                                {% else %}
                                    <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}"
                                         class="img-event-profil2">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-2 green" align="center">
                            <div class="green titre-size">{{ comment.user.lastname }} {{ comment.user.firstname }}</div>
                        </div>
                        <div class="col-md-7">

                            <div class="col-md-12 titre-grisR">
                                {{ comment.description }}<br>

                                {{ comment.createdAt|date("d-m-Y") }} {{ 'lettre.a'|trans }} {{ comment.createdAt|date('H:i') }}
                            </div>
                        </div>
                        <div class="col-md-2" align="center">


                            {% if(votes[keys]) %}
                                <span class="etoile-profil">
			       <div class="dcs-rating-container">
                       {% if(votes[keys].value==5) %}
                           <span class="star full">☆</span>
                           <span class="star full">☆</span>
                           <span class="star full">☆</span>
                           <span class="star full">☆</span>
                           <span class="star full">☆</span>

                       {% elseif(votes[keys].value==4) %}
                           <span class="star">☆</span>
                           <span class="star full">☆</span>
                           <span class="star full">☆</span>
                           <span class="star full">☆</span>
                           <span class="star full">☆</span>

                       {% elseif(votes[keys].value==3) %}
                           <span class="star">☆</span>
                           <span class="star">☆</span>
                           <span class="star full">☆</span>
                           <span class="star full">☆</span>
                           <span class="star full">☆</span>

                       {% elseif(votes[keys].value==2) %}
                           <span class="star">☆</span>
                           <span class="star">☆</span>
                           <span class="star">☆</span>
                           <span class="star full">☆</span>
                           <span class="star full">☆</span>
                       {% elseif(votes[keys].value==1) %}
                           <span class="star">☆</span>
                           <span class="star">☆</span>
                           <span class="star">☆</span>
                           <span class="star">☆</span>
                           <span class="star full">☆</span>
                       {% endif %}

                   </div>
				  </span>
                            {% else %}
                                <div class="col-md-10 color-gris2">
                                    <div class="etoile-profil">
                                        {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : entity.id, 'role' : 'ROLE_USER'} %}</span>
                                    </div>
                                </div>
                            {% endif %}


                        </div>
						{% if(keys+1 < listComment|length) %}
                        <div class="col-md-12" align="center">
                            <hr class="style-two">
                        </div>
						{% endif %}
                    {% endfor %}


                </div>
            </div>

        </div>

    </div>
    <div class="block-footer"></div>
</div>
<!--Debut containt-->