/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp.default .markItUpButton1 a {
	background-image:url(images/bold.png);
}
.markItUp.default .markItUpButton2 a {
	background-image:url(images/italic.png);
}
.markItUp.default .markItUpButton3 a {
	background-image:url(images/stroke.png);
}

.markItUp.default .markItUpButton4 a {
	background-image:url(images/list-bullet.png);
}
.markItUp.default .markItUpButton5 a {
	background-image:url(images/list-numeric.png);
}

.markItUp.default .markItUpButton6 a {
	background-image:url(images/picture.png);
}
.markItUp.default .markItUpButton7 a {
	background-image:url(images/link.png);
}

.markItUp.default .markItUpButton8 a {
	background-image:url(images/clean.png);
}
.markItUp.default .preview a {
	background-image:url(images/preview.png);
}
