

<form action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-danger pull-right"><i class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
</form>

<!--Debut containt-->
<div class="containt-inscrit">
    <div class="container">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 inscrit">
            <form class="form-inscription"  id="inscriptionForm" action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_widget(form.new_password, { 'attr': {'class': 'form-control','placeholder': 'Nom d’utilisateur'} }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form_widget(form.new_password_confirmation, { 'attr': {'class': 'form-control','placeholder': 'Nom'} }) }}
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit" class="btn btn-grinta"><i class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>

                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </form>
        </div>
    </div>
</div>
<!--Fin containt-->