{% if((logo|length)>0) %}
<img src="{{ asset('uploads/users/') }}{{ logo[0].logo }}" alt="avatar">

{% else %}
    <img src="{{ asset('bundles/comparatorbase/images/avatar.png') }}" alt="avatar">
{% endif %}